<!-- BEGIN_MODULE Admin_Module_Edit -->
<header class="acms-admin-grid-r">
	<div class="acms-admin-col-md-6">
		<h1 class="acms-admin-admin-title"><span class="js-dialog-title"><i class="acms-admin-icon acms-admin-icon-module"></i>
		<!-- BEGIN_IF [{name}/nem/] -->
		{name} <small>({identifier})</small> {label}<!-- ELSE -->
			<!--T-->新規モジュールID<!--/T--><!-- END_IF --></span></h1>
	</div>
	<div class="acms-admin-col-md-6">
		<!--#include file="/admin/topicpath.html"-->
	</div>
</header>

<!-- BEGIN msg#insert -->
<p class="acms-admin-alert acms-admin-alert-info"><button class="js-acms-alert-close">×</button><!--T-->モジュールIDを作成しました<!--/T--></p><!-- END msg#insert --><!-- BEGIN msg#update -->
<p class="acms-admin-alert acms-admin-alert-info"><button class="js-acms-alert-close">×</button><!--T-->モジュールIDを保存しました<!--/T--></p><!-- END msg#update --><!-- BEGIN msg#delete -->
<p class="acms-admin-alert acms-admin-alert-danger"><button class="js-acms-alert-close">×</button><!--T-->モジュールIDを削除しました<!--/T--></p><!-- END msg#delete --><!-- BEGIN msg#duplicate -->
<p class="acms-admin-alert acms-admin-alert-info"><button class="js-acms-alert-close">×</button><!--T-->モジュールIDを複製しました<!--/T--></p><!-- END msg#duplicate --><!-- BEGIN msg#error -->
<p class="acms-admin-alert acms-admin-alert-danger"><button class="js-acms-alert-close">×</button><!--T-->入力内容に誤りがあります。<!--/T--></p><!-- END msg#error -->

<div class="acms-admin-float-right js-acms_fix_marker js-acms_fix_target acms-admin-position-right">
	<!-- BEGIN_IF [{shortcut}/em/] -->
	<!-- BEGIN submit2#update -->
	<form action="" method="post" class="adminBtn acms-admin-inline-btn">
		<input type="hidden" name="edit" value="duplicate" />
		<input type="submit" name="ACMS_POST_Module_Duplicate" value="<!--T-->複製<!--/T-->" class="acms-admin-btn-admin" />
		<input type="hidden" name="takeover" value="{takeover}" />
	</form>

	<form action="" method="post" class="adminBtn acms-admin-inline-btn">
		<input type="hidden" name="bid" value="%{BID}" />
		<input type="hidden" name="admin" value="config_import" />
		<input type="hidden" name="mid" value="%{mid}" />
		<input type="hidden" name="query[]" value="mid" />
		<input type="submit" name="ACMS_POST_2GET" value="<!--T-->インポート<!--/T-->" class="acms-admin-btn-admin" />
	</form>

	<form action="" method="post" class="adminBtn acms-admin-inline-btn">
		<input type="hidden" name="bid" value="%{BID}" />
		<input type="hidden" name="admin" value="config_export" />
		<input type="hidden" name="mid" value="%{mid}" />
		<input type="hidden" name="query[]" value="mid" />
		<input type="submit" name="ACMS_POST_2GET" value="<!--T-->エクスポート<!--/T-->" class="acms-admin-btn-admin" />
	</form>
	<!-- END submit2#update -->
	<!-- END_IF -->

	<!-- BEGIN_IF [%{edit}/neq/insert]-->
	<!-- BEGIN_MODULE Touch_SessionWithAdministration --><!-- BEGIN_MODULE Admin_Config -->
	<a href="{shortcutUrl}" class="acms-admin-btn-admin acms-admin-float-right acms-admin-float-none-sp"><i class="acms-admin-icon acms-admin-icon-shortcut"></i><!--T-->ショートカットに追加<!--/T--></a><!-- END_MODULE Admin_Config --><!-- END_MODULE Touch_SessionWithAdministration --><!-- END_IF -->
</div>

<form class="acms-admin-form js-dialog-body" action="" method="post" enctype="multipart/form-data">
	<div class="js-acms_fix_target acms-admin-form-group">
		<a href="%{SCRIPT_ROOT}bid/%{BID}/admin/module_index/" class="acms-admin-btn-admin"><!--T-->一覧<!--/T--></a>

		<!-- BEGIN_IF [{shortcut}/em/] -->
		<input type="hidden" name="step" value="" />
		<!-- BEGIN submit#insert -->
		<input type="submit" name="ACMS_POST_Module_Insert" value="<!--T-->作成<!--/T-->" class="acms-admin-btn-admin acms-admin-btn-admin-primary acms-admin-btn-admin-save" />
		<!-- END submit#insert -->

		<!-- BEGIN submit#update -->
		<input type="submit" name="ACMS_POST_Module_Update" value="<!--T-->保存<!--/T-->" class="acms-admin-btn-admin acms-admin-btn-admin-primary acms-admin-btn-admin-save" />

		<input type="submit" name="ACMS_POST_Module_Delete" value="<!--T-->削除<!--/T-->" onclick="return confirm('<!--T-->IDモジュールを削除します。\nよろしいですか？<!--/T-->');" class="acms-admin-btn-admin acms-admin-btn-admin-danger" />

		<!--#include file="/admin/config/action.html" -->

		<input type="hidden" name="takeover" value="{takeover}" />
		<!-- END submit#update -->

		<!-- BEGIN submit#duplicate -->
		<input type="submit" name="ACMS_POST_Module_Update" value="<!--T-->保存<!--/T-->" class="acms-admin-btn-admin acms-admin-btn-admin-primary acms-admin-btn-admin-save" />
		<!-- END submit#duplicate -->
		<!-- END_IF -->
		<!-- BEGIN_IF [{shortcut}/nem/] -->
		<input type="submit" name="ACMS_POST_Config" value="<!--T-->保存<!--/T-->" class="acms-admin-btn-admin acms-admin-btn-admin-primary acms-admin-btn-admin-save" />
		<!-- END_IF -->
	</div>
	<div class="acms-admin-tabs">
		<!-- BEGIN_IF [{shortcut}/em/] -->
		<ul class="js-acms_admin_tabs">
			<!-- BEGIN_IF [%{rid}/em/]-->
			<li><a href="#acms_box1"><!--T-->条件設定<!--/T--></a></li><!-- BEGIN_IF [{editStatus}/eq/update] -->
			<li><!-- ELSE -->
			<li class="acms-admin-hide"><!-- END_IF --><!-- BEGIN_IF [%{MODULE_NAME}/nre/^(Blog|Category|Entry|User|Module)_Field$] -->
				<a href="#acms_box2"><!--T-->表示設定<!--/T--></a><!-- END_IF -->
			</li>
			<li><a href="#acms_box3"><!--T-->カスタム設定<!--/T--></a></li>
			<!-- ELSE -->
			<li><a href="#acms_box2"><!--T-->表示設定<!--/T--></a></li>
			<li class="acms-admin-hide"><a href="#acms_box1"><!--T-->条件設定<!--/T--></a></li>
			<li class="acms-admin-hide"><a href="#acms_box3"><!--T-->カスタム設定<!--/T--></a></li>
			<!-- END_IF -->
		</ul>

		<div id="acms_box1" class="acms-admin-tabs-panel anchorFix">
			<!--#include file="/include/module/edit.html"-->
		</div>

		<div id="acms_box3" class="acms-admin-tabs-panel anchorFix">
			<!--#include file="/admin/module/field.html"-->
		</div>
		<!-- END_IF -->
<!-- END_MODULE Admin_Module_Edit -->

		<!-- BEGIN_IF [%{MODULE_NAME}/nre/^(Blog|Category|Entry|User|Module)_Field$] -->
		<div id="acms_box2" class="acms-admin-tabs-panel anchorFix">
			<!-- BEGIN_IF [%{ADMIN_PATH_MID}/eq/config/banner] -->
				<!-- BEGIN_MODULE Admin_Config_Banner -->
				<!--#include file="/admin/%{ADMIN_PATH_MID}_body.html"-->
				<!-- END_MODULE Admin_Config_Banner -->
			<!-- ELSE -->
				<!-- BEGIN_MODULE Admin_Config -->
				<!--#include file="/admin/%{ADMIN_PATH_MID}_body.html"-->
				<!-- END_MODULE Admin_Config -->
			<!-- END_IF -->
		</div><!-- END_IF -->
		<!-- END_IF -->
	</div>
	<!-- BEGIN_MODULE Admin_Rule_Name -->
	<input type="hidden" name="rid" value="{rid}" /><!-- END_MODULE Admin_Rule_Name --><!-- BEGIN_MODULE Admin_Module_Name -->
	<input type="hidden" name="mid" value="{mid}" /><!-- END_MODULE Admin_Module_Name -->
</form>
<div class="js-acms_fix_target acms_fix_bg"><div class="acms_fix_bg_index"></div></div>
