<option value="">▼ <!--T-->モジュールを選択<!--/T--></option>
<optgroup label="<!--T-->モジュール<!--/T-->">
	<option value="Blog_Field"{name:selected#Blog_Field}><!--T-->ブログフィールド<!--/T--> ( Blog_Field )</option>
	<option value="Category_Field"{name:selected#Category_Field}><!--T-->カテゴリーフィールド<!--/T--> ( Category_Field )</option>
	<option value="Entry_Field"{name:selected#Entry_Field}><!--T-->エントリーフィールド<!--/T--> ( Entry_Field )</option>
	<option value="User_Field"{name:selected#User_Field}><!--T-->ユーザーフィールド<!--/T--> ( User_Field )</option>
	<option value="Module_Field"{name:selected#Module_Field}><!--T-->モジュールフィールド<!--/T--> ( Module_Field )</option>
</optgroup>
<optgroup label="<!--T-->エントリー<!--/T-->">
	<option value="Entry_Body"{name:selected#Entry_Body}><!--T-->エントリー本文<!--/T--> ( Entry_Body )</option>
	<option value="Entry_List"{name:selected#Entry_List}><!--T-->エントリーリスト<!--/T--> ( Entry_List )</option>
	<option value="Entry_Photo"{name:selected#Entry_Photo}><!--T-->フォト<!--/T--> ( Entry_Photo )</option>
	<option value="Entry_Headline"{name:selected#Entry_Headline}><!--T-->ヘッドライン<!--/T--> ( Entry_Headline )</option>
	<option value="Entry_Summary"{name:selected#Entry_Summary}><!--T-->サマリー<!--/T--> ( Entry_Summary )</option>
	<option value="Entry_ArchiveList"{name:selected#Entry_ArchiveList}><!--T-->アーカイブリスト<!--/T--> ( Entry_ArchiveList )</option>
	<option value="Entry_TagRelational"{name:selected#Entry_TagRelational}><!--T-->タグリレーショナル<!--/T--> ( Entry_TagRelational )</option>
	<option value="Entry_Continue"{name:selected#Entry_Continue}><!--T-->コンティニュー<!--/T--> ( Entry_Continue )</option>
	<option value="Entry_Calendar"{name:selected#Entry_Calendar}><!--T-->エントリーカレンダー<!--/T--> ( Entry_Calendar )</option>
	<option value="Entry_GeoList"{name:selected#Entry_GeoList}><!--T-->エントリー位置リスト<!--/T--> ( Entry_GeoList )</option>
</optgroup>
<optgroup label="<!--T-->ユニット・カテゴリー<!--/T-->">
	<option value="Unit_List"{name:selected#Unit_List}><!--T-->ユニットリスト<!--/T--> ( Unit_List )</option>
	<option value="Category_List"{name:selected#Category_List}><!--T-->カテゴリーリスト<!--/T--> ( Category_List )</option>
	<option value="Category_EntryList"{name:selected#Category_EntryList}><!--T-->カテゴリーエントリーリスト<!--/T--> ( Category_EntryList )</option>
	<option value="Category_EntrySummary"{name:selected#Category_EntrySummary}><!--T-->カテゴリーエントリーサマリー<!--/T--> ( Category_EntrySummary )</option>
</optgroup>
<optgroup label="<!--T-->ユーザー・ブログ<!--/T-->">
	<option value="User_Profile"{name:selected#User_Profile}><!--T-->ユーザープロフィール<!--/T--> ( User_Profile )</option>
	<option value="User_Search"{name:selected#User_Search}><!--T-->ユーザーサーチ<!--/T--> ( User_Search )</option>
	<option value="Blog_ChildList"{name:selected#Blog_ChildList}><!--T-->子ブログリスト<!--/T--> ( Blog_ChildList )</option>
</optgroup>
<optgroup label="<!--T-->タグ・カレンダー<!--/T-->">
	<option value="Tag_Cloud"{name:selected#Tag_Cloud}><!--T-->タグクラウド<!--/T--> ( Tag_Cloud )</option>
	<option value="Tag_Filter"{name:selected#Tag_Filter}><!--T-->タグフィルター<!--/T--> ( Tag_Filter )</option>
	<option value="Calendar_Month"{name:selected#Calendar_Month}><!--T-->カレンダー<!--/T--> ( Calendar_Month )</option>
	<option value="Calendar_Year"{name:selected#Calendar_Year}><!--T-->年間カレンダー<!--/T--> ( Calendar_Year )</option>
	<option value="Plugin_Schedule"{name:selected#Plugin_Schedule}><!--T-->スケジュール<!--/T--> ( Plugin_Schedule )</option>
</optgroup>
<optgroup label="<!--T-->サイトパーツ<!--/T-->">
	<option value="Links"{name:selected#Links}><!--T-->リンク集<!--/T--> ( Links )</option>
	<option value="Banner"{name:selected#Banner}><!--T-->バナー<!--/T--> ( Banner )</option>
	<option value="Navigation"{name:selected#Navigation}><!--T-->ナビゲーション<!--/T--> ( Navigation )</option>
	<option value="Topicpath"{name:selected#Topicpath}><!--T-->トピックパス<!--/T--> ( Topicpath )</option>
</optgroup>
<optgroup label="<!--T-->コメント・トラックバック<!--/T-->">
	<option value="Comment_Body"{name:selected#Comment_Body}><!--T-->コメント本文<!--/T--> ( Comment_Body )</option>
	<option value="Comment_List"{name:selected#Comment_List}><!--T-->コメントリスト<!--/T--> ( Comment_List )</option>
</optgroup>
<optgroup label="<!--T-->RSS・FLASH・JSON<!--/T-->">
	<option value="Json_2Tpl"{name:selected#Json_2Tpl}><!--T-->JSON テンプレート<!--/T--> ( Json_2Tpl ) </option>
	<option value="Feed_Rss2"{name:selected#Feed_Rss2}><!--T-->アールエスエス2<!--/T--> ( Feed_Rss2 )</option>
	<option value="Feed_ExList"{name:selected#Feed_ExList}><!--T-->外部フィードリスト<!--/T--> ( Feed_ExList )</option>
</optgroup>
<optgroup label="<!--T-->カート・ショップ<!--/T-->">
	<option value="Shop_Cart_List"{name:selected#Shop_Cart_List}><!--T-->カートリスト<!--/T--> ( Shop_Cart_List )</option>
</optgroup>
<optgroup label="<!--T-->外部API連携<!--/T-->">
	<option value="Api_GoogleAnalytics_Ranking"{name:selected#Api_GoogleAnalytics_Ranking}><!--T-->Google Analytics ランキング<!--/T--> ( Api_GoogleAnalytics_Ranking )</option>

	<option value="Api_Twitter_Statuses_HomeTimeline"{name:selected#Api_Twitter_Statuses_HomeTimeline}><!--T-->Twitterホームタイムライン<!--/T--> ( Api_Twitter_Statuses_HomeTimeline )</option>
	<option value="Api_Twitter_Statuses_UserTimeline"{name:selected#Api_Twitter_Statuses_UserTimeline}><!--T-->Twitterユーザータイムライン<!--/T--> ( Api_Twitter_Statuses_UserTimeline )</option>
	<option value="Api_Twitter_Search"{name:selected#Api_Twitter_Search}><!--T-->Twitterサーチ<!--/T--> ( Api_Twitter_Search )</option>
	<option value="Api_Twitter_List_Statuses"{name:selected#Api_Twitter_List_Statuses}><!--T-->Twitterリストタイムライン<!--/T--> ( Api_Twitter_List_Statuses )</option>
	<option value="Api_Twitter_List_Members"{name:selected#Api_Twitter_List_Members}><!--T-->Twitterリストメンバーズ<!--/T--> ( Api_Twitter_List_Members )</option>
    <option value="Api_Instagram_Users_Media_Recent"{name:selected#Api_Instagram_Users_Media_Recent}><!--T-->Instagram 最近の投稿<!--/T--> ( Api_Instagram_Users_Media_Recent )</option>
    <option value="Api_Instagram_Users_Media_Liked"{name:selected#Api_Instagram_Users_Media_Liked}><!--T-->Instagram 最近のLiked<!--/T--> ( Api_Instagram_Users_Media_Liked )</option>
    <option value="Api_Bing_WebSearch"{name:selected#Api_Bing_WebSearch}><!--T-->Bing ウェブ検索<!--/T--> ( Api_Bing_WebSearch )</option>
    <option value="Api_Bing_ImageSearch"{name:selected#Api_Bing_ImageSearch}><!--T-->Bing イメージ検索<!--/T--> ( Api_Bing_ImageSearch )</option>
</optgroup>
<optgroup label="<!--T-->その他<!--/T-->">
    <option value="Sitemap"{name:selected#Sitemap}><!--T-->サイトマップ<!--/T--> ( Sitemap )</option>
	<option value="Alias_List"{name:selected#Alias_List}><!--T-->エイリアスリスト<!--/T--> ( Alias_List )</option>
    <option value="Field_ValueList"{name:selected#Field_ValueList}><!--T-->フィールドバリューリスト<!--/T--> ( Field_ValueList )</option>
    <option value="Admin_Entry_Autocomplete"{name:selected#Admin_Entry_Autocomplete}><!--T-->オートコンプリート<!--/T--> ( Admin_Entry_Autocomplete )</option>
	<option value="Form2_Unit"{name:selected#Form2_Unit}><!--T-->動的フォームユニット<!--/T--> ( Form2_Unit )</option>
</optgroup>
<!--#include file="/admin/module/select.user.html"  -->

<!-- オリジナルモジュールのコンフィグ画面を作成してモジュールIDに対応させるときは、
テーマ内に"admin/module/select.user.html"を作成してセレクトボックスを拡張してください。 -->

<!--
<optgroup label="<!--T-->オリジナル<!--/T-->">
    <option value="Original_Module"{name:selected#Original_Module}><!--T-->モジュール名<!--/T--> ( Original_Module )</option>
</optgroup>
-->

<!-- 拡張アプリモジュール -->
<!-- BEGIN_MODULE Admin_App_Select -->
<optgroup label="<!--T-->拡張アプリ<!--/T-->"><!-- BEGIN app:loop -->
    <option value="{className}"\{name:selected#{className}\}>{name} ( {className} )</option><!-- END app:loop -->
</optgroup>
<!-- END_MODULE Admin_App_Select -->