<header class="acms-admin-grid-r">
	<div class="acms-admin-col-md-6">
		<h1 class="acms-admin-admin-title"><i class="acms-admin-icon acms-admin-icon-blog"></i><span
			class="js-dialog-title"><!--T-->ブログ管理<!--/T--></span></h1>
	</div>
	<div class="acms-admin-col-md-6">
		<!--#include file="/admin/topicpath.html"-->
	</div>
</header>

<!-- BEGIN_MODULE Admin_Blog_Edit -->

<!-- BEGIN msg#insert -->
<p class="acms-admin-alert acms-admin-alert-info">
	<button class="js-acms-alert-close">×</button><!--T-->ブログを作成しました<!--/T-->
</p><!-- END msg#insert --><!-- BEGIN msg#update -->
<p class="acms-admin-alert acms-admin-alert-info">
	<button class="js-acms-alert-close">×</button><!--T-->ブログを保存しました<!--/T-->
</p><!-- END msg#update --><!-- BEGIN msg#delete -->
<p class="acms-admin-alert acms-admin-alert-danger">
	<button class="js-acms-alert-close">×</button><!--T-->ブログを削除しました<!--/T-->
</p><!-- END msg#delete --><!-- BEGIN msg:touch#reset -->
<p class="acms-admin-alert acms-admin-alert-info">
	<button class="js-acms-alert-close">×</button><!--T-->コンフィグを初期化しました<!--/T-->
</p><!-- END msg:touch#reset --><!-- BEGIN blog:validator#operable -->
<p class="acms-admin-alert acms-admin-alert-danger">
	<button class="js-acms-alert-close">×</button><!--T-->この操作は許可されていません。<!--/T-->
</p><!-- END blog:validator#operable --><!-- BEGIN blog:validator#subBlogExists -->
<p class="acms-admin-alert acms-admin-alert-danger">
	<button class="js-acms-alert-close">×</button><!--T-->ブログを削除できませんでした。子を持つブログは削除できません。<!--/T-->
</p><!-- END blog:validator#subBlogExists -->
<!-- BEGIN headline#insert --><!-- END headline#insert -->
<!-- BEGIN headline#update --><!-- END headline#update -->

<form action="" method="post" enctype="multipart/form-data" class="acms-admin-form js-dialog-body">
	<!-- BEGIN blog:validator#operable -->
	<p class="transaction-notice-error"><!--T-->この操作は許可されていません。<!--/T--></p><!-- END blog:validator#operable -->
	<div class="acms-admin-form-group js-acms_fix_marker js-acms_fix_target acms_fix_bg">
		<div class="acms_fix_bg_index">
			<!-- BEGIN submit#insert -->
			<a href="%{SCRIPT_ROOT}bid/%{BID}/admin/blog_edit/" class="acms-admin-btn-admin acms-admin-inline-btn">
				<!--T-->戻る<!--/T--></a>
			<input type="submit" name="ACMS_POST_Blog_Insert" value="<!--T-->作成<!--/T-->"
				   class="acms-admin-btn-admin acms-admin-btn-admin-primary acms-admin-btn-admin-save"/>
			<!-- END submit#insert -->

			<!-- BEGIN submit#update -->
			<input type="submit" name="ACMS_POST_Blog_Update" value="<!--T-->保存<!--/T-->"
				   class="acms-admin-btn-admin acms-admin-btn-admin-primary acms-admin-btn-admin-save"/>

			<!-- BEGIN_MODULE Touch_BlogGlobal --><!-- BEGIN_MODULE Touch_SessionWithAdministration -->
			<input type="submit" value="<!--T-->削除<!--/T-->" name="ACMS_POST_Blog_Delete"
				   onclick="return confirm('<!--T-->この操作は取り消せません。\nよろしいですか？<!--/T-->');"
				   class="acms-admin-btn-admin acms-admin-btn-admin-danger"/>
			<!-- END_MODULE Touch_SessionWithAdministration --><!-- END_MODULE Touch_BlogGlobal -->
			<!-- END submit#update -->

			<!-- BEGIN_MODULE Touch_SessionWithAdministration -->
			<a href="/bid/%{BID}/admin/shortcut_edit/?bid=%{BID}&action=Blog_Update&admin=blog_edit&edit=add&step=reapply"
			   class="acms-admin-btn-admin acms-admin-float-right acms-admin-float-none-sp"><i
				class="acms-admin-icon acms-admin-icon-shortcut"></i><!--T-->ショートカットに追加<!--/T--></a>
			<!-- END_MODULE Touch_SessionWithAdministration -->
		</div>
	</div>

	<div class="acms-admin-tabs">
		<ul class="js-acms_admin_tabs">
			<li><a href="#acms_basic"><!--T-->基本情報<!--/T--></a></li>
			<li><a href="#acms_custom"><!--T-->カスタム情報<!--/T--></a></li>
			<!-- BEGIN_MODULE Touch_SessionWithAdministration -->
			<li><a href="#acms_import"><!--T-->エクスポート・インポート<!--/T--></a></li>
			<!-- END_MODULE Touch_SessionWithAdministration -->
		</ul>
		<div id="acms_basic" class="acms-admin-tabs-panel">
			<table class="adminTable acms-admin-table-admin-edit"><!-- BEGIN id:veil -->
				<tr>
					<th>ID<i class="acms-admin-icon-tooltip js-acms-tooltip"
							 data-acms-tooltip="<!--T-->ブログの管理番号です。<!--/T-->"></i></th>
					<td>{id}</td>
				</tr><!-- END id:veil -->
				<tr>
					<th><!--T-->ステータス<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip"
												 data-acms-tooltip="<!--T-->ブログの公開状態です。シークレットを選択した場合、ログインしたユーザーにのみブログが公開されます。<!--/T-->"></i>
					</th>
					<td>
						<select name="status">
							<option value="open" {status:selected#open}><!--T-->公開<!--/T--></option>
							<option value="close" {status:selected#close}><!--T-->非公開<!--/T--></option>
							<option value="secret" {status:selected#secret}><!--T-->シークレット<!--/T--></option>
						</select>
						<input type="hidden" name="blog[]" value="status"/>
						<input type="hidden" name="status:validator#status"/>
						<input type="hidden" name="status:validator#root"/>
						<div role="alert" aria-live="assertive">
							<div data-validator-label="validator-status-status" class="validator-result-{status:validator#status}">
								<p class="error-text"><span class="acms-admin-icon acms-admin-icon-attention" aria-hidden="true"></span><!--T-->親ブログのステータスとの関係でステータスを変更できません。<!--/T--></p>
							</div>
							<div data-validator-label="validator-status-root" class="validator-result-{status:validator#root}">
								<p class="error-text"><span class="acms-admin-icon acms-admin-icon-attention" aria-hidden="true"></span><!--T-->ルートブログは非公開にできません。<!--/T--></p>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<th><!--T-->名前<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip"
											  data-acms-tooltip="<!--T-->ブログの名前です。<!--/T-->（<!--T-->日本語可<!--/T-->）"></i>
					</th>
					<td>
						<input type="text" name="name" value="{name}" size="40" placeholder="<!--T-->ブログ名<!--/T-->"/> (
						<!--T-->日本語可<!--/T-->)
						<input type="hidden" name="blog[]" value="name"/>
						<input type="hidden" name="name:validator#required" id="validator-name-required"/>
						<div role="alert" aria-live="assertive">
							<div data-validator-label="validator-name-required" class="validator-result-{name:validator#required}">
								<p class="error-text"><span class="acms-admin-icon acms-admin-icon-attention" aria-hidden="true"></span><!--T-->名前が入力されていません。<!--/T--></p>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<th><!--T-->ドメイン<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->ブログのドメイン名です。<!--/T-->"></i></th>
					<td>
						<input type="text" name="domain" value="{domain}" size="40" placeholder="example.com"/> (
						<!--T-->英数字<!--/T-->)
						<input type="hidden" name="blog[]" value="domain"/>
						<input type="hidden" name="domain:validator#required" id="validator-domain-required"/>
						<div role="alert" aria-live="assertive">
							<div data-validator-label="validator-domain-required" class="validator-result-{domain:validator#required}">
								<p class="error-text"><span class="acms-admin-icon acms-admin-icon-attention" aria-hidden="true"></span><!--T-->ドメインが入力されていません。<!--/T--></p>
							</div>
							<div data-validator-label="validator-domain-domain" class="validator-result-{domain:validator#domain}">
								<p class="error-text"><span class="acms-admin-icon acms-admin-icon-attention" aria-hidden="true"></span><!--T-->入力されたドメイン名はご利用できません。<!--/T--></p>
							</div>
							<div data-validator-label="validator-code-identify" class="validator-result-{code:validator#exists}">
								<p class="error-text"><span class="acms-admin-icon acms-admin-icon-attention" aria-hidden="true"></span><!--T-->入力されたドメインとコードネームの組み合わせは既に使用されています。<!--/T--></p>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<th><!--T-->コードネーム<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip"
												  data-acms-tooltip="<!--T-->URL上で表示されるブログのコード（ディレクトリー名）を変更します。スラッシュでパス指定可（例：parent/own）<!--/T-->"></i>
					</th>
					<td>
						<input type="text" name="code" value="{code}" size="20"/> (<!--T-->英数字<!--/T-->)
						<input type="hidden" name="blog[]" value="code"/>
						<div role="alert" aria-live="assertive">
							<div data-validator-label="validator-code-identify" class="validator-result-{code:validator#exists}">
								<p class="error-text"><span class="acms-admin-icon acms-admin-icon-attention" aria-hidden="true"></span><!--T-->入力されたドメインとコードネームの組み合わせは既に使用されています。<!--/T--></p>
							</div>
							<div data-validator-label="validator-code-reserved" class="validator-result-{code:validator#reserved}">
								<p class="error-text"><span class="acms-admin-icon acms-admin-icon-attention" aria-hidden="true"></span><!--T-->システムで予約されているキーワードです。<!--/T--></p>
							</div>
							<div data-validator-label="validator-code-string" class="validator-result-{code:validator#string}">
								<p class="error-text"><span class="acms-admin-icon acms-admin-icon-attention" aria-hidden="true"></span><!--T-->不正な文字が含まれています。<!--/T--></p>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<th><!--T-->インデキシング<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip"
												   data-acms-tooltip="<!--T-->チェックが外されたブログはブログ一覧に表示されなくなります。しかし「非表示」ではないのでURLを入力するとブログが表示されます。<!--/T-->"></i>
					</th>
					<td>
						<input type="hidden" name="indexing" value="off"/>
						<div class="acms-admin-form-checkbox">
							<input type="checkbox" name="indexing" value="on" {indexing:checked#on}
								   id="input-checkbox-indexing"/>
							<label for="input-checkbox-indexing"><i class="acms-admin-ico-checkbox"></i><!--T-->リストに出す
								<!--/T--></label>
						</div>
						<input type="hidden" name="blog[]" value="indexing"/>
					</td>
				</tr>
				<tr>
					<th><!--T-->テーマカラー<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip"
												  data-acms-tooltip="<!--T-->ブログのテーマカラーを16進数で設定します。<!--/T-->"></i></th>
					<td class="js-acms-color-picker">
						<input id="blog_theme_color" class="acms-admin-float-left" type="text" name="blog_theme_color"
							   value="{blog_theme_color}" placeholder="#FF0000"/>
						<input type="hidden" name="config[]" value="blog_theme_color"/>
						<div id="blog_theme_color_demo" class="acms-admin-float-left"
							 style="background-color:{blog_theme_color}; width:27px; height:27px; margin: 0 5px; background-image:none;"></div>
						<button class="js-acms-color-picker-submit acms-admin-btn-admin" data-target="#blog_theme_color"
								data-bgcolor="#blog_theme_color_demo"><!--T-->色を選択<!--/T--></button>
					</td>
				</tr>
			</table>
		</div>
		<div id="acms_custom" class="acms-admin-tabs-panel">
			<!--#include file="/admin/blog/field.html" -->
		</div>
		<!-- BEGIN_MODULE Touch_SessionWithAdministration -->
		<div id="acms_import" class="acms-admin-tabs-panel">
			<!-- BEGIN_IF [{error}/nem/] -->
			<p class="acms-admin-alert acms-admin-alert-danger">
				<button class="js-acms-alert-close">×</button>
				<!--T-->エラーが発生しました。<!--/T--> {error}
			</p>
			<!-- END_IF -->

			<p><!--T-->以下のデータがインポートされます。<!--/T--><br><strong><!--T-->インポート時にこれらのデータは削除されるのでお気をつけください。<!--/T--></strong></p>
			<ul class="acms-admin-list-inline acms-admin-exported-list">
				<li><!--T--><span class="acms-admin-label acms-admin-exported-label">カテゴリー</span><!--/T--></li>
				<li><!--T--><span class="acms-admin-label acms-admin-exported-label">エントリー</span><!--/T--></li>
				<li><!--T--><span class="acms-admin-label acms-admin-exported-label">タグ</span><!--/T--></li>
				<li><!--T--><span class="acms-admin-label acms-admin-exported-label">モジュールID</span><!--/T--></li>
				<li><!--T--><span class="acms-admin-label acms-admin-exported-label">コンフィグ</span><!--/T--></li>
				<li><!--T--><span class="acms-admin-label acms-admin-exported-label">レイアウト</span><!--/T--></li>
				<li><!--T--><span class="acms-admin-label acms-admin-exported-label">ルール</span><!--/T--></li>
				<li><!--T--><span class="acms-admin-label acms-admin-exported-label">ダッシュボード</span><!--/T--></li>
				<li><!--T--><span class="acms-admin-label acms-admin-exported-label">カスタムフィールド</span><!--/T--></li>
			</ul>

			<!-- BEGIN success -->
			<p class="acms-admin-alert acms-admin-alert-info">
				<!--T-->インポートが完了しました。<!--/T-->
			</p>
			<!-- END success -->

			<!-- BEGIN_MODULE Admin_Errors -->
			<div class="acms-admin-alert acms-admin-alert-danger">
				<button class="js-acms-alert-close">×</button>
				<ul>
				<!-- BEGIN error:loop -->
					<li>{error}</li>
				<!-- END error:loop -->
				</ul>
			</div>
			<!-- END_MODULE Admin_Errors -->

			<h3 class="acms-admin-admin-title2"><!--T-->ブログのエクスポート<!--/T--></h3>
			<table class="adminTable acms-admin-table-admin-edit">
				<tr>
					<td><!--T-->このブログのデータ（データ、アーカイブ）をzip形式でダウンロードします。<!--/T--></td>
					<td class="acms-admin-text-right">
						<input type="submit" name="ACMS_POST_Backup_BlogExport" value="<!--T-->エクスポート<!--/T-->" onclick="return confirm('<!--T-->このブログのデータをエクスポートします。データが大きい場合にはサーバに負荷がかかります。よろしいですか？<!--/T-->');" class="acms-admin-btn-admin acms-admin-btn-admin-primary"/>
					</td>
				</tr>
			</table>

			<h3 class="acms-admin-admin-title2"><!--T-->ブログのインポート<!--/T--></h3>
			<table class="adminTable acms-admin-table-admin-edit">
				<tr>
					<td>
						<strong>private/import/</strong> <!--T-->ディレクトリにアップロードされたエクスポートファイル<br>（zipファイル）を使用してインポートします。<!--/T-->
					</td>
					<td class="acms-admin-text-right">
						<!-- BEGIN_MODULE Admin_Backup_ArchiveZipList --><!-- BEGIN export:veil -->
						<!--T-->参照先<!--/T-->：/private/import/
						<select name="zipfile">
							<!-- BEGIN export:loop -->
							<option value="{zip}">{zip}</option><!-- END export:loop -->
						</select><!-- END_MODULE Admin_Backup_ArchiveZipList --><!-- END export:veil -->
						<input type="submit" name="ACMS_POST_Backup_BlogImport" value="<!--T-->インポート<!--/T-->"
							   onclick="return confirm('<!--T-->このブログのデータをすべて削除しインポート処理を行います。よろしいですか？<!--/T-->');"
							   class="acms-admin-btn-admin acms-admin-btn-admin-primary"/>
					</td>
				</tr>
			</table>
		</div>
		<!-- END_MODULE Touch_SessionWithAdministration -->
	</div>
</form>
<!-- END_MODULE Admin_Blog_Edit -->

<!-- BEGIN_IF [%{edit}/neq/insert] -->
<!--#include file="/admin/blog/index.html"-->
<!-- END_IF -->
