<!-- BEGIN_MODULE Admin_Blog_Index -->

<!-- BEGIN filter:veil -->
<div class="acms-admin-filter">
	<form action="" method="post" class="acms-admin-form">
		<!--T-->ソート<!--/T-->:
		<select name="order">
			<option value="sort-asc"{order:selected#sort-asc}><!--T-->表示順<!--/T-->（<!--T-->昇順<!--/T-->）</option>
			<option value="sort-desc"{order:selected#sort-desc}><!--T-->表示順<!--/T-->（<!--T-->降順<!--/T-->）</option>
			<option value="code-asc"{order:selected#code-asc}><!--T-->コードネーム<!--/T-->（<!--T-->昇順<!--/T-->）</option>
			<option value="code-desc"{order:selected#code-desc}><!--T-->コードネーム<!--/T-->（<!--T-->降順<!--/T-->）</option>
			<option value="id-asc"{order:selected#id-asc}>ID（<!--T-->昇順<!--/T-->）</option>
			<option value="id-desc"{order:selected#id-desc}>ID（<!--T-->降順<!--/T-->）</option>
		</select>
		<!--T-->表示数<!--/T-->:
		<select name="limit"><!-- BEGIN limit:loop -->
			<option value="{value}"{selected}>{label}</option><!-- END limit:loop -->
		</select>
		<input type="submit" name="ACMS_POST_2GET" value="<!--T-->表示<!--/T-->" class="acms-admin-btn-admin acms-admin-btn-admin-info acms-admin-width-sp" />
		<input type="hidden" name="admin" value="blog_index" />
	</form>
</div>
<!-- END filter:veil -->

<!-- BEGIN_MODULE Touch_BlogGlobal --><!-- BEGIN_MODULE Touch_SessionWithAdministration -->
<form action="" method="post" class="acms-admin-float-right acms-admin-float-none-sp acms-admin-margin-bottom-medium">
	<input type="hidden" name="bid" value="%{BID}" />
	<input type="hidden" name="admin" value="blog_edit" />
	<input type="hidden" name="edit" value="insert" />
	<input type="hidden" name="query[]" value="edit" />
	<input type="submit" value="<!--T-->子ブログを作成<!--/T-->" name="ACMS_POST_2GET" class="acms-admin-btn-admin" />
</form>
<!-- END_MODULE Touch_SessionWithAdministration --><!-- END_MODULE Touch_BlogGlobal -->

<!-- END filter:veil -->
<form method="post" action="" id="sortableForm" class="acms-admin-form">
	<!-- BEGIN index:veil -->
	<div class="js-acms-tab-select clearfix acms-admin-margin-sp">
		<select name="action-blog" class="js-acms-tab-select-value acms-admin-float-left acms-admin-select-large">
			<option value="action-order"{action-blog:selected#action-order}><!--T-->表示順<!--/T--></option>
			<option value="action-status"{action-blog:selected#action-status}><!--T-->ステータス<!--/T--></option>
			<option value="action-parent"{action-blog:selected#action-parent}><!--T-->親ブログを<!--/T--></option>
			<option value="action-config"{action-blog:selected#action-config}><!--T-->コンフィグの複製<!--/T--></option>
		</select>

		<div id="action-order" class="js-acms-tab-select-panel js-acms-tab-select-active acms-admin-float-left">
			<input type="submit" name="ACMS_POST_Blog_Index_Sort" value="<!--T-->変更<!--/T-->" class="acms-admin-btn-admin acms-admin-btn-admin-primary" />
		</div>

		<div id="action-status" class="js-acms-tab-select-panel acms-admin-float-left">
			<select name="batchStatus">
				<option value="open"><!--T-->公開<!--/T--></option>
				<option value="close"><!--T-->非公開<!--/T--></option>
				<option value="secret"><!--T-->シークレット<!--/T--></option>
			</select>
			<input type="submit" name="ACMS_POST_Blog_Index_Status" value="<!--T-->変更<!--/T-->" class="acms-admin-btn-admin acms-admin-btn-admin-primary" />
		</div>

		<div id="action-parent" class="js-acms-tab-select-panel acms-admin-float-left">
			<input type="text" name="parent" value="%{BLOG_ID}" size="4" />
			<input type="submit" name="ACMS_POST_Blog_Index_Parent" value="<!--T-->変更<!--/T-->" class="acms-admin-btn-admin acms-admin-btn-admin-primary" />
		</div>

		<div id="action-config" class="js-acms-tab-select-panel acms-admin-float-left">
			<!--T-->このブログのコンフィグを選択したブログに<!--/T-->
			<input type="submit" name="ACMS_POST_Blog_Index_Config" value="<!--T-->複製<!--/T-->" onclick="return confirm('<!--T-->複製先のブログの元々のコンフィグは削除されます。\n実行してよろしいですか？<!--/T-->');" class="acms-admin-btn-admin acms-admin-btn-admin-primary" />
				<br /><span class="acms-admin-tab-text">※<!--T-->選択したブログの元々のコンフィグを削除した後に、現在ブログの複製されたコンフィグが適用されます<!--/T--></span>
		</div>
	</div>

	<!-- BEGIN_IF [{success}/eq/status] -->
	<p class="acms-admin-alert acms-admin-alert-info">
		<button class="js-acms-alert-close">×</button>
		<!--T-->選択したブログのステータスを変更しました。<!--/T-->
	</p>
	<!-- END_IF --><!-- BEGIN_IF [{success}/eq/sort] -->
	<p class="acms-admin-alert acms-admin-alert-info">
		<button class="js-acms-alert-close">×</button>
		<!--T-->選択したブログの表示順を変更しました。<!--/T-->
	</p>
	<!-- END_IF --><!-- BEGIN_IF [{success}/eq/parent] -->
	<p class="acms-admin-alert acms-admin-alert-info">
		<button class="js-acms-alert-close">×</button>
		<!--T-->選択したブログの親を変更しました。<!--/T-->
	</p>
	<!-- END_IF --><!-- BEGIN_IF [{success}/eq/config] -->
	<p class="acms-admin-alert acms-admin-alert-info">
		<button class="js-acms-alert-close">×</button>
		<!--T-->選択したブログにこのブログのコンフィグを複製しました。<!--/T-->
	</p>
	<!-- END_IF --><!-- BEGIN_IF [{error}/eq/status_1] -->
	<p class="acms-admin-alert acms-admin-alert-danger">
		<button class="js-acms-alert-close">×</button>
		<!--T-->ステータスの変更に失敗しました。<!--/T-->
	</p>
	<!-- END_IF --><!-- BEGIN_IF [{error}/eq/sort_1] -->
	<p class="acms-admin-alert acms-admin-alert-danger">
		<button class="js-acms-alert-close">×</button>
		<!--T-->並び順の変更に失敗しました。<!--/T-->
	</p>
	<!-- END_IF --><!-- BEGIN_IF [{error}/eq/parent_1] -->
	<p class="acms-admin-alert acms-admin-alert-danger">
		<button class="js-acms-alert-close">×</button>
		<!--T-->親ブログの変更に失敗しました。<!--/T-->
	</p>
	<!-- END_IF --><!-- BEGIN_IF [{error}/eq/config_1] -->
	<p class="acms-admin-alert acms-admin-alert-danger">
		<button class="js-acms-alert-close">×</button>
		<!--T-->コンフィグの複製に失敗しました。<!--/T-->
	</p>
	<!-- END_IF -->

	<table class="adminTable js-admin_table-sortable acms-admin-table-admin acms-admin-table-heading acms-admin-table-hover" data-sort-enable="{sortable}" data-sort-submit="ACMS_POST_Blog_Index_Sort" data-sort-target="#sortableForm">
		<thead>
			<tr>
				<th class="item-handle acms-admin-hide-sp"></th>
				<th class="acms-admin-table-center acms-admin-th-checkbox acms-admin-show-sp">
					<div class="acms-admin-form-checkbox">
						<input type="checkbox" id="checkAll" />
						<label for="checkAll"><i class="acms-admin-ico-checkbox"></i><span class="acms-admin-hide-visually"><!--T-->すべてのブログを選択する<!--/T--></span></label>
					</div>
				</th>
				<th class="acms-admin-hide-sp"><!--T-->表示順<!--/T--></th>
				<th class="acms-admin-hide-sp">bid</th>
				<th class="acms-admin-show-sp"><!--T-->名前<!--/T--> / URL</th>
				<th class="acms-admin-hide-sp"><!--T-->アクション<!--/T--></th>
			</tr>
		</thead>
		<tbody><!-- BEGIN blog:loop -->
			<tr data-sort-level="parallel" data-sort-name="sort-{bid}">
				<td class="item-handle" style="cursor: move;"><i class="acms-admin-icon-sort"></i></td>
				<td class="acms-admin-table-center">
					<div class="acms-admin-form-checkbox">
						<input type="checkbox" name="checks[]" value="{bid}" id="check-blog{bid}" />
						<label for="check-blog{bid}"><i class="acms-admin-ico-checkbox"></i><span class="acms-admin-hide-visually"><!--T-->ブログ名を<!--/T-->{name}<!--T-->を選択する<!--/T--></span></label>
					</div>
				</td>
				<td><input type="text" name="sort-{bid}" value="{sort}" size="4" /></td>
				<td><span class="acms-admin-label label-default admin-eid-label">{bid}</span></td>
				<td class="acms-admin-show-sp acms-admin-width-sp">
					<p class="acms-admin-title-sp">
						<!-- BEGIN status#open -->
						<span class="acms-admin-label acms-admin-label-info"><!--T-->公開<!--/T--></span><!-- END status#open --><!-- BEGIN status#close -->
						<span class="acms-admin-label acms-admin-label-danger"><!--T-->非公開<!--/T--></span><!-- END status#close --><!-- BEGIN status#secret -->
						<span class="acms-admin-label acms-admin-label-warning"><!--T-->シークレット<!--/T--></span><!-- END status#secret -->

						<strong>{name}</strong><!-- BEGIN branch -->&nbsp;<i class="acms-admin-icon acms-admin-icon-blog-children acms-admin-icon-admin-blog-children"></i><!-- END branch -->

					</p>
					<p class="acms-admin-blog-index-url"><a href="{urlValue}">{urlLabel}</a></p>
				</td>
				<td class="acms-admin-border-bottom-sp acms-admin-show-sp acms-admin-width-sp">
					<a href="{itemLink}?edit=update" class="acms-admin-btn-admin"><!--T-->移動<!--/T-->&nbsp;</a>
				</td>
			</tr>
		<!-- END blog:loop --></tbody>
	</table>
	<!-- END index:veil -->

	<!-- BEGIN pager:veil -->
	<ul class="acms-admin-pager"><!-- BEGIN backLink -->
		<li><a href="{url}">&laquo;&nbsp;<!--T-->前のページ<!--/T--></a></li><!-- END backLink --><!-- BEGIN page:loop -->
		<li{pageCurAttr}[raw]><span><!-- BEGIN link#front --><a href="{url}"><!-- END link#front -->{page}<!-- BEGIN link#rear --></a><!-- END link#rear --></span></li><!-- END page:loop --><!-- BEGIN lastPage:veil -->
		<li><a href="{lastPageUrl}">...{lastPage}</a></li><!-- END lastPage:veil --><!-- BEGIN forwardLink -->
		<li><a href="{url}"><!--T-->次のページ<!--/T--> &raquo;</a></li><!-- END forwardLink -->
	</ul><!-- END pager:veil -->
</form>
<!-- END_MODULE Admin_Blog_Index -->
