<h3 class="acms-admin-admin-title2"><!--T-->コンフィグ<!--/T--></h3>
<table class="adminTable acms-admin-table-admin-edit">
	<tr>
		<th><!--T-->表示件数<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->一度に表示される件数です。<!--/T-->"></i>
</th>
		<td>
			<input type="text" name="api_bing_web_search_limit" value="{api_bing_web_search_limit}" size="4" class="acms-admin-form-width-mini" /> <!--T-->( 上限50件 )<!--/T-->
			<input type="hidden" name="config[]" value="api_bing_web_search_limit" />
			<input type="hidden" name="api_bing_web_search_limit:convert" value="a" />
			<input type="hidden" name="api_bing_web_search_limit:validator#digits" id="validator-api_bing_web_search_limit-digits" />
			<input type="hidden" name="api_bing_web_search_limit:validator#max" id="validator-api_bing_web_search_limit-max" value="50" />

			<div role="alert" aria-live="assertive">
				<div data-validator-label="validator-api_bing_web_search_limit-digits" class="validator-result-{api_bing_web_search_limit:validator#digits}">
					<p class="error-text"><span class="acms-admin-icon acms-admin-icon-attention" aria-hidden="true"></span><!--T-->数字を入力して下さい。<!--/T--></p>
				</div>
				<div data-validator-label="validator-api_bing_web_search_limit-max" class="validator-result-{api_bing_web_search_limit:validator#max}">
					<p class="error-text"><span class="acms-admin-icon acms-admin-icon-attention" aria-hidden="true"></span><!--T-->上限を超えています<!--/T--></p>
				</div>
			</div>
		</td>
	</tr>
</table><!-- BEGIN_MODULE Admin_Rule_Name -->
<input type="hidden" name="rid" value="{rid}" /><!-- END_MODULE Admin_Rule_Name --><!-- BEGIN_MODULE Admin_Module_Name -->
<input type="hidden" name="mid" value="{mid}" /><!-- END_MODULE Admin_Module_Name -->