<!-- BEGIN_SetRendered id="agenda" module_id="agenda" -->
<!-- BEGIN_MODULE Entry_Body id="{{module_id}}" -->
<h2 class="headline-agenda toggle-head"><i class="fa fa-chevron-down" aria-hidden="true"></i>目次<span>クリックで閉じる/開く</span></h2>
<div class="toggle-body">
<ul class="agenda">
    <!-- BEGIN unit:loop -->
    <!-- BEGIN unit#text -->
    <!-- BEGIN h2 -->
    <li>
  	<a <!-- BEGIN_IF [{extend_tag}/nem] -->href="#{extend_tag}"<!-- ELSE -->href="#h{utid}"<!-- END_IF -->>{text}[nl2br]</a>
    <!-- END h2 -->
    <!-- BEGIN h3 -->
        <!-- BEGIN_IF [{text}/nem] -->
        <ul><li><a <!-- BEGIN_IF [{extend_tag}/nem] -->href="#{extend_tag}"<!-- ELSE -->href="#h{utid}"<!-- END_IF -->>{text}[nl2br]</a></li></ul>
        <!-- ELSE -->
        </li>
        <!-- END_IF -->
    <!-- END h3 -->
    <!-- END unit#text -->
    <!-- END unit:loop -->
</ul>
</div>
<!-- END_MODULE Entry_Body -->

<!-- END_SetRendered -->

<!-- BEGIN_SetRendered id="agend2" module_id="agenda2" -->

	<!-- BEGIN_MODULE Unit_List id="{{module_id}}" -->
<h2 class="headline-agenda"><i class="fa fa-chevron-down" aria-hidden="true"></i>目次<span>クリックで閉じる/開く</span></h2>
<div id="agenda">
<ul class="agenda">
<!-- BEGIN unit:loop -->
<li>
<!-- BEGIN_IF [{unit_field_2}/eq/h2] -->
    <!-- BEGIN_IF [{unit_field_3}/nem] -->
    <a href="#{unit_field_3}" class="scrollTo">
    <!-- ELSE -->
    <a href="#h{unit_id}" class="scrollTo">
    <!-- END_IF -->{unit_field_1}</a>
<!-- END_IF -->

    <!-- BEGIN_IF [{unit_field_2}/eq/h3] -->
        <ul><li>
        <!-- BEGIN_IF [{unit_field_3}/nem] -->
        <a href="#{unit_field_3}" class="scrollTo">
        <!-- ELSE -->
        <a href="#h{unit_id}" class="scrollTo">
        <!-- END_IF -->{unit_field_1}</a></li></ul>
    <!-- END_IF -->
</li>

<!-- END unit:loop -->
</ul>
</div>
<!-- END_MODULE Unit_List -->

<!-- END_SetRendered -->

