<h3 class="acms-admin-admin-title2"><!--T-->ユーザー<!--/T--></h3>
<table class="adminTable acms-admin-table-admin-edit">
	<tr>
		<th><!--T-->表示順<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->どのようなルールに従って表示されるかの設定です。フィールド、数値フィールドはカスタムフィールドでの検索結果の表示時に利用します。<!--/T-->"></i></th>
		<td>
			<select name="user_search_order">
				<option value="code-asc"{user_search_order:selected#code-asc}><!--T-->コード名 ( 昇順 )<!--/T--></option>
				<option value="code-desc"{user_search_order:selected#code-desc}><!--T-->コード名 ( 降順 )<!--/T--></option>
				<option value="id-asc"{user_search_order:selected#id-asc}><!--T-->ID ( 昇順 )<!--/T--></option>
				<option value="id-desc"{user_search_order:selected#id-desc}><!--T-->ID ( 降順 )<!--/T--></option>
				<option value="updated_datetime-asc"{user_search_order:selected#updated_datetime-asc}><!--T-->更新日時 ( 昇順 )<!--/T--></option>
				<option value="updated_datetime-desc"{user_search_order:selected#updated_datetime-desc}><!--T-->更新日時 ( 降順 )<!--/T--></option>
				<option value="login_datetime-asc"{user_search_order:selected#login_datetime-asc}><!--T-->最終ログイン日時 ( 昇順 )<!--/T--></option>
				<option value="login_datetime-desc"{user_search_order:selected#login_datetime-desc}><!--T-->最終ログイン日時 ( 降順 )<!--/T--></option>
				<option value="sort-asc"{user_search_order:selected#sort-asc}><!--T-->任意<!--/T--></option>
				<option value="field-asc"{user_search_order:selected#field-asc}><!--T-->フィールド ( 昇順 )<!--/T--></option>
				<option value="field-desc"{user_search_order:selected#field-desc}><!--T-->フィールド ( 降順 )<!--/T--></option>
				<option value="intfield-asc"{user_search_order:selected#intfield-asc}><!--T-->数値フィールド ( 昇順 )<!--/T--></option>
				<option value="intfield-desc"{user_search_order:selected#intfield-desc}><!--T-->数値フィールド ( 降順 )<!--/T--></option>
				<option value="random"{user_search_order:selected#random}><!--T-->ランダム<!--/T--></option>
			</select>
			<input type="hidden" name="config[]" value="user_search_order" />
		</td>
	</tr>
	<tr>
		<th><!--T-->表示件数<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->一度に表示される件数です。<!--/T-->"></i></th>
		<td>
			<input type="text" name="user_search_limit" value="{user_search_limit}" size="4" class="acms-admin-form-width-mini" />
			<input type="hidden" name="config[]" value="user_search_limit" />
			<input type="hidden" name="user_search_limit:convert" value="a" />
			<input type="hidden" name="user_search_limit:validator#digits" id="validator-user_search_limit-digits" />
			<div role="alert" aria-live="assertive">
				<div data-validator-label="validator-user_search_limit-digits" class="validator-result-{user_search_limit:validator#digits}">
					<p class="error-text"><span class="acms-admin-icon acms-admin-icon-attention" aria-hidden="true"></span><!--T-->数字を入力して下さい。<!--/T--></p>
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<th><!--T-->ループ内クラス<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->指定したクラスをループブロック内に設定できます。例えばグリッドシステムのカラム数設定などにご利用ください。<!--/T-->"></i></th>
		<td>
			<input type="text" name="user_search_loop_class" value="{user_search_loop_class}" size="4" class="acms-admin-form-width-medium" />
			<input type="hidden" name="config[]" value="user_search_loop_class" />
		</td>
	</tr>
	<tr>
		<th><!--T-->権限<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->選択した権限のユーザーが一覧の表示対象になります。<!--/T-->"></i></th>
		<td>
			<div class="acms-admin-form-checkbox">
				<input type="checkbox" name="user_search_auth[]" value="administrator"{user_search_auth:checked#administrator} id="input-checkbox-administrator" />
				<label for="input-checkbox-administrator">
					<i class="acms-admin-ico-checkbox"></i>
					<!--T-->管理者<!--/T-->
				</label>
			</div>

			<div class="acms-admin-form-checkbox">
				<input type="checkbox" name="user_search_auth[]" value="editor"{user_search_auth:checked#editor} id="input-checkbox-editor" />
				<label for="input-checkbox-editor">
					<i class="acms-admin-ico-checkbox"></i>
					<!--T-->編集者<!--/T-->
				</label>
			</div>

			<div class="acms-admin-form-checkbox">
				<input type="checkbox" name="user_search_auth[]" value="contributor"{user_search_auth:checked#contributor} id="input-checkbox-contributor" />
				<label for="input-checkbox-contributor">
					<i class="acms-admin-ico-checkbox"></i>
					<!--T-->投稿者<!--/T-->
				</label>
			</div>

			<div class="acms-admin-form-checkbox">
				<input type="checkbox" name="user_search_auth[]" value="subscriber"{user_search_auth:checked#subscriber} id="input-checkbox-subscriber" />
				<label for="input-checkbox-subscriber">
					<i class="acms-admin-ico-checkbox"></i>
					<!--T-->読者<!--/T-->
				</label>
			</div>
			<input type="hidden" name="config[]" value="user_search_auth" />
		</td>
	</tr>

	<tr>
		<th><!--T-->ステータス<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->選択したステータスのユーザーが一覧の表示対象になります。<!--/T-->"></i></th>
		<td>
			<div class="acms-admin-form-checkbox">
				<input type="checkbox" name="user_search_status[]" value="open"{user_search_status:checked#open} id="input-checkbox-status-open" />
				<label for="input-checkbox-status-open">
					<i class="acms-admin-ico-checkbox"></i>
					<!--T-->有効<!--/T-->
				</label>
			</div>

			<div class="acms-admin-form-checkbox">
				<input type="checkbox" name="user_search_status[]" value="close"{user_search_status:checked#close} id="input-checkbox-status-close" />
				<label for="input-checkbox-status-close">
					<i class="acms-admin-ico-checkbox"></i>
					<!--T-->無効<!--/T-->
				</label>
			</div>
			<input type="hidden" name="config[]" value="user_search_status" />
		</td>
	</tr>
	<tr>
		<th><!--T-->メールマガジン<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->選択したメールマガジン受信希望のユーザーが一覧の表示対象になります。<!--/T-->"></i></th>
		<td>
			<div class="acms-admin-form-checkbox">
				<input type="checkbox" name="user_search_mail_magazine[]" value="pc"{user_search_mail_magazine:checked#pc} id="input-checkbox-mailmagazine-pc" />
				<label for="input-checkbox-mailmagazine-pc">
					<i class="acms-admin-ico-checkbox"></i>
					<!--T-->PCメール<!--/T-->
				</label>
			</div>

			<div class="acms-admin-form-checkbox">
				<input type="checkbox" name="user_search_mail_magazine[]" value="mobile"{user_search_mail_magazine:checked#mobile} id="input-checkbox-mailmagazine-mobile" />
				<label for="input-checkbox-mailmagazine-mobile">
					<i class="acms-admin-ico-checkbox"></i>
					<!--T-->携帯メール<!--/T-->
				</label>
			</div>
			<input type="hidden" name="config[]" value="user_search_mail_magazine" />
		</td>
	</tr>
	<tr>
		<th><!--T-->前後に表示するページ数<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->ページャーの設定です。表示中のページを基点として、ここで設定した値の数だけページ番号が表示されます。<!--/T-->"></i></th>
		<td>
			<input type="text" name="user_search_pager_delta" value="{user_search_pager_delta}" size="4" class="acms-admin-form-width-mini" />
			<input type="hidden" name="config[]" value="user_search_pager_delta" />
			<input type="hidden" name="user_search_pager_delta:validator#digits" id="validator-user_search_pager_delta-digits" />
			<div role="alert" aria-live="assertive">
				<div data-validator-label="validator-user_search_pager_delta-digits" class="validator-result-{user_search_pager_delta:validator#digits}">
					<p class="error-text"><span class="acms-admin-icon acms-admin-icon-attention" aria-hidden="true"></span><!--T-->数字を入力して下さい。<!--/T--></p>
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<th><!--T-->現在のページの要素の属性<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->ページャーの設定です。表示中のページ番号に割り当てられる属性です。（変数名 : pageCurAttr）<!--/T-->"></i></th>
		<td>
			<input type="text" name="user_search_pager_cur_attr" value="{user_search_pager_cur_attr}" size="20" />
			<input type="hidden" name="config[]" value="user_search_pager_cur_attr" />
		</td>
	</tr>
	<tr>
		<th><!--T-->インデキシング<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->チェックを外すと、インデキシングされていないユーザーも表示されます。<!--/T-->"></i></th>
		<td>
			<input type="hidden" name="user_search_indexing" value="off" />
			<div class="acms-admin-form-checkbox">
				<input type="checkbox" name="user_search_indexing" value="on"{user_search_indexing:checked#on} id="input-checkbox-user_search_indexing" />
				<label for="input-checkbox-user_search_indexing"><i class="acms-admin-ico-checkbox"></i><!--T-->インデキシングされているユーザーのみ表示する<!--/T--></label>
			</div>
			<input type="hidden" name="config[]" value="user_search_indexing" />
		</td>
	</tr>
</table>

<h3 class="acms-admin-admin-title2"><!--T-->エントリー<!--/T--></h3>
<table class="adminTable acms-admin-table-admin-edit">
	<tr>
		<th><!--T-->エントリー<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->チェックをするとユーザー毎のエントリーリストを表示できるようになります。<!--/T-->"></i></th>
		<td>
			<input type="hidden" name="user_search_entry_list_enable" value="off" />
			<div class="acms-admin-form-checkbox">
				<input type="checkbox" name="user_search_entry_list_enable" value="on"{user_search_entry_list_enable:checked#on} class="switching-function-btn" id="input-checkbox-user_search_entry_list_enable" />
				<label for="input-checkbox-user_search_entry_list_enable"><i class="acms-admin-ico-checkbox"></i><!--T-->エントリーリストを表示できるようにする。<!--/T--></label>
			</div>
			<input type="hidden" name="config[]" value="user_search_entry_list_enable" />
		</td>
	</tr>
	<tr>
		<th><!--T-->表示順<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->どのようなルールに従って表示されるかの設定です。<!--/T-->"></i></th>
		<td>
			<select name="user_search_entry_list_order">
				<option value="datetime-asc"{user_search_entry_list_order:selected#datetime-asc}><!--T-->日時 ( 昇順 )<!--/T--></option>
				<option value="datetime-desc"{user_search_entry_list_order:selected#datetime-desc}><!--T-->日時 ( 降順 )<!--/T--></option>
				<option value="code-asc"{user_search_entry_list_order:selected#code-asc}><!--T-->ファイル名 ( 昇順 )<!--/T--></option>
				<option value="code-desc"{user_search_entry_list_order:selected#code-desc}><!--T-->ファイル名 ( 降順 )<!--/T--></option>
				<option value="id-asc"{user_search_entry_list_order:selected#id-asc}><!--T-->ID ( 昇順 )<!--/T--></option>
				<option value="id-desc"{user_search_entry_list_order:selected#id-desc}><!--T-->ID ( 降順 )<!--/T--></option>
				<option value="sort-asc"{user_search_entry_list_order:selected#sort-asc}><!--T-->表示順 ( 昇順 )<!--/T--></option>
				<option value="sort-desc"{user_search_entry_list_order:selected#sort-desc}><!--T-->表示順 ( 降順 )<!--/T--></option>
			</select>
			<input type="hidden" name="config[]" value="user_search_entry_list_order" />
		</td>
	</tr>
	<tr>
		<th><!--T-->表示件数<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->ユーザ毎に表示される件数です。<!--/T-->"></i></th>
		<td>
			<input type="text" name="user_search_entry_list_limit" value="{user_search_entry_list_limit}" size="4" class="acms-admin-form-width-mini" />
			<input type="hidden" name="config[]" value="user_search_entry_list_limit" />
			<input type="hidden" name="user_search_entry_list_limit:convert" value="a" />
			<input type="hidden" name="user_search_entry_list_limit:validator#digits" id="validator-user_search_entry_list_limit-digits" />
			<div role="alert" aria-live="assertive">
				<div data-validator-label="validator-user_search_entry_list_limit-digits" class="validator-result-{user_search_entry_list_limit:validator#digits}">
					<p class="error-text"><span class="acms-admin-icon acms-admin-icon-attention" aria-hidden="true"></span><!--T-->数字を入力して下さい。<!--/T--></p>
				</div>
			</div>
		</td>
	</tr>
</table><!-- BEGIN_MODULE Admin_Rule_Name -->
<input type="hidden" name="rid" value="{rid}" /><!-- END_MODULE Admin_Rule_Name --><!-- BEGIN_MODULE Admin_Module_Name -->
<input type="hidden" name="mid" value="{mid}" /><!-- END_MODULE Admin_Module_Name -->
