<header class="acms-admin-grid-r">
	<div class="acms-admin-col-md-6">
		<h1 class="acms-admin-admin-title js-dialog-title">
			<i class="acms-admin-icon acms-admin-icon-config"></i><!-- BEGIN_MODULE Admin_Rule_Name -->
				<strong><!--T-->ルール<!--/T--> : {name}</strong><!-- END_MODULE Admin_Rule_Name --><!-- BEGIN_MODULE Admin_Module_Name -->
				<strong><!--T-->モジュールID<!--/T--> : {label} ( {identifier} )</strong><!-- END_MODULE Admin_Module_Name --><!--T-->Twitterユーザー詳細<!--/T--> ( Twitter_Users_Show )
		</h1>
	</div>
	<div class="acms-admin-col-md-6">
		<!--#include file="/admin/topicpath.html"-->
	</div>
</header>

<!-- BEGIN_MODULE Admin_Config -->
<form action="" method="post" class="acms-admin-form js-dialog-body">
	<div class="acms-admin-form-group">
		<!-- BEGIN_MODULE Touch_SessionWithAdministration --><a href="{shortcutUrl}" class="acms-admin-btn-admin acms-admin-inline-btn acms-admin-shortcut-btn"><!--T-->ショートカットに追加<!--/T--></a><!-- END_MODULE Touch_SessionWithAdministration -->

		<a href="{indexUrl}" class="acms-admin-btn-admin"><!--T-->一覧<!--/T--></a>

		<input type="submit" name="ACMS_POST_Config" value="<!--T-->保存<!--/T-->" class="acms-admin-btn-admin acms-admin-btn-admin-primary acms-admin-btn-admin-save" />
		<!--#include file="/admin/config/action.html" -->
	</div>
	<!--#include file="/admin/%{ADMIN_PATH}_body.html"-->
</form>
<!-- END_MODULE Admin_Config -->
<!--#include file="/admin/tooltip/config/api/twitter/users/show.html"-->
