// ------------------------------
//  Break Points
// ------------------------------

//min-width指定
$breakpoint-sm-min : 576px;
$breakpoint-md-min : 768px;
$breakpoint-lg-min : 992px;
$breakpoint-xl-min : 1200px;

//max-width指定
$breakpoint-sm-max: ($breakpoint-sm-min - 1); //479px
$breakpoint-md-max: ($breakpoint-md-min - 1); //767px
$breakpoint-lg-max: ($breakpoint-lg-min - 1); //1023px
$breakpoint-xl-max: ($breakpoint-xl-min - 1); //1439px
