// ------------------------------
//　カラー
// ------------------------------
// ブランドカラー
$color-primary: (
  primary: #376F98,
  secondary: #333,
  defalut: #ffed1f,
);

// バリエーション（カテゴリーの色分けなど）
$color-variation: (
  01: #F8BF00,
  02: #FF808C,
  03: #40A939,
  04: #41C3FF,
  05: #2AA595,
  06: #FF8200,
  07: #FF2D6C
);

$color-variation-darker: (
  01: #dca900,
  02: #d96d77,
  03: #399633,
  04: #3aafe5,
  05: #259183,
  06: #eb7800,
  07: #e52861
);


$color-form-input: (
  base: #FFF,
  required: #FFFFA4,
);

// モノクロ
$color-neutral: (
  lightest: #FFF,
  lighter: #F3F3F3,
  light: #D8D8D8,
  base: #A7A7A7,
  dark: #6E6E6E,
  darkest: #1F1F1F,
);

$color-state: (
  required: #F7412D,
  optional:#999999,
);

$color-text: (
  base: #1F1F1F,
  base-lighter: #6E6E6E,
  mute: #6E6E6E,
  inverse: #FFF,
);

$color-bg: (
  base: #FFF,
);

// 各sns色
$color-sns: (
  facebook-color: #3b5999,
  twitter-color: #55acee,
  hatebu-color: #008FDE,
  feed-color: #2BB24C,
  pocket-color: #EF4056,
  gplus-color: #dd4b39,
  youtube-color: #cd201f,
  instagram-color: #3f729b,
);
