<!-- BEGIN_MODULE Touch_Unlogin -->
<h3 class="aside-title"><i class="fa fa-rss" aria-hidden="true"></i>よく見られている記事</h3>
      <!-- BEGIN_MODULE Api_GoogleAnalytics_Ranking id="rankingAll"-->
        <ul class="ranking r1">
        <!-- BEGIN ranking:loop -->
          <li>
          <p><a href="{path}">{title}</a></p>
          </li>
        <!-- END ranking:loop -->
        </ul>        
      <!-- END_MODULE Api_GoogleAnalytics_Ranking -->
<!-- END_MODULE Touch_Unlogin -->
