<!-- BEGIN_MODULE Touch_Unlogin -->
<h3 class="aside-title"><i class="fa fa-rss" aria-hidden="true"></i>よく見られている記事</h3>
      <ul class="tabpanel l-cf" role="tablist">
      <li role="tab" class="select l-col-6">
        週間
      </li>
      <li role="tab" class="l-col-6">
        日間
      </li>
    </ul>

    <div role="tabpanel">
      <!-- BEGIN_MODULE Api_GoogleAnalytics_Ranking id="rankingWeek"-->
        <ul class="ranking r1">
        <!-- BEGIN ranking:loop -->
          <li>
          <p><span class="views">{views} views</span><br>
          <a href="{path}">{title}</a></p>
          </li>
        <!-- END ranking:loop -->
        </ul>        
      <!-- END_MODULE Api_GoogleAnalytics_Ranking -->
    </div>
    <div class="display-none" role="tabpanel">
      <!-- BEGIN_MODULE Api_GoogleAnalytics_Ranking id="rankingDay"-->
        <ul class="ranking r2">
        <!-- BEGIN ranking:loop -->
          <li>
            <p><span class="views">{views} views</span><br>
            <a href="{path}">{title}</a></p>
          </li>
        <!-- END ranking:loop -->
        </ul>        
      <!-- END_MODULE Api_GoogleAnalytics_Ranking -->
    </div>
<!-- END_MODULE Touch_Unlogin -->
