<script src="/js/materialize.min.js"></script>
<script src="/js/script.js" charset="UTF-8"></script>
<script type="text/javascript" src="//webfont.fontplus.jp/accessor/script/fontplus.js?FjE3TXufQOc%3D&delay=2&aa=1" charset="utf-8"></script>
