<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link media="all" rel="stylesheet" href="{{ path '/dest/bundle.css' }}">
  <title>Preview Layout</title>
</head>
<body>

{{{ yield }}}

</body>
</html>
