<div class="edit-btn-group">
	<label class="acms-admin-form-radio edit-btn-group-item-wrap acms-text-left"><input type="radio" name="module_heading_align" value="left"{module_heading_align:checked#left} /><div class="edit-btn-group-item"><span class="edit-text-line"></span><span class="edit-text-line"></span><span class="edit-text-line"></span><span class="acms-hide-visually">左揃え</span></div></label>
	<label class="acms-admin-form-radio edit-btn-group-item-wrap acms-text-center"><input type="radio" name="module_heading_align" value="center"{module_heading_align:checked#center} /><div class="edit-btn-group-item"><span class="edit-text-line"></span><span class="edit-text-line"></span><span class="edit-text-line"></span><span class="acms-hide-visually">中央揃え</span></div></label>
	<label class="acms-admin-form-radio edit-btn-group-item-wrap acms-text-right"><input type="radio" name="module_heading_align" value="right"{module_heading_align:checked#right} /><div class="edit-btn-group-item"><span class="edit-text-line"></span><span class="edit-text-line"></span><span class="edit-text-line"></span><span class="acms-hide-visually">右揃え</span></div></label>
</div>
<input type="hidden" name="field[]" value="module_heading_align" />

