<header class="acms-admin-grid-r">
	<div class="acms-admin-col-md-6">
		<h1 class="acms-admin-admin-title js-dialog-title">
			<i class="acms-admin-icon acms-admin-icon-config"></i><!--T-->エクスポート<!--/T-->
		</h1>
	</div>
	<div class="acms-admin-col-md-6">
		<!--#include file="/admin/topicpath.html"-->
	</div>
</header>

<!-- BEGIN_MODULE Admin_Errors -->
<p class="acms-admin-alert acms-admin-alert-danger">
	<button class="js-acms-alert-close">×</button>
	{error}
</p>
<!-- END_MODULE Admin_Errors -->

<!-- BEGIN_MODULE Admin_Config -->
<form method="post" class="js-dialog-body">
	<div class="js-acms_fix_marker js-acms_fix_target acms_fix_bg">
		<div class="acms_fix_bg_index">
			<a href="%{ADMIN_BASE_URL}bid/%{BID}/admin/config_index/" class="acms-admin-btn-admin"><!--T-->一覧<!--/T--></a>

			<input type="submit" name="ACMS_POST_Config_Export" value="<!--T-->エクスポート<!--/T-->" class="acms-admin-btn-admin acms-admin-btn-admin-primary" />

			<!-- BEGIN_MODULE Touch_SessionWithAdministration -->
			<a href="{shortcutUrl}" class="acms-admin-btn-admin acms-admin-float-right"><i class="acms-admin-icon acms-admin-icon-shortcut"></i><!--T-->ショートカットに追加<!--/T--></a><!-- END_MODULE Touch_SessionWithAdministration -->
		</div>
	</div>
</form>

<div class="acms-admin-panel acms-admin-panel-info">
	<div class="acms-admin-panel-header">
		<!--T-->コンフィグのエクスポート<!--/T-->
	</div>
	<div class="acms-admin-panel-body">
		<!--T-->コンフィグ / ルール / モジュール のエクスポートを行います。<!--/T-->
	</div>
</div>
<!-- END_MODULE Admin_Config -->
