<header class="acms-admin-grid-r">
	<div class="acms-admin-col-md-6">
		<h1 class="acms-admin-admin-title js-dialog-title">
			<i class="acms-admin-icon acms-admin-icon-config"></i><!--T-->インポート<!--/T-->
		</h1>
	</div>
	<div class="acms-admin-col-md-6">
		<!--#include file="/admin/topicpath.html"-->
	</div>
</header>

<!-- BEGIN_MODULE Admin_Config_Import -->
<form action="" method="post" enctype="multipart/form-data" class="acms-admin-form js-dialog-body">
	<div class="js-acms_fix_marker js-acms_fix_target acms_fix_bg">
		<div class="acms_fix_bg_index">
			<a href="%{ADMIN_BASE_URL}bid/%{BID}/admin/config_index/" class="acms-admin-btn-admin"><!--T-->一覧<!--/T--></a>

			<input type="submit" name="ACMS_POST_Config_Import" value="<!--T-->インポート<!--/T-->"
				   class="acms-admin-btn-admin acms-admin-btn-admin-primary acms-admin-btn-admin-save" onclick="return confirm('<!--T-->インポートを実行します。よろしいですか？<!--/T-->');"/>

			<!-- BEGIN_MODULE Touch_SessionWithAdministration -->
			<a href="{shortcutUrl}" class="acms-admin-btn-admin acms-admin-float-right"><i
				class="acms-admin-icon acms-admin-icon-shortcut"></i><!--T-->ショートカットに追加<!--/T--></a>
			<!-- END_MODULE Touch_SessionWithAdministration -->

			<input type="file" name="file"/>
		</div>
	</div>
</form>

<!-- BEGIN_MODULE Admin_Errors -->
<p class="acms-admin-alert acms-admin-alert-danger">
	<button class="js-acms-alert-close">×</button>
	{error}
</p>
<!-- END_MODULE Admin_Errors -->

<!-- BEGIN success -->
<p class="acms-admin-alert acms-admin-alert-info">
	<!--T-->インポートが完了しました。<!--/T-->
</p>
<!-- END success -->

<!-- BEGIN notice:veil -->
<div class="acms-admin-panel acms-admin-panel-danger">
	<div class="acms-admin-panel-header">
		<!--T-->以下項目で問題がありました。<!--/T-->
	</div>
	<div class="acms-admin-panel-body">
		<ul>
			<!-- BEGIN notice:loop -->
			<li>
				<p>
					<!-- BEGIN_IF [{type}/eq/overlap]-->
						<!--T-->ID重複よりインポートできませんでした。[<!--T-->モジュールID<!--/T-->: {identifier}]<!--/T-->
					<!-- ELSE_IF [{type}/eq/conversion] -->
						<!--T-->IDの変換に失敗しました。<!--/T-->
						<!-- BEGIN unlink:loop -->
						<!-- BEGIN_IF [{type}/eq/bid] -->
							[<!--T-->ブログコード<!--/T-->: {code}]
						<!-- ELSE_IF [{type}/eq/uid] -->
							[<!--T-->ユーザーコード<!--/T-->: {code}]
						<!-- ELSE_IF [{type}/eq/cid] -->
							[<!--T-->カテゴリーコード<!--/T-->: {code}]
						<!-- ELSE_IF [{type}/eq/eid] -->
							[<!--T-->エントリーコード<!--/T-->: {code}]
						<!-- ELSE_IF [{type}/eq/aid] -->
							[<!--T-->エイリアス<!--/T-->: {code}]
						<!-- END_IF -->
						<!-- END unlink:loop -->

						<!-- BEGIN_IF [{table}/eq/module] -->
						<a href="%{ADMIN_BASE_URL}bid/%{BID}/admin/module_edit/?mid={id}" target="_blank"><!--T-->モジュール<!--/T-->( id={id} )</a>
						<!-- ELSE_IF [{table}/eq/rule] -->
						<a href="%{ADMIN_BASE_URL}bid/%{BID}/admin/rule_edit/?rid={id}" target="_blank"><!--T-->ルール<!--/T-->( id={id} )</a>
						<!-- END_IF -->
					<!-- END_IF -->
				</p>
			</li>
			<!-- END notice:loop -->
		</ul>
	</div>
</div>
<!-- END notice:veil -->

<div class="acms-admin-panel acms-admin-panel-danger">
	<div class="acms-admin-panel-header">
		<!--T-->コンフィグのインポート<!--/T-->
	</div>
	<div class="acms-admin-panel-body">
		<!--T-->コンフィグ / ルール / モジュール のインポートを行います。idをコードに変換してインポートを行います。<!--/T--><br>
		<!--T-->既存のコンフィグ / ルール / モジュール を削除してインポートを行いますのでご注意ください。<!--/T-->
	</div>
</div>
<!-- END_MODULE Admin_Config_Import -->
