<header class="acms-admin-grid-r">
	<div class="acms-admin-col-md-6">
		<h1 class="acms-admin-admin-title">
			<i class="acms-admin-icon acms-admin-icon-mail"></i><!-- BEGIN_MODULE Admin_Rule_Name -->
			<strong><!--T-->ルール<!--/T--> : {name} の</strong><!-- END_MODULE Admin_Rule_Name -->
			<!-- BEGIN_MODULE Admin_Module_Name -->
			<strong><!--T-->モジュールID<!--/T--> : {label} ( {identifier} ) </strong><!-- END_MODULE Admin_Module_Name -->
			<!--T-->メール設定<!--/T-->
		</h1>
	</div>
	<div class="acms-admin-col-md-6">
		<!--#include file="/admin/topicpath.html"-->
	</div>
</header>

<!-- BEGIN_MODULE Admin_Config -->
<!-- BEGIN_IF [{notice_mess}/nem/] -->
<p class="acms-admin-alert acms-admin-alert-info">
	<button class="js-acms-alert-close">×</button><!--T-->メール設定を保存しました<!--/T--></p><!-- END_IF -->

<form action="" method="post" class="acms-admin-form">
	<div class="js-acms_fix_marker js-acms_fix_target acms_fix_bg">
		<div class="acms_fix_bg_index">
			<a href="{indexUrl}" class="acms-admin-btn-admin"><!--T-->一覧<!--/T--></a>

			<input type="submit" name="ACMS_POST_Config" value="<!--T-->保存<!--/T-->"
				   class="acms-admin-btn-admin acms-admin-btn-admin-primary acms-admin-btn-admin-save"/>
			<!--#include file="/admin/config/action.html" -->

			<!-- BEGIN_MODULE Touch_SessionWithAdministration --><a href="{shortcutUrl}"
																	class="acms-admin-btn-admin acms-admin-float-right acms-admin-float-none-sp"><i
			class="acms-admin-icon acms-admin-icon-shortcut"></i><!--T-->ショートカットに追加<!--/T--></a>
			<!-- END_MODULE Touch_SessionWithAdministration -->
		</div>
	</div>

	<p class="transaction-notice-{config:validator} acms-admin-alert acms-admin-alert-danger"><!--T-->コンフィグを保存出来ませんでした。
		<!--/T--></p>

	<h2 class="acms-admin-admin-title2 "><!--T-->SMTPサーバー<!--/T--></h2>
	<table class="adminTable acms-admin-table-admin-edit">
		<tr>
			<th><!--T-->ホスト名<!--/T--> <i class="acms-admin-icon-tooltip js-acms-tooltip"
										 data-acms-tooltip="<!--T-->a-blog cmsからメールを送信するSMTPサーバのホスト名を指定します。指定されない場合はphp.iniのsendmail_pathに従い、sendmailを使用してメールを送信します。<!--/T-->"></i>
			</th>
			<td>
				<input type="text" name="mail_smtp-host" value="" style="display:none;"/>
				<input type="text" name="mail_smtp-host" value="{mail_smtp-host}" size="40" autocomplete="off"/>
				<input type="hidden" name="config[]" value="mail_smtp-host"/>
			</td>
		</tr>
		<tr>
			<th><!--T-->ポート<!--/T--> <i class="acms-admin-icon-tooltip js-acms-tooltip"
										data-acms-tooltip="<!--T-->SMTPサーバのポートを指定します。SMTPサーバーを使用する場合は、必ず設定してください。サーバによって異なる場合があります。25や587がよく使われます。<!--/T-->"></i>
			</th>
			<td>
				<input type="text" name="mail_smtp-port" value="" style="display:none;"/>
				<input type="text" name="mail_smtp-port" value="{mail_smtp-port}" size="4" autocomplete="off"/>
				<input type="hidden" name="config[]" value="mail_smtp-port"/>
			</td>
		</tr>
		<tr>
			<th><!--T-->ユーザー名<!--/T--> <i class="acms-admin-icon-tooltip js-acms-tooltip"
										  data-acms-tooltip="<!--T-->SMTP認証が必要な場合にユーザー名を指定します。<!--/T-->"></i></th>
			<td>
				<input type="text" name="mail_smtp-user" value="" style="display:none;"/>
				<input type="text" name="mail_smtp-user" value="{mail_smtp-user}" size="20" autocomplete="off"/>
				<input type="hidden" name="config[]" value="mail_smtp-user"/>
			</td>
		</tr>
		<tr>
			<th><!--T-->パスワード<!--/T--> <i class="acms-admin-icon-tooltip js-acms-tooltip"
										  data-acms-tooltip="<!--T-->SMTP認証が必要な場合にパスワードを指定します。<!--/T-->"></i></th>
			<td>
				<input type="password" name="mail_smtp-pass" value="" style="display:none;"/>
				<input type="password" name="mail_smtp-pass" value="{mail_smtp-pass}" size="20" autocomplete="off"/>
				<input type="hidden" name="config[]" value="mail_smtp-pass"/>
			</td>
		</tr>
	</table>

	<h2 class="acms-admin-admin-title2 "><!--T-->読者登録<!--/T--></h2>
	<table class="adminTable acms-admin-table-admin-edit">
		<tr>
			<th>From<i class="acms-admin-icon-tooltip js-acms-tooltip"
					   data-acms-tooltip="<!--T-->登録者宛に送信されるメールの差出人を指定します。<!--/T-->"></i></th>
			<td>
				<input type="text" name="mail_subscribe_from" value="{mail_subscribe_from}" size="60"/>
				<input type="hidden" name="config[]" value="mail_subscribe_from"/>
			</td>
		</tr>
		<tr>
			<th>To<i class="acms-admin-icon-tooltip js-acms-tooltip"
					 data-acms-tooltip="<!--T-->登録者宛に送信されるメールの宛先を指定します。<!--/T-->"></i></th>
			<td>
				(&nbsp;<!--T-->※読者登録の申し込み時に入力されたメールアドレスに送信されます<!--/T-->&nbsp;)
			</td>
		</tr>
		<tr>
			<th>Bcc<i class="acms-admin-icon-tooltip js-acms-tooltip"
					  data-acms-tooltip="<!--T-->登録者宛に送信されるメールのBcc（ブラインドカーボンコピー）を指定します。<!--/T-->"></i></th>
			<td>
				<ul class="js-fieldgroup-sortable acms-admin-list-nostyle"><!-- BEGIN mail_subscribe_bcc:loop -->
					<li class="sortable-item acms-admin-margin-bottom-mini">
						<i class="acms-admin-icon-sort item-handle acms-admin-hide-sp"></i>
						<input type="text" name="mail_subscribe_bcc[]" value="{mail_subscribe_bcc}" size="60"/>
						<input type="button" value="<!--T-->削除<!--/T-->"
							   class="item-delete acms-admin-btn-admin acms-admin-btn-admin-danger acms-admin-margin-top-bottom-sp"/>
					</li><!-- END mail_subscribe_bcc:loop -->
					<li class="sortable-item item-template acms-admin-margin-bottom-mini">
						<i class="acms-admin-icon-sort item-handle acms-admin-hide-sp"></i>
						<input type="text" name="mail_subscribe_bcc[]" size="60"/>
						<input type="button" value="<!--T-->削除<!--/T-->"
							   class="item-delete acms-admin-btn-admin acms-admin-btn-admin-danger acms-admin-margin-top-bottom-sp"/>
					</li>
					<li>
						<input type="button" value="<!--T-->追加<!--/T-->" class="item-insert acms-admin-btn-admin"/>
					</li>
				</ul>
				<input type="hidden" name="config[]" value="mail_subscribe_bcc"/>
			</td>
		</tr>
		<tr>
			<th><!--T-->件名テンプレート<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip"
											data-acms-tooltip="<!--T-->登録者宛に送信されるメールの件名のテンプレートの場所を指定します。<!--/T-->"></i>
			</th>
			<td>
				<input type="text" name="mail_subscribe_tpl_subject" value="{mail_subscribe_tpl_subject}" size="40"/>
				<input type="hidden" name="config[]" value="mail_subscribe_tpl_subject"/>
			</td>
		</tr>
		<tr>
			<th><!--T-->本文テンプレート<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip"
											data-acms-tooltip="<!--T-->登録者宛に送信されるメールの本文のテンプレートの場所を指定します。<!--/T-->"></i>
			</th>
			<td>
				<input type="text" name="mail_subscribe_tpl_body" value="{mail_subscribe_tpl_body}" size="40"/>
				<input type="hidden" name="config[]" value="mail_subscribe_tpl_body"/>
			</td>
		</tr>
	</table>

	<h2 class="acms-admin-admin-title2 "><!--T-->読者登録（管理者）<!--/T--></h2>
	<table class="adminTable acms-admin-table-admin-edit">
		<tr>
			<th><!--T-->From（管理者）<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip"
											 data-acms-tooltip="<!--T-->管理者宛に送信されるメールの差出人を指定します。<!--/T-->"></i></th>
			<td>
				<input type="text" name="mail_subscribe_admin_from" value="{mail_subscribe_admin_from}" size="60"/>
				<input type="hidden" name="config[]" value="mail_subscribe_admin_from"/>
			</td>
		</tr>
		<tr>
			<th><!--T-->To（管理者）<!--T--><i class="acms-admin-icon-tooltip js-acms-tooltip"
										  data-acms-tooltip="<!--T-->管理者宛に送信されるメールの宛先を指定します。<!--/T-->"></i></th>
			<td>
				<input type="text" name="mail_subscribe_admin_to" value="{mail_subscribe_admin_to}" size="60"/>
				<input type="hidden" name="config[]" value="mail_subscribe_admin_to"/>
			</td>
		</tr>
		<tr>
			<th><!--T-->Bcc（管理者）<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip"
											data-acms-tooltip="<!--T-->管理者宛に送信されるメールのBcc（ブラインドカーボンコピー）を指定します。<!--/T-->"></i>
			</th>
			<td>
				<ul class="js-fieldgroup-sortable acms-admin-list-nostyle"><!-- BEGIN mail_subscribe_admin_bcc:loop -->
					<li class="sortable-item acms-admin-margin-bottom-mini">
						<i class="acms-admin-icon-sort item-handle acms-admin-hide-sp"></i>
						<input type="text" name="mail_subscribe_admin_bcc[]" value="{mail_subscribe_admin_bcc}"
							   size="60"/>
						<input type="button" value="<!--T-->削除<!--/T-->"
							   class="item-delete acms-admin-btn-admin acms-admin-btn-admin-danger acms-admin-margin-top-bottom-sp"/>
					</li><!-- END mail_subscribe_admin_bcc:loop -->
					<li class="sortable-item item-template acms-admin-margin-bottom-mini">
						<i class="acms-admin-icon-sort item-handle acms-admin-hide-sp"></i>
						<input type="text" name="mail_subscribe_admin_bcc[]" size="60"/>
						<input type="button" value="<!--T-->削除<!--/T-->"
							   class="item-delete acms-admin-btn-admin acms-admin-btn-admin-danger acms-admin-margin-top-bottom-sp"/>
					</li>
					<li>
						<input type="button" value="<!--T-->追加<!--/T-->" class="item-insert acms-admin-btn-admin"/>
					</li>
				</ul>
				<input type="hidden" name="config[]" value="mail_subscribe_admin_bcc"/>
			</td>
		</tr>
		<tr>
			<th><!--T-->件名テンプレート（管理者）<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip"
												 data-acms-tooltip="<!--T-->管理者宛に送信されるメールの件名のテンプレートの場所を指定します。<!--/T-->"></i>
			</th>
			<td>
				<input type="text" name="mail_subscribe_admin_tpl_subject" value="{mail_subscribe_admin_tpl_subject}"
					   size="40"/>
				<input type="hidden" name="config[]" value="mail_subscribe_admin_tpl_subject"/>
			</td>
		</tr>
		<tr>
			<th><!--T-->本文テンプレート（管理者）<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip"
												 data-acms-tooltip="<!--T-->管理者宛に送信されるメールの本文のテンプレートの場所を指定します。<!--/T-->"></i>
			</th>
			<td>
				<input type="text" name="mail_subscribe_admin_tpl_body" value="{mail_subscribe_admin_tpl_body}"
					   size="40"/>
				<input type="hidden" name="config[]" value="mail_subscribe_admin_tpl_body"/>
			</td>
		</tr>
	</table>

	<h2 class="acms-admin-admin-title2 "><!--T-->ユーザ情報変更<!--/T--> <!--T-->プロフェッショナル版以上<!--/T--></h2>
	<table class="adminTable acms-admin-table-admin-edit">
		<tr>
			<th>変更内容を送信
				<i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->チェックをつけると、ユーザー情報の変更時に変更内容をユーザーに送信します。<!--/T-->"></i>
			</th>
			<td>
				<div class="acms-admin-form-checkbox">
					<input type="checkbox" name="mail_update_user_enable" value="on"{mail_update_user_enable:checked#on} id="input-checkbox-mail-update-user-enable" />
					<label for="input-checkbox-mail-update-user-enable"><i class="acms-admin-ico-checkbox"></i><!--T-->ユーザー情報の変更時に変更内容をユーザーに送信<!--/T--></label>
				</div>
				<input type="hidden" name="config[]" value="mail_update_user_enable" />
			</td>
		</tr>
		<tr>
			<th>From<i class="acms-admin-icon-tooltip js-acms-tooltip"
					   data-acms-tooltip="<!--T-->登録者宛に送信されるメールの差出人を指定します。<!--/T-->"></i></th>
			<td>
				<input type="text" name="mail_update_user_from" value="{mail_update_user_from}" size="60"/>
				<input type="hidden" name="config[]" value="mail_update_user_from"/>
			</td>
		</tr>
		<tr>
			<th>To<i class="acms-admin-icon-tooltip js-acms-tooltip"
					 data-acms-tooltip="<!--T-->登録者宛に送信されるメールの宛先を指定します。<!--/T-->"></i></th>
			<td>
				(&nbsp;<!--T-->※読者登録の申し込み時に入力されたメールアドレスに送信されます<!--/T-->&nbsp;)
			</td>
		</tr>
		<tr>
			<th>Bcc<i class="acms-admin-icon-tooltip js-acms-tooltip"
					  data-acms-tooltip="<!--T-->登録者宛に送信されるメールのBcc（ブラインドカーボンコピー）を指定します。<!--/T-->"></i></th>
			<td>
				<ul class="js-fieldgroup-sortable acms-admin-list-nostyle"><!-- BEGIN mail_update_user_bcc:loop -->
					<li class="sortable-item acms-admin-margin-bottom-mini">
						<i class="acms-admin-icon-sort item-handle acms-admin-hide-sp"></i>
						<input type="text" name="mail_update_user_bcc[]" value="{mail_update_user_bcc}" size="60"/>
						<input type="button" value="<!--T-->削除<!--/T-->"
							   class="item-delete acms-admin-btn-admin acms-admin-btn-admin-danger acms-admin-margin-top-bottom-sp"/>
					</li><!-- END mail_update_user_bcc:loop -->
					<li class="sortable-item item-template acms-admin-margin-bottom-mini">
						<i class="acms-admin-icon-sort item-handle acms-admin-hide-sp"></i>
						<input type="text" name="mail_update_user_bcc[]" size="60"/>
						<input type="button" value="<!--T-->削除<!--/T-->"
							   class="item-delete acms-admin-btn-admin acms-admin-btn-admin-danger acms-admin-margin-top-bottom-sp"/>
					</li>
					<li>
						<input type="button" value="<!--T-->追加<!--/T-->" class="item-insert acms-admin-btn-admin"/>
					</li>
				</ul>
				<input type="hidden" name="config[]" value="mail_update_user_bcc"/>
			</td>
		</tr>
		<tr>
			<th><!--T-->件名テンプレート<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip"
											data-acms-tooltip="<!--T-->登録者宛に送信されるメールの件名のテンプレートの場所を指定します。<!--/T-->"></i>
			</th>
			<td>
				<input type="text" name="mail_update_user_tpl_subject" value="{mail_update_user_tpl_subject}"
					   size="40"/>
				<input type="hidden" name="config[]" value="mail_update_user_tpl_subject"/>
			</td>
		</tr>
		<tr>
			<th><!--T-->本文テンプレート<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip"
											data-acms-tooltip="<!--T-->登録者宛に送信されるメールの本文のテンプレートの場所を指定します。<!--/T-->"></i>
			</th>
			<td>
				<input type="text" name="mail_update_user_tpl_body" value="{mail_update_user_tpl_body}" size="40"/>
				<input type="hidden" name="config[]" value="mail_update_user_tpl_body"/>
			</td>
		</tr>
	</table>

	<h2 class="acms-admin-admin-title2 "><!--T-->ユーザー情報変更（管理者）<!--/T--> <!--T-->プロフェッショナル版以上<!--/T--></h2>
	<table class="adminTable acms-admin-table-admin-edit">
		<tr>
			<th>変更内容を送信
				<i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->チェックをつけると、ユーザー情報の変更時に変更内容を管理者に送信します。<!--/T-->"></i>
			</th>
			<td>
				<div class="acms-admin-form-checkbox">
					<input type="checkbox" name="mail_update_user_admin_enable" value="on"{mail_update_user_admin_enable:checked#on} id="input-checkbox-mail-update-user-admin-enable" />
					<label for="input-checkbox-mail-update-user-admin-enable"><i class="acms-admin-ico-checkbox"></i><!--T-->ユーザー情報の変更時に変更内容を管理者に送信<!--/T--></label>
				</div>
				<input type="hidden" name="config[]" value="mail_update_user_admin_enable" />
			</td>
		</tr>
		<tr>
			<th><!--T-->From（管理者）<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip"
											 data-acms-tooltip="<!--T-->管理者宛に送信されるメールの差出人を指定します。<!--/T-->"></i></th>
			<td>
				<input type="text" name="mail_update_user_admin_from" value="{mail_update_user_admin_from}" size="60"/>
				<input type="hidden" name="config[]" value="mail_update_user_admin_from"/>
			</td>
		</tr>
		<tr>
			<th><!--T-->To（管理者）<!--T--><i class="acms-admin-icon-tooltip js-acms-tooltip"
										  data-acms-tooltip="<!--T-->管理者宛に送信されるメールの宛先を指定します。<!--/T-->"></i></th>
			<td>
				<input type="text" name="mail_update_user_admin_to" value="{mail_update_user_admin_to}" size="60"/>
				<input type="hidden" name="config[]" value="mail_update_user_admin_to"/>
			</td>
		</tr>
		<tr>
			<th><!--T-->Bcc（管理者）<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip"
											data-acms-tooltip="<!--T-->管理者宛に送信されるメールのBcc（ブラインドカーボンコピー）を指定します。<!--/T-->"></i>
			</th>
			<td>
				<ul class="js-fieldgroup-sortable acms-admin-list-nostyle">
					<!-- BEGIN mail_update_user_admin_bcc:loop -->
					<li class="sortable-item acms-admin-margin-bottom-mini">
						<i class="acms-admin-icon-sort item-handle acms-admin-hide-sp"></i>
						<input type="text" name="mail_update_user_admin_bcc[]" value="{mail_update_user_admin_bcc}"
							   size="60"/>
						<input type="button" value="<!--T-->削除<!--/T-->"
							   class="item-delete acms-admin-btn-admin acms-admin-btn-admin-danger acms-admin-margin-top-bottom-sp"/>
					</li><!-- END mail_update_user_admin_bcc:loop -->
					<li class="sortable-item item-template acms-admin-margin-bottom-mini">
						<i class="acms-admin-icon-sort item-handle acms-admin-hide-sp"></i>
						<input type="text" name="mail_update_user_admin_bcc[]" size="60"/>
						<input type="button" value="<!--T-->削除<!--/T-->"
							   class="item-delete acms-admin-btn-admin acms-admin-btn-admin-danger acms-admin-margin-top-bottom-sp"/>
					</li>
					<li>
						<input type="button" value="<!--T-->追加<!--/T-->" class="item-insert acms-admin-btn-admin"/>
					</li>
				</ul>
				<input type="hidden" name="config[]" value="mail_update_user_admin_bcc"/>
			</td>
		</tr>
		<tr>
			<th><!--T-->件名テンプレート（管理者）<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip"
												 data-acms-tooltip="<!--T-->管理者宛に送信されるメールの件名のテンプレートの場所を指定します。<!--/T-->"></i>
			</th>
			<td>
				<input type="text" name="mail_update_user_admin_tpl_subject"
					   value="{mail_update_user_admin_tpl_subject}"
					   size="40"/>
				<input type="hidden" name="config[]" value="mail_update_user_admin_tpl_subject"/>
			</td>
		</tr>
		<tr>
			<th><!--T-->本文テンプレート（管理者）<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip"
												 data-acms-tooltip="<!--T-->管理者宛に送信されるメールの本文のテンプレートの場所を指定します。<!--/T-->"></i>
			</th>
			<td>
				<input type="text" name="mail_update_user_admin_tpl_body" value="{mail_update_user_admin_tpl_body}"
					   size="40"/>
				<input type="hidden" name="config[]" value="mail_update_user_admin_tpl_body"/>
			</td>
		</tr>
	</table>

	<h2 class="acms-admin-admin-title2 "><!--T-->パスワード再発行<!--/T--></h2>
	<table class="adminTable acms-admin-table-admin-edit">
		<tr>
			<th>From<i class="acms-admin-icon-tooltip js-acms-tooltip"
					   data-acms-tooltip="<!--T-->ユーザーに送信されるメールの差出人を指定します。<!--/T-->"></i></th>
			<td>
				<input type="text" name="mail_remind_from" value="{mail_remind_from}" size="60"/>
				<input type="hidden" name="config[]" value="mail_remind_from"/>
			</td>
		</tr>
		<tr>
			<th>To<i class="acms-admin-icon-tooltip js-acms-tooltip"
					 data-acms-tooltip="<!--T-->ユーザーに送信されるメールの宛先を指定します。<!--/T-->"></i></th>
			<td>
				(&nbsp;<!--T-->※パスワード再発行時に入力されたメールアドレスに送信されます<!--/T-->&nbsp;)
			</td>
		</tr>
		<tr>
			<th>Bcc<i class="acms-admin-icon-tooltip js-acms-tooltip"
					  data-acms-tooltip="<!--T-->ユーザーに送信されるメールのBcc（ブラインドカーボンコピー）を指定します。<!--/T-->"></i></th>
			<td>
				<ul class="js-fieldgroup-sortable acms-admin-list-nostyle"><!-- BEGIN mail_remind_bcc:loop -->
					<li class="sortable-item acms-admin-margin-bottom-mini">
						<i class="acms-admin-icon-sort item-handle acms-admin-hide-sp"></i>
						<input type="text" name="mail_remind_bcc[]" value="{mail_remind_bcc}" size="60"/>
						<input type="button" value="<!--T-->削除<!--/T-->"
							   class="item-delete acms-admin-btn-admin acms-admin-btn-admin-danger acms-admin-margin-top-bottom-sp"/>
					</li><!-- END mail_remind_bcc:loop -->
					<li class="sortable-item item-template acms-admin-margin-bottom-mini">
						<i class="acms-admin-icon-sort item-handle acms-admin-hide-sp"></i>
						<input type="text" name="mail_remind_bcc[]" size="60"/>
						<input type="button" value="<!--T-->削除<!--/T-->"
							   class="item-delete acms-admin-btn-admin acms-admin-btn-admin-danger acms-admin-margin-top-bottom-sp"/>
					</li>
					<li>
						<input type="button" value="<!--T-->追加<!--/T-->" class="item-insert acms-admin-btn-admin"/>
					</li>
				</ul>
				<input type="hidden" name="config[]" value="mail_remind_bcc"/>
			</td>
		</tr>
		<tr>
			<th><!--T-->件名テンプレート<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip"
											data-acms-tooltip="<!--T-->ユーザーに送信されるメールの件名のテンプレートの場所を指定します。<!--/T-->"></i>
			</th>
			<td>
				<input type="text" name="mail_remind_tpl_subject" value="{mail_remind_tpl_subject}" size="40"/>
				<input type="hidden" name="config[]" value="mail_remind_tpl_subject"/>
			</td>
		</tr>
		<tr>
			<th><!--T-->本文テンプレート<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip"
											data-acms-tooltip="<!--T-->ユーザーに送信されるメールの本文のテンプレートの場所を指定します。<!--/T-->"></i>
			</th>
			<td>
				<input type="text" name="mail_remind_tpl_body" value="{mail_remind_tpl_body}" size="40"/>
				<input type="hidden" name="config[]" value="mail_remind_tpl_body"/>
			</td>
		</tr>
	</table>

	<h2 class="acms-admin-admin-title2 "><!--T-->コメント<!--/T--></h2>
	<table class="adminTable acms-admin-table-admin-edit">
		<tr>
			<th>From <i class="acms-admin-icon-tooltip js-acms-tooltip"
						data-acms-tooltip="<!--T-->管理者宛に送信されるメールの差出人を指定します。<!--/T-->"></i></th>
			<td>
				<input type="text" name="mail_comment_from" value="{mail_comment_from}" size="60"/>
				<input type="hidden" name="config[]" value="mail_comment_from"/>
			</td>
		</tr>
		<tr>
			<th>To <i class="acms-admin-icon-tooltip js-acms-tooltip"
					  data-acms-tooltip="<!--T-->管理者宛に送信されるメールの宛先を指定します。<!--/T-->"></i></th>
			<td>
				<input type="text" name="mail_comment_to" value="{mail_comment_to}" size="60"/>
				<input type="hidden" name="config[]" value="mail_comment_to"/>
			</td>
		</tr>
		<tr>
			<th>Bcc <i class="acms-admin-icon-tooltip js-acms-tooltip"
					   data-acms-tooltip="<!--T-->管理者宛に送信されるメールのBcc（ブラインドカーボンコピー）を指定します。<!--/T-->"></i></th>
			<td>
				<ul class="js-fieldgroup-sortable acms-admin-list-nostyle"><!-- BEGIN mail_comment_bcc:loop -->
					<li class="sortable-item acms-admin-margin-bottom-mini">
						<i class="acms-admin-icon-sort item-handle acms-admin-hide-sp"></i>
						<input type="text" name="mail_comment_bcc[]" value="{mail_comment_bcc}" size="60"/>
						<input type="button" value="<!--T-->削除<!--/T-->"
							   class="item-delete acms-admin-btn-admin acms-admin-btn-admin-danger acms-admin-margin-top-bottom-sp"/>
					</li><!-- END mail_comment_bcc:loop -->
					<li class="sortable-item item-template acms-admin-margin-bottom-mini">
						<i class="acms-admin-icon-sort item-handle acms-admin-hide-sp"></i>
						<input type="text" name="mail_comment_bcc[]" size="60"/>
						<input type="button" value="<!--T-->削除<!--/T-->"
							   class="item-delete acms-admin-btn-admin acms-admin-btn-admin-danger acms-admin-margin-top-bottom-sp"/>
					</li>
					<li>
						<input type="button" value="<!--T-->追加<!--/T-->" class="item-insert acms-admin-btn-admin"/>
					</li>
				</ul>
				<input type="hidden" name="config[]" value="mail_comment_bcc"/>
			</td>
		</tr>
		<tr>
			<th><!--T-->件名テンプレート<!--/T--> <i class="acms-admin-icon-tooltip js-acms-tooltip"
											 data-acms-tooltip="<!--T-->管理者宛に送信されるメールの件名のテンプレートの場所を指定します。<!--/T-->"></i>
			</th>
			<td>
				<input type="text" name="mail_comment_tpl_subject" value="{mail_comment_tpl_subject}" size="40"/>
				<input type="hidden" name="config[]" value="mail_comment_tpl_subject"/>
			</td>
		</tr>
		<tr>
			<th><!--T-->本文テンプレート<!--/T--> <i class="acms-admin-icon-tooltip js-acms-tooltip"
											 data-acms-tooltip="<!--T-->管理者宛に送信されるメールの本文のテンプレートの場所を指定します。<!--/T-->"></i>
			</th>
			<td>
				<input type="text" name="mail_comment_tpl_body" value="{mail_comment_tpl_body}" size="40"/>
				<input type="hidden" name="config[]" value="mail_comment_tpl_body"/>
			</td>
		</tr>
	</table>

	<h2 class="acms-admin-admin-title2 "><!--T-->承認<!--/T--></h2>
	<table class="adminTable acms-admin-table-admin-edit">
		<tr>
			<th>From <i class="acms-admin-icon-tooltip js-acms-tooltip"
						data-acms-tooltip="<!--T-->承認者宛に送信されるメールの差出人を指定します。<!--/T-->"></i></th>
			<td>
				<input type="text" name="mail_approval_from" value="{mail_approval_from}" size="60"/>
				<input type="hidden" name="config[]" value="mail_approval_from"/>
			</td>
		</tr>
		<tr>
			<th>To <i class="acms-admin-icon-tooltip js-acms-tooltip"
					  data-acms-tooltip="<!--T-->承認者宛に送信されます。<!--/T-->"></i></th>
			<td>
				<!--<input type="text" name="mail_approval_to" value="{mail_approval_to}" size="60" />
				<input type="hidden" name="config[]" value="mail_approval_to" />-->
				( <!--T-->※承認者宛のメールアドレスに送信されます<!--/T--> )
			</td>
		</tr>
		<tr>
			<th>Bcc <i class="acms-admin-icon-tooltip js-acms-tooltip"
					   data-acms-tooltip="<!--T-->承認者宛に送信されるメールのBcc（ブラインドカーボンコピー）を指定します。<!--/T-->"></i></th>
			<td>
				<ul class="js-fieldgroup-sortable acms-admin-list-nostyle"><!-- BEGIN mail_approval_bcc:loop -->
					<li class="sortable-item acms-admin-margin-bottom-mini">
						<i class="acms-admin-icon-sort item-handle acms-admin-hide-sp"></i>
						<input type="text" name="mail_approval_bcc[]" value="{mail_approval_bcc}" size="60"/>
						<input type="button" value="<!--T-->削除<!--/T-->"
							   class="item-delete acms-admin-btn-admin acms-admin-btn-admin-danger acms-admin-margin-top-bottom-sp"/>
					</li><!-- END mail_approval_bcc:loop -->
					<li class="sortable-item item-template acms-admin-margin-bottom-mini">
						<i class="acms-admin-icon-sort item-handle acms-admin-hide-sp"></i>
						<input type="text" name="mail_approval_bcc[]" size="60"/>
						<input type="button" value="<!--T-->削除<!--/T-->"
							   class="item-delete acms-admin-btn-admin acms-admin-btn-admin-danger acms-admin-margin-top-bottom-sp"/>
					</li>
					<li>
						<input type="button" value="<!--T-->追加<!--/T-->" class="item-insert acms-admin-btn-admin"/>
					</li>
				</ul>
				<input type="hidden" name="config[]" value="mail_approval_bcc"/>
			</td>
		</tr>
		<tr>
			<th><!--T-->件名テンプレート<!--/T--> <i class="acms-admin-icon-tooltip js-acms-tooltip"
											 data-acms-tooltip="<!--T-->承認者宛に送信されるメールの件名のテンプレートの場所を指定します。<!--/T-->"></i>
			</th>
			<td>
				<input type="text" name="mail_approval_tpl_subject" value="{mail_approval_tpl_subject}" size="40"/>
				<input type="hidden" name="config[]" value="mail_approval_tpl_subject"/>
			</td>
		</tr>
		<tr>
			<th><!--T-->本文テンプレート<!--/T--> <i class="acms-admin-icon-tooltip js-acms-tooltip"
											 data-acms-tooltip="<!--T-->承認者宛に送信されるメールの本文のテンプレートの場所を指定します。<!--/T-->"></i>
			</th>
			<td>
				<input type="text" name="mail_approval_tpl_body" value="{mail_approval_tpl_body}" size="40"/>
				<input type="hidden" name="config[]" value="mail_approval_tpl_body"/>
			</td>
		</tr>
	</table>

	<h2 class="acms-admin-admin-title2 "><!--T-->メールマガジン<!--/T--></h2>
	<table class="adminTable acms-admin-table-admin-edit">
		<tr>
			<th>From<i class="acms-admin-icon-tooltip js-acms-tooltip"
					   data-acms-tooltip="<!--T-->送信されるメールの差出人を指定します。<!--/T-->"></i></th>
			<td>
				<input type="text" name="mail_entry_from[]" value="{mail_entry_from}" size="60"/>
				<input type="hidden" name="config[]" value="mail_entry_from"/>
			</td>
		</tr>
		<tr>
			<th>To<i class="acms-admin-icon-tooltip js-acms-tooltip"
					 data-acms-tooltip="<!--T-->送信されるメールの宛先を指定します。<!--/T-->"></i></th>
			<td>
				<input type="text" name="mail_entry_to[]" value="{mail_entry_to}" size="60"/>
				<input type="hidden" name="config[]" value="mail_entry_to"/>
			</td>
		</tr>
		<tr>
			<th><!--T-->件名テンプレート<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip"
											data-acms-tooltip="<!--T-->送信されるメールの件名になる文章の雛形が記述されているテンプレートファイルの場所を指定します<!--/T-->"></i>
			</th>
			<td>
				<input type="text" name="mail_entry_tpl_subject" value="{mail_entry_tpl_subject}" size="40"/>
				<input type="hidden" name="config[]" value="mail_entry_tpl_subject"/>
			</td>
		</tr>
		<tr>
			<th><!--T-->本文テンプレート（プレーンテキスト）<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip"
													  data-acms-tooltip="<!--T-->送信されるメールのテキスト形式の本文になる文章の雛形が記述されているテンプレートファイルの場所を指定します。<!--/T-->"></i>
			</th>
			<td>
				<input type="text" name="mail_entry_tpl_body_plain" value="{mail_entry_tpl_body_plain}" size="40"/>
				<input type="hidden" name="config[]" value="mail_entry_tpl_body_plain"/>
			</td>
		</tr>
		<tr>
			<th><!--T-->本文テンプレート（HTML）<!--T--><i class="acms-admin-icon-tooltip js-acms-tooltip"
												 data-acms-tooltip="<!--T-->送信されるメールのHTML形式の本文になる文章の雛形が記述されているテンプレートファイルの場所を指定します。<!--T-->"></i>
			</th>
			<td>
				<input type="text" name="mail_entry_tpl_body_html" value="{mail_entry_tpl_body_html}" size="40"/>
				<input type="hidden" name="config[]" value="mail_entry_tpl_body_html"/>
			</td>
		</tr>
		<tr>
			<th><!--T-->一斉同報件数<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip"
										  data-acms-tooltip="<!--T-->一通のメールでBccに指定する登録ユーザーのメールアドレスの最大数です。この数字を大きくし過ぎると、プロバイダによってはスパムと判断されてしまう場合があります。<!--/T-->"></i>
			</th>
			<td>
				<input type="text" name="mail_entry_bcc_limit" value="{mail_entry_bcc_limit}" size="4"/>
				<input type="hidden" name="config[]" value="mail_entry_bcc_limit"/>
			</td>
		</tr>
	</table>

	<h2 class="acms-admin-admin-title2 "><!--T-->アドバンス<!--/T--></h2>
	<table class="adminTable acms-admin-table-admin-edit">
		<tr>
			<th><!--T-->Return-Path指定<!--T--> <i class="acms-admin-icon-tooltip js-acms-tooltip"
												 data-acms-tooltip="<!--T-->メールのReturn-Pathを特定のメールアドレスに指定します。<!--T-->"></i>
			</th>
			<td>
				<input type="text" name="mail_from" value="{mail_from}" size="40"/>
				<input type="hidden" name="config[]" value="mail_from"/>
			</td>
		</tr>
		<tr>
			<th><!--T-->メールヘッダ分割コード<!--/T--> <i class="acms-admin-icon-tooltip js-acms-tooltip"
												data-acms-tooltip="<!--T-->メールヘッダの分割コード（改行コード）を指定します。<自動>で不具合がある場合に設定してください。送信サーバにqmailを利用している場合、LFでないと一部環境で正常にメールが受け取れない可能性があります。<!--/T-->"></i>
			</th>
			<td>
				<select name="mail_header_divider">
					<option value=""><!--T-->自動<!--/T--></option>
					<option value="CRLF" {mail_header_divider:selected#CRLF}>CRLF</option>
					<option value="LF" {mail_header_divider:selected#LF}>LF</option>
				</select>
				<input type="hidden" name="config[]" value="mail_header_divider"/>
			</td>
		</tr>
	</table>

	<!-- BEGIN_MODULE Admin_Rule_Name -->
	<input type="hidden" name="rid" value="{rid}"/><!-- END_MODULE Admin_Rule_Name -->
	<!-- BEGIN_MODULE Admin_Module_Name -->
	<input type="hidden" name="mid" value="{mid}"/><!-- END_MODULE Admin_Module_Name -->
</form>
<!-- END_MODULE Admin_Config -->
