<header class="acms-admin-grid-r">
	<div class="acms-admin-col-md-6">
		<h1 class="acms-admin-admin-title">
			<i class="acms-admin-icon acms-admin-icon-config_theme"></i><!-- BEGIN_MODULE Admin_Rule_Name -->
				<strong><!--T-->ルール<!--/T--> : {name} </strong><!-- END_MODULE Admin_Rule_Name --><!-- BEGIN_MODULE Admin_Module_Name -->
				<strong><!--T-->モジュールID<!--/T--> : {label} ( {identifier} ) </strong><!-- END_MODULE Admin_Module_Name --><!--T-->テーマ設定<!--/T-->
		</h1>
	</div>
	<div class="acms-admin-col-md-6">
		<!--#include file="/admin/topicpath.html"-->
	</div>
</header>

<!-- BEGIN_MODULE Admin_Config -->
<!-- BEGIN_IF [{notice_mess}/nem/] -->
<p class="acms-admin-alert acms-admin-alert-info"><button class="js-acms-alert-close">×</button><!--T-->テーマ設定を保存しました<!--/T--></p><!-- END_IF -->

<!--<p class="infoTxt">テーマとテンプレートを設定します。</p>-->
<form action="" method="post" class="acms-admin-form">
	<div class="js-acms_fix_marker js-acms_fix_target acms_fix_bg">
		<div class="acms_fix_bg_index">
			<a href="{indexUrl}" class="acms-admin-btn-admin"><!--T-->一覧<!--/T--></a>

			<input type="submit" name="ACMS_POST_Config" value="<!--T-->保存<!--/T-->" class="acms-admin-btn-admin acms-admin-btn-admin-primary acms-admin-btn-admin-save" />
			<!--#include file="/admin/config/action.html" -->

			<!-- BEGIN_MODULE Touch_SessionWithAdministration --><a href="{shortcutUrl}" class="acms-admin-btn-admin acms-admin-float-right acms-admin-float-none-sp"><i class="acms-admin-icon acms-admin-icon-shortcut"></i><!--T-->ショートカットに追加<!--/T--></a><!-- END_MODULE Touch_SessionWithAdministration -->
		</div>
	</div>

	<!-- BEGIN_MODULE Admin_Config_Theme -->
	<h2 class="acms-admin-admin-title2"><!--T-->テーマ<!--/T--></h2>
	<table class="adminTable acms-admin-table-admin-edit">
		<tr>
			<th><!--T-->テーマ ディレクトリ名<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->適用されるテーマのディレクトリ名です。「a-blog cms設置ディレクトリ/themes/」以下のディレクトリになります。<!--/T-->"></i></th>
			<td>
				<select name="theme" id="js-select_theme_action"><!-- BEGIN theme:loop -->
					<option value="{name}"{selected} id="{key}">{name}</option><!-- END theme:loop -->
				</select>
				<input type="hidden" name="config[]" value="theme" />
				<input type="hidden" name="theme:validator#required" id="validator-theme-required" />
				<div role="alert" aria-live="assertive">
					<div data-validator-label="validator-theme-required" class="validator-result-{theme:validator#required}">
						<p class="error-text"><span class="acms-admin-icon acms-admin-icon-attention" aria-hidden="true"></span><!--T-->テーマが指定されていません。<!--/T--></p>
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<th><!--T-->テンプレート設定<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->チェックがついている場合テーマディレクトリ直下のtemplate.yamlファイルのテンプレートを優先して読む込みます。（template.yamlは継承されます）<!--/T-->"></i></th>
			<td>
				<div class="acms-admin-form-checkbox">
					<input type="checkbox" name="load_yaml_tpl" value="on"\{load_yaml_tpl:checked#on\} id="loadYamlTpl"/>
					<label for="loadYamlTpl"><i class="acms-admin-ico-checkbox"></i><!--T-->テンプレート選択ファイル（template.yaml）の値を優先する<!--/T--></label>
				</div>
				<input type="hidden" name="config[]" value="load_yaml_tpl" />
			</td>
		</tr>
	</table>

	<h2 class="acms-admin-admin-title2"><!--T-->template.yamlファイル<!--/T--></h2><!-- BEGIN template:loop -->
	<div class="tplYamlTable {js-load_hide_box} js-theme_{key} table">
		<table class="adminTable acms-admin-table-admin-edit"><!-- BEGIN tpl_top:veil -->
			<tr>
				<th><!--T-->トップページ<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->そのサイト（ブログ）のトップページにアクセスした際に適用されるテンプレートファイルです。<!--/T-->"></i></th>
				<td>{tpl_top}</td>
			</tr><!-- END tpl_top:veil --><!-- BEGIN tpl_index:veil -->
			<tr>
				<th><!--T-->一覧ページ<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->カテゴリーのトップページで複数のエントリーを一覧表示する際に適用されるテンプレートファイルです。<!--/T-->"></i></th>
				<td>{tpl_index}</td>
			</tr><!-- END tpl_index:veil --><!-- BEGIN tpl_detail:veil -->
			<tr>
				<th><!--T-->詳細ページ<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->個別のエントリーを表示する際に適用されるテンプレートファイルです。<!--/T-->"></i></th>
				<td>{tpl_detail}</td>
			</tr><!-- END tpl_detail:veil --><!-- BEGIN tpl_404:veil -->
			<tr>
				<th><!--T-->エラーページ(404 Not Found)<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->存在しないURLにアクセスした際に適用されるテンプレートファイルです。<!--/T-->"></i></th>
				<td>{tpl_404}</td>
			</tr><!-- END tpl_404:veil --><!-- BEGIN tpl_admin:veil -->
			<tr>
				<th><!--T-->管理ページ<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->管理ページ（このページなど）を表示する際に適用されるテンプレートファイルです。<!--/T-->"></i></th>
				<td>{tpl_admin}</td>
			</tr><!-- END tpl_admin:veil --><!-- BEGIN tpl_entry_edit:veil -->
			<tr>
				<th><!--T-->エントリー編集ページ<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->エントリーを投稿・編集する際に適用されるテンプレートファイルです。<!--/T-->"></i></th>
				<td>{tpl_entry_edit}</td>
			</tr><!-- END tpl_entry_edit:veil --><!-- BEGIN tpl_entry_add:veil -->
			<tr>
				<th><!--T-->ユニット追加ページ<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->エントリーにユニットを追加する際に適用されるテンプレートファイルです。<!--/T-->"></i></th>
				<td>{tpl_entry_add}</td>
			</tr><!-- END tpl_entry_add:veil --><!-- BEGIN tpl_login:veil -->
			<tr>
				<th><!--T-->ログインページ<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->「設置URL/login/」で表示されるログインページに適用されるテンプレートファイルです。<!--/T-->"></i></th>
				<td>{tpl_login}</td>
			</tr><!-- END tpl_login:veil -->
		</table><!-- BEGIN not_found:veil -->
		<p class="warning"><!--T--><!--$1-->{not_found}<!--/$1-->テーマにtemplate.yamlが設置されていません。<!--/T--></p><!-- END not_found:veil -->
	</div><!-- END template:loop -->
	<!-- END_MODULE Admin_Config_Theme -->

	<h2 class="acms-admin-admin-title2"><!--T-->テンプレートファイル<!--/T--></h2>
	<table class="adminTable acms-admin-table-admin-edit">
		<tr>
			<th><!--T-->トップページ<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->そのサイト（ブログ）のトップページにアクセスした際に適用されるテンプレートファイルです。<!--/T-->"></i></th>
			<td>
				<input type="text" name="tpl_top" value="{tpl_top}" size="20" />
				<input type="hidden" name="config[]" value="tpl_top" />
			</td>
		</tr>
		<tr>
			<th><!--T-->一覧ページ<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->カテゴリーのトップページで複数のエントリーを一覧表示する際に適用されるテンプレートファイルです。<!--/T-->"></i></th>
			<td>
				<input type="text" name="tpl_index" value="{tpl_index}" size="20" />
				<input type="hidden" name="config[]" value="tpl_index" />
			</td>
		</tr>
		<tr>
			<th><!--T-->詳細ページ<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->個別のエントリーを表示する際に適用されるテンプレートファイルです。<!--/T-->"></i></th>
			<td>
				<input type="text" name="tpl_detail" value="{tpl_detail}" size="20" />
				<input type="hidden" name="config[]" value="tpl_detail" />
			</td>
		</tr>
		<tr>
			<th><!--T-->エラーページ(404 Not Found)<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->存在しないURLにアクセスした際に適用されるテンプレートファイルです。<!--/T-->"></i></th>
			<td>
				<input type="text" name="tpl_404" value="{tpl_404}" size="20" />
				<input type="hidden" name="config[]" value="tpl_404" />
			</td>
		</tr>
		<tr>
			<th><!--T-->管理ページ<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->管理ページ（このページなど）を表示する際に適用されるテンプレートファイルです。<!--/T-->"></i></th>
			<td>
				<input type="text" name="tpl_admin" value="{tpl_admin}" size="20" />
				<input type="hidden" name="config[]" value="tpl_admin" />
			</td>
		</tr>
		<tr>
			<th><!--T-->エントリー編集ページ<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->エントリーを投稿・編集する際に適用されるテンプレートファイルです。<!--/T-->"></i></th>
			<td>
				<input type="text" name="tpl_entry_edit" value="{tpl_entry_edit}" size="20" />
				<input type="hidden" name="config[]" value="tpl_entry_edit" />
			</td>
		</tr>
		<tr>
			<th><!--T-->ユニット追加ページ<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->エントリーにユニットを追加する際に適用されるテンプレートファイルです。<!--/T-->"></i></th>
			<td>
				<input type="text" name="tpl_entry_add" value="{tpl_entry_add}" size="20" />
				<input type="hidden" name="config[]" value="tpl_entry_add" />
			</td>
		</tr>
		<tr>
			<th><!--T-->ログインページ<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->「設置URL/login/」で表示されるログインページに適用されるテンプレートファイルです。<!--/T-->"></i></th>
			<td>
				<input type="text" name="tpl_login" value="{tpl_login}" size="20" />
				<input type="hidden" name="config[]" value="tpl_login" />
			</td>
		</tr>
	</table>
	<!-- BEGIN_MODULE Admin_Rule_Name -->
	<input type="hidden" name="rid" value="{rid}" /><!-- END_MODULE Admin_Rule_Name --><!-- BEGIN_MODULE Admin_Module_Name -->
	<input type="hidden" name="mid" value="{mid}" /><!-- END_MODULE Admin_Module_Name -->
</form>
<!-- END_MODULE Admin_Config -->
