<header class="acms-admin-grid-r">
	<div class="acms-admin-col-md-6">
		<h1 class="acms-admin-admin-title">
			<i class="acms-admin-icon acms-admin-icon-config_unit"></i><!-- BEGIN_MODULE Admin_Rule_Name -->
				<strong><!--T-->ルール<!--/T--> : {name} </strong><!-- END_MODULE Admin_Rule_Name --><!-- BEGIN_MODULE Admin_Module_Name -->
				<strong><!--T-->モジュールID<!--/T--> : {label} ( {identifier} ) </strong><!-- END_MODULE Admin_Module_Name --><!--T-->ユニット設定<!--/T-->
		</h1>
	</div>
	<div class="acms-admin-col-md-6">
		<!--#include file="/admin/topicpath.html"-->
	</div>
</header>

<!-- BEGIN_MODULE Admin_Config -->
<!-- BEGIN_IF [{notice_mess}/nem/] -->
<p class="acms-admin-alert acms-admin-alert-info"><button class="js-acms-alert-close">×</button><!--T-->ユニット設定を保存しました<!--/T--></p><!-- END_IF -->

<form action="" method="post" class="acms-admin-form">
	<div class="js-acms_fix_marker js-acms_fix_target acms_fix_bg">
		<div class="acms_fix_bg_index acms-admin-form-group">
			<a href="{indexUrl}" class="acms-admin-btn-admin"><!--T-->一覧<!--/T--></a>

			<input type="submit" name="ACMS_POST_Config" value="<!--T-->保存<!--/T-->" class="acms-admin-btn-admin acms-admin-btn-admin-primary acms-admin-btn-admin-save" />
			<!--#include file="/admin/config/action.html" -->

			<!-- BEGIN_MODULE Touch_SessionWithAdministration --><a href="{shortcutUrl}" class="acms-admin-btn-admin acms-admin-float-right acms-admin-float-none-sp"><i class="acms-admin-icon acms-admin-icon-shortcut"></i><!--T-->ショートカットに追加<!--/T--></a><!-- END_MODULE Touch_SessionWithAdministration -->
		</div>
	</div>
	
	<!-- BEGIN Config_Column -->
	<!-- BEGIN mode:loop -->
	<div class="acms-admin-unitbox">
		<div class="panel-heading clearfix ">
			<h2 class="acms-admin-unitbox-title"><span class="acms-admin-label"><!--T-->{mode}<!--/T--></span></h2>
		</div>
		<div class="panel-body column-definition-wrapper ui-sortable">

			<p class="columnVeil">
				<!-- BEGIN add_type:loop -->
				<a class="{modePrefix.type}-{type}" href="#"><button class="acms-admin-btn-admin"><!--T-->{label}<!--/T--></button></a>
				<!-- END add_type:loop -->
			</p>
			<hr class="clearHidden" />
			<!-- BEGIN loop -->
			<!--#include file="/admin/config/column-definition.html"--><!-- END loop -->
			<input type="hidden" name="config[]" value="{modePrefix}type" />
			<input type="hidden" name="config[]" value="{modePrefix}align" />
			<input type="hidden" name="config[]" value="{modePrefix}group" />
			<input type="hidden" name="config[]" value="{modePrefix}class" />
			<input type="hidden" name="config[]" value="{modePrefix}size" />
			<input type="hidden" name="config[]" value="{modePrefix}edit" />
			<input type="hidden" name="config[]" value="{modePrefix}field_1" />
			<input type="hidden" name="config[]" value="{modePrefix}field_2" />
			<input type="hidden" name="config[]" value="{modePrefix}field_3" />
			<input type="hidden" name="config[]" value="{modePrefix}field_4" />
			<input type="hidden" name="config[]" value="{modePrefix}field_5" />
		</div>
	</div>
	<!-- END mode:loop -->
	<!-- END Config_Column --><!-- BEGIN_MODULE Admin_Rule_Name -->
	<input type="hidden" name="rid" value="{rid}" /><!-- END_MODULE Admin_Rule_Name --><!-- BEGIN_MODULE Admin_Module_Name -->
	<input type="hidden" name="mid" value="{mid}" /><!-- END_MODULE Admin_Module_Name -->
</form>
<!-- END_MODULE Admin_Config -->