
<h2 class="acms-admin-admin-title2">ポートフォリオ用エントリー</h2>
<table class="acms-admin-table-admin-edit">
    <tr>
        <th>一覧用作品画像 ※ 必須</th>
        <td>
            <!-- BEGIN workImage@path:veil -->
            
              <img src="%{ARCHIVES_DIR}{workImage@path}[resizeImg(350)]"/>

            <input type="hidden" name="workImage@old" value="{workImage@path}" /><br />
            <label class="acms-admin-form-checkbox">
                <input type="checkbox" name="workImage@edit" value="delete" />
                <i class="acms-admin-ico-checkbox"></i> 削除
            </label>
            <!-- END workImage@path:veil -->
            <input type="file" name="workImage" size="20" /><br />
            <input type="hidden" name="field[]" value="workImage" />
            <input type="hidden" name="workImage:extension" value="image" />
            <input type="hidden" name="workImage@filename" value="" />
        </td>
    </tr>
    <tr>
        <th>エントリー作品画像1</th>
        <td class="js-img_resize_cf">
            <!-- BEGIN_IF [{entryworkImage@path}/em] -->
            <img src="" style="display:none;" class="js-img_resize_preview"/>
            <!-- END_IF -->
            <!-- BEGIN entryworkImage@path:veil -->
            <img src="%{ARCHIVES_DIR}{entryworkImage@path}" class="js-img_resize_preview"/>
            <input type="hidden" name="entryworkImage@old" value="{entryworkImage@path}" /><br />
            <label class="acms-admin-form-checkbox">
                <input type="checkbox" name="entryworkImage@edit" value="delete" />
                <i class="acms-admin-ico-checkbox"></i> 削除
            </label>
            <!-- END entryworkImage@path:veil -->
            <input type="file" name="entryworkImage" size="20" class="js-img_resize_input" /><br />
            <input type="hidden" name="field[]" value="entryworkImage" />
            <input type="hidden" name="entryworkImage:extension" value="image" />
            <input type="hidden" name="entryworkImage@filename" value="" />
        </td>
    </tr>
    <tr>
        <th>エントリー作品画像2</th>
        <td class="js-img_resize_cf">
            <!-- BEGIN_IF [{entryworkImage2@path}/em] -->
            <img src="" style="display:none;" class="js-img_resize_preview"/>
            <!-- END_IF -->
            <!-- BEGIN entryworkImage2@path:veil -->
            <img src="%{ARCHIVES_DIR}{entryworkImage2@path}" class="js-img_resize_preview"/>
            <input type="hidden" name="entryworkImage2@old" value="{entryworkImage2@path}" /><br />
            <label class="acms-admin-form-checkbox">
                <input type="checkbox" name="entryworkImage2@edit" value="delete" />
                <i class="acms-admin-ico-checkbox"></i> 削除
            </label>
            <!-- END entryworkImage2@path:veil -->
            <input type="file" name="entryworkImage2" size="20" class="js-img_resize_input" /><br />
            <input type="hidden" name="field[]" value="entryworkImage2" />
            <input type="hidden" name="entryworkImage2:extension" value="image" />
            <input type="hidden" name="entryworkImage2@filename" value="" />
        </td>
    </tr>
    <tr>
        <th>エントリー作品画像3</th>
        <td class="js-img_resize_cf">
            <!-- BEGIN_IF [{entryworkImage3@path}/em] -->
            <img src="" style="display:none;" class="js-img_resize_preview"/>
            <!-- END_IF -->
            <!-- BEGIN entryworkImage3@path:veil -->
            <img src="%{ARCHIVES_DIR}{entryworkImage3@path}" class="js-img_resize_preview"/>
            <input type="hidden" name="entryworkImage3@old" value="{entryworkImage3@path}" /><br />
            <label class="acms-admin-form-checkbox">
                <input type="checkbox" name="entryworkImage3@edit" value="delete" />
                <i class="acms-admin-ico-checkbox"></i> 削除
            </label>
            <!-- END entryworkImage3@path:veil -->
            <input type="file" name="entryworkImage3" size="20" class="js-img_resize_input" /><br />
            <input type="hidden" name="field[]" value="entryworkImage3" />
            <input type="hidden" name="entryworkImage3:extension" value="image" />
            <input type="hidden" name="entryworkImage3@filename" value="" />
        </td>
    </tr>
</table>

<table class="acms-admin-table-admin-edit">
    <tr>
        <th>制作期間</th>
        <td>
            <input type="text" name="period" value="{period}" class="acms-admin-form-width-half"/>
            <input type="hidden" name="field[]" value="period" />
        </td>
    </tr>
    <tr>
        <th>使用技術</th>
        <td>
            <input type="text" name="technology" value="{technology}" class="acms-admin-form-width-half"/>
            <input type="hidden" name="field[]" value="technology" />
        </td>
    </tr>
    <tr>
        <th>使用ソフト</th>
        <td>
            <input type="text" name="soft" value="{soft}" class="acms-admin-form-width-half"/>
            <input type="hidden" name="field[]" value="soft" />
        </td>
    </tr>
    <tr>
        <th>担当部分</th>
        <td>
            <input type="text" name="res" value="{res}" class="acms-admin-form-width-half"/>
            <input type="hidden" name="field[]" value="res" />
        </td>
    </tr>
    <tr>
        <th>リンクURL</th>
        <td>
            <input type="text" name="worksLink" value="{worksLink}" class="acms-admin-form-width-full"/>
            <input type="hidden" name="field[]" value="worksLink" />
        </td>
    </tr>
    <tr>
        <th>概要</th>
        <td>
            <textarea name="aboutText" class="acms-admin-form-width-full">{aboutText}</textarea>
            <input type="hidden" name="field[]" value="aboutText" />
        </td>
    </tr>
    <tr>
		<th>リンクテキスト</th>
		<td>
			<input type="text" name="worksLinkText" value="{worksLinkText}" class="acms-admin-form-width-full"/>
			<input type="hidden" name="field[]" value="worksLinkText" />
		</td>
	</tr>
</table>
<h2 class="acms-admin-admin-title2">写真用エントリー詳細</h2>
<table class="acms-admin-table-admin-edit">
    <tr>
        <th>撮影時期</th>
        <td>
            <input type="text" name="photoDate" value="{photoDate}" class="acms-admin-form-width-half"/>
            <input type="hidden" name="field[]" value="photoDate" />
        </td>
    </tr>
    <tr>
        <th>撮影場所</th>
        <td>
            <input type="text" name="photoPlace" value="{photoPlace}" class="acms-admin-form-width-full"/>
            <input type="hidden" name="field[]" value="photoPlace" />
        </td>
    </tr>
</table>

