@media screen and (max-width: 991px){

    #contents{
        width:100%;
    }

    /*----------header----------*/

    .header_top{
        height:46px;
    }


    .link_profile{
        display:none;
    }

    /**/

    #hum_menu{
        display: inherit;
    }

    .header_top .home{
        margin-top:1%;
    }

    /*side_manu*/


    .side_menu{
        display: none;
    }


    /*top*/

    .blog_contents,.blog .top_img{
        width:100%;
    }

    .blog{
        width:98%;
        float:none;
    }

    .blog figure{
        width:112%;
    }

    .blog figcaption{
        padding-top:20%;

    }


    /*single*/

    #contents-single{
        width:100%;
        margin-top:26px;
    }


    .blog-single{
        margin-right:0;
    }

    /*page*/

    .page{
        margin-right:5%;
    }

    .prev{
        margin-right:94%;
    }

    .page_next{
        margin:0;
    }


    /*------------footer----------*/

    .footer{
        height:400px;
    }

    .footer_images{
        height:120%;
    }

    #profile{
        display: none;
    }


    /*----page-------------*/

    .page{
        margin-right: 15%;
    }



    /*----------comment--------*/

    .comment h3{
        font-size: 1.785em;
        color: #fff;
        background-color: #000;
        font-weight: normal;
        margin-top: 5%;
        margin-bottom:3%;
        padding: 10px 0 10px 10px;
        width:97.5%;
    }

    .comm{
        width:80%;
        padding: 1.25%;
        margin: 1.5% 5%;
        border-radius: 8px;
        font-size: 1.285em;
    }

    .comment_inner{
        margin-left:5%;
    }

    .comment label{
        padding-left:5%;
    }


    .comment_btn{
        margin-right:-10%;
    }


    .social{
        margin-right:15%;
    }

}


/**************************/

@media screen and (max-width: 767px){

    .container{
        width: 85%;
        margin: 0 auto;
    }

    #contents{
        margin-top:26px;
        overflow: hidden;
    }

    /*----------------header----------------*/


    .header_top .header_share-btn{
        margin: 5px 0 0 34px;
    }


    .twitter img{
        margin-top: 8%;
    }

    .header_top .link{
        margin-top: 10px;
    }

    .header_bottom{
        background-size:250%;
        height:300px;
    }


    #mikiTitle{
        width:25%;
        padding-top: 110px;
    }

    .header_bottom p{
        width:75%;
        margin-top: 19%;
        margin-left:13%;
        padding-bottom:0;
        font-size:0.85em;
    }

    /*---------------hum----------------*/

    .hum{
        display: inline-block;
        position:absolute;
        right:5%;
        top:18%;
    }


    #hum_menu{
        display: none;
    }

    #hum_menu .form{
        position:relative;
        width:100%;
        margin-top:10px;
    }

    #hum_menu #keywords{
        width:75%;
    }


    #hum_menu #searchform{
        width:95%;
        float:left;
        margin-bottom:2%;
    }

    #hum_menu #searchBtn{
        position:absolute;
    }

    #hum_menu .dropdown ul{
        padding:5% 0;
    }


    #hum_menu .hum_list{
        float:none;
        width:100%;
    }


    #hum_menu .hum_profile{
        width:100%;
    }

    #mikiTitle{
        display: none;
    }

    .title{
        display: block;
    }

    /*-------------blog---------------*/

    /*-----------blog TOP--------------*/

    /*----------blog SINGLE----------*/

    .blog-single{
        width:97%;
    }


    blog_inner-single li{
        font-size:10px;
    }

/*comment*/
    
    .reset{
        width:60%;
    }

    .comment_submit{
        width:80%;
        text-align: center;
        padding-bottom: 2%;
        margin-left: 10%;
    }

    .blog-single .comment .form .comment_btn{
        float: none;
        width:100%;
        margin-bottom:2%;
    }

    .blog-single .comment .form .comment_btn li{
        display: none;
        float: left;
    }
    
    /*-----------page--------------*/

    .page{
        margin-right: 8%;
    }


    /*----------footer------------*/


    .footer{
        background-size:200%;
        height:300px;
    }

    .footer_images{
        height:100%;
    }

    small{
        font-size:0.7em;
        left:40%;
    }


    .arrow{
        width:50px;
    }

    .social{
        width:80%;
        margin-top:10%;
        margin-right: 0;
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
        -moz-transform: scale(1.0);
    }

    .fb-like{
        margin: 0 5%;
    }




    /*comment*/

    .comment_inner{
        margin-left: 10%;
    }


    .comment label{
        padding-left:3%;
    }

}