/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

/*リセット*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

body {
line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
display:block;
}

nav ul {
list-style:none;
}

blockquote, q {
quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
content:'';
content:none;
}

a {
margin:0;
padding:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

/* change colours to suit your needs */
ins {
background-color:#ff9;
color:#000;
text-decoration:none;
}

/* change colours to suit your needs */
mark {
background-color:#ff9;
color:#000; 
font-style:italic;
font-weight:bold;
}

del {
text-decoration: line-through;
}

abbr[title], dfn[title] {
border-bottom:1px dotted;
cursor:help;
}

table {
border-collapse:collapse;
border-spacing:0;
}

/* change border colour to suit your needs */
hr {
display:block;
height:1px;
border:0;   
border-top:1px solid #cccccc;
margin:1em 0;
padding:0;
}

input, select {
vertical-align:middle;
}




/*ブログ*/
/*body*/

body{
    font-family:  "Ludica Sans Unicode","メイリオ", "Meiryo", sans-serif;
    height: 100%;
    line-height: 1.5;
    font-size:14px;
    color:#383838;
}

.container{
    width: 75%;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color:#000;
}

ul{
    list-style-type: none;
}


#contents{
    margin-top: 34px;
}


h4{
    color: #FFF;
    background-color: #000;
    border-radius: 8px;
    padding-left: 5%;
    margin-bottom: 5%;
}

strong{
    color:#FE2E64;
}


/*ローディング*/


#loading{
    position:absolute;
    left:50%;
    top:20%;
    margin-left:-30px;
}

#loader-bg {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #FFF;
    z-index: 1;
}



/*header*/

.title{
    display: none;
    padding-top:140px;
    width:270px;
    margin:0 auto;
}


.header_top{
    background-color: #000;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.header_top .header_share-btn{
    float: left;
    margin: 0.2% 0 0 34px;
    padding-top:0.3%;
}


.tweet img{
    margin-top: 5%;
}

.header_top .link{
    color: #fff;
    padding-right: 34px;
    font-size:1.142em;
}

.header_top ul{
    margin-top:-2.5%;
    padding-bottom:1%;
}

.header_top li{
    float:left;
}

.header_bottom{
    background-position:  center center ;
    background-repeat:  no-repeat;
    background-size: cover;
}

.img_title{
    display: block;
    padding-top: 140px;
    margin: 0 auto;
    width:20px;
}


#mikiTitle{
    display: block;
    padding-top: 150px;
    margin: 0 auto;
}

.header_bottom p{
    width:55%;
    color: #fff;
    margin:0 auto;
    margin-top: 10%;
    padding:1.5% 2% 1.5% 2%;
    font-size:1.142em;
    text-align: center;
    background-color:rgba(136,136,136,0.6);
    border-radius: 30px;
}

.profile{
    float: right;
    margin: 0;
    margin-top: 0.7%;
    background-color: #888;
}

/*hum*/

#hum_menu{
    display: none;
}

.profile_dropdown,.dropdown_category,.dropdown_archive,.dropdown_tag{
    display: none;
}

#hum_menu .dropdown ul{
    padding-top:5%;
}

#hum_menu ul{
    width:100%;
}

#hum_menu .hum_list{
    float:left;
    font-size:1.1428em;
    width:14%;
}


#hum_menu .hum_title{
    clear: both;
    background-color:#888;
    color:#fff;
    padding:5px;
    font-size:1.142em;
}


#hum_menu .hum_profile{
    width:30%;
}

.hum_profile .pf_img{
    width:30%;
    margin:5%;
    margin-top:0;
}

#hum_menu li{
    text-align:center;
}

#hum_menu .hum_social li{
    margin:4% 0;
    margin-left:10%;
    text-align:left;
}



#hum_menu .hum_profile p em{
    font-style:normal;
    font-weight:bold;
}

#hum_menu .hum_profile p{
    text-align:left;
}

#hum_menu .hum_social img{
    width:7%;
    margin-right:5%;
}

#hum_menu .form{
    float:right;
    padding-right:6%;
}

#hum_menu form{
    width:118%;
    margin-top:3.5%;
    position:relative;
}


#hum_menu form:hover{
    background-color: #fff;
    
}


#hum_menu .select:hover{
    background-color: #01A1E7;
    color:#fff;
    cursor: pointer;
}

#hum_menu li:hover{
    background-color: #01A1E7;
    color:#fff;
    cursor: pointer;
}


#hum_menu .profile_dropdown li:hover{
    background-color:#FFF;
    color:#000;
}

form #searchBtn{
    position: absolute;
    top: 0;
}

.menu-trigger,
.menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
}
.menu-trigger {
    position: relative;
    width: 50px;
    height: 44px;
}
.menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
}
.menu-trigger span:nth-of-type(1) {
    top: 0;
}
.menu-trigger span:nth-of-type(2) {
    top: 20px;
}
.menu-trigger span:nth-of-type(3) {
    bottom: 0;
}

.hum{
    display: none;
    background-color:#333;
    padding:2%;
    border-radius: 15%;
}

/*css animation*/

.menu-trigger.active span:nth-of-type(1) {
    -webkit-transform: translateY(20px) rotate(-315deg);
    transform: translateY(20px) rotate(-315deg);
}
.menu-trigger.active span:nth-of-type(2) {
    opacity: 0;
}
.menu-trigger.active span:nth-of-type(3) {
    -webkit-transform: translateY(-20px) rotate(315deg);
    transform: translateY(-20px) rotate(315deg);
}



/*blog-contents*/


/*top page*/

.blog-single table{
    margin:5%;
}

.blog-single table,tr,th,td{
    border: 1px solid #888;
    padding:10px;
    font-size:1.0714em;
}

.blog-single th{
    text-align: center;
    vertical-align: middle;
}

.blog-single th{
    background-color:#F2F2F2;
}




.blog_contents{
    float: left;
    width: 78%;
}

.blog{
    margin-bottom: 26px;
    border: 5px #eee dotted;
    margin-right: 5%;;
    border-radius: 8px;
    width:43.15%;
    float:left;
}

.blog_inner{
    margin: 20px;
    overflow: hidden;
}

.blog .top_img{
    width: 100%;
    height: 270px;
}

.blog h2{
    margin-top: 5%;
    margin-left: 16px;
    font-size: 24px;
}

.blog time{
    float: right;
}


.blog li{
    float:left;
}

.blog h2,ul{
    clear: both;
    float: right;
}


.blog .next_btn{
    float:right;
    margin-bottom:5%;
}

figure{
    position:relative;
    width:111%;
    overflow: hidden;
}

figcaption{
    padding-top:30%;
    padding-bottom:20%;
    position: absolute;
    top: -200%;
    left:0;
    z-index:2;
    width:91%;
    height:61.5%;
    background-color:rgba(255,255,255,.7);
    -webkit-transition: .3s;
    transition: .3s;
    opacity:1;
}

figure:hover figcaption{
    top:0;
    left:0;
}

.last{
    margin-bottom:0;
}



/*page*/

.page{
    clear: both;
    float: right;
    margin-top: 26px;
    margin-right: 36%;
}


/* contentsNav
------------------------------------------------- */

.contentsNav {
    clear: both;
    margin: 15px 0 30px;
    text-align: center;
    line-height: 1.1;
}

.contentsNav p.cnt {
    font-size: 12px;
    margin-bottom: 0.5em;
}

.contentsNav p.cnt .num {
    position: relative;
    top: 1px;
    font-size: 18px;
    font-weight: bold;
}

contentsNav p.pager {
    letter-spacing: -0.4em;
}

.contentsNav p.pager a,
.contentsNav p.pager span.omission {
    overflow: hidden;
    display: -moz-inline-box;
    display: inline-block;
    width: 1.7em;
    height: 1.6em;
    line-height: 1.6em;
    margin-right: 3px;
    font-size: 16px;
    letter-spacing: normal;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    zoom: 1;
}

.contentsNav p.pager a,
.contentsNav p.pager a:visited {
    background-color: #FFF;
    border: 1px solid #CCC;
    color: #333;
    text-decoration: none;
}

.contentsNav p.pager a:hover,
.contentsNav p.pager a:focus {
    background-color: #DEF;
    border-color: #666;
}
.contentsNav p.pager .cur,
.contentsNav p.pager .cur:visited {
    background-color: #EEE;
    border-color: #666;
    font-weight: bold;
}

.contentsNav p.pager .sep {
    display: none;
}



/*single page*/

#contents-single{
    margin-top:34px;
}

.comment-btn{
    float:right;
    position:absolute;
    bottom:5%;
    right:5%;
}

.blog_contents-single{
    float:left;
    width:78%;
}

.blog-single{
    border:5px #eee dotted;
    border-radius: 8px;
    margin-right:5%;
}

.blog_inner-single{
    margin:16px;
}

.blog-single h1{
    clear: both;
    margin:0;
    margin-top:7%;
    font-size: 2.285em;
    text-align:center;
}

.blog-single h2,h3{
    margin:4% 0 0.5% 0;
    padding:0 0 1.5% 5%;
}

.blog-single h2{
    font-size: 1.642em;
    background-color:#E6E0F8;
    padding-top:2%;
}

.blog-single h3{
    font-size: 1.5em;
    border-bottom:#E6E0F8 dotted 8px;
    padding-bottom:1%;
}

.blog-single h4{
    color:#000;
    background-color:#ccc;
}

.blog_main-single{
    width:100%;
}

.blog_pic-single{
    margin:26px 26px 26px 0;
    float:left;
}

.blog-single time{
    float:right;
    font-size: 1.142em;
}

.blog-single p{
    clear: both;
    padding-top:26px;
    margin:0;
    font-size: 1.1428em;
    line-height: 1.8;
    letter-spacing:0.8pt;
}

.blog-single a{
    color:#D358F7;
    text-decoration: underline;
}

.blog-single a:hover{
    color:#A901DB;
}

.blog-single .blog_inner-single blog-single_title ul{
    width:140px;
    clear: both;
    float:right;
    padding:0;
}


.blog-single .blog_inner-single blog-single_title ul li{
    float:left;
    font-size: 1.142em;
    margin-left:2%;
    font-size:18px;
}


blockquote {
    background-color:#F2F2F2;
    border-left: 7px solid #E6E0F8;
    padding: 20px 10px;
}


.pln{
    margin-left:5%;
}

/*-------------page--------------*/

.blog_page{
    padding-top:40px;
    width:100%;
}

.blog_page li{
    float:right;
    margin:0 8%;
}


/*comment*/


.comment h3{
    font-size: 1.785em;
    color: #fff;
    background-color: #000;
    font-weight: normal;
    margin-top: 5%;
    margin-bottom:3%;
    padding: 10px 0 10px 15px;
    width:97.5%;
    text-align:center;
    border-bottom:none;
}

.comment_inner{
    display: none;
    margin: 0.2%;
}

.comment label{
    overflow: hidden;
    font-size: 1.142em;
    padding-left:10%;
}

.comm{
    width: 70%;
    padding: 1%;
    margin: 1.5% 10%;
    border-radius: 8px;
    font-size:1.0714em;
}


.comment form .comment_btn .reset{
    padding-bottom: 2%;
}

.comment form .comment_btn .comment_submit{
    text-align: center;
    padding-bottom: 2%;
    margin-left: 10%;
}

.comment form .comment_btn{
    float: right;
    margin-bottom:2%;
}

.comment fform .comment_btn li{
    float: left;
}





/*side_menu*/


.side_menu{
    width: 21%;
    float:left;
}

.side_menu h3{
    clear: both;
    font-size: 1.57em;
    padding-top: 34px;
}

.side_menu ul{
    float:left;
    font-size:1.285em;
    padding-top:26px;
}

.side_inner{
    margin: 16px;
}

.side_menu .form{
    position: relative;
}

.side_menu select{
    width:90%;
    font-size:1.428em;
}

#keywords{
    width: 80%;
    height: 100%;
    background: #999;
    border: none;
    padding: 6px;
    color: #fff;
    font-size: 0.875em;
    border-radius: 8px;
}

#keywords:focus{
    outline:0;
}

.side_menu .form #searchBtn{
    position: absolute;
    top: 0;
    left: 85%;
}

#searchBtn:focus{
    outline:0;
}

/*footer*/

.social{
    width: 30%;
    float: right;
    margin-right: 7%;
    padding-bottom:15%;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
}

.twitter-share-button{
    float: left;
}

.fb-like{
    float: left;
    margin: 0 2%;
}

.hatena-bookmark-button{
    float:left;
}


.footer{
    clear: both;
    background-image: url(/themes/BLOG/images/footer_bg2.png);
    background-position:  bottom left ;
    background-repeat:  no-repeat;
    box-sizing: border-box;
    background-size: 30%;
}

.footer_bottom{
    width:100%;
    background-color:#000;
    padding:1% 0;
    margin-top:15%;
}


small{
    color: #FFF;
    text-align:center;
    display:block;
}

.arrow{
    position: fixed;
    bottom: 5%;
    right: 3.5%;
    display: none;
    opacity: 0.5;
}

.arrow:hover{
    opacity: 1;
}

/*profile*/

.profile_inner{
    margin: 4% 4%;
}

#profile{
    background-color: #fefdfd;
    border: 5px #eee dotted;
    width: 45%;
    border-radius: 35px;
    margin-bottom:-10%;
    margin-left:30%;
}

#profile p{
    width: 100%;
    float: left;
    margin-top: -30%;
    margin-bottom:0;
    font-size:1.142em;
}

#profile span{
    font-weight: bold;
    font-size:1.214em;
}

.pf_img{
    width: 100px;
    float: left;
    margin: 0 1% 1% 0;
}

.pf_social{
    float: left;
    width: 45%;
    margin-top: 7.5%;

    font-size:1.285em;
}


.pf_link img{
    width: 9%;
    margin-right: 5%;
}


.skill{
    width: 40%;
    float: right;
    margin:1% 5% 0 5%;
}

#profile .skill ul{
    float: left;
    margin-left: 10%;
    margin-bottom:10%;
    font-size:1.214em;
}



/*レスポンシブ*/

@media screen and (max-width: 991px){

    #contents{
        width:100%;
    }

    /*header*/

    .header_top{
        height:46px;
    }

    .header_top .home{
        margin-top:-10%;
    }
    

    .link_profile{
        display:none;
    }

    
    /**/

    #hum_menu{
        display: inherit;
    }


    /*side_manu*/


    .side_menu{
        display: none;
    }


    /*top*/

    .blog_contents,.blog .top_img{
        width:100%;
    }

    .blog{
        width:98%;
        float:none;
    }

    .blog figure{
        width:112%;
    }

    .blog figcaption{
        padding-top:20%;

    }


    /*single*/

    #contents-single{
        width:100%;
        margin-top:26px;
    }


    .blog-single{
        margin-right:0;
    }


    /*footer*/

    .footer{
        padding-top:15%;
        background-size:30%;
    }
    
    .footer_bottom{
        padding:0.5em 0;
}
    
    #profile{
        display: none;
    }




    /*comment*/

    .comment h3{
        font-size: 1.785em;
        color: #fff;
        background-color: #000;
        font-weight: normal;
        margin-top: 5%;
        margin-bottom:3%;
        padding: 10px 0 10px 10px;
        width:97.5%;
    }

    .comm{
        width:80%;
        padding: 1.25%;
        margin: 1.5% 5%;
        border-radius: 8px;
        font-size: 1.285em;
    }

    .comment_inner{
        margin-left:5%;
    }

    .comment label{
        padding-left:5%;
    }


    .comment_btn{
        margin-right:-10%;
    }


    .social{
        margin-right:15%;
    }

}


/**************************/

@media screen and (max-width: 767px){

    .container{
        width: 85%;
        margin: 0 auto;
    }

    #contents{
        margin-top:26px;
        overflow: hidden;
    }

    /*header*/

    .header_top .header_share-btn{
        margin: 3px 0 0 34px;
    }


    .twitter img{
        margin-top: 8%;
    }


    .header_top .home{
        margin-top:-20%;
    }
    
    
    .header_bottom{
        background-size:250%;
        height:300px;
    }


    #mikiTitle{
        width:25%;
        padding-top: 110px;
    }

    .header_bottom p{
        width:75%;
        margin-top: 19%;
        margin-left:13%;
        margin-bottom:5%;
        padding-bottom:0;
        font-size:0.85em;
    }

    /*hum*/

    .hum{
        display: inline-block;
        position:absolute;
        right:5%;
        top:12%;
    }


    #hum_menu{
        display: none;
    }

    #hum_menu .form{
        position:relative;
        width:100%;
        margin-top:10px;
    }

    #hum_menu #keywords{
        width:75%;
    }


    #hum_menu #searchform{
        width:95%;
        float:left;
        margin-bottom:2%;
    }

    #hum_menu #searchBtn{
        position:absolute;
    }

    #hum_menu .dropdown ul{
        padding:5% 0;
    }


    #hum_menu .hum_list{
        float:none;
        width:100%;
    }


    #hum_menu .hum_profile{
        width:100%;
    }

    #mikiTitle{
        display: none;
    }

    .title{
        display: block;
    }

    /*blog*/

    /*blog TOP*/

    /*blog SINGLE*/

    .blog-single{
        width:97%;
    }


    blog_inner-single li{
        font-size:10px;
    }

/*comment*/
    
    .reset{
        width:60%;
    }

    .comment_submit{
        width:80%;
        text-align: center;
        padding-bottom: 2%;
        margin-left: 10%;
    }

    .blog-single .comment .form .comment_btn{
        float: none;
        width:100%;
        margin-bottom:2%;
    }

    .blog-single .comment .form .comment_btn li{
        display: none;
        float: left;
    }
    
    /*page*/

    .page{
        margin-right: 5%;
    }


    .blog_page{
        padding-top:60px;
        float:left;
    }

    .page_next{
       padding-top:7%;
    }
    
    /*footer*/


    .footer{
        background-size:35%;
    }

    .footer_bottom{
        padding:1em 0;
}


    small{
        font-size:0.7em;
        left:40%;
    }


    .arrow{
        width:50px;
    }

    .social{
        width:80%;
        margin-top:3%;
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
        -moz-transform: scale(1.0);
    }

    .fb-like{
        margin: 0 5%;
    }


}


span.pln{
    margin-left: 0;
}

.linenums{
    padding-left:5%;
}



.entryFormTable{
    border:0;
    text-align:inherit;
    padding:0;
}