<footer class="footer clearfix">

<div class="social">
<!--twitter-->
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://miki-weblog.com" data-text="miki's weblog" data-count="none" data-hashtags="miki-weblog">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<!--facebook-->
<div class="fb-like" data-href="http://miki-weblog.com/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false">
</div>
<div id="fb-root">
</div>
<script>
(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<!--はてぶ-->
<a href="http://b.hatena.ne.jp/entry/http://miki-weblog.com/" class="hatena-bookmark-button" data-hatena-bookmark-title="miki's weblog" data-hatena-bookmark-layout="simple-balloon" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
</div>


    <!-- BEGIN_MODULE Blog_Field -->
<div id="profile" class="clearfix">
    <div class="profile_inner clearfix">
<p>
    <img class="pf_img" src="%{ARCHIVES_DIR}{profileimage@path}"><span>{name}</span><br>{introduction}</p>

<address class="pf_social clearfix">
<ul>
    <li class="pf_link"><a href="https://www.facebook.com/{FaceBook}"><span class="genericon genericon-facebook"></span>{FaceBook}</a></li>
    <li class="pf_link"><a href="https://twitter.com/{Twitter}"><span class="genericon genericon-twitter"></span>{Twitter}</a></li>
    <li class="pf_link"><span class="genericon genericon-mail"></span>{Mail}</li>
</ul>
</address>
    

<div class="skill">
<h4>SKILL</h4>
<ul>
<li>HTML5　　　PhotoShop</li>
<li>CSS　　　　 Illustrator</li>
<li>JavaScript　 Flash</li>
<li>jQuery</li>
</ul>
</div>
</div>
</div>

    <!-- END_MODULE Blog_Field -->

    <!-- BEGIN_MODULE Blog_Field -->

<div class="footer_bottom">
<small>Copyright ©{copy}</small>
</div>

    <!-- END_MODULE Blog_Field -->
    
</footer>



<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-65077120-1', 'auto');
    ga('send', 'pageview');

</script>

