<header class="header">
<div class="header_top clearfix">
<div class="header_share-btn">
   
    <!-- BEGIN_MODULE Blog_Field -->
    
<a class="tweet" href="https://twitter.com/{Twitter}" target=”_blank”>
<img src="../images/twitter.png" alt="ツイッター">
</a>
</div>
<div class="header_share-btn">
    <a class="fb_like" href="https://www.facebook.com/{FaceBook}" target=”_blank”>
<img src="../images/facebook.png" width="35" height="35" alt="フェイスブック">
</a>
</div>
<div class="header_share-btn">
<a class="fb_like" href="https://jp.pinterest.com/{Pinterest}" target=”_blank”>
<img src="../images/Pinterest.png" width="35" height="35" alt="ピンタレスト">
</a>
</div>

<ul>
    <li><a class="link link_profile" href="#profile">PROFILE</a></li>
    <li class="home"><a class="link" href="/">HOME</a></li>
</ul>

</div>


    
<div class="header_bottom">
<div class="container clearfix">
<a href="/"><div id="mikiTitle" class="clearfix"></div></a>
<a href="/"><img src="../images/title.svg" class="title"></a>
<p>{catchcopy}</p>
</div>
    <!-- END_MODULE Blog_Field -->

<div class="hum">
<a class="menu-trigger" href="#">
<span></span>
<span></span>
<span></span>
</a>
</div>
</div>
</header>