<!--

      /￣￣￣￣＼
     ,'　　　ィ.......　　ﾍ　　　　／￣｀`ヽ､_
      '　　 /::::::::::::　　 ',　　 /　　　 ＿　　＼
     ,'　　/.＼::::::::　＿,l　 /　　　／::::::::::::　　〉
      l　　l　　 `‐'''"　　 ./　 　／　l::::::::::::::　/
       ﾍ 　レ''"￣￣￣｀/　 ／　　　 ｀`ヽ､_/
       /´　　　　　　　　　l　 /＼
      /　　　　　　　　　　　　　　 .＼
    ./　　　　　　　　　　　　　　　　　ヽ
    /　 __　　　　　　　　　　　　　　　　ヽ
  ./　 /0l　　　　　　　__　　 　　 　　 　 ',
../　 （__/　　 　　　 .Ｙ0｀Ｙ　　　　　 　　 '
/　　　　　　　　　　　し_丿　　　　　　　　',
|（::）　　　　　　　　　　　　　　　　　　　　 .|
|　　　 ゝ─､＿　　,　　　 （::::::）　 　 　 　/
ﾍ　　　　　　　　￣　　　　　　　　　　　 /
｀ヽ､_　　　　　　　　　　　　　　　,､イ
￣｀`──､､､＿＿,､-'""


ソースコードまで見てくださってありがとうございます！！！！
まだまだ改善点はたくさんあるので常時更新していきます。要チェックです！！！（最終更新：10/18 19:43）
アドバイス・ご指摘ございましたら、コメント、Twitter、Facebook、メールまでご連絡ください。

-->

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">
<meta name="description" content="自然物と空と写真とゲームが大好きなWebを学ぶ専門学生のブログです。Webで勉強したこと、備忘録などなどを投稿していきます。">
<meta name="keywords" content="HTML,CSS,ブログ,Web,jQuery,Javascript,JS">
<meta name="generator" content="Brackets">
<meta property="og:url" content="%{PERMALINK}" />
<meta property="og:site_name" content="%{ROOT_BLOG_NAME}" />
<meta property="og:title" content="<!--#include file="/include/head/title.txt"-->" /><!-- BEGIN_MODULE Blog_Field id="global" --><!-- BEGIN fbAdmins:veil -->
<meta property="fb:admins" content="{fbAdmins}" /><!-- END fbAdmins:veil --><!-- END_MODULE Blog_Field --><!-- BEGIN_MODULE Blog_Field --><!-- BEGIN_MODULE Touch_Top --><!-- BEGIN_IF [%{BID}/eq/1] -->
<meta property="og:type" content="website" /><!-- ELSE -->
<meta property="og:type" content="article" /><!-- END_IF --><!-- BEGIN blog_meta_description:veil --><!-- END blog_meta_description:veil--><!-- BEGIN ogpImage:veil -->
<meta property="og:image" content="%{HTTP_ARCHIVES_DIR}{ogpImage@path}" /><!-- END ogpImage:veil --><!-- BEGIN blog_meta_description:veil --><!-- END blog_meta_description:veil --><!-- BEGIN blog_meta_keywords:veil -->
<meta name="keywords" content="{blog_meta_keywords}" /><!-- END blog_meta_keywords:veil --><!-- END_MODULE Touch_Top --><!-- END_MODULE Blog_Field --><!-- BEGIN_MODULE Touch_Index --><!-- BEGIN_MODULE Blog_Field -->
<!-- BEGIN ogpImage:veil -->
<meta property="og:image" content="%{HTTP_ARCHIVES_DIR}{ogpImage@path}" /><!-- END ogpImage:veil --><!-- END_MODULE Blog_Field -->
<meta property="og:type" content="article" /><!-- BEGIN_MODULE Touch_Category --><!-- BEGIN_MODULE Category_Field --><!-- BEGIN category_meta_description:veil --><!-- END category_meta_description:veil --><!-- BEGIN category_meta_keywords:veil --><!-- END category_meta_keywords:veil --><!-- END_MODULE Category_Field --><!-- END_MODULE Touch_Category --><!-- BEGIN_MODULE Touch_NotCategory --><!-- BEGIN_MODULE Blog_Field -->
<meta property="og:description" content="{blog_meta_description}" /><!-- END_MODULE Blog_Field --><!-- END_MODULE Touch_NotCategory --><!-- END_MODULE Touch_Index --><!-- BEGIN_MODULE Touch_Entry -->
<meta property="og:type" content="article" /><!-- BEGIN_MODULE Entry_Summary id="ogpSummary" --><!-- BEGIN unit:loop --><!-- BEGIN entry:loop --><!-- BEGIN image:veil -->
<meta property="og:image" content="%{BLOG_URL}{path}" /><!-- END image:veil --><!-- BEGIN_IF [{entry_meta_description}/nem/] -->
<meta property="og:description" content="{entry_meta_description}" /><!-- ELSE -->
<meta property="og:description" content="{summary}[trim(200, '...')]" />
<meta name="description" content="{summary}[trim(200, '...')]" /><!-- END_IF --><!-- BEGIN entry_meta_keywords:veil --><!-- END entry_meta_keywords:veil --><!-- END entry:loop --><!-- END unit:loop --><!-- END_MODULE Entry_Summary --><!-- END_MODULE Touch_Entry -->

   
   
    <title><!--#include file="/include/title.txt"--></title>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/genericons/genericons.css">
    <link rel="stylesheet" href="/css/style.css">
<link rel="shortcut icon" href="../images/shortcut.ico" >
<link rel="stylesheet" href="/css/font-awesome.min.css">
<link href="/css/acms-admin.css" rel="stylesheet" type="text/css" media="all" />

    <!-- BEGIN_MODULE Blog_Field -->
    <style>
        .header_bottom{
            background-image: url(%{ARCHIVES_DIR}{header_image@path});
        }
    </style>

    <!-- END_MODULE Blog_Field -->
  
   
<!--    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
    <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
    <!-- BEGIN_MODULE Js --><script type="text/javascript"
                                    src="/acms.js{arguments}" charset="UTF-8" id="acms-js"></script>
                                    <!--　END_MODULE Js -->



</head>