<section id="hum_menu" class="clearfix">
<ul>
   
    <!--#include file="/include/hum_SearchForm.html"-->
    
    <!-- BEGIN_MODULE Blog_Field -->
<div class="hum_list hum_profile">
<li class="hum_title title_profile">PROFILE</li>
<div class="profile_dropdown dropdown">
<ul>
<li>
    <img class="pf_img" src="%{ARCHIVES_DIR}{profileimage@path}"><p class="clearfix"><em>{name}</em><br>{introduction}</p>
</li>
<address class="hum_social">
    <li class="pf_link"><a href="https://www.facebook.com/{FaceBook}"><span class="genericon genericon-facebook"></span>{FaceBook}</a></li>
    <li class="pf_link"><a href="https://twitter.com/{Twitter}"><span class="genericon genericon-twitter"></span>{Twitter}</a></li>
    <li class="pf_link"><span class="genericon genericon-mail"></span>{Mail}</li>
</address>
<li><h4>SKILL</h4></li>
<li>HTML5</li>
<li>CSS</li>
<li>JavaScript</li>
<li>PhotoShop</li>
<li>Illustrator</li>
<li>Flash</li>
</ul>
</div>
</div>
    <!-- END_MODULE Blog_Field -->

   
   
    <!-- BEGIN_MODULE Category_List -->
    <div class="hum_list">
        <li class="hum_title title_category">CATEGORY</li>
        <!--#include file="/admin/module/setting.html"-->
        <div class="dropdown dropdown_category">
        <!-- BEGIN category:veil -->
        <ul>
            <!-- BEGIN category:loop -->
            <li>
                <a href="{url}" class="select">{name}</a>
            </li>
            <!-- END category:loop -->
        </ul>
        <!-- END category:veil -->
    </div>
    </div>
    <!-- END_MODULE Category_List -->




    <!-- BEGIN_MODULE Entry_ArchiveList -->
    <div class="hum_list">
        <li class="hum_title title_archive">ARCHIVE</li>
        <!--#include file="/admin/module/setting.html"-->
        <div class="dropdown dropdown_archive">
            <!-- BEGIN Archive:veil -->
        <ul>
            
            <!-- BEGIN archive:loop -->
            <li class="select"><a href="{url}">{date#Y}/ {date#n}</a> ({amount})</li>
            <!-- END archive:loop -->
        </ul>
            <!-- END Archive:veil -->
    </div>
    </div>
    <!-- END_MODULE Entry_ArchiveList -->



    <div class="hum_list">
    <!-- BEGIN_MODULE Tag_Cloud -->
    <li class="hum_title title_tag">TAG</li>
        <div class="dropdown dropdown_tag">
    <!-- BEGIN tag:loop -->
            <a href="{url}" title="{amount}件" class="select">{name}</a>
    <!-- END tag:loop -->
        </div>
    <!-- END_MODULE Tag_Cloud -->
    </div>



</ul>
</section>