<div class="form">
<li>
<form name="searchform" id="searchform" method="get" action="#">
<input type="text" name="keyword" id="keywords" value="%{KEYWORD}" />
<input type="image" src="../images/search.png" name="ACMS_POST_2GET" id="ACMS_POST_2GET searchBtn" value="検索"alt="検索" />
</form>
</li>
</div>
