<form action="" method="post">
    <input type="text" name="keyword" id="keywords" value="%{KEYWORD}" />
    <input type="image" src="../images/search.png" name="ACMS_POST_2GET" id="ACMS_POST_2GET searchBtn" value="検索"alt="検索" />
    <input type="hidden" name="bid" value="%{BID}" />
</form>