<aside class="side_menu">
<div class="side_inner">


<!--#include file="/include/SearchForm.html"-->


<!-- BEGIN_MODULE Category_List -->
<div>
    <h3><i class="fa fa-folder"></i>CATEGORY</h3>
<!--#include file="/admin/module/setting.html"-->

<!-- BEGIN category:veil -->
<ul>
    <!-- BEGIN category:loop -->
<li>
<a href="{url}">{name}</a>
</li>
    <!-- END category:loop -->
</ul>
<!-- END category:veil -->

</div>
<!-- END_MODULE Category_List -->


<!-- BEGIN_MODULE Entry_ArchiveList -->
<div>
    <h3><i class="fa fa-archive"></i>ARCHIVE</h3>
<ul name="archive">
<!--#include file="/admin/module/setting.html"-->
<!-- BEGIN archive:loop -->
    <li><a href="{url}">{date#Y}/ {date#n}</a> ({amount})</li>
<!-- END archive:loop -->
    </ul>
</div>
<!-- END_MODULE Entry_ArchiveList -->


<!-- BEGIN_MODULE Tag_Cloud -->
    <h3><i class="fa fa-tag"></i>TAG</h3>
<!-- BEGIN tag:loop -->
    <a href="{url}" title="{amount}件">{name}</a>
<!-- END tag:loop -->
<!-- END_MODULE Tag_Cloud -->



</div>
</aside>
</div>
</div>
