/* ------------------------------
 ボタングループ
------------------------------- */
.acms-btn-group {
	display: table;
	position: relative;
	vertical-align: middle;
	padding-left: 0;

	> .js-acms-btn-admin:first-child:not(:last-child):not(.js-acms-dropdown-toggle) {
		@include round-right(0);
	}

	> .js-acms-btn-admin:first-child:not(:last-child):not(.js-acms-dropdown-toggle) {
		@include round-right(0);
	}

	> .js-acms-btn-admin:first-child:not(:last-child):not(.js-acms-dropdown-toggle) {
		@include round-right(0);
	}

	> .js-acms-dropdown-toggle:not(:first-child) {
		border-left: 0;
		@include round-left(0);
	}

	> .acms-btn {
		border-radius: 0;
		display: table-cell;
		height: 28px;
		border-right: none;

		&:first-child {
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
		}

		&:last-child {
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
			border-right: 1px solid #a7a7aa;
		}
	}
}


/* ------------------------------
 ドロップダウンメニュー
------------------------------- */
// トグル
.js-acms-dropdown-toggle {
	position: relative;
	margin: 0;
	outline: 0;
}

.acms-btn-group .js-acms-dropdown-btn {
	position: absolute;
	top: 0;
}

.js-acms-dropdown-toggle .acms-btn-admin:first-child {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.js-acms-dropdown-toggle .acms-btn-admin:nth-child(2) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	margin-left: -1px;
}

// 開閉メニュー
.js-acms-dropdown-menu {
	display: none;
	list-style: none;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 99;
	min-width: 160px;
	margin: 2px 0;
	padding: 5px 0px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background: #ffffff;
	background-clip: padding-box;
	// IE6-IE8
	border: solid 1px #cccccc\9;
	*border: solid 1px #cccccc;
	_border: solid 1px #cccccc;
	// リンク
	> li > a {
		display: block;
		padding: 3px 20px;
		text-decoration: none;
		white-space: nowrap;
	}

	a:link,
	a:visited {
		color: #333333;
	}

	a:hover {
		background: #5e5e5e;
		color: #ffffff;
	}

	> li.acms-divider {
		height: 1px;
		margin: 9px 0;
		background-color: #e5e5e5;
	}
	// 右基点
	.acms-dropdown-right  & {
		left: inherit;
		right: 0;
	}
}

// タイトル
.acms-dropdown-title {
	padding: 3px 20px;
	color: #999999;
}

// 下矢印
.acms-arrow-bottom {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 5px;
	border: 4px solid #000000;
	border-color: transparent;
	border-top-color: #999999;
}

.acms-btn-group .acms-arrow-bottom {
	margin-left: 0;
}
