/* ------------------------------
 タイポグラフィ
------------------------------- */
/* ---------------
 見出し
--------------- */
// h1
.acms-h1,
.acms-style h1{
	@include font-size(30);
}
// h2
.acms-h2,
.acms-style h2{
	@include font-size(24);
}
// h3
.acms-h3,
.acms-style h3{
	@include font-size(18);
}
// h4
.acms-h4,
.acms-style h4{
	@include font-size(16);
}
// h5
.acms-h5,
.acms-style h5{
	@include font-size(14);
}
// h6
.acms-h6,
.acms-style h6{
	@include font-size(12);
}

.acms-h1,
.acms-h2,
.acms-h3,
.acms-h4,
.acms-h5,
.acms-h6{
	margin: 0 0 20px;
}
* + .acms-h1,
* + .acms-h2,
* + .acms-h3,
* + .acms-h4,
* + .acms-h5,
* + .acms-h6 {
	margin-top: 35px;
}

// ---------------
// 段落
// ---------------
.acms-p,
.acms-style p{
	margin: 0 0 15px;
}
* + .acms-p,
* + .acms-style p {
	margin-top: 15px;
}

// ---------------
// リスト
// ---------------
.acms-ul,
.acms-ol,
.acms-dl,
.acms-style ul,
.acms-style ol,
.acms-style dl{
	margin-top: 0;
}

// リスト 点なし
.acms-list-nostyle{
	list-style: none;
	padding-left: 0;
}

// リスト インライン
.acms-list-inline{
	padding-left: 0;
	li{
		display: inline-block;
		padding-right: 20px;
		margin-bottom: 5px;
	}
}

// 定義リスト
.acms-dl,
.acms-style dl {
	dt{
		font-weight: bold;
	}
	dd{
		margin-left: 0;
		margin-bottom: 10px;
	}
}

// 定義リスト 水平
.acms-dl-horizontal dt,
.acms-dl-line dt{
	clear: left;
	float: left;
	width: 160px;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.acms-dl-horizontal dd,
.acms-dl-line dd{
	padding-left: 0;
	@include clearfix();
}

.acms-dl-line dd{
	padding-bottom: 10px;
	border-bottom: solid 1px #CCC;
}

@media (min-width : $breakpoint-md-min) {
	.acms-dl-horizontal dt,
	.acms-dl-line dt{
		float: left;
		text-align: right;
	}
	.acms-dl-horizontal dd,
	.acms-dl-line dd{
		padding-left: 180px;
	}
}

// ---------------
// 引用
// ---------------
.acms-blockquote,
.acms-style blockquote {
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
	border-left: solid 5px #CCCCCC;
}

// ---------------
// WebFont
// ---------------
.acms-icon{
	padding-right: 10px;
}

[class*="acms-icon-"] {
	font-family:"acms-fonts";
	display:inline-block;
	vertical-align:middle;
	line-height:1;
	font-weight:normal;
	font-style:normal;
	speak:none;
	text-decoration:inherit;
	text-transform:none;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}
