<!-- BEGIN_MODULE Touch_SessionWithAdministration -->
<form action="" method="post">
	<input type="hidden" name="eid" value="{id}" />
	<input type="hidden" name="admin" value="entry-edit" />
	<input type="submit" name="ACMS_POST_2GET" value="変更する" class="acms-admin-btn" />
</form>
<!-- END_MODULE Touch_SessionWithAdministration -->