// ------------------------------
//　ベース
// ------------------------------
// コンテイナー
$container                         : 840px;
$narrow-container                  : 960px;
$narrow-container-md               : 750px;

// グリッドの間隔
$grid-space                        : 30px;
$grid-space-mobile                 : 20px;

// ------------------------------
//　フォント
// ------------------------------
$font-hiragino                     : "ヒラギノ角ゴ pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
$font-yu-gothic                    : "游ゴシック", YuGothic, "ヒラギノ角ゴ pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
$font-meiryo                       : Meiryo,'メイリオ',"ヒラギノ角ゴ pro", "Hiragino Kaku Gothic Pro",'ＭＳ Ｐゴシック','MS PGothic',Verdana,sans-serif;
$font-base                         : "FOT-スーラ ProN M", "-apple-system", "blinkMacSystemFont", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
$font-heading                      : $font-base;
$font-en                           : 'Antic Slab', serif;

// ------------------------------
//　ファイルのパス
// ------------------------------
$acms-font                         : '/themes/system/fonts/'; // フォントのパスを上書き
$root-theme-img                    : '/themes/blog_ver5/images/'; // 画像のパスを上書き

// ------------------------------
//　カラー
// ------------------------------
// 背景色
$bg-color                          : #fff;

// プライマリーカラー
$primary-color                     : #376F98;
// セカンダリーカラー
$secondary-color                   : #333;
// ベースカラー
$base-color                        : #ffed1f;

// ボタン
$btn-color                         : #333;
$btn-active-color                  : #000;

// 各sns色
$facebook-color                   : #3b5999;
$twitter-color                    : #55acee;
$hatebu-color                     : #008FDE;
$feed-color                       : #2BB24C;
$pocket-color                     : #EF4056;
$gplus-color                      : #dd4b39;
$youtube-color                    : #cd201f;
$instagram-color                  : #3f729b;

// ------------------------------
//　ヘッダー
// ------------------------------
$sp-header-height                  : 60px;
$global-nav-height                 : 50px;

// ------------------------------
//　エントリー
// ------------------------------
$entry-margin-bottom               : 25px;

$entry-element-margin-bottom-sm    : 10px !default;
$entry-element-margin-bottom-md    : 25px !default;
$entry-element-margin-bottom-lg    : 30px !default;

// ------------------------------
//　フォーム
// ------------------------------
$form-step-border-width            : 3px;
$form-step-border-color            : #FFF;
$form-step-height                  : 50px;
$form-step-arrow-width             : 15px;

$form-step-item-padding            : 5px;
$form-step-item-padding-desktop    : 20px;

$form-step-base-bg-color           : #F2F0F0;
$form-step-base-text-color         : #666;
$form-step-active-bg-color         : #666;
$form-step-active-text-color       : #FFF;
