<table class="adminTable acms-admin-table-admin-edit">
	<tr>
		<th><!--T-->表示順<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->どのようなルールに従って表示されるかの設定です。<!--/T-->"></i></th>
		<td>
			<select name="entry_archive_list_order">
				<option value="asc"{entry_archive_list_order:selected#asc}><!--T-->日付<!--/T--> <!--T-->( 昇順 )<!--/T--></option>
				<option value="desc"{entry_archive_list_order:selected#desc}><!--T-->日付<!--/T--> <!--T-->( 降順 )<!--/T--></option>
				</select>
			<input type="hidden" name="config[]" value="entry_archive_list_order" />
		</td>
	</tr>
	<tr>
		<th><!--T-->アーカイブの単位<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->アーカイブを年・月・日のいずれでまとめるかの設定です。<!--/T-->"></i></th>
		<td>
			<select name="entry_archive_list_chunk">
				<option value="month"{entry_archive_list_chunk:selected#month}><!--T-->月単位<!--/T--></option>
				<option value="year"{entry_archive_list_chunk:selected#year}><!--T-->年単位<!--/T--></option>
				<option value="day"{entry_archive_list_chunk:selected#day}><!--T-->日単位<!--/T--></option>
				<!-- <option value="biz_year"{entry_archive_list_chunk:selected#biz_year}>年度単位</option> -->
				</select>
			<input type="hidden" name="config[]" value="entry_archive_list_chunk" />
		</td>
	</tr>
	<tr>
		<th><!--T-->表示件数<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->一度に表示される件数です。<!--/T-->"></i></th>
		<td>
			<input type="text" name="entry_archive_list_limit" value="{entry_archive_list_limit}" size="4" class="acms-admin-form-width-mini" />
			<input type="hidden" name="config[]" value="entry_archive_list_limit" />
			<input type="hidden" name="entry_archive_list_limit:convert" value="a" />
			<input type="hidden" name="entry_archive_list_limit:validator#digits" id="validator-entry_archive_list_limit-digits" />
			<div role="alert" aria-live="assertive">
				<div data-validator-label="validator-entry_archive_list_limit-digits" class="validator-result-{entry_archive_list_limit:validator#digits}">
					<p class="error-text"><span class="acms-admin-icon acms-admin-icon-attention" aria-hidden="true"></span><!--T-->数字を入力して下さい。<!--/T--></p>
				</div>
			</div>
		</td>
	</tr>
</table><!-- BEGIN_MODULE Admin_Rule_Name -->
<input type="hidden" name="rid" value="{rid}" /><!-- END_MODULE Admin_Rule_Name --><!-- BEGIN_MODULE Admin_Module_Name -->
<input type="hidden" name="mid" value="{mid}" /><!-- END_MODULE Admin_Module_Name -->