<h3 class="acms-admin-admin-title2"><!--T-->表示内容<!--/T--></h3>
<table class="adminTable acms-admin-table-admin-edit">
	<tr>
		<th><!--T-->表示順<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->どのようなルールに従って表示されるかの設定です。フィールド、数値フィールドはカスタムフィールドでの検索結果の表示時に利用します。<!--/T-->"></i></th>
		<td>
			<select name="entry_headline_order">
				<option value="datetime-asc"{entry_headline_order:selected#datetime-asc}><!--T-->日時 ( 昇順 )<!--/T--></option>
				<option value="datetime-desc"{entry_headline_order:selected#datetime-desc}><!--T-->日時 ( 降順 )<!--/T--></option>
				<option value="code-asc"{entry_headline_order:selected#code-asc}><!--T-->ファイル名 ( 昇順 )<!--/T--></option>
				<option value="code-desc"{entry_headline_order:selected#code-desc}><!--T-->ファイル名 ( 降順 )<!--/T--></option>
				<option value="id-asc"{entry_headline_order:selected#id-asc}><!--T-->ID ( 昇順 )<!--/T--></option>
				<option value="id-desc"{entry_headline_order:selected#id-desc}><!--T-->ID ( 降順 )<!--/T--></option>
				<option value="sort-asc"{entry_headline_order:selected#sort-asc}><!--T-->表示順 ( 昇順 )<!--/T--></option>
				<option value="sort-desc"{entry_headline_order:selected#sort-desc}><!--T-->表示順 ( 降順 )<!--/T--></option>
				<option value="field-asc"{entry_headline_order:selected#field-asc}><!--T-->フィールド ( 昇順 )<!--/T--></option>
				<option value="field-desc"{entry_headline_order:selected#field-desc}><!--T-->フィールド ( 降順 )<!--/T--></option>
				<option value="intfield-asc"{entry_headline_order:selected#intfield-asc}><!--T-->数値フィールド ( 昇順 )<!--/T--></option>
				<option value="intfield-desc"{entry_headline_order:selected#intfield-desc}><!--T-->数値フィールド ( 降順 )<!--/T--></option>
				<option value="random"{entry_headline_order:selected#random}><!--T-->ランダム<!--/T--></option>
			</select>
			<input type="hidden" name="config[]" value="entry_headline_order" />
		</td>
	</tr>
	<tr>
		<th><!--T-->第２表示順<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->どのようなルールに従って表示されるかの第２設定です。第１ソートされて同じ値があった場合、ここの設定によってソートされます。<!--/T-->"></i></th>
		<td>
			<select name="entry_headline_order2">
				<option value="datetime-asc"{entry_headline_order2:selected#datetime-asc}><!--T-->日時 ( 昇順 )<!--/T--></option>
				<option value="datetime-desc"{entry_headline_order2:selected#datetime-desc}><!--T-->日時 ( 降順 )<!--/T--></option>
				<option value="code-asc"{entry_headline_order2:selected#code-asc}><!--T-->ファイル名 ( 昇順 )<!--/T--></option>
				<option value="code-desc"{entry_headline_order2:selected#code-desc}><!--T-->ファイル名 ( 降順 )<!--/T--></option>
				<option value="id-asc"{entry_headline_order2:selected#id-asc}><!--T-->ID ( 昇順 )<!--/T--></option>
				<option value="id-desc"{entry_headline_order2:selected#id-desc}><!--T-->ID ( 降順 )<!--/T--></option>
				<option value="sort-asc"{entry_headline_order2:selected#sort-asc}><!--T-->表示順 ( 昇順 )<!--/T--></option>
				<option value="sort-desc"{entry_headline_order2:selected#sort-desc}><!--T-->表示順 ( 降順 )<!--/T--></option>
				<option value="field-asc"{entry_headline_order2:selected#field-asc}><!--T-->フィールド ( 昇順 )<!--/T--></option>
				<option value="field-desc"{entry_headline_order2:selected#field-desc}><!--T-->フィールド ( 降順 )<!--/T--></option>
				<option value="intfield-asc"{entry_headline_order2:selected#intfield-asc}><!--T-->数値フィールド ( 昇順 )<!--/T--></option>
				<option value="intfield-desc"{entry_headline_order2:selected#intfield-desc}><!--T-->数値フィールド ( 降順 )<!--/T--></option>
				<option value="random"{entry_headline_order2:selected#random}><!--T-->ランダム<!--/T--></option>
			</select>
			<input type="hidden" name="config[]" value="entry_headline_order2" />
		</td>
	</tr>
	<tr>
		<th><!--T-->表示件数<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->一度に表示される件数です。<!--/T-->"></i></th>
		<td>
			<input type="text" name="entry_headline_limit" value="{entry_headline_limit}" size="4" class="acms-admin-form-width-mini" />
			<input type="hidden" name="config[]" value="entry_headline_limit" />
			<input type="hidden" name="entry_headline_limit:convert" value="a" />
			<input type="hidden" name="entry_headline_limit:validator#digits" id="validator-entry_headline_limit-digits" />
			<div role="alert" aria-live="assertive">
				<div data-validator-label="validator-entry_headline_limit-digits" class="validator-result-{entry_headline_limit:validator#digits}">
					<p class="error-text"><span class="acms-admin-icon acms-admin-icon-attention" aria-hidden="true"></span><!--T-->数字を入力して下さい。<!--/T--></p>
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<th><!--T-->オフセット<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->表示順で並び替えた後の先頭から数えて、設定した件数のエントリーを表示しなくします。<!--/T-->"></i></th>
		<td>
			<input type="text" name="entry_headline_offset" value="{entry_headline_offset}" size="4" class="acms-admin-form-width-mini" />
			<input type="hidden" name="config[]" value="entry_headline_offset" />
			<input type="hidden" name="entry_headline_offset:convert" value="a" />
			<input type="hidden" name="entry_headline_offset:validator#digits" id="validator-entry_headline_offset-digits" />
			<div role="alert" aria-live="assertive">
				<div data-validator-label="validator-entry_headline_offset-digits" class="validator-result-{entry_headline_offset:validator#digits}">
					<p class="error-text"><span class="acms-admin-icon acms-admin-icon-attention" aria-hidden="true"></span><!--T-->数字を入力して下さい。<!--/T--></p>
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<th><!--T-->ループ内クラス<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->指定したクラスをループブロック内に設定できます。例えばグリッドシステムのカラム数など設定してください。<!--/T-->"></i></th>
		<td>
			<input type="text" name="entry_headline_loop_class" value="{entry_headline_loop_class}" size="4" class="acms-admin-form-width-medium" />
			<input type="hidden" name="config[]" value="entry_headline_loop_class" />
		</td>
	</tr>
	<tr>
		<th><!--T-->新着期間<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->エントリーの公開日時を基点に、ここで設定した期間中はnewブロックが出力されます。<!--/T-->"></i></th>
		<td>
			<input type="text" name="entry_headline_newtime" value="{entry_headline_newtime}" size="8" class="acms-admin-form-width-mini" /> <!--T-->秒<!--/T-->
			<input type="hidden" name="config[]" value="entry_headline_newtime" />
			<input type="hidden" name="entry_headline_newtime:convert" value="a" />
			<input type="hidden" name="entry_headline_newtime:validator#digits" id="validator-entry_headline_newtime-digits" />
			<div role="alert" aria-live="assertive">
				<div data-validator-label="validator-entry_headline_newtime-digits" class="validator-result-{entry_headline_newtime:validator#digits}">
					<p class="error-text"><span class="acms-admin-icon acms-admin-icon-attention" aria-hidden="true"></span><!--T-->数字を入力して下さい。<!--/T--></p>
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<th><!--T-->インデキシング<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->チェックを外すと、インデキシングされていないエントリーも表示されます。<!--/T-->"></i></th>
		<td>
			<input type="hidden" name="entry_headline_indexing" value="off" />
			<div class="acms-admin-form-checkbox">
				<input type="checkbox" name="entry_headline_indexing" value="on"{entry_headline_indexing:checked#on} id="input-checkbox-entry_headline_indexing" />
				<label for="input-checkbox-entry_headline_indexing"><i class="acms-admin-ico-checkbox"></i><!--T-->インデキシングされているエントリーのみ表示する<!--/T--></label>
			</div>
			<input type="hidden" name="config[]" value="entry_headline_indexing" />
		</td>
	</tr>
	<tr>
		<th><!--T-->シークレットエントリー<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->チェックをすると、ログインしていなくてもシークレットブログのエントリーが表示されます。<br />ステータスがシークレットの子ブログのエントリーを表示するためには、モジュールIDの設定でブログIDは指定せず、ブログの階層は下階層のブログを含めるようにしてください。<!--/T-->"></i></th>
		<td>
			<input type="hidden" name="entry_headline_secret" value="off" />
			<div class="acms-admin-form-checkbox">
				<input type="checkbox" name="entry_headline_secret" value="on"{entry_headline_secret:checked#on} id="input-checkbox-entry_headline_secret" />
				<label for="input-checkbox-entry_headline_secret"><i class="acms-admin-ico-checkbox"></i><!--T-->ログインしていなくてもシークレットブログのエントリーを表示する<!--/T--></label>
			</div>
			<input type="hidden" name="config[]" value="entry_headline_secret" />
		</td>
	</tr>
	<tr>
		<th><!--T-->詳細のエントリー表示<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->チェックをすると詳細ページでそのページのエントリーを除いたものが出力されます。<!--/T-->"></i></th>
		<td>
			<input type="hidden" name="entry_headline_hidden_current_entry" value="off" />
			<div class="acms-admin-form-checkbox">
				<input type="checkbox" name="entry_headline_hidden_current_entry" value="on"{entry_headline_hidden_current_entry:checked#on} id="input-checkbox-entry_headline_hidden_current_entry" />
				<label for="input-checkbox-entry_headline_hidden_current_entry"><i class="acms-admin-ico-checkbox"></i><!--T-->現在表示されているエントリーを表示しない<!--/T--></label>
			</div>
			<input type="hidden" name="config[]" value="entry_headline_hidden_current_entry" />
		</td>
	</tr>
</table>

<h3 class="acms-admin-admin-title2"><!--T-->ページャー<!--/T--></h3>
<table class="adminTable acms-admin-table-admin-edit">
	<tr>
		<th><!--T-->簡易ページャー<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->チェックをすると簡易ページャー（前後ページへのリンク）機能に必要な情報を出力します。記事数が多く通常のページャーが重い場合はこちらのペジャーをお使いください。ページャー機能を使用するには、モジュールIDとしてこのモジュールを使用し、引数の「ページ」のURLコンテキストにチェックをしてください。<!--/T-->"></i></th>
		<td>
			<input type="hidden" name="entry_headline_simple_pager_on" value="off" />
			<div class="acms-admin-form-checkbox">
				<input type="checkbox" name="entry_headline_simple_pager_on" value="on"{entry_headline_simple_pager_on:checked#on} id="input-checkbox-entry_headline_simple_pager_on" />
				<label for="input-checkbox-entry_headline_simple_pager_on"><i class="acms-admin-ico-checkbox"></i><!--T-->簡易ページャーを表示できるようにする。<!--/T--></label>
			</div>
			<input type="hidden" name="config[]" value="entry_headline_simple_pager_on" />
		</td>
	</tr>
	<tr>
		<th><!--T-->ページャー<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->チェックをするとページャー（ページ送り）機能に必要な情報を出力します。ページャー機能を使用するには、モジュールIDとしてこのモジュールを使用し、引数の「ページ」のURLコンテキストにチェックをしてください。<!--/T-->"></i></th>
		<td>
			<input type="hidden" name="entry_headline_pager_on" value="off" />
			<div class="acms-admin-form-checkbox">
				<input type="checkbox" name="entry_headline_pager_on" value="on"{entry_headline_pager_on:checked#on} class="switching-function-btn" id="input-checkbox-entry_headline_pager_on" />
				<label for="input-checkbox-entry_headline_pager_on"><i class="acms-admin-ico-checkbox"></i><!--T-->ページャーを表示できるようにする。<!--/T--></label>
			</div>
			<input type="hidden" name="config[]" value="entry_headline_pager_on" />
		</td>
	</tr>

	<tr>
		<th><!--T-->前後に表示するページ数<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->ページャーの設定です。表示中のページを基点として、ここで設定した値の数だけページ番号が表示されます。<!--/T-->"></i></th>
		<td>
			<input type="text" name="entry_headline_pager_delta" value="{entry_headline_pager_delta}" size="4" class="acms-admin-form-width-mini" />
			<input type="hidden" name="config[]" value="entry_headline_pager_delta" />
			<input type="hidden" name="entry_headline_pager_delta:validator#digits" id="validator-entry_headline_pager_delta-digits" />
			<div role="alert" aria-live="assertive">
				<div data-validator-label="validator-entry_headline_pager_delta-digits" class="validator-result-{entry_headline_pager_delta:validator#digits}">
					<p class="error-text"><span class="acms-admin-icon acms-admin-icon-attention" aria-hidden="true"></span><!--T-->数字を入力して下さい。<!--/T--></p>
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<th><!--T-->現在のページの要素の属性<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->ページャーの設定です。表示中のページ番号に割り当てられる属性です。（変数名 : pageCurAttr）<!--/T-->"></i></th>
		<td>
			<input type="text" name="entry_headline_pager_cur_attr" value="{entry_headline_pager_cur_attr}" size="20" />
			<input type="hidden" name="config[]" value="entry_headline_pager_cur_attr" />
		</td>
	</tr>
</table>

<!-- BEGIN_MODULE Admin_Rule_Name -->
<input type="hidden" name="rid" value="{rid}" /><!-- END_MODULE Admin_Rule_Name --><!-- BEGIN_MODULE Admin_Module_Name -->
<input type="hidden" name="mid" value="{mid}" /><!-- END_MODULE Admin_Module_Name -->
