<table class="adminTable acms-admin-table-admin-edit">
	<tr>
		<th><!--T-->表示順<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->どのようなルールに従って表示されるかの設定です。フィールド、数値フィールドはカスタムフィールドでの検索結果の表示時に利用します。<!--/T-->"></i></th>
		<td>
			<select name="entry_list_order">
				<option value="datetime-asc"{entry_list_order:selected#datetime-asc}><!--T-->日時 ( 昇順 )<!--/T--></option>
				<option value="datetime-desc"{entry_list_order:selected#datetime-desc}><!--T-->日時 ( 降順 )<!--/T--></option>
				<option value="code-asc"{entry_list_order:selected#code-asc}><!--T-->ファイル名 ( 昇順 )<!--/T--></option>
				<option value="code-desc"{entry_list_order:selected#code-desc}><!--T-->ファイル名 ( 降順 )<!--/T--></option>
				<option value="id-asc"{entry_list_order:selected#id-asc}><!--T-->ID ( 昇順 )<!--/T--></option>
				<option value="id-desc"{entry_list_order:selected#id-desc}><!--T-->ID ( 降順 )<!--/T--></option>
				<option value="sort-asc"{entry_list_order:selected#sort-asc}><!--T-->表示順 ( 昇順 )<!--/T--></option>
				<option value="sort-desc"{entry_list_order:selected#sort-desc}><!--T-->表示順 ( 降順 )<!--/T--></option>
				<option value="field-asc"{entry_list_order:selected#field-asc}><!--T-->フィールド ( 昇順 )<!--/T--></option>
				<option value="field-desc"{entry_list_order:selected#field-desc}><!--T-->フィールド ( 降順 )<!--/T--></option>
				<option value="intfield-asc"{entry_list_order:selected#intfield-asc}><!--T-->数値フィールド ( 昇順 )<!--/T--></option>
				<option value="intfield-desc"{entry_list_order:selected#intfield-desc}><!--T-->数値フィールド ( 降順 )<!--/T--></option>
				<option value="random"{entry_list_order:selected#random}><!--T-->ランダム<!--/T--></option>
			</select>
			<input type="hidden" name="config[]" value="entry_list_order" />
		</td>
	</tr>
	<tr>
		<th><!--T-->第２表示順<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->どのようなルールに従って表示されるかの第２設定です。第１ソートされて同じ値があった場合、ここの設定によってソートされます。<!--/T-->"></i></th>
		<td>
			<select name="entry_list_order2">
				<option value="datetime-asc"{entry_list_order2:selected#datetime-asc}><!--T-->日時 ( 昇順 )<!--/T--></option>
				<option value="datetime-desc"{entry_list_order2:selected#datetime-desc}><!--T-->日時 ( 降順 )<!--/T--></option>
				<option value="code-asc"{entry_list_order2:selected#code-asc}><!--T-->ファイル名 ( 昇順 )<!--/T--></option>
				<option value="code-desc"{entry_list_order2:selected#code-desc}><!--T-->ファイル名 ( 降順 )<!--/T--></option>
				<option value="id-asc"{entry_list_order2:selected#id-asc}><!--T-->ID ( 昇順 )<!--/T--></option>
				<option value="id-desc"{entry_list_order2:selected#id-desc}><!--T-->ID ( 降順 )<!--/T--></option>
				<option value="sort-asc"{entry_list_order2:selected#sort-asc}><!--T-->表示順 ( 昇順 )<!--/T--></option>
				<option value="sort-desc"{entry_list_order2:selected#sort-desc}><!--T-->表示順 ( 降順 )<!--/T--></option>
				<option value="field-asc"{entry_list_order2:selected#field-asc}><!--T-->フィールド ( 昇順 )<!--/T--></option>
				<option value="field-desc"{entry_list_order2:selected#field-desc}><!--T-->フィールド ( 降順 )<!--/T--></option>
				<option value="intfield-asc"{entry_list_order2:selected#intfield-asc}><!--T-->数値フィールド ( 昇順 )<!--/T--></option>
				<option value="intfield-desc"{entry_list_order2:selected#intfield-desc}><!--T-->数値フィールド ( 降順 )<!--/T--></option>
				<option value="random"{entry_list_order2:selected#random}><!--T-->ランダム<!--/T--></option>
			</select>
			<input type="hidden" name="config[]" value="entry_list_order2" />
		</td>
	</tr>
	<tr>
		<th><!--T-->表示件数<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->一度に表示される件数です。<!--/T-->"></i></th>
		<td>
			<input type="text" name="entry_list_limit" value="{entry_list_limit}" size="4" class="acms-admin-form-width-mini"  />
			<input type="hidden" name="config[]" value="entry_list_limit" />
			<input type="hidden" name="entry_list_limit:convert" value="a" />
			<input type="hidden" name="entry_list_limit:validator#digits" id="validator-entry_list_limit-digits" />
			<div role="alert" aria-live="assertive">
				<div data-validator-label="validator-entry_list_limit-digits" class="validator-result-{entry_list_limit:validator#digits}">
					<p class="error-text"><span class="acms-admin-icon acms-admin-icon-attention" aria-hidden="true"></span><!--T-->数字を入力して下さい。<!--/T--></p>
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<th><!--T-->オフセット<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->表示順で並び替えた後の先頭から数えて、設定した件数のエントリーを表示しなくします。<!--/T-->"></i></th>
		<td>
			<input type="text" name="entry_list_offset" value="{entry_list_offset}" size="4" class="acms-admin-form-width-mini" />
			<input type="hidden" name="config[]" value="entry_list_offset" />
			<input type="hidden" name="entry_list_offset:convert" value="a" />
			<input type="hidden" name="entry_list_offset:validator#digits" id="validator-entry_list_offset-digits" />
			<div role="alert" aria-live="assertive">
				<div data-validator-label="validator-entry_list_offset-digits" class="validator-result-{entry_list_offset:validator#digits}">
					<p class="error-text"><span class="acms-admin-icon acms-admin-icon-attention" aria-hidden="true"></span><!--T-->数字を入力して下さい。<!--/T--></p>
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<th><!--T-->ループ内クラス<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->指定したクラスをループブロック内に設定できます。例えばグリッドシステムのカラム数など設定してください。<!--/T-->"></i></th>
		<td>
			<input type="text" name="entry_list_loop_class" value="{entry_list_loop_class}" size="4" class="acms-admin-form-width-medium" />
			<input type="hidden" name="config[]" value="entry_list_loop_class" />
		</td>
	</tr>
	<tr>
		<th><!--T-->詳細のエントリー表示<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->チェックをすると詳細ページでそのページのエントリーを除いたものが出力されます。<!--/T-->"></i></th>
		<td>
			<input type="hidden" name="entry_list_hidden_current_entry" value="off" />
			<div class="acms-admin-form-checkbox">
				<input type="checkbox" name="entry_list_hidden_current_entry" value="on"{entry_list_hidden_current_entry:checked#on} id="input-checkbox-entry_list_hidden_current_entry" />
				<label for="input-checkbox-entry_list_hidden_current_entry"><i class="acms-admin-ico-checkbox"></i><!--T-->現在表示されているエントリーを表示しない<!--/T--></label>
			</div>
			<input type="hidden" name="config[]" value="entry_list_hidden_current_entry" />
		</td>
	</tr>
</table><!-- BEGIN_MODULE Admin_Rule_Name -->
<input type="hidden" name="rid" value="{rid}" /><!-- END_MODULE Admin_Rule_Name --><!-- BEGIN_MODULE Admin_Module_Name -->
<input type="hidden" name="mid" value="{mid}" /><!-- END_MODULE Admin_Module_Name -->
