<h3 class="acms-admin-admin-title2"><!--T-->表示内容<!--/T--></h3>
<table class="adminTable acms-admin-table-admin-edit">
	<tr>
		<th><!--T-->関連エントリー<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->チェックをつけると、そのエントリーに登録されている関連エントリーを表示できます。この場合は、表示順の情報は無視されます。<!--/T-->"></i></th>
		<td>
			<input type="hidden" name="entry_summary_relational" value="off" />
			<div class="acms-admin-form-checkbox">
				<input type="checkbox" name="entry_summary_relational" value="on"{entry_summary_relational:checked#on} id="input-checkbox-entry_summary_relational" />
				<label for="input-checkbox-entry_summary_relational"><i class="acms-admin-ico-checkbox"></i><!--T-->関連エントリーのサマリーを表示する<!--/T--></label>
			</div>
			<input type="hidden" name="config[]" value="entry_summary_relational" />
		</td>
	</tr>
</table>

<h3 class="acms-admin-admin-title2"><!--T-->エントリー<!--/T--></h3>
<table class="adminTable acms-admin-table-admin-edit">
	<tr>
		<th><!--T-->表示順<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->どのようなルールに従って表示されるかの設定です。フィールド、数値フィールドはカスタムフィールドでの検索結果の表示時に利用します。<!--/T-->"></i></th>
		<td>
			<select name="entry_summary_order">
				<option value="datetime-asc"{entry_summary_order:selected#datetime-asc}><!--T-->日時 ( 昇順 )<!--/T--></option>
				<option value="datetime-desc"{entry_summary_order:selected#datetime-desc}><!--T-->日時 ( 降順 )<!--/T--></option>
				<option value="code-asc"{entry_summary_order:selected#code-asc}><!--T-->ファイル名 ( 昇順 )<!--/T--></option>
				<option value="code-desc"{entry_summary_order:selected#code-desc}><!--T-->ファイル名 ( 降順 )<!--/T--></option>
				<option value="id-asc"{entry_summary_order:selected#id-asc}><!--T-->ID ( 昇順 )<!--/T--></option>
				<option value="id-desc"{entry_summary_order:selected#id-desc}><!--T-->ID ( 降順 )<!--/T--></option>
				<option value="sort-asc"{entry_summary_order:selected#sort-asc}><!--T-->表示順 ( 昇順 )<!--/T--></option>
				<option value="sort-desc"{entry_summary_order:selected#sort-desc}><!--T-->表示順 ( 降順 )<!--/T--></option>
				<option value="field-asc"{entry_summary_order:selected#field-asc}><!--T-->フィールド ( 昇順 )<!--/T--></option>
				<option value="field-desc"{entry_summary_order:selected#field-desc}><!--T-->フィールド ( 降順 )<!--/T--></option>
				<option value="intfield-asc"{entry_summary_order:selected#intfield-asc}><!--T-->数値フィールド ( 昇順 )<!--/T--></option>
				<option value="intfield-desc"{entry_summary_order:selected#intfield-desc}><!--T-->数値フィールド ( 降順 )<!--/T--></option>
				<option value="random"{entry_summary_order:selected#random}><!--T-->ランダム<!--/T--></option>
			</select>
			<input type="hidden" name="config[]" value="entry_summary_order" />
		</td>
	</tr>
	<tr>
		<th><!--T-->第２表示順<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->どのようなルールに従って表示されるかの第２設定です。第１ソートされて同じ値があった場合、ここの設定によってソートされます。<!--/T-->"></i></th>
		<td>
			<select name="entry_summary_order2">
				<option value="datetime-asc"{entry_summary_order2:selected#datetime-asc}><!--T-->日時 ( 昇順 )<!--/T--></option>
				<option value="datetime-desc"{entry_summary_order2:selected#datetime-desc}><!--T-->日時 ( 降順 )<!--/T--></option>
				<option value="code-asc"{entry_summary_order2:selected#code-asc}><!--T-->ファイル名 ( 昇順 )<!--/T--></option>
				<option value="code-desc"{entry_summary_order2:selected#code-desc}><!--T-->ファイル名 ( 降順 )<!--/T--></option>
				<option value="id-asc"{entry_summary_order2:selected#id-asc}><!--T-->ID ( 昇順 )<!--/T--></option>
				<option value="id-desc"{entry_summary_order2:selected#id-desc}><!--T-->ID ( 降順 )<!--/T--></option>
				<option value="sort-asc"{entry_summary_order2:selected#sort-asc}><!--T-->表示順 ( 昇順 )<!--/T--></option>
				<option value="sort-desc"{entry_summary_order2:selected#sort-desc}><!--T-->表示順 ( 降順 )<!--/T--></option>
				<option value="field-asc"{entry_summary_order2:selected#field-asc}><!--T-->フィールド ( 昇順 )<!--/T--></option>
				<option value="field-desc"{entry_summary_order2:selected#field-desc}><!--T-->フィールド ( 降順 )<!--/T--></option>
				<option value="intfield-asc"{entry_summary_order2:selected#intfield-asc}><!--T-->数値フィールド ( 昇順 )<!--/T--></option>
				<option value="intfield-desc"{entry_summary_order2:selected#intfield-desc}><!--T-->数値フィールド ( 降順 )<!--/T--></option>
				<option value="random"{entry_summary_order2:selected#random}><!--T-->ランダム<!--/T--></option>
			</select>
			<input type="hidden" name="config[]" value="entry_summary_order2" />
		</td>
	</tr>
	<tr>
		<th><!--T-->表示件数<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->一度に表示される件数です。<!--/T-->"></i></th>
		<td>
			<input type="text" name="entry_summary_limit" value="{entry_summary_limit}" size="4" class="acms-admin-form-width-mini" />
			<input type="hidden" name="config[]" value="entry_summary_limit" />
			<input type="hidden" name="entry_summary_limit:convert" value="a" />
			<input type="hidden" name="entry_summary_limit:validator#digits" id="validator-entry_summary_limit-digits" />
			<div role="alert" aria-live="assertive">
				<div data-validator-label="validator-entry_summary_limit-digits" class="validator-result-{entry_summary_limit:validator#digits}">
					<p class="error-text"><span class="acms-admin-icon acms-admin-icon-attention" aria-hidden="true"></span><!--T-->数字を入力して下さい。<!--/T--></p>
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<th><!--T-->オフセット<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->表示順で並び替えた後の先頭から数えて、設定した件数のエントリーを表示しなくします。<!--/T-->"></i></th>
		<td>
			<input type="text" name="entry_summary_offset" value="{entry_summary_offset}" size="4" class="acms-admin-form-width-mini" />
			<input type="hidden" name="config[]" value="entry_summary_offset" />
			<input type="hidden" name="entry_summary_offset:convert" value="a" />
			<input type="hidden" name="entry_summary_offset:validator#digits" id="validator-entry_summary_offset-digits" />
			<div role="alert" aria-live="assertive">
				<div data-validator-label="validator-entry_summary_offset-digits" class="validator-result-{entry_summary_offset:validator#digits}">
					<p class="error-text"><span class="acms-admin-icon acms-admin-icon-attention" aria-hidden="true"></span><!--T-->数字を入力して下さい。<!--/T--></p>
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<th><!--T-->新着期間<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->エントリーの公開日時を基点に、ここで設定した期間中はnewブロックが出力されます。<!--/T-->"></i></th>
		<td>
			<input type="text" name="entry_summary_newtime" value="{entry_summary_newtime}" size="8" class="acms-admin-form-width-mini" /> <!--T-->秒<!--/T-->
			<input type="hidden" name="config[]" value="entry_summary_newtime" />
			<input type="hidden" name="entry_summary_newtime:convert" value="a" />
			<input type="hidden" name="entry_summary_newtime:validator#digits" id="validator-entry_summary_newtime-digits" />
			<div role="alert" aria-live="assertive">
				<div data-validator-label="validator-entry_summary_newtime-digits" class="validator-result-{entry_summary_newtime:validator#digits}">
					<p class="error-text"><span class="acms-admin-icon acms-admin-icon-attention" aria-hidden="true"></span><!--T-->数字を入力して下さい。<!--/T--></p>
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<th><!--T-->インデキシング<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->チェックを外すと、インデキシングされていないエントリーも表示されます。<!--/T-->"></i></th>
		<td>
			<input type="hidden" name="entry_summary_indexing" value="off" />
			<div class="acms-admin-form-checkbox">
				<input type="checkbox" name="entry_summary_indexing" value="on"{entry_summary_indexing:checked#on} id="input-checkbox-entry_summary_indexing" />
				<label for="input-checkbox-entry_summary_indexing"><i class="acms-admin-ico-checkbox"></i><!--T-->インデキシングされているエントリーのみ表示する<!--/T--></label>
			</div>
			<input type="hidden" name="config[]" value="entry_summary_indexing" />
		</td>
	</tr>
	<tr>
		<th><!--T-->シークレットエントリー<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->チェックをすると、ログインしていなくてもシークレットブログのエントリーが表示されます。<br />ステータスがシークレットの子ブログのエントリーを表示するためには、モジュールIDの設定でブログIDは指定せず、ブログの階層は下階層のブログを含めるようにしてください。<!--/T-->"></i></th>
		<td>
			<input type="hidden" name="entry_summary_secret" value="off" />
			<div class="acms-admin-form-checkbox">
				<input type="checkbox" name="entry_summary_secret" value="on"{entry_summary_secret:checked#on} id="input-checkbox-entry_summary_secret" />
				<label for="input-checkbox-entry_summary_secret"><i class="acms-admin-ico-checkbox"></i><!--T-->ログインしていなくてもシークレットブログのエントリーを表示する<!--/T--></label>
			</div>
			<input type="hidden" name="config[]" value="entry_summary_secret" />
		</td>
	</tr>
	<tr>
		<th><!--T-->ユニット<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->指定した件数のエントリーごとに、unitブロックが表示されます。何件ごとに折り返すなどの指定に応用できます。<!--/T-->"></i></th>
		<td>
			<input type="text" name="entry_summary_unit" value="{entry_summary_unit}" size="4" class="acms-admin-form-width-mini" />
			<input type="hidden" name="config[]" value="entry_summary_unit" />
			<input type="hidden" name="entry_summary_unit:validator#digits" id="validator-entry_summary_unit-digits" />
			<div role="alert" aria-live="assertive">
				<div data-validator-label="validator-entry_summary_unit-digits" class="validator-result-{entry_summary_unit:validator#digits}">
					<p class="error-text"><span class="acms-admin-icon acms-admin-icon-attention" aria-hidden="true"></span><!--T-->数字を入力して下さい。<!--/T--></p>
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<th><!--T-->ループ内クラス<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->指定したクラスをループブロック内に設定できます。例えばグリッドシステムのカラム数など設定してください。<!--/T-->"></i></th>
		<td>
			<input type="text" name="entry_summary_loop_class" value="{entry_summary_loop_class}" size="4" class="acms-admin-form-width-medium" />
			<input type="hidden" name="config[]" value="entry_summary_loop_class" />
		</td>
	</tr>
	<tr>
		<th><!--T-->エントリーがない場合の表示<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->チェックすると、指定条件でエントリーが見つからなかった場合にnotFoundブロックを出力します。<!--/T-->"></i></th>
		<td>
			<input type="hidden" name="mo_entry_summary_notfound" value="off" />
			<div class="acms-admin-form-checkbox">
				<input type="checkbox" name="mo_entry_summary_notfound" value="on"{mo_entry_summary_notfound:checked#on} id="input-checkbox-mo_entry_summary_notfound" />
				<label for="input-checkbox-mo_entry_summary_notfound"><i class="acms-admin-ico-checkbox"></i><!--T-->指定された条件のエントリーが一つもない場合にnot foundを表示する<!--/T--></label>
			</div>
			<input type="hidden" name="config[]" value="mo_entry_summary_notfound" />
			<br /><!--T-->( チェックなしで何も表示しない )<!--/T-->
		</td>
	</tr>
    <tr>
        <th><!--T-->エントリーがない場合のHTTP応答<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->チェックをすると、このモジュールが表示すべきエントリー情報が0件のときに、リクエストされたページの応答を404 Not Foundとします。<!--/T-->"></i></th>
        <td>
            <input type="hidden" name="entry_summary_notfound_status_404" value="off" />
            <div class="acms-admin-form-checkbox">
				<input type="checkbox" name="entry_summary_notfound_status_404" value="on"{entry_summary_notfound_status_404:checked#on} id="input-checkbox-entry_summary_notfound_status_404" />
	            <label for="input-checkbox-entry_summary_notfound_status_404"><i class="acms-admin-ico-checkbox"></i> <!--T-->リクエストに404 Not Foundとして応答する<!--/T--></label>
	        </div>
            <input type="hidden" name="config[]" value="entry_summary_notfound_status_404" />
        </td>
    </tr>
	<tr>
		<th><!--T-->投稿日時・更新日時<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->チェックをすると投稿日時・更新日時を出力できるようになります。<!--/T-->"></i></th>
		<td>
			<input type="hidden" name="entry_summary_date" value="off" />
			<div class="acms-admin-form-checkbox">
				<input type="checkbox" name="entry_summary_date" value="on"{entry_summary_date:checked#on} id="input-checkbox-entry_summary_date" />
				<label for="input-checkbox-entry_summary_date"><i class="acms-admin-ico-checkbox"></i><!--T-->投稿日時・更新日時を表示できるようにする。<!--/T--></label>
			</div>
			<input type="hidden" name="config[]" value="entry_summary_date" />
		</td>
	</tr>
	<tr>
		<th><!--T-->サマリー<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->チェックをするとサマリー（テキストユニットの先頭から任意の文字量）を出力できます。サマリーの文字量はテンプレート側で指定します。<!--/T-->"></i></th>
		<td>
			<input type="hidden" name="entry_summary_fulltext" value="off" />
			<div class="acms-admin-form-checkbox">
				<input type="checkbox" name="entry_summary_fulltext" value="on"{entry_summary_fulltext:checked#on} id="input-checkbox-entry_summary_fulltext" />
				<label for="input-checkbox-entry_summary_fulltext"><i class="acms-admin-ico-checkbox"></i><!--T-->サマリーを表示できるようにする。<!--/T--></label>
			</div>
			<input type="hidden" name="config[]" value="entry_summary_fulltext" />

			<!--T-->文字数<!--/T-->:
			<input type="text" name="entry_summary_fulltext_width" value="{entry_summary_fulltext_width}" />
			<input type="hidden" name="config[]" value="entry_summary_fulltext_width" />

			<!--T-->追加文字<!--/T-->:
			<input type="text" name="entry_summary_fulltext_marker" value="{entry_summary_fulltext_marker}" />
			<input type="hidden" name="config[]" value="entry_summary_fulltext_marker" />
		</td>
	</tr>
	<tr>
		<th><!--T-->タグ<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->チェックをするとタグの情報を出力できるようになります。<!--/T-->"></i></th>
		<td>
			<input type="hidden" name="entry_summary_tag" value="off" />
			<div class="acms-admin-form-checkbox">
				<input type="checkbox" name="entry_summary_tag" value="on"{entry_summary_tag:checked#on} id="input-checkbox-entry_summary_tag" />
				<label for="input-checkbox-entry_summary_tag"><i class="acms-admin-ico-checkbox"></i><!--T-->タグを表示できるようにする。<!--/T--></label>
			</div>
			<input type="hidden" name="config[]" value="entry_summary_tag" />
		</td>
	</tr>
	<tr>
		<th><!--T-->詳細のエントリー表示<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->チェックをすると詳細ページでそのページのエントリーを除いたものが出力されます。<!--/T-->"></i></th>
		<td>
			<input type="hidden" name="entry_summary_hidden_current_entry" value="off" />
			<div class="acms-admin-form-checkbox">
				<input type="checkbox" name="entry_summary_hidden_current_entry" value="on"{entry_summary_hidden_current_entry:checked#on} id="input-checkbox-entry_summary_hidden_current_entry" />
				<label for="input-checkbox-entry_summary_hidden_current_entry"><i class="acms-admin-ico-checkbox"></i><!--T-->現在表示されているエントリーを表示しない<!--/T--></label>
			</div>
			<input type="hidden" name="config[]" value="entry_summary_hidden_current_entry" />
		</td>
	</tr>
</table>

<h3 class="acms-admin-admin-title2"><!--T-->イメージ<!--/T--></h3>
<table class="adminTable acms-admin-table-admin-edit">
  <tr>
		<th><!--T-->メインイメージ<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->チェックをするとメインイメージを出力できます。<!--/T-->"></i></th>
		<td>
			<input type="hidden" name="entry_summary_image_on" value="off" />
			<div class="acms-admin-form-checkbox">
				<input type="checkbox" name="entry_summary_image_on" value="on"{entry_summary_image_on:checked#on} class="switching-function-btn" id="input-checkbox-entry_summary_image_on" />
				<label for="input-checkbox-entry_summary_image_on" ><i class="acms-admin-ico-checkbox"></i><!--T-->メインイメージを表示できるようにする。<!--/T--></label>
			</div>
			<input type="hidden" name="config[]" value="entry_summary_image_on" />
		</td>
	</tr>
	<tr>
		<th><!--T-->ノーイメージ<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->チェックを外すと、画像がないエントリーを表示しなくなります。<!--/T-->"></i></th>
		<td>
			<input type="hidden" name="entry_summary_noimage" value="off" />
			<div class="acms-admin-form-checkbox">
				<input type="checkbox" name="entry_summary_noimage" value="on"{entry_summary_noimage:checked#on} id="input-checkbox-entry_summary_noimage" />
				<label for="input-checkbox-entry_summary_noimage"><i class="acms-admin-ico-checkbox"></i><!--T-->画像がないエントリーを表示する<!--/T--></label>
			</div>
			<input type="hidden" name="config[]" value="entry_summary_noimage" />
		</td>
	</tr>
	<tr>
		<th><!--T-->サイズ<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->このモジュールで出力する画像のサイズを設定します。<!--/T-->"></i></th>
		<td>
			<!--T-->横<!--/T-->&nbsp;<input type="text" name="entry_summary_image_x" value="{entry_summary_image_x}" size="8" class="acms-admin-form-width-mini" /><!--T-->ピクセル x 縦<!--/T-->&nbsp;<input type="text" name="entry_summary_image_y" value="{entry_summary_image_y}" size="8" class="acms-admin-form-width-mini" /><!--T-->ピクセル<!--/T-->
			<input type="hidden" name="config[]" value="entry_summary_image_x" />
			<input type="hidden" name="config[]" value="entry_summary_image_y" />
			<input type="hidden" name="entry_summary_image_x:convert" value="a" />
			<input type="hidden" name="entry_summary_image_x:validator#digits" id="validator-entry_summary_image_x-digits" />
			<input type="hidden" name="entry_summary_image_y:convert" value="a" />
			<input type="hidden" name="entry_summary_image_y:validator#digits" id="validator-entry_summary_image_y-digits" />

			<div role="alert" aria-live="assertive">
				<div data-validator-label="validator-entry_summary_image_x-digits" class="validator-result-{entry_summary_image_x:validator#digits}">
					<p class="error-text"><span class="acms-admin-icon acms-admin-icon-attention" aria-hidden="true"></span><!--T-->数字を入力して下さい。<!--/T--></p>
				</div>
				<div data-validator-label="validator-entry_summary_image_y-digits" class="validator-result-{entry_summary_image_y:validator#digits}">
					<p class="error-text"><span class="acms-admin-icon acms-admin-icon-attention" aria-hidden="true"></span><!--T-->数字を入力して下さい。<!--/T--></p>
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<th><!--T-->トリミング<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->サイズで指定された大きさに、画像をトリミングして表示します。<!--/T-->"></i></th>
		<td>
			<input type="hidden" name="entry_summary_image_trim" value="off" />
			<div class="acms-admin-form-checkbox">
				<input type="checkbox" name="entry_summary_image_trim" value="on"{entry_summary_image_trim:checked#on} id="input-checkbox-entry_summary_image_trim" />
				<label for="input-checkbox-entry_summary_image_trim"><i class="acms-admin-ico-checkbox"></i><!--T-->画像を指定されたサイズにトリミングする<!--/T--></label>
			</div>
			<input type="hidden" name="config[]" value="entry_summary_image_trim" />
		</td>
	</tr>
	<tr>
		<th><!--T-->拡大　( トリミングがoffの場合のみ )<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->画像が指定されたサイズよりも小さいときに、指定されたサイズまで拡大します。<!--/T-->"></i></th>
		<td>
			<input type="hidden" name="entry_summary_image_zoom" value="off" />
			<div class="acms-admin-form-checkbox">
				<input type="checkbox" name="entry_summary_image_zoom" value="on"{entry_summary_image_zoom:checked#on} id="input-checkbox-entry_summary_image_zomm" />
				<label for="input-checkbox-entry_summary_image_zomm"><i class="acms-admin-ico-checkbox"></i><!--T-->画像が指定されたサイズに満たない場合に拡大する<!--/T--></label>
			</div>
			<input type="hidden" name="config[]" value="entry_summary_image_zoom" />
		</td>
	</tr>
	<tr>
		<th><!--T-->表示位置 ( トリミングがoffの場合のみ )<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->画像を指定されたサイズの中心に表示します。<!--/T-->"></i></th>
		<td>
			<input type="hidden" name="entry_summary_image_center" value="off" />
			<div class="acms-admin-form-checkbox">
				<input type="checkbox" name="entry_summary_image_center" value="on"{entry_summary_image_center:checked#on} id="input-checkbox-entry_summary_image_center" />
				<label for="input-checkbox-entry_summary_image_center"><i class="acms-admin-ico-checkbox"></i><!--T-->画像を指定されたサイズの中心に表示する<!--/T--></label>
			</div>
			<input type="hidden" name="config[]" value="entry_summary_image_center" />
		</td>
	</tr>
</table>

<h3 class="acms-admin-admin-title2"><!--T-->ページャー<!--/T--></h3>
<table class="adminTable acms-admin-table-admin-edit">
	<tr>
		<th><!--T-->簡易ページャー<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->チェックをすると簡易ページャー（前後ページへのリンク）機能に必要な情報を出力します。記事数が多く通常のページャーが重い場合はこちらのペジャーをお使いください。ページャー機能を使用するには、モジュールIDとしてこのモジュールを使用し、引数の「ページ」のURLコンテキストにチェックをしてください。<!--/T-->"></i></th>
		<td>
			<input type="hidden" name="entry_summary_simple_pager_on" value="off" />
			<div class="acms-admin-form-checkbox">
				<input type="checkbox" name="entry_summary_simple_pager_on" value="on"{entry_summary_simple_pager_on:checked#on} id="input-checkbox-entry_summary_simple_pager_on" />
				<label for="input-checkbox-entry_summary_simple_pager_on"><i class="acms-admin-ico-checkbox"></i><!--T-->簡易ページャーを表示できるようにする。<!--/T--></label>
			</div>
			<input type="hidden" name="config[]" value="entry_summary_simple_pager_on" />
		</td>
	</tr>
	<tr>
		<th><!--T-->ページャー<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->チェックをするとページャー（ページ送り）機能に必要な情報を出力します。ページャー機能を使用するには、モジュールIDとしてこのモジュールを使用し、引数の「ページ」のURLコンテキストにチェックをしてください。<!--/T-->"></i></th>
		<td>
			<input type="hidden" name="entry_summary_pager_on" value="off" />
			<div class="acms-admin-form-checkbox">
				<input type="checkbox" name="entry_summary_pager_on" value="on"{entry_summary_pager_on:checked#on} class="switching-function-btn" id="input-checkbox-entry_summary_pager_on" />
				<label for="input-checkbox-entry_summary_pager_on"><i class="acms-admin-ico-checkbox"></i><!--T-->ページャーを表示できるようにする。<!--/T--></label>
			</div>
			<input type="hidden" name="config[]" value="entry_summary_pager_on" />
		</td>
	</tr>
	<tr>
		<th><!--T-->前後に表示するページ数<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->ページャーの設定です。表示中のページを基点として、ここで設定した値の数だけページ番号が表示されます。<!--/T-->"></i></th>
		<td>
			<input type="text" name="entry_summary_pager_delta" value="{entry_summary_pager_delta}" size="4" class="acms-admin-form-width-mini" />
			<input type="hidden" name="config[]" value="entry_summary_pager_delta" />
			<input type="hidden" name="entry_summary_pager_delta:validator#digits" id="validator-entry_summary_pager_delta-digits" />
			<div role="alert" aria-live="assertive">
				<div data-validator-label="validator-entry_summary_pager_delta-digits" class="validator-result-{entry_summary_pager_delta:validator#digits}">
					<p class="error-text"><span class="acms-admin-icon acms-admin-icon-attention" aria-hidden="true"></span><!--T-->数字を入力して下さい。<!--/T--></p>
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<th><!--T-->現在のページの要素の属性<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->ページャーの設定です。表示中のページ番号に割り当てられる属性です。（変数名 : pageCurAttr）<!--/T-->"></i></th>
		<td>
			<input type="text" name="entry_summary_pager_cur_attr" value="{entry_summary_pager_cur_attr}" size="20" />
			<input type="hidden" name="config[]" value="entry_summary_pager_cur_attr" />
		</td>
	</tr>
</table>

<h3 class="acms-admin-admin-title2"><!--T-->フィールド<!--/T--></h3>
<table class="adminTable acms-admin-table-admin-edit">
	<tr>
		<th><!--T-->フィールド基本情報<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->チェックをすると各フィールドの基本情報（名前など）を出力できます。<!--/T-->"></i></th>
		<td>
			<input type="hidden" name="entry_summary_category_on" value="off" />
			<div class="acms-admin-form-checkbox">
				<input type="checkbox" name="entry_summary_category_on" value="on"{entry_summary_category_on:checked#on} id="input-checkbox-entry_summary_category_on" />
				<label for="input-checkbox-entry_summary_category_on"><i class="acms-admin-ico-checkbox"></i><!--T-->カテゴリー情報<!--/T--></label>
			</div>
			<input type="hidden" name="config[]" value="entry_summary_category_on" />
			<br>
			<input type="hidden" name="entry_summary_user_on" value="off" />
			<div class="acms-admin-form-checkbox">
				<input type="checkbox" name="entry_summary_user_on" value="on"{entry_summary_user_on:checked#on} id="input-checkbox-entry_summary_user_on" />
				<label for="input-checkbox-entry_summary_user_on"><i class="acms-admin-ico-checkbox"></i><!--T-->ユーザー情報<!--/T--></label>
			</div>
			<input type="hidden" name="config[]" value="entry_summary_user_on" />
			<br>

			<input type="hidden" name="entry_summary_blog_on" value="off" />
			<div class="acms-admin-form-checkbox">
				<input type="checkbox" name="entry_summary_blog_on" value="on"{entry_summary_blog_on:checked#on} id="input-checkbox-entry_summary_blog_on" />
				<label for="input-checkbox-entry_summary_blog_on"><i class="acms-admin-ico-checkbox"></i><!--t-->ブログ情報<!--/T--></label>
			</div>
			<input type="hidden" name="config[]" value="entry_summary_blog_on" />
		</td>
	</tr>
	<tr>
		<th><!--T-->カスタムフィールド<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->チェックをすると各フィールドのカスタムフィールドを出力できます。<!--/T-->"></i></th>
		<td>
			<input type="hidden" name="entry_summary_entry_field" value="off" />
			<div class="acms-admin-form-checkbox">
				<input type="checkbox" name="entry_summary_entry_field" value="on"{entry_summary_entry_field:checked#on} id="input-checkbox-entry_summary_entry_field" />
				<label for="input-checkbox-entry_summary_entry_field"><i class="acms-admin-ico-checkbox"></i><!--T-->エントリーフィールド<!--/T--></label>
			</div>
			<input type="hidden" name="config[]" value="entry_summary_entry_field" />
			<br>

			<input type="hidden" name="entry_summary_category_field_on" value="off" />
			<div class="acms-admin-form-checkbox">
				<input type="checkbox" name="entry_summary_category_field_on" value="on"{entry_summary_category_field_on:checked#on} id="input-checkbox-entry_summary_category_field_on" />
				<label for="input-checkbox-entry_summary_category_field_on"><i class="acms-admin-ico-checkbox"></i><!--T-->カテゴリーフィールド<!--/T--></label>
			</div>
			<input type="hidden" name="config[]" value="entry_summary_category_field_on" />
			<br>

			<input type="hidden" name="entry_summary_user_field_on" value="off" />

			<div class="acms-admin-form-checkbox">
				<input type="checkbox" name="entry_summary_user_field_on" value="on"{entry_summary_user_field_on:checked#on} id="input-checkbox-entry_summary_user_field_on" />
				<label for="input-checkbox-entry_summary_user_field_on"><i class="acms-admin-ico-checkbox"></i><!--T-->ユーザーフィールド<!--/T--></label>
			</div>

			<input type="hidden" name="config[]" value="entry_summary_user_field_on" />
			<br>

			<input type="hidden" name="entry_summary_blog_field_on" value="off" />

			<div class="acms-admin-form-checkbox">
				<input type="checkbox" name="entry_summary_blog_field_on" value="on"{entry_summary_blog_field_on:checked#on} id="input-checkbox-entry_summary_blog_field_on" />
				<label for="input-checkbox-entry_summary_blog_field_on"><i class="acms-admin-ico-checkbox"></i><!--T-->ブログフィールド<!--/T--></label><br><!--T-->(エントリーフィールド以外のカスタムフィールドは各基本情報がonの時のみ有効)<!--/T-->
			</div>
			<input type="hidden" name="config[]" value="entry_summary_blog_field_on" />
		</td>
	</tr>
</table>

<!-- BEGIN_MODULE Admin_Rule_Name -->
<input type="hidden" name="rid" value="{rid}" /><!-- END_MODULE Admin_Rule_Name --><!-- BEGIN_MODULE Admin_Module_Name -->
<input type="hidden" name="mid" value="{mid}" /><!-- END_MODULE Admin_Module_Name -->
