<h3 class="acms-admin-admin-title2"><!--T-->コンフィグ<!--/T--></h3>
<table class="adminTable acms-admin-table-admin-edit">
	<tr>
		<th><!--T-->表示順<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->どのようなルールに従って表示されるかの設定です。フィールド、数値フィールドはカスタムフィールドでの検索結果の表示時に利用します。関連度優先は、同じタグのついた数が多いエントリーが優先されます。<!--/T-->"></i></th>
		<td>
			<select name="entry_tag-relational_order">
				<option value="datetime-asc"{entry_tag-relational_order:selected#datetime-asc}><!--T-->日時 ( 昇順 )<!--/T--></option>
				<option value="datetime-desc"{entry_tag-relational_order:selected#datetime-desc}><!--T-->日時 ( 降順 )<!--/T--></option>
				<option value="code-asc"{entry_tag-relational_order:selected#code-asc}><!--T-->ファイル名 ( 昇順 )<!--/T--></option>
				<option value="code-desc"{entry_tag-relational_order:selected#code-desc}><!--T-->ファイル名 ( 降順 )<!--/T--></option>
				<option value="id-asc"{entry_tag-relational_order:selected#id-asc}><!--T-->ID ( 昇順 )<!--/T--></option>
				<option value="id-desc"{entry_tag-relational_order:selected#id-desc}><!--T-->ID ( 降順 )<!--/T--></option>
				<option value="sort-asc"{entry_tag-relational_order:selected#sort-asc}><!--T-->表示順 ( 昇順 )<!--/T--></option>
				<option value="sort-desc"{entry_tag-relational_order:selected#sort-desc}><!--T-->表示順 ( 降順 )<!--/T--></option>
				<option value="field-asc"{entry_tag-relational_order:selected#field-asc}><!--T-->フィールド ( 昇順 )<!--/T--></option>
				<option value="field-desc"{entry_tag-relational_order:selected#field-desc}><!--T-->フィールド ( 降順 )<!--/T--></option>
				<option value="intfield-asc"{entry_tag-relational_order:selected#intfield-asc}><!--T-->数値フィールド ( 昇順 )<!--/T--></option>
				<option value="intfield-desc"{entry_tag-relational_order:selected#intfield-desc}><!--T-->数値フィールド ( 降順 )<!--/T--></option>
				<option value="random"{entry_tag-relational_order:selected#random}><!--T-->ランダム<!--/T--></option>
				<option value="relationality"{entry_tag-relational_order:selected#relationality}><!--T-->関連度優先<!--/T--></option>
			</select>
			<input type="hidden" name="config[]" value="entry_tag-relational_order" />
		</td>
	</tr>
	<tr>
		<th><!--T-->表示件数<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->一度に表示される件数です。<!--/T-->"></i></th>
		<td>
			<input type="text" name="entry_tag-relational_limit" value="{entry_tag-relational_limit}" size="4" class="acms-admin-form-width-mini" />
			<input type="hidden" name="config[]" value="entry_tag-relational_limit" />
			<input type="hidden" name="entry_tag-relational_limit:convert" value="a" />
			<input type="hidden" name="entry_tag-relational_limit:validator#digits" id="validator-entry_tag-relational_limit-digits" />
			<div role="alert" aria-live="assertive">
				<div data-validator-label="validator-entry_tag-relational_limit-digits" class="validator-result-{entry_tag-relational_limit:validator#digits}">
					<p class="error-text"><span class="acms-admin-icon acms-admin-icon-attention" aria-hidden="true"></span><!--T-->数字を入力して下さい。<!--/T--></p>
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<th><!--T-->ループ内クラス<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->指定したクラスをループブロック内に設定できます。例えばグリッドシステムのカラム数など設定してください。<!--/T-->"></i></th>
		<td>
			<input type="text" name="entry_tag-relational_loop_class" value="{entry_tag-relational_loop_class}" size="4" class="acms-admin-form-width-medium" />
			<input type="hidden" name="config[]" value="entry_tag-relational_loop_class" />
		</td>
	</tr>
	<tr>
		<th><!--T-->インデキシング<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->チェックを外すと、インデキシングされていないエントリーも表示されます。<!--/T-->"></i></th>
		<td>
			<input type="hidden" name="entry_tag-relational_indexing" value="off" />
			<div class="acms-admin-form-checkbox">
				<input type="checkbox" name="entry_tag-relational_indexing" value="on"{entry_tag-relational_indexing:checked#on} id="input-checkbox-entry_tag-relational_indexing" />
				<label for="input-checkbox-entry_tag-relational_indexing"><i class="acms-admin-ico-checkbox"></i><!--T-->インデキシングされているエントリーのみ表示する<!--/T--></label>
			</div>
			<input type="hidden" name="config[]" value="entry_tag-relational_indexing" />
		</td>
	</tr>
	<tr>
		<th><!--T-->シークレットエントリー<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->チェックをすると、ログインしていなくてもシークレットブログのエントリーが表示されます。<br />ステータスがシークレットの子ブログのエントリーを表示するためには、モジュールIDの設定でブログIDは指定せず、ブログの階層は下階層のブログを含めるようにしてください。<!--/T-->"></i></th>
		<td>
			<input type="hidden" name="entry_tag-relational_secret" value="off" />
			<div class="acms-admin-form-checkbox">
				<input type="checkbox" name="entry_tag-relational_secret" value="on"{entry_tag-relational_secret:checked#on} id="input-checkbox-entry_tag-relational_secret" />
				<label for="input-checkbox-entry_tag-relational_secret"><i class="acms-admin-ico-checkbox"></i><!--T-->ログインしていなくてもシークレットブログのエントリーを表示する<!--/T--></label>
			</div>
			<input type="hidden" name="config[]" value="entry_tag-relational_secret" />
		</td>
	</tr>
	<tr>
		<th><!--T-->エントリーがない場合の表示<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->チェックすると、指定条件でエントリーが見つからなかった場合にnotFoundブロックを出力します。<!--/T-->"></i></th>
		<td>
			<input type="hidden" name="mo_entry_tag-relational_notfound" value="off" />
			<div class="acms-admin-form-checkbox">
				<input type="checkbox" name="mo_entry_tag-relational_notfound" value="on"{mo_entry_tag-relational_notfound:checked#on} id="input-checkbox-mo_entry_tag-relational_notfound" />
				<label for="input-checkbox-mo_entry_tag-relational_notfound" class="acms-admin-form-checkbox"><i class="acms-admin-ico-checkbox"></i><!--T-->指定された条件のエントリーが一つもない場合にnot foundを表示する<!--/T--></label>
			</div>
			<input type="hidden" name="config[]" value="mo_entry_tag-relational_notfound" />
			<br /><!--T-->( チェックなしで何も表示しない )<!--/T-->
		</td>
	</tr>
	<tr>
		<th><!--T-->サマリー<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->テキストユニットの先頭から任意の文字量を出力できます。<!--/T-->"></i></th>
		<td>
			<!--T-->文字数<!--/T-->:
			<input type="text" name="entry_tag-relational_fulltext_width" value="{entry_tag-relational_fulltext_width}" />
			<input type="hidden" name="config[]" value="entry_tag-relational_fulltext_width" />

			<!--T-->追加文字<!--/T-->:
			<input type="text" name="entry_tag-relational_fulltext_marker" value="{entry_tag-relational_fulltext_marker}" />
			<input type="hidden" name="config[]" value="entry_tag-relational_fulltext_marker" />
		</td>
	</tr>
</table>

<h3 class="acms-admin-admin-title2"><!--T-->イメージ<!--/T--></h3>
<table class="adminTable acms-admin-table-admin-edit">
	<tr>
		<th><!--T-->ノーイメージ<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->チェックを外すと、画像がないエントリーを表示しなくなります。<!--/T-->"></i></th>
		<td>
			<input type="hidden" name="entry_tag-relational_noimage" value="off" />
			<div class="acms-admin-form-checkbox">
				<input type="checkbox" name="entry_tag-relational_noimage" value="on"{entry_tag-relational_noimage:checked#on} id="input-checkbox-entry_tag-relational_noimage" />
				<label for="input-checkbox-entry_tag-relational_noimage"><i class="acms-admin-ico-checkbox"></i><!--T-->画像がないエントリーを表示する<!--/T--></label>
			</div>
			<input type="hidden" name="config[]" value="entry_tag-relational_noimage" />
		</td>
	</tr>

	<tr>
		<th><!--T-->サイズ<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->このモジュールで出力する画像のサイズを設定します。<!--/T-->"></i></th>
		<td>
			<!--T-->横<!--/T-->&nbsp;<input type="text" name="entry_tag-relational_image_x" value="{entry_tag-relational_image_x}" size="8" class="acms-admin-form-width-mini" /><!--T-->ピクセル x 縦<!--/T-->&nbsp;<input type="text" name="entry_tag-relational_image_y" value="{entry_tag-relational_image_y}" size="8" class="acms-admin-form-width-mini" /><!--T-->ピクセル<!--/T-->
			<input type="hidden" name="config[]" value="entry_tag-relational_image_x" />
			<input type="hidden" name="config[]" value="entry_tag-relational_image_y" />
			<input type="hidden" name="entry_tag-relational_image_x:convert" value="a" />
			<input type="hidden" name="entry_tag-relational_image_x:validator#digits" id="validator-entry_tag-relational_image_x-digits" />
			<input type="hidden" name="entry_tag-relational_image_y:convert" value="a" />
			<input type="hidden" name="entry_tag-relational_image_y:validator#digits" id="validator-entry_tag-relational_image_y-digits" />
			<div role="alert" aria-live="assertive">
				<div data-validator-label="validator-entry_tag-relational_image_x-digits" class="validator-result-{entry_tag-relational_image_x:validator#digits}">
					<p class="error-text"><span class="acms-admin-icon acms-admin-icon-attention" aria-hidden="true"></span><!--T-->数字を入力して下さい。<!--/T--></p>
				</div>
				<div data-validator-label="validator-entry_tag-relational_image_y-digits" class="validator-result-{entry_tag-relational_image_y:validator#digits}">
					<p class="error-text"><span class="acms-admin-icon acms-admin-icon-attention" aria-hidden="true"></span><!--T-->数字を入力して下さい。<!--/T--></p>
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<th><!--T-->トリミング<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->サイズで指定された大きさに、画像をトリミングして表示します。<!--/T-->"></i></th>
		<td>
			<input type="hidden" name="entry_tag-relational_image_trim" value="off" />
			<div class="acms-admin-form-checkbox">
				<input type="checkbox" name="entry_tag-relational_image_trim" value="on"{entry_tag-relational_image_trim:checked#on} id="input-checkbox-entry_tag-relational_image_trim" />
				<label for="input-checkbox-entry_tag-relational_image_trim"><i class="acms-admin-ico-checkbox"></i><!--T-->画像を指定されたサイズにトリミングする<!--/T--></label>
			</div>
			<input type="hidden" name="config[]" value="entry_tag-relational_image_trim" />
		</td>
	</tr>
	<tr>
		<th><!--T-->拡大　( トリミングがoffの場合のみ )<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->画像が指定されたサイズよりも小さいときに、指定されたサイズまで拡大します。<!--/T-->"></i></th>
		<td>
			<input type="hidden" name="entry_tag-relational_image_zoom" value="off" />
			<div class="acms-admin-form-checkbox">
				<input type="checkbox" name="entry_tag-relational_image_zoom" value="on"{entry_tag-relational_image_zoom:checked#on} id="input-checkbox-entry_tag-relational_image_zomm" />
				<label for="input-checkbox-entry_tag-relational_image_zomm"><i class="acms-admin-ico-checkbox"></i><!--T-->画像が指定されたサイズに満たない場合に拡大する<!--/T--></label>
			</div>
			<input type="hidden" name="config[]" value="entry_tag-relational_image_zoom" />
		</td>
	</tr>
	<tr>
		<th><!--T-->表示位置 ( トリミングがoffの場合のみ )<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->画像を指定されたサイズの中心に表示します。<!--/T-->"></i></th>
		<td>
			<input type="hidden" name="entry_tag-relational_image_center" value="off" />
			<div class="acms-admin-form-checkbox">
				<input type="checkbox" name="entry_tag-relational_image_center" value="on"{entry_tag-relational_image_center:checked#on} id="input-checkbox-entry_tag-relational_image_center" />
				<label for="input-checkbox-entry_tag-relational_image_center"><i class="acms-admin-ico-checkbox"></i><!--T-->画像を指定されたサイズの中心に表示する<!--/T--></label>
			</div>
			<input type="hidden" name="config[]" value="entry_tag-relational_image_center" />
		</td>
	</tr>
</table><!-- BEGIN_MODULE Admin_Rule_Name -->
<input type="hidden" name="rid" value="{rid}" /><!-- END_MODULE Admin_Rule_Name --><!-- BEGIN_MODULE Admin_Module_Name -->
<input type="hidden" name="mid" value="{mid}" /><!-- END_MODULE Admin_Module_Name -->
