<span class="js-tag_insertion">
<!--<p> -->
	<a href="#" class="emoji-trigger-tag" data-rel="a" title="リンク先のURLを入力してください"><!--T-->リンク挿入<!--/T--></a>
	<!--<a href="#" class="emoji-trigger-tag" rel="strong">強調</a>-->
	<a href="#" class="emoji-trigger-tag" data-rel="em"><!--T-->強調1<!--/T--></a>
	<a href="#" class="emoji-trigger-tag" data-rel="strong"><!--T-->強調2<!--/T--></a>
	<!--<a href="#" class="emoji-trigger-tag" rel="u">下線</a>-->
<!--
	文字色
	<a href="#" class="emoji-trigger-text" rel="color-red"><span class="color-red">赤</span></a>
	<a href="#" class="emoji-trigger-text" rel="color-blue"><span class="color-blue">青</span></a>
	<a href="#" class="emoji-trigger-text" rel="color-yellow"><span class="color-yellow">黄</span></a>
	<br />
-->
<!--</p> -->
	<div aria-hidden="true" aria-live="assertive" class="js-a11y-no acms-admin-hide-visually">ユニットのテキストエリアにフォーカスが移動しました。</div>
</span>
