<header class="acms-admin-grid-r">
	<div class="acms-admin-col-md-6">
		<h1 class="acms-admin-admin-title"><i class="acms-admin-icon acms-admin-icon-schedule"></i><!--T-->スケジュール管理<!--/T--></h1>
	</div>
	<div class="acms-admin-col-md-6">
		<!--#include file="/admin/topicpath.html"-->
	</div>
</header>

<div class="acms-admin-form-group">
	<form action="" method="post" class="acms-admin-float-right acms-admin-float-none-sp js-acms_fix_marker js-acms_fix_target acms-admin-position-right">
		<input type="hidden" name="bid" value="%{BID}" />
		<input type="hidden" name="admin" value="schedule_edit" />
		<input type="hidden" name="edit" value="insert" />
		<input type="hidden" name="query[]" value="edit" />
		<input type="submit" name="ACMS_POST_2GET" value="<!--T-->スケジュールセットを作成<!--/T-->" class="acms-admin-btn-admin" />
	</form>
</div>

<!-- BEGIN_MODULE Admin_Schedule_Index -->

<!-- BEGIN notFound -->
<p class="acms-admin-alert acms-admin-alert-danger"><!--T-->スケジュールセットがありません。<!--/T--><button class="js-acms-alert-close">×</button></p><!-- END notFound -->

<!-- BEGIN index:touch#result -->
<table class="adminTable acms-admin-table-admin acms-admin-table-heading">
	<thead>
		<tr>
			<th class="acms-admin-hide-sp">id</th>
			<th class="acms-admin-hide-sp"><!--T-->セット名<!--/T--></th>
			<th class="acms-admin-hide-sp"><!--T-->説明<!--/T--></th>
			<th class="acms-admin-show-sp"><!--T-->登録データ<!--/T--></th>
			<th class="acms-admin-hide-sp"><!--T-->ラベル<!--/T--></th>
			<th class="acms-admin-hide-sp"><!--T-->詳細<!--/T--></th>
		</tr>
	</thead>
	<tbody><!-- BEGIN schedule:loop -->
		<tr>
			<td class="acms-admin-show-sp acms-admin-width-sp acms-admin-border-top-sp"><span class="acms-admin-label label-default">{id}</span></td>
			<td class="acms-admin-title-sp acms-admin-show-sp acms-admin-width-sp"><strong>{name}</strong></td>
			<td class="acms-admin-show-sp acms-admin-width-sp">{desc}[trim(50,...)]</td>
			<td><a href="{dataUrl}&edit=update" class="acms-admin-btn-admin"><!--T-->表示<!--/T--></a></td>
			<td><a href="{labelUrl}&edit=update" class="acms-admin-btn-admin"><!--T-->設定<!--/T--></a></td>
			<td><a href="{itemUrl}&edit=update" class="acms-admin-btn-admin"><!--T-->変更<!--/T--></a></td>
		</tr>
	</tbody><!-- END schedule:loop -->
</table><!-- END index:touch#result -->
<div class="js-acms_fix_target acms_fix_bg"><div class="acms_fix_bg_index"></div></div>
<!-- END_MODULE Admin_Schedule_Index -->
