<!-- BEGIN unit#quote_amazon -->

<!-- 引用 -->
<div class="column-quote-{align}"{display_size}[raw]><!-- BEGIN html:veil -->
	{quote_html}[raw]<!-- END html:veil --><!-- BEGIN_IF [{quote_title}/nem/] -->
	<blockquote class="js-biggerlink"><!-- BEGIN image:veil -->
		<div class="quoteImageContainer">
			<img src="{quote_image}" class="quoteImage" width="154" alt="">
		</div><!-- END image:veil -->
		<div>
			<p class="quoteTitle"><a href="{quote_url}" class="quoteTitleLink">{quote_title}</a></p><!-- BEGIN description:veil --><!-- BEGIN site_name:veil -->
			<p class="quoteSiteName">{quote_site_name}</p><!-- END site_name:veil -->
			<p class="quoteDescription">{quote_description}[trim(180, '...')]</p><!-- END description:veil -->
		</div>
		<hr class="clearHidden">
	</blockquote><!-- END_IF -->
</div>
<!-- END unit#quote_amazon -->