<script src="/js/development.js" charset="UTF-8"></script>
<!-- 変数の読み込み -->
<!--#include file="/admin/vars_field.html" -->

<!-- サイト設定 基本 -->
<!--#include file="/admin/blog/base.html" -->

<!-- SEOの設定 -->
<!-- GET_Template id="field_seo_blog" -->

<!-- OGPの設定 -->
<!-- GET_Template id="field_ogp" fb_admin="true" image="true" -->

<!-- SNSアカウントの設定 -->
<!-- GET_Template id="field_sns" facebook="true" twitter="true" google_plus="true" youtube="true" -->

<!-- アナリティクスの設定 -->
<!-- GET_Template id="field_analytics" tag="true" view_id="true" client_id="true" -->

<!-- URLコンテキスト別 -->
<!--#include file="/admin/category/bcd_%{BCD}.html" -->

<h3 class="acms-admin-admin-title2">プロフィール</h3>
<table class="adminTable acms-admin-table-admin-edit">
  <tr>
    <th></th>
    <td>
      <!-- BEGIN my_profileimage@path:veil -->
      <img src="%{ARCHIVES_DIR}{my_profileimage@path}" />
      <input type="hidden" name="my_profileimage@old" value="{my_profileimage@path}" /><br />
      <label>
        <input type="checkbox" name="my_profileimage@edit" value="delete" />
        削除
      </label>
      <!-- END my_profileimage@path:veil -->
      <input type="file" name="my_profileimage" size="400" /><br />
      <input type="hidden" name="field[]" value="my_profileimage" />
      <input type="hidden" name="my_profileimage:extension" value="image" />
      <input type="hidden" name="my_profileimage@size" value="400" />
      <input type="hidden" name="my_profileimage@filename" value="" />
    </td>
  </tr>
  <tr>
    <th>名前</th>
    <td>
      <input type="text" name="my_name" value="{my_name}" class="acms-admin-form-width-half"/>
      <input type="hidden" name="field[]" value="my_name" />
    </td>
  </tr>
  <tr>
    <th>自己紹介</th>
    <td>
      <textarea type="text" rows="5" name="my_introduction" class="acms-admin-form-width-half">{my_introduction}</textarea>
      <input type="hidden" name="field[]" value="my_introduction" />
    </td>
  </tr>
  <tr>
    <th>FaceBook</th>
    <td>
      <input type="text" name="FaceBook" value="{FaceBook}" class="acms-admin-form-width-half"/>
      <input type="hidden" name="field[]" value="FaceBook" />
    </td>
  </tr>
  <tr>
    <th>Twitter</th>
    <td>
      <input type="text" name="Twitter" value="{Twitter}" class="acms-admin-form-width-half"/>
      <input type="hidden" name="field[]" value="Twitter" />
    </td>
  </tr>
  <tr>
    <th>Instagram</th>
    <td>
      <input type="text" name="Instagram" value="{Instagram}" class="acms-admin-form-width-half"/>
      <input type="hidden" name="field[]" value="Instagram" />
    </td>
  </tr>
</table>

