@charset "UTF-8";
/* CSS Document */

body{
	color: #444;
	font-size: 16px;
    font-family: "ヒラギノ丸ゴ Pro W4", "Hiragino Maru Gothic Pro";
    background-color: #A1CF82;
}

body.tpl2{
    background-color: #fff;
}

a{
	text-decoration: none;
	color: #444;
}

p{
	margin: 0;
	padding: 16px 0;
	text-align: center;
}
 
h1{
	margin: 0;
}

ul,ol{
	list-style: none;
	margin: 0;
	padding: 0;
}

/*==================
layout
===================*/

.l-cf:before,
.l-cf:after {
    content: " ";
    display: table;
}
 
.l-cf:after {
    clear: both;
}

.l-cb{
	clear: both;
}

.l-container{
	width: 280px; 
	margin: 0 auto;
}

/*===================
header
=====================*/

header{
	height: 60px;
	background-color: #fff;
}

header h1{
	padding: 5px 0 0 10px;
}

header h1,nav li{
	float: left;
	padding-top: 6px;
}

header nav li:nth-child(2){
	padding: 2.5px 0 0 10px;
}

header nav{
	float: right;
	padding-right: 10px;
}

/*===================
main
=====================*/

main.tpl2{
	padding-bottom: 140px;
}

main,main .position{
	position: relative;
}

main h2{
	text-align: center;
	margin: 0;
	padding: 50px 0 30px 0;
	font-size: 16px;
}

main h2.tpl2{
	text-align: center;
	margin: 0;
	padding:  0;
	font-size: 16px;
}

main img.help{
	position: absolute;
	top: 5px;
	right: 10px;
}

main img.check{
	position: absolute;
	top: 10px;
	left: 10px;
}

main img.help.tpl2{
	position: absolute;
	top: -45px;
	right: 10px;
}

main img.dandelion{
	position: absolute;
	right: -20px;
	bottom: 20px;
}

main img.zzz{
	position: absolute;
	right: 10px;
	top: 20px;
	transform: rotate(30deg);
}

main .glass{
	margin-top: -40px;
    background-image: url('/images/bg/bg-glass.png');
    background-repeat: repeat-x;
    background-position: left top;
    padding-top: 13px;
}

main .glass .glass-bg{
	background-color: #A1CF82;
}

main .glass .clock{
	font-size: 40px;
	text-align: center;
	padding: 54px 0 60px 0;
	margin: 0;
}

/* 何時に寝ましたか？ */

main.m-time input[type="time"] {
    padding: 5px;
    font-size: x-large;
}

main.m-time form.time-form{
	text-align: center;
	padding: 50px 0 30px 0;
}

main.m-time span{
	padding: 15px 10px;
}

main.m-time p.sleep-time{
	padding: 25px 0 10px 0;
}

main.m-time p.food-time{
	padding: 0;
}

main.m-time p.food-time span{
	padding: 0 10px 0 5px;
	font-size: 1.1em;
}

/*main.m-time p.food-time img{
	padding-top: 5px;
}*/


/* 今日の調子はどう？ */

main .balloon-bg{
	margin-top: 50px;
	padding-bottom: 65px;
}

main ul.condition{
	margin-top: 30px;
}

main ul.condition li{
	width: 50%;
	float: left;
}

main ul.condition li:nth-child(odd) img{
    float: right;
}

main ul.condition li:nth-child(even){
    margin-top: 30px;
    margin-bottom: -20px;
}

/*===================
レシピ
=====================*/

main.recipe h2{
	padding: 10px 24px;
	font-size: 1.1em;
}

main.recipe h3{
	background-color: #ECD375;
	padding: 5px 24px;
	margin-bottom: 4px;
}

main.recipe ul li,ol li{
	border-bottom: 1px solid #ECD375;
	padding: 6px 24px;
}

main.recipe ul li span.count{
	float: right;
}

main.recipe ul li:last-child{
	border: 0;
}

main.recipe p.point{
	padding: 6px 24px;
	text-align: left;
}

img.recipe-link{
	padding-top: 13px;
	padding-bottom: 19px;
}

/*===================
全レシピ一覧
=====================*/

main.recipe.tpl3 h3 {
    margin: 0px;
    padding-right: 36px;
    padding-left: 36px;
}


main.recipe.tpl3 ul li{
	border-bottom: 1px dotted #ECD375;
	background-color: #fff;
	padding: 10px 36px;
}

main.recipe.tpl3 ul li div.smoothie-text,main.recipe.tpl3 ul li div.smoothie-img{
	float: left;
}

main.recipe.tpl3 ul li div.smoothie-text{
	width: 75%;
}

main.recipe.tpl3 ul li div.smoothie-img{
	width: 25%;
}

main.recipe.tpl3 ul li:last-child{
	border-bottom: 0;
}

main.recipe.tpl3 h3 {
    margin: 0px;
}

/*===================
btn
=====================*/

img.btn {
    display: block;
    margin: 0 auto;
}

img.btn.gn {
    display: block;
    margin: 0 auto;
    padding-top: 80px;
}

/*===================
footer
=====================*/

footer{
	text-align: center;
	background-color: #A1CF82;
	position: absolute;
	bottom: 0;
	width: 100%;
}

footer.tpl2{
	position: fixed;
	bottom: 0;
	left: 0;
}

footer.tpl3{
	position: static;
}

footer img.dandelion.tpl2{
	position: absolute;
	right: 10px;
	bottom: 24px;
    z-index: 99999;
}

footer img.sheep.tpl2{
	position: absolute;
	left: 5px;
	bottom: 24px;
    z-index: 99999;
    width: 30%;
}

footer .glass.tpl2{
	margin-top: -12px;
    background-image: url('/images/bg/bg-glass.png');
    background-repeat: repeat-x;
    background-position: left top;
    padding-top: 20px;
}

footer .glass .glass-bg.tpl2{
	background-color: #A1CF82;
}

footer p{
	display: inline-block;
}

footer small{
	display: inherit;
}

