<span class="js-tag_insertion">
<!--<p> -->
	<a href="#" class="emoji-trigger-tag" rel="a" title="リンク先のURLを入力してください"><!--T-->リンク<!--/T--></a>
	<!--<a href="#" class="emoji-trigger-tag" rel="strong">強調</a>-->
	<a href="#" class="emoji-trigger-tag" rel="em"><!--T-->斜め<!--/T--></a>
	<a href="#" class="emoji-trigger-tag" rel="strong"><!--T-->太字<!--/T--></a>
	<!-- 文字色 -->
	<a href="#" class="emoji-trigger-text" rel="color-red"><div style="background-color:#ff0000; width:23px; height:23px;display:inline-block;color:#333;text-align:center;">赤</div></a>
	<a href="#" class="emoji-trigger-text" rel="color-blue"><div style="background-color:#0000ff; width:23px; height:23px;display:inline-block;color:#333;text-align:center;">青</div></a>
	<a href="#" class="emoji-trigger-text" rel="color-yellow"><div style="background-color:yellow; width:23px; height:23px;display:inline-block;color:#333;text-align:center;">黄</div></a>
	<a href="#" class="emoji-trigger-text" rel="color-tag"><div style="background-color:#eee; width:46px; height:23px;display:inline-block;color:#333;text-align:center;">タグ</div></a>
	<a href="#" class="emoji-trigger-text" rel="under-line"><span class="under-line">下線</span></a>
	<br />
<!--</p> -->
</span>
