<table class="adminTable acms-admin-table-admin-edit">
	<tr>
		<th><!--T-->しきい値<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->あるタグを付けているエントリーの数が、ここに入力した値よりも少ない場合、そのタグは一覧に表示されません。<!--/T-->"></i></th>
		<td>
			<input type="text" name="tag_cloud_threshold" size="4" value="{tag_cloud_threshold}" class="acms-admin-form-width-mini" />
			<input type="hidden" name="config[]" value="tag_cloud_threshold" />
			<input type="hidden" name="tag_cloud_threshold:convert" value="a" />
			<input type="hidden" name="tag_cloud_threshold:validator#digits" id="validator-tag_cloud_threshold-digits" />
			<div role="alert" aria-live="assertive">
				<div data-validator-label="validator-tag_cloud_threshold-digits" class="validator-result-{tag_cloud_threshold:validator#digits}">
					<p class="error-text"><span class="acms-admin-icon acms-admin-icon-attention" aria-hidden="true"></span><!--T-->数字を入力して下さい。<!--/T--></p>
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<th><!--T-->表示順<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->どのようなルールに従って表示されるかの設定です。<!--/T-->"></i></th>
		<td>
			<select name="tag_cloud_order">
				<option value="name-asc"{tag_cloud_order:selected#name-asc}><!--T-->名前 ( 昇順 )<!--/T--></option>
				<option value="name-desc"{tag_cloud_order:selected#name-desc}><!--T-->名前 ( 降順 )<!--/T--></option>
				<option value="amount-asc"{tag_cloud_order:selected#amount-asc}><!--T-->タグ数 ( 昇順 )<!--/T--></option>
				<option value="amount-desc"{tag_cloud_order:selected#amount-desc}><!--T-->タグ数 ( 降順 )<!--/T--></option>
			</select>
			<input type="hidden" name="config[]" value="tag_cloud_order" />
		</td>
	</tr>
	<tr>
		<th><!--T-->表示数<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->一度に表示される件数です。<!--/T-->"></i></th>
		<td>
			<input type="text" name="tag_cloud_limit" size="4" value="{tag_cloud_limit}" class="acms-admin-form-width-mini" />
			<input type="hidden" name="config[]" value="tag_cloud_limit" />
			<input type="hidden" name="tag_cloud_limit:convert" value="a" />
			<input type="hidden" name="tag_cloud_limit:validator#digits" id="validator-tag_cloud_limit-digits" />
			<div role="alert" aria-live="assertive">
				<div data-validator-label="validator-tag_cloud_limit-digits" class="validator-result-{tag_cloud_limit:validator#digits}">
					<p class="error-text"><span class="acms-admin-icon acms-admin-icon-attention" aria-hidden="true"></span><!--T-->数字を入力して下さい。<!--/T--></p>
				</div>
			</div>
		</td>
	</tr>
</table><!-- BEGIN_MODULE Admin_Rule_Name -->
<input type="hidden" name="rid" value="{rid}" /><!-- END_MODULE Admin_Rule_Name --><!-- BEGIN_MODULE Admin_Module_Name -->
<input type="hidden" name="mid" value="{mid}" /><!-- END_MODULE Admin_Module_Name -->