/*===============リセット===================*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}



body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    /*background-color:#ff9;*/
    color:#000;
    text-decoration:none;
    /*margin-bottom: 12%;*/
    margin-left: 5%;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*============END normalize-css============*/





body{
    font-size: 16px;
    color: #444;
    /*font-family: '游ゴシック', 'YuGothic', 'Hiragino Kaku Gothic ProN', 'Meiryo', sans-serif;*/
    font-family: 'I-OTF-UDゴ表示Pro L';
}

p{
    line-height: 1.5;
}

ul{
    padding: 0;
    list-style-type: none;
}

h1{
    margin: 5% 0;
    text-align: center;
}


a{
    color: #444;
}

a:hover{
    text-decoration: none;
    color: #444;
}


/*========layout==========*/

.l-cf:after{
    content: "."; 
    display: block; 
    height: 0; 
    font-size:0;
    clear: both; 
    visibility:hidden;
}

.l-cb{
    clear: both;
}

/*=======module===========*/

.contentsNav {
    margin: 15px 0 30px;
    text-align: center;
    line-height: 1.1;
}

.contentsNav p.cnt {
    font-size: 12px;
    margin-bottom: 0.5em;
}

.contentsNav p.cnt .num {
    position: relative;
    top: 1px;
    font-size: 18px;
}

.contentsNav p.pager {
    letter-spacing: -0.4em;
}

.contentsNav p.pager a,
.contentsNav p.pager span.omission {
    overflow: hidden;
    display: -moz-inline-box;
    display: inline-block;
    vertical-align: middle;
    width: 1.7em;
    height: 1.6em;
    line-height: 1.6em;
    margin-right: 3px;
    font-size: 16px;
    font-family: "Helvetica", "Arial", "Verdana", sans-serif;
    letter-spacing: normal;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    zoom: 1;
}

.contentsNav p.pager a,
.contentsNav p.pager a:visited {
    background-color: #FFF;
    border: 1px solid #CCC;
    color: #333;
    text-decoration: none;
}

.contentsNav p.pager a:hover,
.contentsNav p.pager a:focus {
    background-color: #888;
    border-color: #666;
}

.contentsNav p.pager .cur,
.contentsNav p.pager .cur:visited {
    background-color: #EEE;
    border-color: #666;
    font-weight: bold;
}

.contentsNav p.pager .sep {
    display: none;
}

.search{
    margin-top: 1%;
}



.breadcrumb-list{
     float: left;
}

.side_menu h3 .fa{
    padding-right: 3%;
}

/*=============header=============*/

#header{
    background-color: #A2D6F2;
    margin-bottom: 5%;
}

#header .header_search-focus:focus{
    outline: 0;
}

#header button.btn.btn-default.head-submit-btn:focus {
    outline: 0;
}

#header .header_form{
    border-radius: 5px;
    border: 0;
    padding: 2% 0%;
    width: 77%;
    padding-left: 5%;
}

#header .fa-home{
    color: #fff;
}

#header .main-header{
    padding-bottom: 2%;
    background-repeat: no-repeat;
    background-size: cover;
}

nav.navbar.navbar-default.navbar-fixed-top{
    margin: 0;
}

.main-header .left{
    float: left;
}

.main-header .left:nth-child(2){
    margin-left: 1.5%;
    margin-top: 4%;
}

.main-header p{
    color: #fff;
    font-size: 0.8em;
}

/*=========navigation============*/

nav.navbar{
    background-color: #A2D6F2;
}


.list-group-item .list-group {
    padding-top: 10%;
    margin-right: -7%;
}

/*============hum============*/

dd{
    display: none;
}

dd.show{
    display: inherit;
}


/*========main-contents=========*/



.blog{
    margin-bottom: 10%;
    position: relative;
    opacity: 1;
}

.post h2{
    font-size: 22px;
    margin-bottom: 20px;
    padding: 5px;
}

.post li{
    float:left;
}

.post ul{
    position: absolute;
    bottom: 2%;
    right: 5%;
}

.blog_inner{
    padding: 5%;
}

.post .top_img {
    width: 35%;
    border-radius: 8px;
    float:left;
    margin-right: 5%;
}

.blog{
    height: 200px;
}

.post time{
    position: relative;
    height: 50px;
    line-height: 50px;
    padding: 0 3%;
    color: #fff;
    background-color: #A2D6F2;
    position: absolute;
    top: 5%;
    left: -1.5%;
}

.post time::before,
.post time::after {
    content: '';
    position: absolute;
}
.post time::before {
    top: 100%;
    left: 0;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: transparent;
    border-right-color: #156794;
}
.post time::after {
    top: 0;
    right: 0;
    z-index: 2;
    border-width: 25px 20px;
    border-style: solid;
    border-color: transparent;
}

.TagRelationalPost{
    padding-bottom: 2%;
}

.TagRelationalPost .top_img{
    width: 100%;
    float: none;
    border-radius: 8px;
}

.TagRelationalPost h2{
    font-size: 18px;
    padding: 5px;
}

/*============footer=============*/

#footer{
    background-color: #A2D6F2;
    padding-bottom: 2%;
    margin-top: 5%;
    color: #fff;
    /*background-image: url('../images/footer_bg.png');*/
    /*background-repeat: no-repeat;*/
    /*background-position: bottom left;*/
    text-align: center;
    font-size: 0.7em;
}

.sideculmun{
    width:23%;
    float: left;
    margin: 0 5%;
}

ul.list-group {
    width: 100%;
}

.list-group-item:hover{
    background-color: #65A0B7;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.list-group-item {
    margin-right: -8%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.arrow{
    position: fixed;
    bottom: 5%;
    right: 3.5%;
    display: none;
    opacity: 0.5;
    width: 3.5%;
}

.arrow:hover{
    opacity: 1;
}

.sns-list{
    float: right;
    width: 15%;
    margin-top: 4%;
    margin-right: 3%;
}

.sns-list li{
    float: right;
    margin: 0 10%;
}
        
.sns-list li:hover i{
    transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
}

.sns-list .tw i{
    color: #00aced;
    font-size: 2em;
}

.sns-list .fb i{
    color: #305097;
    font-size: 2em;
}

.ranking{
    padding: 8% 0;
}

.ranking .views{
    background-color: #A2D6F2;
}

.ranking li{
    border-bottom: 1px solid #333;
    padding: 5% 0;
}

.ranking li:last-child{
    border-bottom: 0;

}


/*タグ*/
.tag{
    background-color: rgba(255,255,255,0.6);
    padding: 3px;
    border-radius: 5px;
    line-height: 1.8;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.tag:hover{
    background-color: #65A0B7;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
    

.copy{
    padding-top: 2%;
    float: right;
}

/*aside*/

.aside_inner{
    width: 75%;
    padding: 5% 0;
    margin: 0 auto;
}

#aside h3{
    font-size: 1.1em;
}

#aside h3 i{
    padding-right: 3%;
    padding-bottom: 5%;
}

/*=======entrybody=====*/
.entryBody{
    line-height: 1.7;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 5%;
}

.entryinner{
    padding: 1.5% 5%;
    padding-top: 0;
}

.entryBody p{
    line-height: 2.0;
}

.entryBody a{
    text-decoration:underline;
    color: #65A0B7;
}

.entryBody strong{
    font-weight: bold;
}

.entryBody .color-yellow{
    background-color: yellow;
    padding: 0.5%;
}

.entryBody .color-tag{
    background-color: #eee;
    padding: 0.5%;
}

.entryBody .color-red{
    background-color: #ff0000;
    padding: 0.5%;
}

.entryBody .color-blue{
    background-color: #0000ff;
    padding: 0.5%;
}

.entryBody h1,.indexTitle{
    position: relative;
    font-size: 1.5em;
    margin-top: 2%;
    margin-bottom: 5%;
    padding: 1.5em;
    background-color: #A2D6F2;
    border-radius: 6px;
    box-shadow: 2px 2px 4px #A2D6F2 inset;
}
.entryBody h1::after,.indexTitle::after {
    position: absolute;
    top: 100%;
    left: 30px;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top: 15px solid #A2D6F2;
}

.relationTitle{
    position: relative;
    font-size: 1.1em;
    margin-bottom: 3%;
    padding: 1em;
    background-color: #A2D6F2;
    border-radius: 6px;
    box-shadow: 2px 2px 4px #A2D6F2 inset;
}
.relationTitle::after{
    position: absolute;
    top: 100%;
    left: 30px;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top: 15px solid #A2D6F2;
}

.entryBody h2,h3,h4,h5{
    margin: 30px 0 30px 5px;
    font-weight: bold;
/*    padding-left: 8px;*/
}

.entryBody h2{
    position: relative;
    padding: 1em 0;
    padding-left: 15px;
    font-size: 1.4em;
}
.entryBody h2::before,
.entryBody h2::after {
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 6px;
    box-sizing: border-box;
}
.entryBody h2::before {
    top: 0;
    border-top: 2px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.entryBody h2::after {
    bottom: 0;
    border-top: 1px solid #ccc;
    border-bottom: 2px solid #ccc;
}

.entryBody h3{
    padding: .25em 0 .25em .45em;
    border-left: 6px solid #ccc;
    font-size: 1.3em;
}

.entryBody h4{
    font-size: 1.2em;
    padding: .5em 0 .5em .9em;
    background-color: #f6f6f6;
    border-radius: 6px;
}

.entryBody h5{
    font-size: 1.1em;
    border: 1px dashed #ccc;
    padding: .5em 0 .5em .9em;
}

.entryBody img{
    margin: 2% 5%;
}

.entryBody blockquote {
    background: url(../images/blockquote2.gif) no-repeat 2% 6%;
    padding: 10px 20px;
    background-color: #fff;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    color: #212121;
    padding: 3% 5%;
}

.entryBody blockquote a{
    text-align: right;
    margin-bottom:0;
    color: #2D88B3;
}
.entryBody ul{
    list-style-type: circle;
}

.entryBody ul,ol{
    margin: 2.5% 0;
    margin-left: 5%;
}

.entryBody table{
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    width: 90%;
    margin: 1.5%;
}

.entryBody table thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #369;
    border-bottom: 3px solid #036;
}

.entryBody table tbody th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #f3f6f7;
}

.entryBody table td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}

.entryBody pre ol{
    margin: 0 0 0 3.5%;
}

.entryBody pre {
    padding: 1em;
    margin: 2% 0 2% 20px;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.entryBody hr{
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

#side{
    position:relative;
}

.tabpanel li[role="tab"]{
    text-align: center;
}

.tabpanel li[role="tab"] {
    width: 33%;
    display: inline-block;
    border-right: 1px solid #333;
    margin-top: 8%;
    margin-left: -1.5%;
}

.tabpanel li[role="tab"]:last-child {
    border: 0;
}

.tabpanel li[role="tab"].select {
    background: #A2D6F2;
}

.display-none {
    display: none;
}

/*========calender====*/

.Calendar table{
    border: 5px solid #A2D6F2;
    border-radius: 20px;
}

.Calendar table th,
.Calendar table td{
    text-align: center;
    font-size: 1.1em;
    padding: 3%;
}

.Calendar table .sun{
    color: red;
}

.Calendar table .sat{
    color: blue;
}

.Calendar table a{
    padding: 6px;
    border-radius: 50%;
    background-color: rgb(118,171,191);
    color: #FFFFFF;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    display: block;
    width: 35px;
    height: 32px;
}
.Calendar table a:hover{
    background-color: rgb(66,120,141);
    color: #FFFFFF;
}

.Calendar .month,
.Calendar .year{
    margin-bottom: 5%;
    font-size: 1.2em;
    text-align: center;
}

.Calendar .link{
    padding-top: 10%;
    font-size: 0.9em;
    text-align: right;
}

.Calendar .link i{
    padding-right: 3%;
}

.Calendar .year i{
    padding: 0 3%;
}

.CalendarYear{
    width: 80%;
    margin: 0 auto;
}

.Calendar .column3{
    margin-bottom: 3%;
}

.entryCalendar{
    width: 100%;
}

.list-group-item {
    width: 105%;
}

/*====social==========*/

.social{
    float: right;
}

/*追記修正*/

.container {
    width: 1260px;
}

@media screen and (max-width: 1200px){/* pad以下の時sideを消す */

}

@media screen and (max-width: 992px){/* レスポンシブ */
    
    .main-header div:nth-child(2) {
        margin-top: 7%;
    }

    /*===footer===*/
    
    .container {
        width: 720px;
    }

    .col-md-9 {
        
    }
    
    .sideculmun{
        width:40%;
    }
    
    .copy{
        clear: both;
    }

    .entryBody pre ol{
        margin-left: 5.5%;
    }
	


    .entryBody img {
        margin: 0;
    }

    
}

@media screen and (max-width: 768px){
    
    body{
        font-size: 14px;
        line-height: 2;
        overflow-x: hidden;
    }

    .container {
        width: 380px;
    }
    
    .entryBody h1{
        font-size: 20px;
    }
    
    /*header*/
    .logo{
        width:80%;
    }
    
    .topicPath,.copy{
        font-size: 14px;
    }
    
    .main-header p{
        font-size: 0.5em;
    }
    
    
    /*footer*/
    .sideculmun{
        width:95%;
        margin: 0 1%;
    }
    
    .arrow{
        width:50px;
    }

    #profile .pf_img{
        width: 30%;
    }


    /*entry*/
    .entryBody h1{
    width: 120%;
    margin-left: -10%;
    }

    .data{
        font-size: 12px;
    }

    .entryBody pre ol{
        margin-left: 9.5%;
    }
	
	.post .top_img {
		width: 40%;
        height: auto;
        margin-top: 10%;
        margin-left: 5%;
	}
	
	.post h2{
		font-size:1.2em;
		padding:3%;
		margin-bottom: 0;
	}
	
	.post p{
		font-size: 0.9em;
		clear: both;
		float: left;
		padding-top: 2%;
	}
	
	.blog-title-icon {
		width: 8%;
		margin-left:3%;
		padding-top: 2%;
	}
	
	.blog{
		height: 170px;
	}
	
	.container {
		padding-right: 0;
		padding-left: 0;
		margin-right: 0;
		margin-left: 0;
	}

    .list-group-item {
        width: 100%;
    }


    .blog_inner{
        width: 50%;
        float: left;
    }

    .post time{
        height: 25px;
        line-height: 25px;
        padding: 0 3%;
        top: 20%;
        left: 2.7%;
        font-size: 12px;
    }

    .post time::before {
        border-width: 0 8px 8px 0;
    }

    .sns-list {
        width: 50%;
    }

    h1 {
        margin-bottom: 0;
    }

    .main-header div:nth-child(2) {
        margin-top: 0;
        margin: 0 auto;
    }

    .main-header p {
        text-align: center;
        padding-top: 30px;
        display: none;
    }

    .main-header div {
         float: none; 
    }

    .social {
        float: none;
    }

    .row{
        margin: 0;
        padding-right: 0;
    }

    .adsbygoogle2{
        display: none;
    }

    .entryinner{
        padding: 1.5% 0;
    }

    .ins#aswift_1_expand{
        display: none;
    }

    .sns-list{
        display: none;
    }

    #header {
        padding: 3% 0 5% 0;
    }
    
}

/*================
monthEntry
================*/

.monthEntry{
    margin-top: 8%;
}

.monthEntryList{
    padding: 1.5% 0;
}

p.caption {
    margin-left: 5%;
    margin-top: -2%;
    font-size: 0.9em;
    color: darkgray;
}


.entryBody p{
    padding-bottom: 20px;
}





