<h3 class="formTitle">お便り内容</h3>
<div class="entry-container">
	<table class="contactForm">
        <tr>
			<th>お名前</th>
        </tr>
        <tr>
			<td>{name}</td>
		</tr>
		<tr>
			<th>メールアドレス</th>
        </tr>
        <tr>
			<td>{email}</td>
		</tr>
		<tr>
			<th>お問い合せ内容</th>
        </tr>
        <tr>
			<td>{inquiry}[escape|nl2br]</td>
		</tr>
	</table>
</div>
