<header class="l-header">
  <div class="c-header-filter"></div>
  <!-- BEGIN_IF [%{VIEW}/eq/top] -->
  <h1 class="c-logo">
    <!-- ELSE -->
    <p class="c-logo"><a href="/">
      <!-- END_IF -->
      <img src="/images/logo.svg" alt="kigiroku" width="220">
      <!--kigiroku-->
      <!-- BEGIN_IF [%{VIEW}/eq/top] -->
  </h1>
  <!-- ELSE -->
  </a></p>
  <!-- END_IF -->
  <!-- BEGIN_MODULE Navigation id="main_global_nav" -->
  <div>
    <!--#include file="/admin/module/setting.html"-->
    <!-- BEGIN navigation:loop -->
    <!-- BEGIN ul#front --><ul class="c-global-nav clearfix"><!-- END ul#front -->
    <!-- BEGIN li#front --><li class="c_{level} c-global-nav__item js-match" data-match="{attr}" ><!-- END li#front -->
      <!-- BEGIN link#front --><a href="{url}" target="{target}"><!-- END link#front -->
        <!-- BEGIN label:veil -->{label}[raw]<!-- END label:veil -->
        <!-- BEGIN link#rear --></a><!-- END link#rear -->
      <!-- BEGIN li#rear --></li><!-- END li#rear -->
    <!-- BEGIN ul#rear --></ul><!-- END ul#rear -->
    <!-- END navigation:loop -->
  </div>
  <!-- END_MODULE Navigation -->

  <div class="js-header p-header-fixed acms-hide acms-block-md acms-block-lg acms-block-xl">
    <div class="acms-container">
      <div class="c-logo">
        <!-- BEGIN_IF [%{VIEW}/eq/top] -->
        <h1>
          <!-- ELSE -->
          <p><a href="/">
            <!-- END_IF -->
            <img src="/images/logo_sub.svg" alt="kigiroku" width="170">
            <!-- BEGIN_IF [%{VIEW}/eq/top] -->
        </h1>
        <!-- ELSE -->
        </a></p>
        <!-- END_IF -->
      </div>
      <!-- BEGIN_MODULE Navigation id="main_global_nav" -->
      <div>
        <!--#include file="/admin/module/setting.html"-->
        <!-- BEGIN navigation:loop -->
        <!-- BEGIN ul#front --><ul class="c-global-nav -entry clearfix"><!-- END ul#front -->
        <!-- BEGIN li#front --><li class="c_{level} c-global-nav__item js-match" data-match="{attr}" ><!-- END li#front -->
          <!-- BEGIN link#front --><a href="{url}" target="{target}"><!-- END link#front -->
            <!-- BEGIN label:veil -->{label}[raw]<!-- END label:veil -->
            <!-- BEGIN link#rear --></a><!-- END link#rear -->
          <!-- BEGIN li#rear --></li><!-- END li#rear -->
        <!-- BEGIN ul#rear --></ul><!-- END ul#rear -->
        <!-- END navigation:loop -->
      </div>
      <!-- END_MODULE Navigation -->
    </div>
  </div>
  <div class="js-header p-header-fixed -sp js-offcanvas-header acms-hide-md acms-hide-lg acms-hide-xl">
    <div class="acms-container">
      <div class="c-logo">
        <!-- BEGIN_IF [%{VIEW}/eq/top] -->
        <h1>
          <!-- ELSE -->
          <p><a href="/">
            <!-- END_IF -->
            <img src="/images/logo_sub.svg" alt="kigiroku" width="170">
            <!-- BEGIN_IF [%{VIEW}/eq/top] -->
        </h1>
        <!-- ELSE -->
        </a></p>
        <!-- END_IF -->
      </div>
      <a href="#offcanvas" class="p-header-fixed__btn js-offcanvas-btn js-offcanvas-btn-r" aria-expanded="false" aria-label="Menu" aria-controls="offcanvas"><span class="fa fa-bars p-header-fixed__btn-icon"></span><span class="p-header-fixed__btn-text">MENU</span></a>
      <!-- オフキャンバス -->
      <!-- #include file="/include/siteparts/offcanvas.html" -->
    </div>
  </div>
</header>
