/*===============リセット===================*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video
{
    font-size: 100%;

    margin: 0;
    padding: 0;

    vertical-align: baseline;

    border: 0;
    outline: 0;
    background: transparent;
}

body
{
    line-height: 1.5;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section
{
    display: block;
}

nav ul
{
    list-style: none;
}

blockquote,
q
{
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after
{
    content: '';
    content: none;
}

a
{
    font-size: 100%;

    margin: 0;
    padding: 0;

    vertical-align: baseline;

    background: transparent;
}

/* change colours to suit your needs */
ins
{
    /*margin-bottom: 12%;*/
    margin-left: 5%;

    text-decoration: none;
    /*background-color:#ff9;*/

    color: #000;
}

/* change colours to suit your needs */
mark
{
    font-weight: bold;
    font-style: italic;

    color: #000;
    background-color: #ff9;
}

del
{
    text-decoration: line-through;
}

abbr[title],
dfn[title]
{
    cursor: help;

    border-bottom: 1px dotted;
}

table
{
    border-spacing: 0;
    border-collapse: collapse;
}

/* change border colour to suit your needs */
hr
{
    display: block;

    height: 1px;
    margin: 1em 0;
    padding: 0;

    border: 0;
    border-top: 1px solid #ccc;
}

input,
select
{
    vertical-align: middle;
}

/*============END normalize-css============*/

.column-quote-auto
{
    margin-bottom: 20px;
}


i
{
    padding-right: 6px;
}

html
{
    font-size: 15px;
}

body
{
    /*font-family: '游ゴシック', 'YuGothic', 'Hiragino Kaku Gothic ProN', 'Meiryo', sans-serif;*/
    /*font-family: 'I-OTF-UDゴ表示Pro L';*/
    font-family: 'FOT-ハミング Std L', 'HummingStd-L', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Meiryo', 'メイリオ', serif;
    line-height: 1.5;

    color: #444;
}

time
{
    font-family: 'Osaka－等幅', 'Osaka-Mono';
}

ul
{
    padding: 0;

    list-style-type: none;
}

h1
{
    float: left;

    width: auto;
    padding: 0;

    text-align: center;
}


a
{
    color: #444;
}

a:hover
{
    text-decoration: none;

    color: #444;
}


/*========layout==========*/

.l-cf:after
{
    font-size: 0;

    display: block;
    visibility: hidden;
    clear: both;

    height: 0;

    content: '.';
}

.l-cb
{
    clear: both;
}

/* 中央に寄せる */
.l-container
{
    width: 1050px;
    margin: 0 auto;
}

/* 余白をつける */
.l-inner
{
    padding: 15px;
}

@media screen and (max-width: 1200px)
{
    .l-container
    {
        width: 95%;
    }
}

@media only screen and (max-width: 767px)
{
    .l-container
    {
        width: 100%;
    }
}

.l-bg-white
{
    background-color: #fff;
}

/*=======module===========*/



/* header */

/* header-bg: */
header
{
    z-index: 99999;

    width: 100%;
    height: 60px;
    padding: 14px 30px;

    border: 1px solid #979797;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.50);
}

header h1 img
{
    width: 111px;
}

/*=====================
topの全てのナビゲーション
=======================*/

.nav ul
{
    float: right;
}

.nav ul li
{
    display: inline-block;

    margin: 0;
    padding: 10px 30px 0 0;

    text-align: center;
}

.nav ul li:last-child
{
    padding-right: 0;
}

.nav ul li a
{
    display: block;

    color: #fff;
}

.blog-title
{
    font-size: 1.6rem;

    padding: 15px 0 15px 88px;

    background-image: url('../images/blog-title-icon.png');
    background-repeat: no-repeat;
    background-size: 60px;
}

.module-heading
{
    font-size: 1.3333333333333rem;

    margin-bottom: 20px;
    padding: 30px 0 15px 0;

    border-bottom: 1px solid #979797;
}

.blog-category ul li
{
    display:         inline-box;
    display: -webkit-inline-box;

    margin: 5px 0;
}

.blog-category ul li:hover a
{
    color: #fff;
    background-color: #4dd0e1 !important;
}

article.portfolio-post
{
    border: 4px solid #fff;
}

article.portfolio-post img
{
    width: 100%;
}

article.blog-article
{
    padding: 5% 0;

    border-bottom: 1px solid #eee;
}

article.blog-article:last-child
{
    border: 0;
}

.blog-img,
.blog-data
{
    float: left;

    width: 50%;
}

.blog-data
{
    box-sizing: border-box;
    padding-left: 6%;
}

.blog-data h3
{
    font-size: 1.3em;

    padding-bottom: 7%;
}

/* メイン */

.top-portfolio
{
    padding: 130px 0 20px 0;
}

/* footer */

footer
{
    font-size: .8em;

    margin-top: 70px;
    padding: 30px;

    text-align: center;

    color: #fff;
}

footer a
{
    color: #fff;
}

footer ul
{
    float: right;
}

footer ul li
{
    font-size: 30px;

    display: inline-block;

    width: 50px;
    height: 50px;
    margin-left: 30px;

    text-align: center;

    border-radius: 50%;
    background-color: #fff;
}

footer ul li i
{
    padding: 10px 0 0 0;
}

footer ul li i
{
    color: #00bcd4;
}

footer p
{
    padding-top: 30px;

    text-align: left;
}

footer p span
{
    float: right;
}

@media screen and (max-width: 1040px)
{
    main
    {
        width: 100%;
    }

    aside
    {
        position: absolute;
        z-index: 9999;
        top: 0;

        display: none;

        width: 105%;
        margin-left: -5%;
        padding-bottom: 10%;

        background-color: rgba(255,255,255,.9);
    }

    .responsive
    {
        width: 70%;
        margin: 0 auto;
    }
}

aside.show
{
    display: inherit;
}


@media screen and (max-width: 767px)
{
    header
    {
        padding: 14px 15px;
    }

    section.ranking article .post
    {
        margin-right: 30px;
    }

    article.col-md-6.col-sm-6
    {
        float: left;

        width: 50%;
    }

    article.col-md-6.col-sm-6 .post
    {
        width: 100%;
    }

    article.col-md-6.col-sm-6 .post img
    {
        width: 100%;
        height: auto;
    }
    .sns-txt
    {
        display: none;
    }

    .blogicon-twitter,
    .blogicon-facebook,
    .blogicon-bookmark,
    .blogicon-chevron-down
    {
        margin-right: 0;
    }
    .blog-img,
    .blog-data
    {
        float: none;

        width: 100%;
    }
}

img.top_img {
    box-shadow: 0px 0px 7px 1px #ddd;
    -moz-box-shadow: 0px 0px 7px 1px #ddd;
    -webkit-box-shadow: 0px 0px 7px 1px #ddd;
}

@media screen and (max-width: 550px)
{
    article.col-md-6.col-sm-6
    {
        float: none;

        width: 85%;
        margin: 0 auto;
    }

    article.col-md-6.col-sm-6 .post img
    {
        width: 100%;
        height: 200px;
    }
}

@media screen and (max-width: 450px)
{
    article.col-md-6.col-sm-6
    {
        width: 100%;
    }
}

/* amazon */

a.amazon-btn
{
    display: inline-block;

    padding: 10px 20px;

    -webkit-transition: none;
            transition: none;
    text-align: center;
    text-decoration: none;

    color: #fff;
    border-radius: 4px;
    background-color: #146eb4;
    box-shadow: 0 3px 0 #0c426c;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
a.amazon-btn,
a.amazon-btn::before,
a.amazon-btn::after
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    -webkit-transition: all .3s;
            transition: all .3s;
}
a.amazon-btn:hover
{
    color: #fff;
    background-color: #428bc3;
}

.amazon-bg
{
    padding: 20px 0 20px 20px;

    border-left: 20px #146eb4 solid;
    background-color: #eee;
}

.amazon-title
{
    font-size: 1.2em;

    padding-top: 10px;
}

.amazon-manufacturer
{
    font-size: .8em;

    margin-top: -10px;

    color: #888;
}

.amazon-price
{
    font-size: 1.2em;

    padding-top: 10px;
}

.portfolio-img
{
    overflow: hidden;

    width: 250px;
    height: 135px;
}

/* オフキャンバス */

.offcanvasBtn
{
    position: absolute;
    top: 10px;
    right: 15px;
}

@media screen and (min-width: 767px)
{
    .acms-hide-pc
    {
        display: none;
    }
}
