
<h2 class="acms-admin-admin-title2">ポートフォリオ用エントリー</h2>
<table class="acms-admin-table-admin-edit">
    <tr>
        <th>作品画像</th>
        <td>
            <!-- BEGIN workImage@path:veil -->
            <div class="worksImg">
              <img src="%{ARCHIVES_DIR}{workImage@path}[resizeImg(350)]"/>
            </div>
            <input type="hidden" name="workImage@old" value="{workImage@path}" /><br />
            <label class="acms-admin-form-checkbox">
                <input type="checkbox" name="workImage@edit" value="delete" />
                <i class="acms-admin-ico-checkbox"></i> 削除
            </label>
            <!-- END workImage@path:veil -->
            <input type="file" name="workImage" size="20" /><br />
            <input type="hidden" name="field[]" value="workImage" />
            <input type="hidden" name="workImage:extension" value="image" />
            <input type="hidden" name="workImage@filename" value="" />
        </td>
    </tr>
</table>

<table class="acms-admin-table-admin-edit">
    <tr>
        <th>制作期間</th>
        <td>
            <input type="text" name="period" value="{period}" class="acms-admin-form-width-half"/>
            <input type="hidden" name="field[]" value="period" />
        </td>
    </tr>
    <tr>
        <th>使用技術</th>
        <td>
            <input type="text" name="technology" value="{technology}" class="acms-admin-form-width-half"/>
            <input type="hidden" name="field[]" value="technology" />
        </td>
    </tr>
    <tr>
        <th>使用ソフト</th>
        <td>
            <input type="text" name="soft" value="{soft}" class="acms-admin-form-width-half"/>
            <input type="hidden" name="field[]" value="soft" />
        </td>
    </tr>
    <tr>
        <th>担当部分</th>
        <td>
            <input type="text" name="res" value="{res}" class="acms-admin-form-width-half"/>
            <input type="hidden" name="field[]" value="res" />
        </td>
    </tr>
    <tr>
        <th>作品リンク先</th>
        <td>
            <input type="text" name="worksLink" value="{worksLink}" class="acms-admin-form-width-full"/>
            <input type="hidden" name="field[]" value="worksLink" />
        </td>
    </tr>
    <tr>
		<th>作品リンクテキスト</th>
		<td>
			<input type="text" name="worksLinkText" value="{worksLinkText}" class="acms-admin-form-width-full"/>
			<input type="hidden" name="field[]" value="worksLinkText" />
		</td>
	</tr>
    <tr>
		<th>作品概要</th>
		<td>
			<textarea name="worksOverview" class="acms-admin-form-width-full">{worksOverview}</textarea>
			<input type="hidden" name="field[]" value="worksOverview" />
		</td>
	</tr>
</table>
<h2 class="acms-admin-admin-title2">写真用エントリー詳細</h2>
<table class="acms-admin-table-admin-edit">
    <tr>
        <th>撮影時期</th>
        <td>
            <input type="text" name="photoDate" value="{photoDate}" class="acms-admin-form-width-half"/>
            <input type="hidden" name="field[]" value="photoDate" />
        </td>
    </tr>
    <tr>
        <th>撮影場所</th>
        <td>
            <input type="text" name="photoPlace" value="{photoPlace}" class="acms-admin-form-width-full"/>
            <input type="hidden" name="field[]" value="photoPlace" />
        </td>
    </tr>
</table>

