<script type="text/javascript" src="%{JS_LIB_JQUERY_DIR}jquery-%{JS_LIB_JQUERY_DIR_VERSION}.min.js" charset="UTF-8"></script>
<!-- BEGIN_MODULE Js -->
<script type="text/javascript" src="/acms.js{arguments}" charset="UTF-8" id="acms-js"></script>
<!-- END_MODULE Js -->
<!--[if lt IE 7]><script src="/js/respond.min.js"></script><script src="/js/html5shiv.min.js"></script><![endif]--><!--[if IE 7]><script src="/js/respond.min.js"></script><script src="/js/html5shiv.min.js"></script><![endif]--><!--[if IE 8]><script src="/js/respond.min.js"></script><script src="/js/html5shiv.min.js"></script><![endif]-->


<script type="text/javascript" src="/js/perfect-scrollbar/jquery.mousewheel.js" charset="UTF-8"></script>
<script type="text/javascript" src="/js/perfect-scrollbar/perfect-scrollbar.jquery.js" charset="UTF-8"></script>
<script type="text/javascript" src="/js/acms-admin.js" charset="UTF-8"></script>
