<!-- BEGIN_MODULE Entry_Summary id="top_summary" -->
<!--#include file="/admin/module/setting.html"-->
<!-- BEGIN notFound -->
<p>ただいまページを準備しております。もうしばらくお待ちください。</p>
<!-- END notFound -->

<!-- BEGIN unit:loop -->
<!-- BEGIN entry:loop -->
<article class="col-md-6 col-sm-6" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting" itemref="name">
	<div class="p_list_entry">
		<a href="{url}" itemprop="url">
			<!-- BEGIN_IF [{mainImage@path}/nem] -->
			<!-- BEGIN image:veil -->
			<div itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
				<img class="top_img" src="%{ARCHIVES_DIR}{mainImage@path}[resizeImgFill(350,200)]" width="350" height="200" alt="" itemprop="thumbnailUrl"/>
				<meta itemprop="url" content="%{HTTP_ARCHIVES_DIR}{mainImage@path}[resizeImgFill(350,200)]">
				<meta itemprop="width" content="350">
				<meta itemprop="height" content="200">
			</div>
			<!-- END image:veil -->
			<!-- ELSE_IF [{mainImage@path}/em]-->
			<div itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
				<img class="top_img" src="%{ROOT_DIR}{path}[resizeImgFill(350,200)]" width="350" height="200" alt="" itemprop="thumbnailUrl"/>
				<meta itemprop="url" content="%{ROOT_DIR}{path}[resizeImgFill(350,200)]">
				<meta itemprop="width" content="350">
				<meta itemprop="height" content="200">
			</div>
			<!-- END_IF -->
			<!-- BEGIN category:veil -->
			<p class="c_category" itemprop="articleSection">{categoryName}</p>
			<!-- END category:veil -->
			<div class="l_inner">
				<div class="text-hidden">
					<h2 itemprop="headline">{title}</h2>
					<div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
						<div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
							<meta itemprop="url" content="http://kigiroku.com/themes/blog_ver4/images/logo.jpg">
							<meta itemprop="width" content="500">
							<meta itemprop="height" content="243">
						</div>
						<meta itemprop="name" content="木々録">
					</div>
					<p itemprop="articleBody">{summary}[trim(200)]</p>
				</div>
				<div class="abc"></div>
				<time itemprop="datePublished" datetime="{date#Y}-{date#m}-{date#d}">
					<i class="fa fa-calendar-check-o" aria-hidden="true"></i>
					{date#Y}.{date#m}.{date#d} ({date#D})
				</time>
			</div>
		</a>
	</div>
</article>
<!-- END entry:loop -->
<!-- END unit:loop -->
<!-- BEGIN pager:veil -->
<nav class="contentsNav" role="navigation">

	<!-- 記事件数 -->
	<p class="cnt"><span class="num">{itemsFrom}</span> ～ <span class="num">{itemsTo}</span> 件目 / 全 <span class="num">{itemsAmount}</span> 件</p>

	<p class="pager">

		<!-- 最初のページへ -->
		<!-- BEGIN firstPage:veil -->
		<a href="{firstPageUrl}" class="back"><span class="ico">First</span></a>
		<!-- BEGIN firstPage:veil -->

		<!-- 前のページへ -->
		<!-- BEGIN backLink -->
		<a href="{url}" class="back"><span class="ico">&laquo;</span></a>
		<!-- END backLink -->

		<!-- BEGIN page:loop -->
		<!-- BEGIN link#front --><a href="{url}" {pageCurAttr}[raw]><!-- END link#front -->{page}<!-- BEGIN link#rear --></a><!-- END link#rear -->
		<!-- BEGIN glue --><span class="sep">&nbsp;</span><!-- END glue -->
		<!-- END page:loop -->
		<!-- BEGIN lastPage:veil -->
		<span class="omission">...</span><span class="sep">&nbsp;</span><a href="{lastPageUrl}">{lastPage}</a>
		<!-- END lastPage:veil -->

		<!-- 次のページへ -->
		<!-- BEGIN forwardLink -->
		<a href="{url}" class="forward"><span class="ico">&raquo;</span></a>
		<!-- END forwardLink -->

		<!-- 最後のページへ -->
		<!-- BEGIN lastPage:veil -->
		<a href="{lastPageUrl}" class="forward"><span class="ico">Last</span></a>
		<!-- BEGIN lastPage:veil -->
	</p>
	<!-- /.contentsNav -->
</nav>

<!-- END pager:veil -->
<!-- BEGIN forward:veil --><!-- BEGIN forwardLink -->
<!-- <form action="" method="post" class="js-post_include-bottom" onreset="callback();">
<img src="/images/load.gif" class="load"/>
<input type="hidden" name="tpl" value="/include/Entry_Summary/top_summary.html" />
<input type="hidden" name="bid" value="%{BID}" />
<input type="hidden" name="cid" value="%{CID}" />
<input type="hidden" name="page" value="{forwardPage}" />
<input type="hidden" name="ACMS_POST_2GET" alt="もっと見る" value="もっと見る" />
</form> --><!-- END forwardLink --><!-- END forward:veil -->

<!-- END_MODULE Entry_Summary -->