<!-- BEGIN_MODULE Admin_Comment_Index -->
<header class="acms-admin-grid">
	<div class="acms-admin-col-md-6">
		<h1 class="acms-admin-admin-title"><i class="acms-admin-icon acms-admin-icon-comment"></i><!--T-->コメント管理<!--/T--></h1>
	</div>
	<div class="acms-admin-col-md-6">
		<!--#include file="/admin/topicpath.html"-->
	</div>
</header>

<!-- BEGIN index#notFound -->
<p class="acms-admin-alert acms-admin-alert-danger"><button class="js-acms-alert-close">×</button><!--T-->コメントが見つかりません<!--/T--></p><!-- END index#notFound --><!-- BEGIN refresh -->
<p class="acms-admin-alert acms-admin-alert-info"><button class="js-acms-alert-close">×</button><!--T-->コメント一覧を更新しました。<!--/T--></p><!-- END refresh -->

<div class="acms-admin-filter">
	<form method="post" action="" class="acms-admin-form"><!-- BEGIN axis -->
		<!--T-->階層<!--/T-->:
		<input type="hidden" name="axis" value="self" />
		<div class="acms-admin-form-checkbox">
			<input type="checkbox" name="axis" value="descendant-or-self"{axis:checked#descendant-or-self} id="input-checkbox-axis-descendant-or-self" />
			<label for="input-checkbox-axis-descendant-or-self">
				<i class="acms-admin-ico-checkbox"></i><!--T-->下階層ブログのコメントも表示する<!--/T-->
			</label>
		</div>
		<!-- END axis -->
		<!--T-->絞り込み<!--/T-->:
		<select name="status">
			<option value=""><!--T-->全てのステータス<!--/T--></option>
			<option value="open"{status:selected#open}><!--T-->公開<!--/T--></option>
			<option value="close"{status:selected#close}><!--T-->非公開<!--/T--></option>
			<option value="approval"{status:selected#awaiting}><!--T-->承認待ち<!--/T--></option>
		</select>

		<!--T-->ソート<!--/T-->:
		<select name="order">
			<option value="datetime-asc"{order:selected#datetime-asc}><!--T-->日時<!--/T--> (<!--T-->昇順<!--/T-->)</option>
			<option value="datetime-desc"{order:selected#datetime-desc}><!--T-->日時<!--/T--> (<!--T-->降順<!--/T-->)</option>
		</select>

		<!--T-->表示数<!--/T-->:
		<select name="limit"><!-- BEGIN limit:loop -->
			<option value="{value}"{selected}>{value}</option><!-- END limit:loop -->
		</select>

		<input type="hidden" name="query[]" value="axis" />
		<input type="hidden" name="query[]" value="status" />
		<input type="submit" name="ACMS_POST_2GET" value="<!--T-->表示<!--/T-->" class="acms-admin-btn-admin acms-admin-btn-admin-info acms-admin-width-sp" />
		<input type="hidden" name="admin" value="comment_index" />
	</form>
</div><!-- /.acms-filter -->

<!-- BEGIN form:veil -->
<form method="post" action="" class="acms-admin-form">


<div class="js-acms-tab-select clearfix js-acms_fix_marker js-acms_fix_target">
	<select name="action-entry" class="js-acms-tab-select-value acms-admin-float-left">
		<option value="action-status"{action-entry:selected#action-status}><!--T-->ステータス<!--/T--></option>
		<option value="action-delete"{action-entry:selected#action-delete}><!--T-->削除<!--/T--></option>
	</select>

	<div id="action-status" class="js-acms-tab-select-panel js-acms-tab-select-active acms-admin-float-left">
		<select name="status">
			<option value="open"><!--T-->公開<!--/T--></option>
			<option value="close"><!--T-->非公開<!--/T--></option>
			<option value="awaiting"><!--T-->承認待ち<!--/T--></option>
		</select>
		<input type="submit" name="ACMS_POST_Comment_Index_Status" value="<!--T-->変更<!--/T-->" class="acms-admin-btn-admin acms-admin-btn-admin-primary" />
	</div>

	<div id="action-delete" class="js-acms-tab-select-panel acms-admin-float-left">
		<input type="submit" name="ACMS_POST_Comment_Index_Delete" onclick="return confirm('<!--T-->選択したコメントを削除します。\nこの操作は元に戻せません、よろしいですか？<!--/T-->') " value="<!--T-->削除<!--/T-->" class="acms-admin-btn-admin acms-admin-btn-admin-danger" />
	</div>
</div>


<table class="adminTable acms-admin-table-admin acms-admin-table-heading js-admin_table-sortable acms-admin-table-hover">
	<tr>
		<th class="acms-admin-table-center acms-admin-th-checkbox acms-admin-show-sp"><div class="acms-admin-form-checkbox"><input type="checkbox" id="checkAll" /><label for="checkAll"><i class="acms-admin-ico-checkbox"></i><span class="acms-admin-hide-visually">コメントをすべてチェックする</span></label></div></th>
		<th class="acms-admin-show-sp"><!--T-->日付<!--/T--> / <!--T-->タイトル<!--/T--> / <!--T-->コメント<!--/T--> / <!--T-->投稿者<!--/T--></th>
		<th class="acms-admin-hide-sp"><!--T-->参照エントリー<!--/T--> / <!--T-->ブログ<!--/T--></th>
		<th class="acms-admin-hide-sp"><!--T-->ステータス<!--/T--></th>
		<th class="acms-admin-hide-sp"><!--T-->アクション<!--/T--></th>
	</tr><!-- BEGIN comment:loop -->
	<tr>
		<td class="acms-admin-table-center acms-admin-td-checkbox"><div class="acms-admin-form-checkbox"><input type="checkbox" name="checks[]" id="check-comment{id}" value="{id}"{disabled} /><label for="check-comment{id}"><i class="acms-admin-ico-checkbox"></i><span class="acms-admin-hide-visually"><!--T-->コメントタイトル<!--/T-->{name}<!--T-->を選択する<!--/T--></span></label></div></td>
		<td class="acms-admin-show-sp">
			{datetime}
			<br /><strong>{title}</strong>
			<br />{body}[trim(128, '...')]
			<br /><!-- BEGIN url#front --><a href="{url}"><!-- END url#front --><span class="weak">{name}</span><!-- END url#rear --></a><!-- END url#rear -->
		</td>
		<td>
			<a href="{reflink}">{reftitle}[trim(64, '...')]</a>
			<br /><a href="{blogLink}">{blogName}</a>
		</td>
		<td><!-- BEGIN status#open -->
			<span class="acms-admin-label acms-admin-label-info admin-status-label"><!--T-->公開<!--/T--></span><!-- END status#open --><!-- BEGIN status#close -->
			<span class="acms-admin-label acms-admin-label-danger admin-status-label"><!--T-->非公開<!--/T--></span><!-- END status#close --><!-- BEGIN status#awaiting -->
			<span class="acms-admin-label"><!--T-->承認待ち<!--/T--></span><!-- END status#awaiting -->
		</td>
		<td class="acms-admin-td-edit">
			<a href="{itemLink}" class="acms-admin-btn-admin"><!--T-->詳細<!--/T--></a>
		</td>
	</tr><!-- END comment:loop -->
</table>

<div class="acms-admin-grid">
	<div class="acms-admin-col-md-6">
		<!-- BEGIN pager:veil -->
		<div class="acms-admin-pager-container">
			<ul class="acms-admin-pager"><!-- BEGIN backLink -->
				<li class="prev"><a href="{url}">&laquo;&nbsp;<!--T-->前へ<!--/T--></a></li><!-- END backLink --><!-- BEGIN page:loop -->
				<li{pageCurAttr}[raw]><span><!-- BEGIN link#front --><a href="{url}"><!-- END link#front -->{page}<!-- BEGIN link#rear --></a><!-- END link#rear --></span></li><!-- END page:loop --><!-- BEGIN lastPage:veil -->
				<li class="last"><a href="{lastPageUrl}">...{lastPage}</a></li><!-- END lastPage:veil --><!-- BEGIN forwardLink -->
				<li class="next"><a href="{url}"><!--T-->次へ<!--/T-->&nbsp;&raquo;</a></li><!-- END forwardLink -->
			</ul>
		</div>
		<!-- END pager:veil -->
	</div>
	<div class="acms-admin-col-md-6">
		<div class="acms-admin-itemsAmount-container">
			<p>{itemsFrom}<!--T-->件<!--/T--> - {itemsTo}<!--T-->件 <!--/T-->/ <!--T-->全<!--/T-->{itemsAmount}<!--T-->件<!--/T--></p>
		</div>
	</div>
</div><!-- /.acms-grid -->

</form><!-- END form:veil -->
<!-- END_MODULE Admin_Comment_Index -->
