

<!-- BEGIN_MODULE Blog_Field -->

<footer id="footer" class="l-cf">

    <div id="aside" class="col-md-12">
        <div class="aside_inner">


            <!-- BEGIN_MODULE Category_List -->
            <div class="sideculmun">
                <h3><i class="fa fa-folder"></i>記事の分類</h3>
                <!--#include file="/admin/module/setting.html"-->
                <!-- BEGIN category:loop --><!-- BEGIN ul#front -->
                <ul class="list-group"><!-- END ul#front --><!-- BEGIN li#front -->
                    <li class="list-group-item"><!-- END li#front --><!-- BEGIN category:veil -->
                        <a href="{url}">{name}</a><!-- END category:veil --><!-- BEGIN amount:veil --><span class="badge"> {amount}</span><!-- END amount:veil --><!-- BEGIN li#rear -->
                    </li><!-- END li#rear --><!-- BEGIN ul#rear -->
                </ul><!-- END ul#rear --><!-- END category:loop -->
            </div>
            <!-- END_MODULE Category_List -->


            <div class="sideculmun">
                <h3><i class="fa fa-calendar" aria-hidden="true"></i>更新録</h3>
                <!--#include file="/calender/index.html"-->
            </div>



            <div class="sideculmun">
                <!-- BEGIN_MODULE Tag_Cloud -->
                <h3><i class="fa fa-tag"></i>＃記事の手がかり</h3>
                <!-- BEGIN tag:loop -->
                <a href="{url}" title="{amount}件" class="tag">{name}</a>
                <!-- END tag:loop -->
                <!-- END_MODULE Tag_Cloud -->
            </div>

        </div>
    </div>

    <div class="container">
        <p class="copy">copyright@{copy}</p>
    </div>
</footer>

<!-- END_MODULE Blog_Field -->