<!-- BEGIN_MODULE Touch_Top -->
<meta property="og:title" content="<!--#include file="/include/title.txt"-->" />
 <meta property="og:image" content="http://kigiroku.com/themes/blog_ver2/images/OGP.jpg" />
	<!-- BEGIN_MODULE Blog_Field -->
        <meta property="og:type" content="blog" />
        <!-- BEGIN blog_meta_description:veil -->
            <meta property="og:description" content="{blog_meta_description}" />
        <!-- END blog_meta_description:veil -->
        <!-- BEGIN ogpImage:veil -->
            <meta property="og:image" content="http://kigiroku.com/themes/blog_ver2/images/OGP.jpg" />
        <!-- END ogpImage:veil -->
        <!-- BEGIN blog_meta_description:veil -->
            <meta name="description" content="{blog_meta_description}" />
            <meta property="og:description" content="{blog_meta_description}" />
        <!-- END blog_meta_description:veil -->
        <!-- BEGIN blog_meta_keywords:veil -->
            <meta name="keywords" content="{blog_meta_keywords}" />
        <!-- END blog_meta_keywords:veil -->
	<!-- END_MODULE Blog_Field -->
<!-- END_MODULE Touch_Top -->