<table class="">
	<tr>
		<td>
			<input type="text" name="frow{id}" value="{frow}" class="acms-admin-form-width-full" value="FROW"/>
			<input type="hidden" name="unit{id}[]" value="frow{id}" />
		</td>
	</tr>
</table>
