/* ------------------------------
　　ページタイトル
------------------------------ */

/* 　ページタイトル（背景画像つき）
------------------------------ */
.c-pagetitle {
  position: relative;
  background: url("#{$root-theme-img}bg_main.jpg");
  background-size: cover;
  color: #fff;
  padding: 70px 0;
  text-align: center;
  margin: 0 0 30px 0;
}

.c-pagetitle-filter{
  background: rgba(54, 92, 152, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.c-pagetitle__wrap{
  position: relative;
  z-index: 1;
}

.c-pagetitle__affiliation{
  font-size: 14px;
  font-weight: normal;
  padding-left: 10px;
}

.c-pagetitle-inner {
  padding: 35px 0;
}

.c-pagetitle__heading {
  margin: 0;
  font-family: $font-heading;
  @include font-size(24);
  line-height: 1.3;
  padding-bottom: 20px;
}

@media screen and (min-width: $breakpoint-md-min) {
  .c-pagetitle-heading {
    @include font-size(28);
    text-align: left;
  }
}

/*-----
tag
------------*/

.c-tag-cancel{
  color: #fff;
  font-size: 16px;
  margin-left: 10px;
}

.c-tag-add{
  a{
    color: #fff;
    margin: 0 10px;
  }
}
