/* ------------------------------
　　ページャー
------------------------------ */

.c-pager {
  clear: both;
  list-style: none;
  margin: 0 -5px 12px -5px;
  padding: 0;
  text-align: center;
  border-bottom: 5px solid #D9D9D9;

  li {
    display: inline-block;
    margin: 0 15px -5px 15px;
    line-height: 1;
    padding: 0 10px 26px 10px;
    a{
      color: #C1C1C1;
    }
    &:hover{
      a{
        color: $primary-color;
      }
    }
    &.cur { /* 現在いる位置 */
      border-bottom: 5px solid $primary-color;
      a{
        color: $primary-color;
      }
    }
  }
}

.c-entry-all-number{
  text-align: center;
  color: #C1C1C1;
}

.c-pager-link {
  display: block;
  padding: 8px 12px;
  color: #333;
  border-radius: 5px;
  border: 1px solid #333;
  background: #FFF;
  &:visited,
  &:focus,
  &:active {
    color: #333;
  }
  &:hover {
    color: #fff;
    text-decoration: none;
    background: #333;
  }
}

.c-pager-link-forward {
  float: right;
}

.c-pager-link-prev {
  float: left;
}

@media screen and (max-width: $breakpoint-md-max) {
  .c-pager{
    margin: 0 -5px 0;
  }
  .c-pager li {
    margin: 0 8px -5px;
    padding: 0 8px 26px;
  }
}

/* 　前後リンク
------------------------------ */
.c-serial-nav {
  list-style: none;
  margin: (-$entry-margin-bottom) 0 30px 0;
  padding: 0 16px;
  display: flex;
  a {
    position: relative;
    display: block;
    padding: 10px 15px;
    border-radius: 3px;
    border: 1px solid $primary-color ;
    border-radius: 3px;
    @include font-size(14)
    color: $primary-color;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    &:hover,
    &:focus,
    &:active {
      color: #fff;
      text-decoration: none;
      background: $primary-color ;
      border: 1px solid $primary-color ;
    }
  }
}

.c-serial-nav-list {
  margin: 0;
  padding: 0 20px;
  width: 68px;
  text-align: center;
  a{
    &:hover,
    &:focus,
    &:active {
      color: #fff;
      text-decoration: none;
      background: $primary-color ;
      border: 1px solid $primary-color ;
    }
  }
}

.c-serial-nav-item {
  float: none;
  display: block;
  margin: 0 0 10px 0;
}

.c-serial-nav-index {
  text-align: center;
  a {
    display: inline-block;
  }
}

.c-serial-nav-prev {
  text-align: left;

  a {
    padding-left: 9px;
    font-family: "FontAwesome";

    &:before{

      content: $fa-var-angle-left;
      padding-right: 15px;
    }
  }
}

.c-serial-nav-next {
  text-align: right;

  a {
    padding-right: 9px;
    font-family: "FontAwesome";

    &:after{
      content: $fa-var-angle-right;
      padding-left: 15px;
    }
  }
}

.c-serial-nav-arrow {
  position: absolute;
  color: $primary-color;
  @include font-size(18);
  transition: all .2s;
  .c-serial-nav-prev & {
    top: 50%;
    left: 15px;
    margin: -9px 0 0 0;
  }
  .c-serial-nav-next & {
    top: 50%;
    right: 15px;
    margin: -9px 0 0 0;
  }
}

@media screen and (min-width: $breakpoint-md-min) {
  .c-serial-nav {
    margin: 0 -15px 60px -15px;
  }
  .c-serial-nav-prev a:hover .c-serial-nav-arrow {
    left: 10px;
  }
  .c-serial-nav-next a:hover .c-serial-nav-arrow {
    right: 10px;
  }
  .c-serial-nav-item {
    padding: 0 15px;
    vertical-align: top;
    box-sizing: border-box;
  }
  .c-serial-nav-prev,.c-serial-nav-next {
    flex: 1;
  }
}

@media screen and (max-width: $breakpoint-md-max) {
  .c-serial-nav {
    display: inherit;
    margin: 30px 0 30px;
    padding: 0;
  }
  .c-serial-nav-prev {
    text-align: left;
    margin-bottom: 10px;
  }
}

