<!-- BEGIN_MODULE Admin_Entry_Edit -->
<!-- BEGIN step#apply -->
<form action="" method="post" enctype="multipart/form-data" id="entryForm" class="acms-admin-form acms-admin-form-edit js-observeFileSize">
	<div class="entryFormWrapper">
		<table class="entryFormTable acms-admin-table-entry">
			<tr>
				<th>ステータス</th>
				<td><select name="status">
						<option value="draft" selected="selected">下書き</option>
						<option value="open">公開</option>
						<option value="close">非公開</option>
						<option value="trash">ゴミ箱</option>
					</select>
					<input type="hidden" name="entry[]" value="status" /></td>
			</tr>
			<tr>
				<th>タイトル</th>
				<td><input type="text" name="title" size="40" class="entryInputTitle" />
					<input type="hidden" name="entry[]" value="title" />
					<input type="hidden" name="title:validator#required" id="validator-title-required" />
					<label for="validator-title-required" class="validator-result-{title:validator#required}">タイトルが入力されていません。</label></td>
			</tr>
			<tr>
				<th>カテゴリー</th>
				<td>
					<select name="category_id" class="categoryWidth">
						<option value="">なし</option><!-- BEGIN_MODULE Admin_Category_SelectGlobal --><!-- BEGIN loop -->
						<option value="{value}"{selected}>{indent}[raw]{label} ( {amount} )<!-- BEGIN status:touch#close -->【非公開】<!-- END status:touch#close --></option><!-- END loop --><!-- END_MODULE Admin_Category_SelectGlobal -->
					</select>
					<!-- BEGIN action#categoryInsert -->
					<input name="categoryAdd" type="button" value="追加" style="display:none;" class="acms-admin-btn-admin" /><!-- END action#categoryInsert -->
					<input type="hidden" name="entry[]" value="category_id" />
				</td>
			</tr>
			<tr>
				<th>タグ</th>
				<td>
					<input type="text" name="tag" size="30" class="entryFormInputText acms-admin-form-width-medium" />
					<input type="hidden" name="entry[]" value="tag" />
					<input type="button" id="tagListTrigger" value="タグ候補" style="display:none;" class="acms-admin-btn-admin" />
				</td>
			</tr>
			<tr>
				<th><a href="#" class="updateDate" rel="entryDate">日付</a></th>
				<td nowrap="nowrap"><input type="text" name="date" value="%{NOW_DATE}" size="15" id="entryDate" class="entryFormInputDate" />
					<a href="#" class="updateTime" rel="entryTime">時刻</a>
					<input type="text" name="time" value="%{NOW_TIME}" size="12" id="entryTime" class="entryFormInputDate" />
					<input type="hidden" name="entry[]" value="date" />
					<input type="hidden" name="entry[]" value="time" /></td>
			</tr>
			<tr class="detail-fade">
				<td colspan="2"><a href="#" id="dateExpander" class="detail-fade-head">詳細設定<span class="acms-admin-icon-arrow-small-down acms-admin-margin-left-mini"></span></a></td>
			</tr>
			<tr class="detail-fade-body">
				<th>ファイル名</th>
				<td><input type="text" name="code" class="entryFormInputText" /><!-- BEGIN next_eid:veil --><!-- &nbsp;(&nbsp;次のeid:{next_eid}&nbsp;)--><!-- END next_eid:veil -->
					<input type="hidden" name="entry[]" value="code" /></td>
			</tr>
			<tr class="detail-fade-body">
				<th>公開日時</th>
				<td nowrap="nowrap">
					<a href="#" class="updateDate" rel="entryStartDate">日付</a>
					<input type="text" name="start_date" value="1000-01-01" size="15" class="entryFormInputDate" />
					<a href="#" class="updateTime" rel="entryStartTime">時刻</a>
					<input type="text" name="start_time" value="00:00:00" size="12" class="entryFormInputDate" />
					<input type="hidden" name="entry[]" value="start_date" />
					<input type="hidden" name="entry[]" value="start_time" />
				</td>
			</tr>
			<tr class="detail-fade-body">
				<th>掲載期限</th>
				<td nowrap="nowrap">
					<a href="#" class="updateDate" rel="entryEndDate">日付</a>
					<input type="text" name="end_date" value="9999-12-31" size="15" class="entryFormInputDate" />
					<a href="#" class="updateTime" rel="entryEndTime">時刻</a>
					<input type="text" name="end_time" value="23:59:59" size="12" class="entryFormInputDate" />
					<input type="hidden" name="entry[]" value="end_date" />
					<input type="hidden" name="entry[]" value="end_time" /></td>
			</tr>
			<tr class="detail-fade-body">
				<th>概要</th>
				<td> 上から
					<select name="summary_range">
						<option value="0"{range:selected#none}>なし</option>
						<!-- BEGIN range:loop -->
						<option value="{value}"{selected}>{value}</option>
						<!-- END range:loop -->
						<option value=""{range:selected#all}>全て</option>
					</select>
					番目までのカラムを抜粋
					<input type="hidden" name="entry[]" value="summary_range" /></td>
			</tr>
			<tr class="detail-fade-body">
				<th>インデキシング</th>
				<td><input type="hidden" name="indexing" value="off" />
					<label for="input-checkbox-indexing" class="acms-admin-form-checkbox">
						<input type="checkbox" name="indexing" value="on" checked="checked" id="input-checkbox-indexing" /><i class="acms-admin-ico-checkbox"></i>
						一覧に表示する
					</label>
					<input type="hidden" name="entry[]" value="indexing" /></td>
			</tr>
			<tr class="detail-fade-body">
				<th>リンク先URL</th>
				<td><input type="text" name="link" size="30" class="entryFormInputText acms-admin-form-width-medium" />
					<input type="hidden" name="entry[]" value="link" /></td>
			</tr>
			<!-- <tr class="detail-fade-body">
				<th>トラックバック</th>
				<td><textarea name="trackback_url" cols="30"></textarea>
					<input type="hidden" name="entry[]" value="trackback_url" /></td>
			</tr> -->
		</table>
		<!--#include file="/admin/entry/field.html" -->
	</div>

	<!--#include file="/admin/entry/unit.html"-->

	<div class="entryFormWrapper">
		<!--#include file="/admin/entry/field_foot.html" -->
	</div>

	<input type="hidden" name="entry[]" value="primary_image" />
	<p class="comPost">
		<!--
		<input type="submit" name="ACMS_POST_Entry_Confirm" value="プレビュー"  class="acms-admin-btn-admin" />-->
		<input type="submit" name="ACMS_POST_Entry_Insert" value="作成" class="acms-admin-btn-admin acms-admin-btn-admin-primary acms-admin-btn-admin-save" />
		<input type="submit" name="ACMS_POST_2GET" value="戻る" class="acms-admin-btn-admin overlook" onclick="return confirm('エントリーの編集をやめます。\n現在の変更内容が破棄されます、よろしいですか？');" />
		<input type="hidden" name="bid" value="%{BID}" />
		<input type="hidden" name="cid" value="%{CID}" />
		<input type="hidden" name="eid" value="%{EID}" />
		<input type="hidden" name="arg[]" value="bid" />
		<input type="hidden" name="arg[]" value="cid" />
		<input type="hidden" name="arg[]" value="eid" />
	</p>
</form>
<!-- END step#apply -->
<!-- BEGIN step#reapply -->
<form action="" method="post" enctype="multipart/form-data" id="entryForm" class="acms-admin-form acms-admin-form-edit js-observeFileSize">
	<div class="entryFormWrapper"><!-- BEGIN entry:validator#operable -->
		<p class="transaction-notice-error">この操作は許可されていません。</p><!-- END entry:validator#operable -->
		<p class="transaction-notice-{insert:validator}">エントリーの作成ができませんでした。</p>
		<p class="transaction-notice-{update:validator}">エントリーの保存ができませんでした。</p>

		<div class="acms-admin-grid-r">
			<table class="entryFormTable acms-admin-table-entry">
				<tr>
					<th>ステータス</th>
					<td>
						<select name="status">
							<option value="draft"{status:selected#draft}>下書き</option>
							<option value="open"{status:selected#open}>公開</option>
							<option value="close"{status:selected#close}>非公開</option>
							<option value="trash"{status:selected#trash}>ゴミ箱</option>

						</select>
						<input type="hidden" name="entry[]" value="status" />
						<input type="hidden" name="status:validator#category" id="validator-status-category" />
						<label for="validator-status-category" class="validator-result-{status:validator#category}">カテゴリーが非公開の記事は公開できません。</label>
					</td>
				</tr>
				<tr>
					<th>タイトル</th>
					<td><input type="text" name="title" size="40" value="{title}" class="entryInputTitle" />
						<input type="hidden" name="entry[]" value="title" />
						<input type="hidden" name="title:validator#required" id="validator-title-required" />
						<label for="validator-title-required" class="validator-result-{title:validator#required}">タイトルが入力されていません。</label></td>
				</tr>
				<tr>
					<th>カテゴリー</th>
					<td>
						<select name="category_id">
							<option value="">なし</option><!-- BEGIN_MODULE Admin_Category_SelectGlobal --><!-- BEGIN loop -->
							<option value="{value}"{selected}>{indent}[raw]{label} ( {amount} )</option><!-- END loop --><!-- END_MODULE Admin_Category_SelectGlobal -->
						</select>
						<!-- BEGIN_MODULE Touch_SessionWithCompilation -->
						<input name="categoryAdd" type="button" value="追加" style="display:none;" class="acms-admin-btn-admin" /><!-- END_MODULE Touch_SessionWithCompilation -->
						<input type="hidden" name="entry[]" value="category_id" />
					</td>
				</tr>
				<tr>
					<th>タグ</th>
					<td>
						<input type="text" name="tag" size="30" value="{tag}" class="entryFormInputText acms-admin-form-width-medium" />
						<input type="hidden" name="entry[]" value="tag" />
						<input type="button" id="tagListTrigger" value="タグ候補" style="display:none;" class="acms-admin-btn-admin" />
					</td>
				</tr>
				<tr>
					<th><a href="#" class="updateDate" rel="entryDate">日付</a></th>
					<td nowrap="nowrap"><input type="text" name="date" value="{date}" size="15" id="entryDate" class="entryFormInputDate" />
						<a href="#" class="updateTime" rel="entryTime">時刻</a>
						<input type="text" name="time" value="{time}" size="12" id="entryTime" class="entryFormInputDate" />
						<input type="hidden" name="entry[]" value="date" />
						<input type="hidden" name="entry[]" value="time" /></td>
				</tr>
			</table>
		</div>

		<p class="acms-text-center">
			<label for="validator-code-reserved" class="validator-result-{code:validator#reserved}">システムで予約されているキーワードです。(詳細設定を開いてファイル名を変更してください)</label>
			<label for="validator-code-double" class="validator-result-{code:validator#double}">同ブログ内に同じファイル名が存在します。(詳細設定を開いてファイル名を変更してください)</label>
		</p>

		<table class="entryFormTable acms-admin-table-entry">
			<tr class="detail-fade">
				<td colspan="2"><a href="#" id="dateExpander" class="detail-fade-head">詳細設定<span class="acms-admin-icon-arrow-small-down acms-admin-margin-left-mini"></span></a></td>
			</tr>
			<tr class="textM detail-fade-body">
				<th>ファイル名</th>
				<td>
					<input type="text" name="code" value="{code}" class="entryFormInputText" /><!-- BEGIN next_eid:veil -->&nbsp;(&nbsp;next_eid:{next_eid}&nbsp;)<!-- END next_eid:veil -->
					<input type="hidden" name="entry[]" value="code" />
				</td>
			</tr>
			<tr class="textM detail-fade-body">
				<th>公開日時</th>
				<td nowrap="nowrap">
					<a href="#" class="updateDate" rel="entryStartDate">日付</a>
					<input type="text" name="start_date" value="{start_date}" size="15" id="entryStartDate" class="entryFormInputDate" />
					<a href="#" class="updateTime" rel="entryStartTime">時刻</a>
					<input type="text" name="start_time" value="{start_time}" size="12" id="entryStartTime" class="entryFormInputDate" />
					<input type="hidden" name="entry[]" value="start_date" />
					<input type="hidden" name="entry[]" value="start_time" /></td>
			</tr>
			<tr class="textM detail-fade-body">
				<th>掲載期限</th>
				<td nowrap="nowrap">
					<a href="#" class="updateDate" rel="entryEndDate">日付</a>
					<input type="text" name="end_date" value="{end_date}" size="15" id="entryEndDate" class="entryFormInputDate" />
					<a href="#" class="updateTime" rel="entryEndTime">時刻</a>
					<input type="text" name="end_time" value="{end_time}" size="12" id="entryEndTime" class="entryFormInputDate" />
					<input type="hidden" name="entry[]" value="end_date" />
					<input type="hidden" name="entry[]" value="end_time" /></td>
			</tr>
			<tr class="textM detail-fade-body">
				<th>概要</th>
				<td> 上から
					<select name="summary_range">
						<option value="0"{range:selected#none}>なし</option>
						<!-- BEGIN range:loop -->
						<option value="{value}"{selected}>{value}</option>
						<!-- END range:loop -->
						<option value=""{range:selected#all}>全て</option>
					</select>
					番目までのカラムを抜粋
					<input type="hidden" name="entry[]" value="summary_range" /></td>
			</tr>
			<tr class="textM detail-fade-body">
				<th>インデキシング</th>
				<td><input type="hidden" name="indexing" value="off" />
					<label for="input-checkbox-indexing" class="acms-admin-form-checkbox">
						<input type="checkbox" name="indexing"{indexing:checked#on} value="on" id="input-checkbox-indexing" /><i class="acms-admin-ico-checkbox"></i>
						一覧に表示する
					</label>
					<input type="hidden" name="entry[]" value="indexing" /></td>
			</tr>
			<tr class="textM detail-fade-body">
				<th>リンク先URL</th>
				<td><input type="text" name="link" size="30" value="{link}" class="entryFormInputText acms-admin-form-width-medium" />
					<input type="hidden" name="entry[]" value="link" /></td>
			</tr>
			<!-- <tr class="textM detail-fade-body">
				<th>トラックバック</th>
				<td><textarea name="trackback_url" cols="30">{trackback_url}</textarea>
					<input type="hidden" name="entry[]" value="trackback_url" /></td>
			</tr> -->
		</table>
		<!--#include file="/admin/entry/field.html" -->
	</div>

	<!--#include file="/admin/entry/unit.html"-->

	<div class="entryFormWrapper">
		<!--#include file="/admin/entry/field_foot.html" -->
	</div>

	<input type="hidden" name="entry[]" value="primary_image" />

	<!-- BEGIN action#confirm -->
	<!-- <input type="submit" name="ACMS_POST_Entry_Confirm" value="プレビュー" class="acms-admin-btn-admin" />-->
	<!-- END action#confirm -->

	<p class="comPost">
		<!-- BEGIN action#insert -->
		<input type="submit" name="ACMS_POST_Entry_Insert" value="作成" class="acms-admin-btn-admin acms-admin-btn-admin-primary acms-admin-btn-admin-save" />
		<!-- END action#insert -->
		<!-- BEGIN action#update -->

		<!-- BEGIN_MODULE Touch_NotApprovalORsessionWithApprovalAdministrator -->
		<!--#include file="/admin/entry/revision.html"-->
		<input type="submit" name="ACMS_POST_Entry_Update" value="保存" class="acms-admin-btn-admin acms-admin-btn-admin-primary acms-admin-btn-admin-save" />
		<!-- END_MODULE Touch_NotApprovalORsessionWithApprovalAdministrator -->

		<!-- BEGIN_MODULE Touch_Approval --><!-- BEGIN_MODULE Touch_NotsessionWithApprovalAdministrator -->
		<input type="submit" name="ACMS_POST_Entry_Update" value="作業領域に保存" class="acms-admin-btn-admin acms-admin-btn-admin-primary acms-admin-btn-admin-save" />
		<!-- END_MODULE Touch_NotsessionWithApprovalAdministrator --><!-- END_MODULE Touch_Approval -->

		<!-- END action#update -->
		<!-- BEGIN action#delete -->
		<!--<input type="submit" name="ACMS_POST_Entry_Delete" value="削除" class="acms-admin-btn-admin" /> -->
		<!-- END action#delete -->

		<!-- BEGIN view#frontend -->
		<input type="submit" name="ACMS_POST_2GET" value="戻る" class="cancelBtn acms-admin-btn-admin overlook" onclick="return confirm('エントリーの編集を中止します。\n現在の変更内容が破棄されますが、よろしいですか？');" />
		<!-- END view#frontend -->
		<input type="hidden" name="bid" value="%{BID}" />
		<input type="hidden" name="cid" value="%{CID}" />
		<input type="hidden" name="eid" value="%{EID}" />
		<input type="hidden" name="arg[]" value="bid" />
		<input type="hidden" name="arg[]" value="cid" />
		<input type="hidden" name="arg[]" value="eid" />
		<!-- BEGIN backend -->
		<input type="hidden" name="backend" value="backend" /><!-- END backend -->
	</p>
	</form>

	<!-- BEGIN view#backend -->
	<div class="entryFormWrapper clearfix">
		<form action="" method="post" target="_brank" class="acms-admin-inline-btn">
			<input type="submit" name="ACMS_POST_2GET" value="プレビュー" class="acms-admin-btn-admin" />
			<input type="hidden" name="backend" value="backend" />
			<input type="hidden" name="bid" value="%{BID}" />
			<input type="hidden" name="cid" value="%{CID}" />
			<input type="hidden" name="eid" value="%{EID}" />
			<input type="hidden" name="arg[]" value="bid" />
			<input type="hidden" name="arg[]" value="cid" />
			<input type="hidden" name="arg[]" value="eid" />
		</form>

		<form action="" method="post" class="acms-admin-inline-btn">
			<input type="submit" name="ACMS_POST_2GET" value="戻る" class="acms-admin-btn-admin" />
			<input type="hidden" name="admin" value="entry_index" />
			<input type="hidden" name="bid" value="%{BID}" />
		</form>
	</div>
	<!-- END view#backend -->

<!-- END step#reapply -->
<!-- BEGIN step#confirm -->
<!--<form action="" method="post" id="entryForm">-->
	<!--<div id="adminToolBox">-->
		<!--&lt;!&ndash; BEGIN action#insert &ndash;&gt;-->
		<!--<input type="submit" name="ACMS_POST_Entry_Insert" value="作成" class="submitBtn acms-admin-btn-admin" />-->
		<!--&lt;!&ndash; END action#insert &ndash;&gt;-->
		<!--&lt;!&ndash; BEGIN action#update &ndash;&gt;-->
		<!--<input type="submit" name="ACMS_POST_Entry_Update" value="保存" class="submitBtn acms-admin-btn-admin" />-->
		<!--&lt;!&ndash; END action#update &ndash;&gt;-->
		<!--<input type="submit" name="ACMS_POST_Entry_Apply" value="戻る" class="cancelBtn acms-admin-btn-admin" />-->
		<!--<input type="hidden" name="entry:takeover" value="{entry:takeover}" />-->
		<!--<input type="hidden" name="field:takeover" value="{field:takeover}" />-->
		<!--<input type="hidden" name="column_object" value="{column:takeover}" />-->
	<!--</div>-->
<!--</form>-->
<!-- END step#confirm -->
<!-- BEGIN step#result -->
<form action="" method="post" id="entryForm">
	<div id="adminToolBox">
		<p>上記の内容でエントリーを投稿しました。</p>
		<input type="submit" name="ACMS_POST_2GET" value="戻る" class="acms-admin-btn-admin" />
		<input type="hidden" name="bid" value="%{BID}" />
		<input type="hidden" name="cid" value="%{CID}" />
		<input type="hidden" name="eid" value="%{EID}" />
	</div>
</form>
<!-- END step#result -->
<!-- END_MODULE Admin_Entry_Edit -->
