/*===============リセット===================*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    /*background-color:#ff9;*/
    color:#000;
    text-decoration:none;
    /*margin-bottom: 12%;*/
    margin-left: 5%;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*============END normalize-css============*/

.column-quote-auto {
    margin-bottom: 20px;
}


i{
    padding-right: 6px;
}


body{
    font-size: 15px;
    color: #444;
    font-family: '游ゴシック', 'YuGothic', 'Hiragino Kaku Gothic ProN', 'Meiryo', sans-serif;
    /*font-family: 'I-OTF-UDゴ表示Pro L';*/
    line-height: 1.5;
}

time{
    font-family: 'Osaka－等幅', 'Osaka-Mono';
}

ul{
    padding: 0;
    list-style-type: none;
}

h1{
    padding: 0;
    text-align: center;
    float: left;
    width: auto;
}


a{
    color: #444;
}

a:hover{
    text-decoration: none;
    color: #444;
}


/*========layout==========*/

.l-cf:after{
    content: "."; 
    display: block; 
    height: 0; 
    font-size:0;
    clear: both; 
    visibility:hidden;
}

.l-cb{
    clear: both;
}

/* 中央に寄せる */
.l-container{
    width: 1050px;
    margin: 0 auto;
}

/* 余白をつける */
.l-inner{
    padding: 15px;
}

@media screen and (max-width: 1200px){
    .l-container{
        width: 95%;
    } 
}

@media only screen and (max-width: 767px){
    .l-container{
        width: 100%;
    }
}

.l-bg-white{
    background-color: #fff;
}

/*=======module===========*/



/* header */

header{
    border-bottom: 2px solid #a5a5a5;
    padding: 10px 0;
}

header h1 img{
    width: 250px;
}

img.menu,img.close{
    position: absolute;
    top: 10px;
    left: 10px;
    display: none;
    z-index: 99999 !important;
    opacity: 1;
}

img.close{
    display: none;
}

img.close:hover{
    opacity: 1;
}

.load{
    margin: 0 auto;
    display: block;
    padding: 20px 0;
}

/*=====================
topの全てのナビゲーション
=======================*/

.top-all-nav{
    width: 60%;
    float: right;
    margin-bottom: -10px;
}

.top-all-nav ul li{
    width: 30%;
    display: inline-block;
    text-align: center;
    border-right: 1px solid #ccc;
    padding: 10px 0;
    margin: 0;
}

.top-all-nav ul li a{
    display: block;
}

.top-all-nav ul li:last-child{
    border-right: 0;
}

.blog-title{
    background-color: #a5a5a5;
    padding: 25px 0;
    margin: 30px 0;
    font-size: 1.2em;
    color: #fff;
}

article.blog-article{
    border-bottom: 1px solid #eee;
    padding: 5% 0;
}

article.blog-article:last-child{
    border: 0;
}

.blog-img,.blog-data{
    float: left;
    width: 50%;
}

.blog-data{
    box-sizing: border-box;
    padding-left: 6%;
}

.blog-data h3{
    font-size: 1.3em;
    padding-bottom: 7%;
}

.read{
    background-color: #A2D6F2;
    padding: 15px 25px;
    margin-top: 15px;
    color: #fff;
    text-align: center;
    float: right;
}

.read:hover{
    background-color: #5D9EC1;
    color: #fff;
}

/* メイン */

.top-portfolio{
    padding: 20px 0;
}


/* footer */

footer{
    background-color: #A2D6F2;
    text-align: center;
    font-size: 0.8em;
    padding: 5px 0;
}

@media screen and (max-width: 1040px){
    img.menu{
        display: inherit;
    }

    section.ranking{
        overflow-x: scroll;
    }
  
    section.ranking article .post{
        margin-right: 50px;
    }

    main{
        width: 100%;
    }

    aside{
        display: none;
        position: absolute;
        top: 0%;
        background-color: rgba(255,255,255,0.9);
        z-index: 9999;
        width: 105%;
        margin-left: -5%;
        padding-bottom: 10%;
    }

    .responsive{
        width: 70%;
        margin: 0 auto;
    }

    .Calendar table {
        width: 100%;
        background-color: #fff;
    }

}

aside.show{
    display: inherit;
}


@media screen and (max-width: 767px){
    header h1 img{
        width: 320px;
    }

    section.ranking article .post{
        margin-right: 30px;
    }

    article.col-md-6.col-sm-6{
        width: 50%;
        float: left;
    }

    article.col-md-6.col-sm-6 .post{
        width: 100%;
    }

    article.col-md-6.col-sm-6 .post img{
        width: 100%;
        height: auto;
    }
    .sns-txt {
       display: none;
    }

   .blogicon-twitter,
   .blogicon-facebook,
   .blogicon-bookmark,
   .blogicon-chevron-down{
       margin-right: 0;
   }
   .blog-img,.blog-data{
        float: none;
        width: 100%;
    }
}

@media screen and (max-width: 550px){
    article.col-md-6.col-sm-6{
        width: 85%;
        margin: 0 auto;
        float: none;
    }

    article.col-md-6.col-sm-6 .post img{
        width: 100%;
        height: 200px;
    }
}

@media screen and (max-width: 450px){
    article.col-md-6.col-sm-6{
        width: 100%;
    }
}

/* amazon */

a.amazon-btn {
    background-color: #146eb4;
    border-radius: 4px;
    color: #fff;
    -webkit-transition: none;
    transition: none;
    box-shadow: 0 3px 0 #0c426c;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}
a.amazon-btn, a.amazon-btn::before, a.amazon-btn::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}
a.amazon-btn:hover {
    color: #fff;
    background-color: #428bc3;
}

.amazon-bg{
    background-color: #eee;
    border-left: 20px #146eb4 solid;
    padding: 20px 0 20px 20px;
}

.amazon-title{
    font-size: 1.2em;
    padding-top: 10px;
}

.amazon-manufacturer{
    font-size: 0.8em;
    margin-top: -10px;
    color: #888;
}

.amazon-price{
    font-size: 1.2em;
    padding-top: 10px;
}

.portfolio-img{
    overflow: hidden;
    width: 250px;
    height: 135px;
}










