$mainColor : #FFC0CB;
$txtColor: #444;

body{
	color: $txtColor;
	font-size: 16px;
}

ul,ol{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: $txtColor;
}

input {
    padding: 5px 10px;
}

.l-col-sm-12.l-col-xs-12.l-col-md-6.l-col-lg-6 {
    box-sizing: border-box;
    
    &:first-child{
    	padding-right: 25px;
    }
    &:last-child{
    	padding-left: 25px;
    }
}

main{
    padding-top: 30px;
}

nav li:last-child a{
    border-right: 0;
}

