button.fc-button{
	width: 30px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
    margin: 0;
	padding: 0;
	background: none;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-shadow: none;
    box-shadow: none;
	
	img{
		width: 25px;
	}
}


