.fc-scroller{
	height: auto !important;
    overflow-x: inherit !important;
    overflow-y: inherit !important;
}

.fc td, .fc th {
    // border-width: 0px;  
}

.fc td{
	
	span.fc-day-number{
	 	display: inline-block;
		width: 100%;
		text-align: center;
		top: 50%;
		margin-top: 20px;
	}
}

.fc-unthemed .fc-today {
    background: $mainColor;
    border-radius: 50%;
}