header nav{
	background-color: $mainColor;
	font-size: 18px;
	text-align: center;
}

header nav ul{
	list-style: none;
	
	a{
		color: #fff;
		border-right: 2px solid rgba(255,255,255,0.6);
		display: block;
		padding: 4px 0;
		margin: 12px 0;
	}
}

header nav ul li{
	width: 25%;
	box-sizing: border-box;
	float: left;
	
	&:last-child{
		border: 0;
	}

	&:hover,&.active{
		background-color: #7ea068;
	}
}

header{
	h1,.user-name{
		width: 50%;
		float: left;
	}
	.user-name{
		text-align: right; 
	}
}
