main.top{

	&.login,&.signup{
		img{
			width: 30%
		}
		a.in{
			float: none;
			font-size: 18px;
			margin: 0 auto;
		}
		label{
			width: 50%;
			float: left;
			text-align: center;
			
			input{
				margin: 10px 0 30px 0;
				padding: 10px;
			}
		}
	}

	&.signup img{
		width: 30%
	}
}

