main.mypage{
	div {
	    padding: 5px 0;
	    
	    h2 {
		    font-weight: normal;
		    font-size: 1.3em;
		    border-bottom: 2px solid #ddd;
		    padding-bottom: 15px;
		}
		img{
			margin: 0 10px -5px 0;
		}
	}
}