a.list-group-item {
    display: block;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

a.list-group-item:last-child {
    border-bottom: 0px;
    
    &:last-child {
        color: #fff;
    }
}