.btn{
	box-sizing: border-box;
	font-size: 18px;
	padding: 12px 0;
	text-align: center;
	display: block;
	border-radius: 8px;
	background-color: $mainColor;
	border: 3px solid $mainColor;
	margin-right: 12%;
	width: 200px;
}

.btn2 {
    width: 10%;
    font-size: 0.9em;
    padding: 6px;
}

button#hiraku-offcanvas-btn-1 {
    position: absolute;
    top: 20px;
    right: 15px;
    border: 0;
    padding: 8px 8px 5px 8px;
    border-radius: 8px;
}

label input {
    margin-bottom: 18px;
}