/* タブレット用：　768px〜991px */
@media screen and (min-width: 768px) and (max-width: 992px){
    .container{
        width: 90%;
    }
    header h1 img{
        width: 250px;
    }
    main.top img {
        width: 50% !important;
    }
    main div.registration {
        width: 70%;
        background-position: center;
        background-size: 80%;
        padding: 190px 50px 130px 30px;
    }
}

@media screen and (min-width: 340px){
    .navbar-toggle,.sidebar-offcanvas{
        display: none;
    }
}

// @media screen and (min-width: 768px){
//     .sidebar-offcanvas{
//         display: none;
//     }
// }

@media screen and (max-width: 768px){
    header{

        .user-name {
            display: none
        }
        h1 img {
            width: 190px;
        }
        
    }
    .container{
        width: 95%;
    }
}

/* スマホと用：767px以下 */
@media screen and (max-width: 520px){
    .mobile-none{
        display: none
    }
    header .user-name {
        text-align: center;
        padding-top: 10px;
    }
    nav{
        display: none;
    }
    h1 img {
        width: 100%;
    }
    main.top{

        padding-top: 20px;
        
        img {
            width: 250px !important;
        }
        .top-btn,.login-form {
            width: 80%;
            padding-top: 30px;
        }

        &.login,&.signup{

            label{
                width: 100%;
                
                input{
                    width: 80%;
                }
            }
        }

    } 
    .btn {
        box-sizing: border-box;
        font-size: 16px !important;//
        padding: 12px 0;
        text-align: center;
        margin: 0 auto;
        display: block;
        border-radius: 8px;
        background-color: #A2C68B;
        border: 3px solid #A2C68B;
        margin-right: 12%;
        width: 80%;
    }
    main div.registration {
        width: 70%;
        background-size: 100%;
        padding: 120px 50px 90px 30px;
        
        p.saving-money {
            font-size: 34px;
        }
    }
}


