form#sSearch {
    margin-bottom: 5%;
    
    input#shoppingSearch {
	    float: left;
	    margin-right: 5px;
	    width: 82%;
	}
}

input{

	&#all {
	    float: right;
	    margin: 20px 0 0 0;
	    font-size: 0.9em;
	    padding: 5px 0px;
	}

	&#addShopping {
	    width: 100px;
	    float: right;
	}
}

aside{
	h2 {
    	margin-top: 40px;
	}
}