main.top{

	padding-top: 110px;
	
	img{
		display: block;
		margin: 0 auto;
	}

	a{
		&.in,&.up{
			float: left;
			width: 44%;
			font-size: 22px;
		}
		&:last-child{
			margin-right: 0;
		}
		&.up{
			background-color: transparent;
		}

	}

	.top-btn,.login-form{
		width: 50%;
		margin: 0 auto;
		padding-top: 60px;
	}
}