<!-- BEGIN_MODULE Entry_Summary id="portfolio-list" -->
<!--#include file="/admin/module/setting.html"-->
<!-- BEGIN notFound -->
<p>ただいまページを準備しております。もうしばらくお待ちください。</p>
<!-- END notFound -->

	<!-- BEGIN unit:loop -->
	<!-- BEGIN entry:loop -->
	<article class="col-md-4 col-sm-6 portfolio-post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
		<div class="post">
			<a href="{url}" itemprop="url">
	              <!-- BEGIN image:veil -->
	            <div itemprop="image" itemscope itemtype="https://schema.org/ImageObject" class="portfolio-img">
					<img class="top_img" src="%{ARCHIVES_DIR}{workImage@path}[resizeImg(250)]" alt="" itemprop="thumbnailUrl"/>
					<meta itemprop="url" content="%{HTTP_ARCHIVES_DIR}{mainImage@path}[resizeImg(250)]">
  					<meta itemprop="width" content="350">
  					<meta itemprop="height" content="200">
				</div>
	              <!-- END image:veil -->
	        <div class="l-inner">
	        	<div class="text-hidden">
					<p itemprop="author" style="display:none;">林田実樹</p>
					<div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
	                    <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
	                    <meta itemprop="url" content="http://kigiroku.com/themes/blog_ver4/images/logo.jpg">
	                    <meta itemprop="width" content="500">
	                    <meta itemprop="height" content="243">
	                    </div>
	                    <meta itemprop="name" content="木々録">
	                </div>
				</div>
			</div>
			</a>
		</div>
	</article>
	<!-- END entry:loop -->
	<!-- END unit:loop -->

<!-- END_MODULE Entry_Summary -->
