<header class="acms-admin-grid-r">
	<div class="acms-admin-col-md-6">
		<h1 class="acms-admin-admin-title"><i class="acms-admin-icon acms-admin-icon-alias"></i><!--T-->エイリアス管理<!--/T--></h1>
	</div>
	<div class="acms-admin-col-md-6">
		<!--#include file="/admin/topicpath.html"-->
	</div>
</header>

<!-- BEGIN_MODULE Admin_Alias_Edit -->

<!-- BEGIN msg#insert -->
<p class="acms-admin-alert acms-admin-alert-info"><button class="js-acms-alert-close">×</button><!--T-->エイリアスを作成しました<!--/T--></p><!-- END msg#insert --><!-- BEGIN msg#update -->
<p class="acms-admin-alert acms-admin-alert-info"><button class="js-acms-alert-close">×</button><!--T-->エイリアスを保存しました<!--/T--></p><!-- END msg#update --><!-- BEGIN msg#delete -->
<p class="acms-admin-alert acms-admin-alert-info"><button class="js-acms-alert-close">×</button><!--T-->エイリアスを削除しました<!--/T--></p><!-- END msg#delete --><!-- BEGIN alias:validator#operable -->
<p class="acms-admin-alert acms-admin-alert-danger"><button class="js-acms-alert-close">×</button><!--T-->この操作は許可されていません。<!--/T--></p><!-- END alias:validator#operable --><!-- BEGIN alias:validator#primary -->
<p class="acms-admin-alert acms-admin-alert-danger">
	<button class="js-acms-alert-close">×</button>
	<!--T-->エイリアスを削除できませんでした。<!--/T--><br />
	<!--T-->プライマリに指定されているエイリアスは削除出来ません。<!--/T--><br />
</p><!-- END alias:validator#primary -->


<!-- BEGIN headline#insert --><!-- END headline#insert -->
<!-- BEGIN headline#update --><!-- END headline#update -->

<form action="" method="post" class="acms-admin-inline-btn">
	<input type="hidden" name="bid" value="%{BID}" />
	<input type="hidden" name="admin" value="alias_index" />
	<input type="submit" value="<!--T-->一覧<!--/T-->" name="ACMS_POST_2GET" class="acms-admin-btn-admin" />
</form>

<form action="" method="post" enctype="multipart/form-data" class="acms-admin-form">
	<input type="hidden" name="scope" value="local" />
	<input type="hidden" name="category[]" value="scope" />

	<!-- BEGIN submit#insert -->
	<input type="submit" name="ACMS_POST_Alias_Insert" value="<!--T-->作成<!--/T-->" class="acms-admin-btn-admin acms-admin-btn-admin-primary acms-admin-btn-admin-save" />
	<!-- END submit#insert -->

	<!-- BEGIN submit#update -->
	<input type="submit" name="ACMS_POST_Alias_Update" value="<!--T-->保存<!--/T-->" class="acms-admin-btn-admin acms-admin-btn-admin-primary acms-admin-btn-admin-save" />

	<!-- BEGIN_MODULE Touch_SessionWithAdministration -->
	<input type="submit" name="ACMS_POST_Alias_Delete" value="<!--T-->削除<!--/T-->" onclick="return confirm('<!--T-->この操作は取り消せません。\nよろしいですか？<!--/T-->');" class="acms-admin-btn-admin acms-admin-btn-admin-danger" />
	<input type="hidden" name="takeover" value="{takeover}" />
	<!-- END_MODULE Touch_SessionWithAdministration -->
	<!-- END submit#update -->

	<table class="adminTable acms-admin-table-admin-edit"><!-- BEGIN id:veil -->
		<tr>
			<th>ID<i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->エイリアスの管理番号です<!--/T-->"></i></th>
			<td>{id}</td>
		</tr><!-- END id:veil -->
		<tr>
			<th><!--T-->ステータス<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->エイリアスの有効・無効を変更します。<!--/T-->"></i></th>
			<td>
				<div class="acms-admin-form-checkbox">
					<input type="hidden" name="status" value="close" />
					<input type="checkbox" name="status" value="open"{status:checked#open} id="input-checkbox-status" />
					<label for="input-checkbox-status"><i class="acms-admin-ico-checkbox"></i><!--T-->公開<!--/T--></label>
				</div>

				<input type="hidden" name="alias[]" value="status" />
			</td>
		</tr>
		<tr>
			<th><!--T-->名前<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->エイリアスの名前を変更します。（日本語可）<!--/T-->"></i></th>
			<td>
				<input type="text" name="name" value="{name}" />
				<input type="hidden" name="alias[]" value="name" />
				<input type="hidden" name="name:validator#required" id="validator-name-required" />
				<div role="alert" aria-live="assertive">
					<div data-validator-label="validator-name-required" class="validator-result-{name:validator#required}">
						<p class="error-text"><span class="acms-admin-icon acms-admin-icon-attention" aria-hidden="true"></span><!--T-->名前が入力されていません。<!--/T--></p>
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<th><!--T-->ドメイン<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->エイリアスのドメイン名を変更します。<!--/T-->"></i></th>
			<td>
				<input type="text" name="domain" value="{domain}" size="40" /> (<!--T-->英数字<!--/T-->)
				<input type="hidden" name="alias[]" value="domain" />
				<input type="hidden" name="domain:validator#required" id="validator-domain-required" />
				<div role="alert" aria-live="assertive">
					<div data-validator-label="validator-domain-required" class="validator-result-{domain:validator#required}">
						<p class="error-text"><span class="acms-admin-icon acms-admin-icon-attention" aria-hidden="true"></span><!--T-->ドメインが入力されていません。<!--/T--></p>
					</div>
					<div data-validator-label="validator-domain-domain" class="validator-result-{domain:validator#domain}">
						<p class="error-text"><span class="acms-admin-icon acms-admin-icon-attention" aria-hidden="true"></span><!--T-->入力されたドメイン名はご利用できません。<!--/T--></p>
					</div>
					<div data-validator-label="validator-domain-identify" class="validator-result-{domain:validator#identify}">
						<p class="error-text"><span class="acms-admin-icon acms-admin-icon-attention" aria-hidden="true"></span><!--T-->入力されたドメインとコードネームの組み合わせは既に使用されています。<!--/T--></p>
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<th><!--T-->コードネーム<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->URL上で表示されるディレクトリ名を変更します。<!--/T-->"></i></th>
			<td>
				<input type="text" name="code" value="{code}" size="20" /> (<!--T-->英数字<!--/T-->)
				<input type="hidden" name="alias[]" value="code" />
				<div role="alert" aria-live="assertive">
					<div data-validator-label="validator-code-identify" class="validator-result-{code:validator#exists}">
						<p class="error-text"><span class="acms-admin-icon acms-admin-icon-attention" aria-hidden="true"></span><!--T-->入力されたドメインとコードネームの組み合わせは既に使用されています。<!--/T--></p>
					</div>
					<div data-validator-label="validator-code-reserved" class="validator-result-{code:validator#reserved}">
						<p class="error-text"><span class="acms-admin-icon acms-admin-icon-attention" aria-hidden="true"></span><!--T-->システムで予約されているキーワードです。<!--/T--></p>
					</div>
					<div data-validator-label="validator-code-string" class="validator-result-{code:validator#string}">
						<p class="error-text"><span class="acms-admin-icon acms-admin-icon-attention" aria-hidden="true"></span><!--T-->不正な文字が含まれています。<!--/T--></p>
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<th><!--T-->グローバル<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->チェックされたエイリアスは子ブログにも受け継がれて使用されます。<!--/T-->"></i></th>
			<td>
				<input type="hidden" name="scope" value="local" />
				<div class="acms-admin-form-checkbox">
					<input type="checkbox" name="scope" value="global" id="input-checkbox-scope"{scope:checked#global} />
					<label for="input-checkbox-scope"><i class="acms-admin-ico-checkbox"></i><!--T-->下の階層のブログと共有する<!--/T-->
					</label>
					<input type="hidden" name="alias[]" value="scope" />
				</div>
				<!-- BEGIN scope:validator#deny -->
				<div role="alert" aria-live="assertive">
					<div data-validator-label="validator-scope-blogcode" class="validator-result-0">
						<p class="error-text"><span class="acms-admin-icon acms-admin-icon-attention" aria-hidden="true"></span><!--T-->ブログコードが設定されていないブログがあります。またはブログコードが重複しています。<!--/T--></p>
					</div>
				</div>
				<!-- END scope:validator#deny -->
			</td>
		</tr>
		<tr>
			<th><!--T-->インデキシング<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->チェックが外されたエイリアスは、エイリアスの一覧を出力するモジュールに表示されなくなります。<!--/T-->"></i></th>
			<td>
				<input type="hidden" name="indexing" value="off" />
				<div class="acms-admin-form-checkbox">
					<input type="checkbox" name="indexing" value="on"{indexing:checked#on} id="input-checkbox-indexing" />
					<label for="input-checkbox-indexing">
						<i class="acms-admin-ico-checkbox"></i><!--T-->リストに出す<!--/T-->
					</label>
				</div>
				<input type="hidden" name="alias[]" value="indexing" />
			</td>
		</tr>
	</table>
</form>
<!-- END step#reapply -->
<!-- END_MODULE Admin_Alias_Edit -->
