<header class="acms-admin-grid-r">
	<div class="acms-admin-col-md-6">
		<h1 class="acms-admin-admin-title"><i class="acms-admin-icon acms-admin-icon-alias"></i><!--T-->エイリアス管理<!--/T--></h1>
	</div>
	<div class="acms-admin-col-md-6">
		<!--#include file="/admin/topicpath.html"-->
	</div>
</header>

<!-- BEGIN_MODULE Admin_Alias_Index -->

<!-- BEGIN msg#success -->
<p class="acms-admin-alert acms-admin-alert-info"><button class="js-acms-alert-close">×</button><!--T-->エイリアスの一覧を更新しました。<!--/T--></p><!-- END msg#success --><!-- BEGIN msg#error --><!-- BEGIN alias:validator#operable -->
<p class="acms-admin-alert acms-admin-alert-danger"><button class="js-acms-alert-close">×</button><!--T-->この操作は許可されていません。<!--/T--></p><!-- END alias:validator#operable --><!-- BEGIN checks:validator#required -->
<p class="acms-admin-alert acms-admin-alert-danger"><button class="js-acms-alert-close">×</button><!--T-->対象が選択されていません。<!--/T--></p><!-- END checks:validator#required --><!-- BEGIN alias:validator#status -->
<p class="acms-admin-alert acms-admin-alert-danger"><button class="js-acms-alert-close">×</button><!--T-->ステータスが無効のエイリアスはプライマリに設定できません。<!--/T--></p><!-- END alias:validator#status --><!-- END msg#error -->

<!-- BEGIN_MODULE Touch_SessionWithAdministration -->
<form action="" method="post" class="acms-admin-float-right acms-admin-float-none-sp js-acms_fix_target acms-admin-position-right">
	<input type="hidden" name="bid" value="%{BID}" />
	<input type="hidden" name="admin" value="alias_edit" />
	<input type="hidden" name="edit" value="insert" />
	<input type="hidden" name="query[]" value="edit" />
	<input type="submit" name="ACMS_POST_2GET" value="<!--T-->エイリアスの作成<!--/T-->" class="acms-admin-btn-admin" />
</form>
<!-- END_MODULE Touch_SessionWithAdministration -->

<form method="post" action="" id="sortableForm" class="acms-admin-form">
<!-- BEGIN index:veil -->

	<div class="js-acms-tab-select clearfix js-acms_fix_marker js-acms_fix_target">
		<select name="action-alias" class="js-acms-tab-select-value acms-admin-float-left acms-admin-select-large">
			<option value="action-order"{action-alias:selected#action-order}><!--T-->表示順<!--/T--></option>
			<option value="action-status"{action-alias:selected#action-status}><!--T-->ステータス<!--/T--></option>
			<option value="action-primary"{action-alias:selected#action-primary}><!--T-->プライマリエイリアス<!--/T--></option>
		</select>

		<div id="action-order" class="js-acms-tab-select-panel js-acms-tab-select-active acms-admin-float-left">
			<input type="submit" name="ACMS_POST_Alias_Index_Sort" value="<!--T-->変更<!--/T-->" class="acms-admin-btn-admin acms-admin-btn-admin-primary" />
		</div>
		<div id="action-status" class="js-acms-tab-select-panel acms-admin-float-left">
			<select name="status">
				<option value="open"><!--T-->公開<!--/T--></option>
				<option value="close"><!--T-->非公開<!--/T--></option>
			</select>
			<input type="submit" name="ACMS_POST_Alias_Index_Status" value="<!--T-->変更<!--/T-->" class="acms-admin-btn-admin acms-admin-btn-admin-primary" />
		</div>
		<div id="action-primary" class="js-acms-tab-select-panel acms-admin-float-left">
			<input type="submit" name="ACMS_POST_Alias_Index_Primary" value="<!--T-->変更<!--/T-->" class="acms-admin-btn-admin acms-admin-btn-admin-primary" />
		</div>
	</div>

	<p class="acms-admin-margin-sp">※&nbsp;<!--T-->エイリアスに別ドメインを指定していて、index.phpまでのパスにディレクトリが含まれる場合、一覧のURLが正しくないことがあります。<!--/T--><br />
		<!--T-->手動で「エイリアスのドメイン + index.phpまでのディレクトリパス + エイリアスのコード」のURLにアクセスしてください。<!--/T--></p>

	<table class="adminTable js-admin_table-sortable exceptionSort acms-admin-table-admin acms-admin-table-heading acms-admin-table-hover" data-sort-enable="on" data-sort-submit="ACMS_POST_Alias_Index_Sort" data-sort-target="#sortableForm">
		<thead>
			<tr>
				<th class="item-handle acms-admin-hide-sp"></th>
				<th class="acms-admin-table-center acms-admin-th-checkbox acms-admin-show-sp">
				<div class="acms-admin-form-checkbox">
					<input type="checkbox" id="checkAll">
					<label for="checkAll" class="acms-admin-form-checkbox"><i class="acms-admin-ico-checkbox"></i><span class="acms-admin-hide-visually"><!--T-->すべてのエイリアスを選択する<!--/T--></span></label>
				</div>
				</th>
				<th class="acms-admin-hide-sp"><!--T-->表示順<!--/T--></th>
				<th class="acms-admin-hide-sp"><!--T-->プライマリ<!--/T--> / ID</th>
				<th class="acms-admin-show-sp"><!--T-->名前<!--/T--> / URL</th>
				<th class="acms-admin-hide-sp"><!--T-->ステータス<!--/T--></th>
				<th class="acms-admin-hide-sp"><!--T-->グローバル<!--/T--></th>
				<th class="acms-admin-hide-sp"><!--T-->アクション<!--/T--></th>
			</tr>
		</thead>
		<tbody><!-- BEGIN alias:loop -->
			<tr data-sort-level="parallel" data-sort-name="sort-{aid}">
				<td class="item-handle acms-admin-hide-sp" style="cursor: move;"><i class="acms-admin-icon-sort"></i></td>
				<td class="acms-admin-table-center">
					<div class="acms-admin-form-checkbox">
						<input type="checkbox" name="checks[]" value="{aid}"{disabled} id="input-checkbox-alias-{aid}" />
						<label for="input-checkbox-alias-{aid}"><i class="acms-admin-ico-checkbox"></i><span class="acms-admin-hide-visually"><!--T-->エイリアス名「<!--/T-->{name}<!--T-->」を選択する<!--/T--></span></label>
					</div>
				</td>
				<td>
					<!--<input type="hidden" name="_rid[]" value="{aid}" />
					<input type="hidden" name="_sort[]" value="{sort}" />-->
					<select name="sort-{aid}"{disabled}><!-- BEGIN sort:loop -->
						<option value="{value}"{selected}>{label}</option><!-- END sort:loop -->
					</select>
					<input type="hidden" name="sort-current-{aid}" value="{sort}">
				</td>
				<td>
					<div class="acms-admin-form-radio">
						<input type="radio" name="primary" value="{aid}"{aid:checked}{disabled} id="input-radio-primary-{aid}" />
						<label for="input-radio-primary-{aid}">
							<i class="acms-admin-ico-radio"></i>
							{aidLabel}<!-- BEGIN aid#null -->NULL<!-- END aid#null -->
						</label>
					</div>
				</td>
				<td class="acms-admin-show-sp acms-admin-width-sp acms-admin-title-sp">
					<strong>{name}</strong>
					<br />
					<span class="weak"><a href="{urlValue}">{urlLable}</a></span>
				</td>
				<td><!-- BEGIN status:touch#open -->
					<span class="acms-admin-label acms-admin-label-info admin-status-label"><!--T-->公開<!--/T--></span><!-- END status:touch#open --><!-- BEGIN status:touch#close --><span class="acms-admin-label acms-admin-label-danger"><!--T-->非公開<!--/T--></span><!-- END status:touch#close -->
				</td>
				<td class="acms-admin-td-global">
					<!-- BEGIN scope:touch#global --><span class="acms-admin-label acms-admin-label-info admin-status-label"><!--T-->グローバル<!--/T--></span><!-- END scope:touch#global -->
					<!-- BEGIN scope:touch#local --> - <!-- END scope:touch#local -->
				</td>
				<td class="acms-admin-show-sp acms-admin-width-sp acms-admin-border-bottom-sp"><!-- BEGIN itemUrl:veil -->
					<a href="{itemUrl}&edit=update" class="acms-admin-btn-admin"><!--T-->変更<!--/T--></a><!-- END itemUrl:veil --><!-- BEGIN action#default -->
					<!--T-->オリジナル<!--/T--><!-- END action#default --><!-- BEGIN action#root --><!--T-->先祖ブログ<!--/T--><!--END action#root -->
				</td>
			</tr>
		<!-- END alias:loop --></tbody>
	</table>

	<!-- END index:veil -->
</form>
<div class="js-acms_fix_target acms_fix_bg"><div class="acms_fix_bg_index"></div></div>
<!-- END_MODULE Admin_Alias_Index -->
