<h3 class="acms-admin-admin-title2">SEO</h3>
<table class="adminTable acms-admin-table-admin-edit">
<tr>
        <th>タイトル</th>
        <td>
            <input type="text" name="blog_meta_title" value="{blog_meta_title}" class="js-countup acms-admin-form-width-half" data-max="12"/>
            <input type="hidden" name="field[]" value="blog_meta_title" />
        </td>
    </tr>
    
<tr>
        <th>キーワード</th>
        <td>
            <input type="text" name="blog_meta_keywords" value="{blog_meta_keywords}" class="acms-admin-form-width-half"/>
            <input type="hidden" name="field[]" value="blog_meta_keywords" />
        </td>
    </tr>
<tr>
    <th>概要文</th>
    <td>
        <textarea name="blog_meta_description" rows="5" class="js-countup acms-admin-form-width-full" data-max="140" data-label-target=".description_countup">{blog_meta_description}</textarea>
        <input type="hidden" name="field[]" value="blog_meta_description" />
        <input type="hidden" name="blog_meta_description:search" value="0" />
        <p class="acms-admin-float-right">（<span class="description_countup"></span> / 140）</p>
    </td>
</tr>
</table>

<h3 class="acms-admin-admin-title2">サイト</h3>
<table class="adminTable acms-admin-table-admin-edit">
<tr>
    <th>Google Analytics</th>
    <td>
        <textarea name="googleAnalytics" rows="5" class="acms-admin-form-width-half">{googleAnalytics}</textarea>
        <input type="hidden" name="field[]" value="googleAnalytics" />
    </td>
</tr>
    <tr>
        <th>キャッチコピー</th>
        <td>
            <input type="text" name="catchcopy" value="{catchcopy}" class="acms-admin-form-width-half"/>
            <input type="hidden" name="field[]" value="catchcopy" />
        </td>
    </tr>
</table>

<h3 class="acms-admin-admin-title2">footer</h3>
<table class="adminTable acms-admin-table-admin-edit">
    <tr>
        <th>コピーライト</th>
        <td>
            <input type="text" name="copy" value="{copy}" class="acms-admin-form-width-half"/>
            <input type="hidden" name="field[]" value="copy" />
        </td>
    </tr>
</table>

<h3 class="acms-admin-admin-title2">プロフィール</h3>
<table class="adminTable acms-admin-table-admin-edit">
    <tr>
        <th></th>
        <td>
            <!-- BEGIN profileimage@path:veil -->
            <img src="%{ARCHIVES_DIR}{profileimage@path}" />
            <input type="hidden" name="profileimage@old" value="{profileimage@path}" /><br />
            <label>
                <input type="checkbox" name="profileimage@edit" value="delete" />
                削除
            </label>
            <!-- END profileimage@path:veil -->
            <input type="file" name="profileimage" size="20" /><br />
            <input type="hidden" name="field[]" value="profileimage" />
            <input type="hidden" name="profileimage:extension" value="image" />
            <input type="hidden" name="profileimage@size" value="100" />
            <input type="hidden" name="profileimage@filename" value="" />
        </td>
    </tr>
    <tr>
        <th>名前</th>
        <td>
            <input type="text" name="b_name" value="{b_name}" class="acms-admin-form-width-half"/>
            <input type="hidden" name="field[]" value="b_name" />
        </td>
    </tr>
    <tr>
        <th>ひとこと</th>
        <td>
            <input type="text" name="one-thing" value="{one-thing}" class="acms-admin-form-width-half"/>
            <input type="hidden" name="field[]" value="one-thing" />
        </td>
    </tr>
    <tr>
        <th>自己紹介</th>
        <td>
            <textarea type="text" rows="5" name="introduction" class="acms-admin-form-width-half">{introduction}</textarea>
            <input type="hidden" name="field[]" value="introduction" />
        </td>
    </tr>
    <tr>
        <th>FaceBook</th>
        <td>
            <input type="text" name="FaceBook" value="{FaceBook}" class="acms-admin-form-width-half"/>
            <input type="hidden" name="field[]" value="FaceBook" />
        </td>
    </tr>
    <tr>
        <th>Twitter</th>
        <td>
            <input type="text" name="Twitter" value="{Twitter}" class="acms-admin-form-width-half"/>
            <input type="hidden" name="field[]" value="Twitter" />
        </td>
    </tr>
    <tr>
        <th>Pinterest</th>
        <td>
            <input type="text" name="Pinterest" value="{Pinterest}" class="acms-admin-form-width-half"/>
            <input type="hidden" name="field[]" value="Pinterest" />
        </td>
    </tr>
    <tr>
        <th>Mail</th>
        <td>
            <input type="text" name="Mail" value="{Mail}" class="acms-admin-form-width-half"/>
            <input type="hidden" name="field[]" value="Mail" />
        </td>
    </tr>
</table>
