<header class="acms-admin-grid-r">
	<div class="acms-admin-col-md-6">
		<h1 class="acms-admin-admin-title"><i class="acms-admin-icon acms-admin-icon-category"></i><!--T-->カテゴリー管理<!--/T--></h1>
	</div>
	<div class="acms-admin-col-md-6">
		<!--#include file="/admin/topicpath.html"-->
	</div>
</header>

<!-- BEGIN_MODULE Admin_Category_Index -->

<!-- BEGIN refresh -->
<p class="acms-admin-alert acms-admin-alert-info"><button class="js-acms-alert-close">×</button><!--T-->カテゴリー一覧を更新しました。<!--/T--></p><!-- END refresh --><!-- BEGIN index#notFound -->
<p class="acms-admin-alert acms-admin-alert-danger"><button class="js-acms-alert-close">×</button><!--T-->カテゴリーがありません。<!--/T--></p><!-- END index#notFound -->

<!-- <h2 class="acms-admin-panel-title">カテゴリー一覧</h2> -->
<div class="acms-admin-filter">
	<form action="" method="post" class="filter acms-admin-form">
		ソート:
		<select name="order">
			<option value="sort-asc"{order:selected#sort-asc}><!--T-->表示順<!--/T-->（<!--T-->昇順<!--/T-->）</option>
			<option value="sort-desc"{order:selected#sort-desc}><!--T-->表示順<!--/T-->（<!--T-->降順<!--/T-->）</option>
			<option value="code-asc"{order:selected#code-asc}><!--T-->コードネーム<!--/T-->（<!--T-->昇順<!--/T-->）</option>
			<option value="code-desc"{order:selected#code-desc}><!--T-->コードネーム<!--/T-->（<!--T-->降順<!--/T-->）</option>
			<!--<option value="amount-asc"{order:selected#amount-asc}>エントリー数（昇順）</option>-->
			<!--<option value="amount-desc"{order:selected#amount-desc}>エントリー数（降順）</option>-->
			<option value="id-asc"{order:selected#id-asc}>ID（<!--T-->昇順<!--/T-->）</option>
			<option value="id-desc"{order:selected#id-desc}>ID（<!--T-->降順<!--/T-->）</option>
		</select>
		<input type="submit" name="ACMS_POST_2GET" value="<!--T-->表示<!--/T-->" class="acms-admin-btn-admin acms-admin-btn-admin-info acms-admin-width-sp" />
		<input type="hidden" name="pid" value="{pid}" />
		<input type="hidden" name="admin" value="category_index" />
	</form>
</div><!-- /.acms-filter -->

<!-- BEGIN action#categoryInsert -->
<form action="" method="post" class="acms-admin-float-right acms-admin-float-none-sp js-acms_fix_marker js-acms_fix_target acms-admin-position-right">
	<input type="hidden" name="bid" value="%{BID}" />
	<input type="hidden" name="admin" value="category_edit" />
	<input type="hidden" name="edit" value="insert" />
	<input type="hidden" name="query[]" value="edit" />
	<input type="submit" name="ACMS_POST_2GET" value="<!--T-->新規カテゴリー作成<!--/T-->" class="acms-admin-btn-admin">
</form>
<!-- END action#categoryInsert -->

<!-- BEGIN index -->
<form method="post" action="" id="sortableForm" class="acms-admin-form">
	<div class="js-acms-tab-select clearfix js-acms_fix_target acms-admin-form-group"><!-- BEGIN_IF [%{_cid}/nem] -->
		<a href="?_cid=%{pre}" class="acms-admin-float-left acms-admin-btn-admin js-acms-tab-select-value">
			<!--T-->戻る<!--/T-->
		</a><!-- END_IF -->

		<select name="action-category" class="js-acms-tab-select-value acms-admin-float-left acms-admin-select">
			<option value="action-order"{action-category:selected#action-order}><!--T-->表示順<!--/T--></option>
			<option value="action-parent"{action-category:selected#action-parent}><!--T-->親カテゴリーを<!--/T--></option>
			<option value="action-status"{action-category:selected#action-status}><!--T-->ステータス<!--/T--></option>
		</select>

		<div id="action-order" class="js-acms-tab-select-panel js-acms-tab-select-active acms-admin-float-left">
			<input type="submit" name="ACMS_POST_Category_Index_Sort" value="<!--T-->変更<!--/T-->" class="acms-admin-btn-admin acms-admin-btn-admin-primary" />
		</div>

		<div id="action-parent" class="js-acms-tab-select-panel acms-admin-float-left">
			<select name="parent" class="categoryWidth">
				<option value="0"><!--T-->なし<!--/T--></option><!-- BEGIN_MODULE Admin_Category_Select --><!-- BEGIN loop -->
				<option value="{value}"{selected}>{indent}[raw]{label} ( {amount} )</option><!-- END loop --><!-- END_MODULE Admin_Category_Select -->
			</select>
			<input type="submit" name="ACMS_POST_Category_Index_Parent" value="<!--T-->変更<!--/T-->" class="acms-admin-btn-admin acms-admin-btn-admin-primary" />
		</div>

		<div id="action-status" class="js-acms-tab-select-panel acms-admin-float-left">
			<select name="status">
				<option value="open"><!--T-->公開<!--/T--></option>
				<option value="close"><!--T-->非公開<!--/T--></option>
			</select>

			<input type="submit" name="ACMS_POST_Category_Index_Status" value="<!--T-->変更<!--/T-->" onclick="if ( 'close' == $(':input[name=status]', $(this).parents('form')).val() ) return confirm('<!--T-->カテゴリーのステータスを非公開にすると\nサブカテゴリーのステータスも非公開になります。\nよろしいですか？<!--/T-->');" class="acms-admin-btn-admin acms-admin-btn-admin-primary" />
		</div>
	</div>

	<table class="adminTable js-admin_table-sortable acms-admin-table-admin acms-admin-table-heading acms-admin-form acms-admin-table-hover" data-sort-enable="{sortable}" data-sort-submit="ACMS_POST_Category_Index_Sort" data-sort-target="#sortableForm">
		<thead>
			<tr>
				<th class="item-handle acms-admin-hide-sp"></th>
				<th class="acms-admin-table-center acms-admin-th-checkbox acms-admin-show-sp">
					<div class="acms-admin-form-checkbox">
						<input type="checkbox" id="checkAll" />
						<label for="checkAll"><i class="acms-admin-ico-checkbox"></i><span class="acms-admin-hide-visually">すべてのカテゴリーを選択する</span></label>
					</div>
				</th>
				<th class="acms-admin-hide-sp"><!--T-->表示順<!--/T--></th>
				<th class="acms-admin-show-sp"><!--T-->カテゴリー名<!--/T--></th>
				<th class="acms-admin-hide-sp">cid / <!--T-->コード<!--/T--></th>
				<th class="acms-admin-hide-sp"><!--T-->エントリー数<!--/T--></th>
				<th class="acms-admin-hide-sp"><!--T-->グローバル<!--/T--></th>
				<th class="acms-admin-hide-sp"><!--T-->アクション<!--/T--></th>
			</tr>
		</thead>
		<tbody><!-- BEGIN category:loop -->
			<tr data-sort-level="level-{level}-{pcid}" data-sort-name="sort-{cid}">
				<td class="item-handle acms-admin-td-sort" style="cursor: move;"><i class="acms-admin-icon-sort"></i></td>
				<td class="acms-admin-table-center acms-admin-td-checkbox"><!-- BEGIN check -->
					<div class="acms-admin-form-checkbox">
						<input type="checkbox" name="checks[]" id="check-category{cid}" value="{cid}"{disabled} />
						<label for="check-category{cid}"><i class="acms-admin-ico-checkbox"></i><span class="acms-admin-hide-visually"><!--T-->カテゴリー名<!--/T-->{name}<!--T-->を選択する<!--/T--></span></label>
					</div><!-- END check --></td>
				<td nowrap="nowrap" class="acms-admin-td-number"><!-- BEGIN indent:loop --><!-- BEGIN descendant -->&#9475;<!-- END descendant --><!-- BEGIN descendant#last -->&#12288;<!-- END descendant#last --><!-- BEGIN child -->&#9507;<!-- END child --><!-- BEGIN child#last -->&#9495;<!-- END child#last --><!-- END indent:loop -->
					<select name="sort-{cid}"{disabled}><!-- BEGIN sort:loop -->
						<option value="{value}"{selected}>{label}</option><!-- END sort:loop -->
					</select>
				</td>
				<td class="acms-admin-td-status">
					<p class="acms-admin-title-sp">
					<!-- BEGIN status#open -->
					<span class="acms-admin-label acms-admin-label-info admin-status-label"><!--T-->公開<!--/T--></span><!-- END status#open --><!-- BEGIN status#close -->
					<span class="acms-admin-label acms-admin-label-danger admin-status-label"><!--T-->非公開<!--/T--></span><!-- END status#close -->
					{name}
					</p>
				</td>
				<td class="acms-admin-td-id"><span class="acms-admin-label label-default admin-eid-label">{cid}</span> {code}</td>
				<td class="acms-admin-td-amount">{amount}</td>
				<td class="acms-admin-td-global">
					<!-- BEGIN scope:touch#global --><span class="acms-admin-label acms-admin-label-info admin-status-label"><!--T-->グローバル<!--/T--></span><!-- END scope:touch#global -->
					<!-- BEGIN scope:touch#local --> - <!-- END scope:touch#local -->
					<!-- BEGIN scope:touch#parental --> - <!-- END scope:touch#parental -->
				</td>
				<td class="acms-admin-td-edit"><!-- BEGIN mine -->
					<a href="{itemLink}?edit=update" class="acms-admin-btn-admin"><!--T-->変更<!--/T--></a><!-- END mine --><!-- BEGIN notMinePermit -->
					<a href="{itemLink}?edit=update" class="acms-admin-btn-admin"><!--T-->変更<!--/T--></a> &nbsp;<!--T-->親に所属<!--/T--><!-- END notMinePermit --><!-- BEGIN notMine -->
					<!--T-->親ブログに所属<!--/T--><!-- END notMine --><!-- BEGIN childLink -->
					<a href="?_cid={parent_cid}&amp;pre={pre_cid}" class="acms-admin-btn-admin"><!--T-->子カテゴリー<!--/T--></a><!-- END childLink -->
				</td>
			</tr><!-- END category:loop -->
		</tbody>
	</table>
</form><!-- END index -->
<div class="js-acms_fix_target acms_fix_bg"><div class="acms_fix_bg_index"></div></div>
<!-- END_MODULE Admin_Category_Index -->
