/* ------------------------------
　　ranking
------------------------------ */

@keyframes fuwafuwa
{
  0%
  {
    transform: translateX(-15px);
  }
  100%
  {
    transform: translateX(  0px);
  }
}

.c-ranking{
  list-style: none;
}

.c-ranking__item{
  padding-bottom: 26px;

  a{
    display: flex;
    color: #444;

    &:hover{
      text-decoration: none;
    }
  }
  i{
    padding-top: 20px;
    color: $primary-color;
  }
  &:hover{
    i{
      animation: fuwafuwa .5s ease-in-out infinite alternate;
    }
    .c-ranking__title{
      color: $primary-color;
    }
  }
}

.c-ranking__img {
  width: 80px;

  img{
    width: 100%;
    height: auto;
  }
}

.c-ranking__title{
  padding: 0 20px;
  margin: 0;
}
