/* ------------------------------
　　snsボタン
------------------------------ */

.c-sns-list {
  margin-top: 25px;
  text-align: center;
}

.c-sns-list__item{
  display: inline-block;
}
.c-sns-list__item.-facebook{
  line-height: 0.7;
}

/*
ページ上
---------------------------*/
.c-entry-sns-wrap{
  position: relative;
}

.c-entry-sns
{
  width: 25px;
  margin: 0 0 5% 0 !important;
  padding: 0;
  position: absolute;
  top: 250px;
  left: 80px;
}

.c-entry-sns__item
{
  transition: all .2s;
  list-style-type: none;
  vertical-align: middle;

  &:last-child
  {
    margin-right: 0;
  }
  a
  {
    text-decoration: none;
    color: #444;
  }
}

.c-entry-sns__link
{
  font-family: 'FontAwesome';
  line-height: 42px;
  position: relative;
  display: block;
  overflow: hidden;
  height: 42px;
  text-align: center;
  text-decoration: none;
  outline: none;

  &:after
  {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    content: '';
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    border-radius: 50%;
    background-color: rgba(255,255,255,.3);
  }
  &:hover
  {
    text-decoration: none;
  }
}

.c-entry-sns__twitter
{
  color: $twitter-color;

  &:before{
    content: $fa-var-twitter;
    color: $twitter-color;
  }
  &:after{
    content: 'ツイート';
  }
}

.c-entry-sns__facebook
{
  color: $facebook-color;

  &:before{
    content: $fa-var-facebook;
    color: $facebook-color;
  }
}

.c-entry-sns__bookmark
{
  color: $hatebu-color;

  &:before{
    font-family: Verdana;
    font-weight: bold;
    content: $fa-var-hatebu;
    color: $hatebu-color;
  }
}

.c-entry-sns__pocket
{
  color: $pocket-color;

  &:before{
    content: $fa-var-get-pocket;
    color: $pocket-color;
  }
}

@media screen and (max-width: $breakpoint-md-max) {
  .c-entry-sns__link {
    &:before {
      margin-right: 0;
    }
  }
}

/*
ページ下部
---------------------------*/
.c-entryfooter-sns
{
  display: table;
  overflow: hidden;
  width: 100%;
  margin: 0 0 5% 0 !important;
  padding: 0;
  @include font-size(14);
  table-layout: fixed;
}

.c-entryfooter-sns__item
{
  transition: all .2s;
  display: table-cell;
  list-style-type: none;
  vertical-align: middle;

  &:last-child
  {
    margin-right: 0;
  }
  a
  {
    text-decoration: none;
    color: #fff;
  }
}

.c-entryfooter-sns__link
{
  font-family: 'FontAwesome';
  line-height: 42px;
  position: relative;
  display: block;
  overflow: hidden;
  height: 42px;
  text-align: center;
  text-decoration: none;
  outline: none;

  &:before{
    color: #fff;
    margin-right: 10px;
  }
  &:after
  {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    content: '';
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    border-radius: 50%;
    background-color: rgba(255,255,255,.3);
  }
  &:hover
  {
    text-decoration: none;
  }
}

.c-entryfooter-sns__twitter
{
  background: $twitter-color;
  border: 1px solid $twitter-color;

  &:before{
    content: $fa-var-twitter;
  }
  &:hover{
    background: transparent;
    color: $twitter-color;

    &:before{
      color: $twitter-color;
    }
  }
}

.c-entryfooter-sns__facebook
{
  background: $facebook-color;
  border: 1px solid $facebook-color;

  &:before{
    content: $fa-var-facebook;
  }
  &:hover{
    background: transparent;
    color: $facebook-color;

    &:before{
      color: $facebook-color;
    }
  }
}

.c-entryfooter-sns__bookmark
{
  background: $hatebu-color;
  border: 1px solid $hatebu-color;

  &:before{
    font-family: Verdana;
    font-weight: bold;
    content: $fa-var-hatebu;
  }
  &:hover{
    background: transparent;
    color: $hatebu-color;

    &:before{
      color: $hatebu-color;
    }
  }
}

.c-entryfooter-sns__feed
{
  background: $feed-color;
  border: 1px solid $feed-color;

  &:before{
    content: $fa-var-feed;
  }
  &:hover{
    background: transparent;
    color: $feed-color;

    &:before{
      color: $feed-color;
    }
  }
}

.c-entryfooter-sns__pocket
{
  background: $pocket-color;
  border: 1px solid $pocket-color;

  &:before{
    content: $fa-var-get-pocket;
  }
  &:hover{
    background: transparent;
    color: $pocket-color;

    &:before{
      color: $pocket-color;
    }
  }
}

@media screen and (max-width: $breakpoint-md-max) {
  .c-entryfooter-sns__link {
    &:before {
      margin-right: 0;
    }
  }
}
