/* ------------------------------
　　トピックパス
------------------------------ */
.c-topicpath {
  height: 30px;
  margin-bottom: 10px;
  background: #fff;
  overflow: auto;
}
@media screen and (min-width: $breakpoint-md-min){
  .c-topicpath {
    margin-bottom: 30px;
  }
}

.c-topicpath-list {
  list-style: none;
  margin: 0 auto;
  line-height: 1;
  @include font-size(13);
  white-space: nowrap;
}

.c-topicpath-item {
  display: inline-block;
  padding: 8px 10px 8px 23px;
  background: url("#{$root-theme-img}common/arrow_topicpath.png") no-repeat top left;
  &:first-child {
    padding: 8px 10px 8px 0;
    background: 0;
  }
  &:first-child:before {
    content: $fa-var-home;
    @include fa-icon();
    @include font-size(13);
    color: $primary-color;
  }
}

.c-topicpath-link {
  color: #333;
  &:visited,
  &:focus,
  &:active {
    color: #333;
  }
}
