/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

/*===============リセット===================*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}



body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*============END normalize-css============*/





body{
    font-size: 16px;
    color: #444;
    background-color: #F9F8E2;
    font-family: '游ゴシック', 'YuGothic', 'Hiragino Kaku Gothic ProN', 'Meiryo', sans-serif;
}

p{
    line-height: 1.5;
}

ul{
    padding: 0;
    list-style-type: none;
}

h1{
    margin: 5% 0;
    text-align: center;
}


a{
    color: #444;
}

a:hover{
    text-decoration: none;
    color: #444;
}


/*========layout==========*/

.l-cf:after{
    content: "."; 
    display: block; 
    height: 0; 
    font-size:0;
    clear: both; 
    visibility:hidden;
}

.l-cb{
    clear: both;
}

/*=======module===========*/

.contentsNav {
    margin: 15px 0 30px;
    text-align: center;
    line-height: 1.1;
}

.contentsNav p.cnt {
    font-size: 12px;
    margin-bottom: 0.5em;
}

.contentsNav p.cnt .num {
    position: relative;
    top: 1px;
    font-size: 18px;
}

.contentsNav p.pager {
    letter-spacing: -0.4em;
}

.contentsNav p.pager a,
.contentsNav p.pager span.omission {
    overflow: hidden;
    display: -moz-inline-box;
    display: inline-block;
    vertical-align: middle;
    width: 1.7em;
    height: 1.6em;
    line-height: 1.6em;
    margin-right: 3px;
    font-size: 16px;
    font-family: "Helvetica", "Arial", "Verdana", sans-serif;
    letter-spacing: normal;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    zoom: 1;
}

.contentsNav p.pager a,
.contentsNav p.pager a:visited {
    background-color: #FFF;
    border: 1px solid #CCC;
    color: #333;
    text-decoration: none;
}

.contentsNav p.pager a:hover,
.contentsNav p.pager a:focus {
    background-color: #888;
    border-color: #666;
}

.contentsNav p.pager .cur,
.contentsNav p.pager .cur:visited {
    background-color: #EEE;
    border-color: #666;
    font-weight: bold;
}

.contentsNav p.pager .sep {
    display: none;
}

.search{
    margin-top: 1%;
}



.breadcrumb-list{
     float: left;
}

.side_menu h3 .fa{
    padding-right: 3%;
}

/*=============header=============*/


#header .header_search-focus:focus{
    outline: 0;
}

#header button.btn.btn-default.head-submit-btn:focus {
    outline: 0;
}

#header .header_form{
    border-radius: 5px;
    border: 0;
    padding: 2% 0%;
    width: 77%;
    padding-left: 5%;
}

#header .fa-home{
    color: #fff;
}

#header .main-header{
    padding-bottom: 2%;
/*    background-image: url('../images/header_back.png');*/
    background-repeat: no-repeat;
    background-size: cover;
}

nav.navbar.navbar-default.navbar-fixed-top{
    margin: 0;
}

.main-header{
    margin-bottom: 4%;
}

.main-header h1{
    margin-bottom: 1%;
}

.main-header p{
    margin-bottom: 2%;
    text-align: center;
    color: #5E8C9D;
}

.main-header hr{
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(94,140,157,0), rgba(94,140,157,0.75), rgba(94,140,157,0));
    background-image:    -moz-linear-gradient(left, rgba(94,140,157,0), rgba(94,140,157,0.75), rgba(94,140,157,0));
    background-image:     -ms-linear-gradient(left, rgba(94,140,157,0), rgba(94,140,157,0.75), rgba(94,140,157,0));
    background-image:      -o-linear-gradient(left, rgba(94,140,157,0), rgba(94,140,157,0.75), rgba(94,140,157,0));
}

/*=========navigation============*/

nav.navbar{
    background-color: rgba(234, 183, 198, 0.5);
}


.list-group-item .list-group {
    padding-top: 10%;
    margin-right: -7%;
}

/*============hum============*/

dd{
    display: none;
}

dd.show{
    display: inherit;
}


/*========main-contents=========*/



.blog{
    margin-bottom: 26px;
    border-radius: 8px;
    background-color: #fff;
    height: 400px;
    position: relative;
    
    opacity: 1;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}


.post .top_img{
    width: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    height: auto;
}

.post h2{
    font-size: 20px;
    margin-bottom: 20px;
}

.post time{
    padding-left: 10%;
    border-left: 1px solid #444;
    margin-left: 10%;
}


.post li{
    float:left;
}

.post h2{
    clear: both;
    float: right;
}

.post ul{
    position: absolute;
    bottom: 2%;
    right: 5%;
}

.blog_inner{
    margin: 15px;
}

.blog-title-icon{
    width:13%;
    margin-right:2%;
}

#main-contents .blog:hover{
    opacity: 0.5;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.blog-bg{
    background-color: #65A0B7;
    border-radius: 8px;
}

/*============footer=============*/

#footer{
    background-color: rgba(101,160,183,0.4);
    padding-bottom: 2%;
    margin-top: 5%;
}

.sideculmun{
    width:23%;
    float: left;
    margin: 0 5%;
}

ul.list-group {
    width: 100%;
}

.list-group-item:hover{
    background-color: #65A0B7;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.list-group-item {
    margin-right: -8%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.arrow{
    position: fixed;
    bottom: 5%;
    right: 3.5%;
    display: none;
    opacity: 0.5;
    width:5%;
}

.arrow:hover{
    opacity: 1;
}

#profile .name{
    margin: 8% 0;
    font-weight: bold;
    text-align: center;
    font-size: 1.1em;
}

#profile .pf_img{
    border-radius: 10px;
    width: 50%;
    display:block;
    margin: 0 auto;
}

#profile .introduction {
    color: #19283C;
    position: relative;
    display: inline-block;
    padding: 5%;
    width: auto;
    min-width: 115px;
    text-align: center;
    background: #fff;
    z-index: 0;
    border-radius: 10px;
}
#profile .introduction:before {
    content: "";
    position: absolute;
    top: -8px; left: 50%;
    margin-left: -9px;
    display: block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 9px 9px 9px;
    border-color: transparent transparent #fff transparent;
    z-index: 0;
}
#profile .introduction:after {
    content: "";
    position: absolute;
    top: -12px; left: 50%;
    margin-left: -10px;
    display: block;
    width: 0px;
    height: 0px;
    z-index: -1;
}

#profile .pf_social{
    margin-top: 10%;
    margin-left: 8%;
    font-size: 1em;
}

.pf_social .twitter a{
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.3s;
}

.pf_social .twitter:hover a{
    color: #00aced;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.3s;
}

.pf_social .fb a{
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.3s;
}

.pf_social .fb:hover a{
    color: #305097;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.3s;
}

.pf_social .mail{
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.3s;
}

.pf_social .mail:hover{
    color: #db4a39;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.3s;
}

.pf_link{
    margin-bottom: 3%;
}

.pf_link span{
    margin-right: 5%;
    margin-top:1%;
    font-size: 1.3em;
}

/*タグ*/
.tag{
    background-color: rgba(255,255,255,0.6);
    padding: 3px;
    border-radius: 5px;
    line-height: 1.8;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.tag:hover{
    background-color: #65A0B7;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
    

.copy{
    padding-top: 2%;
    float: right;
}

/*aside*/

.aside_inner{
    width: 75%;
    padding: 5% 0;
    margin: 0 auto;
}

#aside h3{
    font-size: 1.1em;
}

#aside h3 i{
    padding-right: 3%;
    padding-bottom: 5%;
}

/*=======entrybody=====*/
.entryBody{
    line-height: 1.7;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 5%;
}

.entryinner{
    padding: 1.5% 5%;
    padding-top: 0;
}

.entryBody p{
    line-height: 2.0;
}

.entryBody a{
    text-decoration:underline;
    color: #65A0B7;
}

.entryBody strong{
    color: rgb(234,152,169);
}

.entryBody h1,.indexTitle {
    position: relative;
    padding: 1em 1em;
    background-color: rgba(234,152,169,0.7);
    font-size: 1.5em;
    width: 114.75%;
    margin-left: -7.25%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.entryBody h1{
    margin-top:0;
}

.entryBody h1::before,
.entryBody h1::after,
.indexTitle::after,
.indexTitle::before{
    content: '';
    position: absolute;
    top: 100%;
    border-style: solid;
    border-color: transparent;
}
.entryBody h1::before,.indexTitle::before {
    left: 0;
    border-width: 0 15px 15px 0;
    border-right-color: #9D5765;
}
.entryBody h1::after,.indexTitle::after {
    right: 0;
    border-style: solid;
    border-width: 15px 15px 0 0;
    border-top-color: #9D5765;
}


.entryBody h2,h3,h4,h5{
    margin: 30px 0 30px 5px;
    font-weight: bold;
/*    padding-left: 8px;*/
}

.entryBody h2{
    position: relative;
    padding: 1em 0;
    padding-left: 15px;
    font-size: 1.4em;
}
.entryBody h2::before,
.entryBody h2::after {
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 6px;
    box-sizing: border-box;
}
.entryBody h2::before {
    top: 0;
    border-top: 2px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.entryBody h2::after {
    bottom: 0;
    border-top: 1px solid #ccc;
    border-bottom: 2px solid #ccc;
}

.entryBody h3{
    padding: .25em 0 .25em .45em;
    border-left: 6px solid #ccc;
    font-size: 1.3em;
}

.entryBody h4{
    font-size: 1.2em;
    padding: .5em 0 .5em .9em;
    background-color: #f6f6f6;
    border-radius: 6px;
}

.entryBody h5{
    font-size: 1.1em;
    border: 1px dashed #ccc;
    padding: .5em 0 .5em .9em;
}

.entryBody img{
    margin: 2% 5%;
}

.entryBody blockquote {
    background: url(../images/blockquote2.gif) no-repeat 2% 6%;
    padding: 10px 20px;
    background-color: #fff;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    color: #212121;
    padding: 3% 5%;
}

.entryBody blockquote a{
    text-align: right;
    margin-bottom:0;
    color: #2D88B3;
}
.entryBody ul{
    list-style-type: circle;
}

.entryBody ul,ol{
    margin: 2.5% 0;
    margin-left: 5%;
}

.entryBody table{
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    width: 90%;
    margin: 1.5%;
}

.entryBody table thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #369;
    border-bottom: 3px solid #036;
}

.entryBody table tbody th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #f3f6f7;
}

.entryBody table td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}

.entryBody pre ol{
    margin: 0 0 0 3.5%;
}

.entryBody pre {
    padding: 1em;
    margin: 2% 0 2% 20px;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.entryBody hr{
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

#disqus_thread{
    margin: 5% 0;
}

/*========calender====*/

.Calendar table{
    background-color: rgba(255,255,255,0.6);
    border-radius: 20px;
}

.Calendar table th,
.Calendar table td{
    text-align: center;
    font-size: 1.1em;
    padding: 3%;
}

.Calendar table .sun{
    color: red;
}

.Calendar table .sat{
    color: blue;
}

.Calendar table a{
    padding: 6px;
    border-radius: 50%;
    background-color: rgb(118,171,191);
    color: #FFFFFF;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    display: block;
    width: 35px;
    height: 32px;
}
.Calendar table a:hover{
    background-color: rgb(66,120,141);
    color: #FFFFFF;
}

.Calendar .month,
.Calendar .year{
    margin-bottom: 5%;
    font-size: 1.2em;
    text-align: center;
}

.Calendar .link{
    padding-top: 10%;
    font-size: 0.9em;
    text-align: right;
}

.Calendar .link i{
    padding-right: 3%;
}

.Calendar .year i{
    padding: 0 3%;
}

.CalendarYear{
    width: 80%;
    margin: 0 auto;
}

.Calendar .column3{
    margin-bottom: 3%;
}

.entryCalendar{
    width: 100%;
}

.list-group-item {
    width: 105%;
}

/*====social==========*/

.social{
    float: right;
}

@media screen and (max-width: 992px){
    
    /*===footer===*/
    
    .container {
        width: 720px;
    }
    
    .sideculmun{
        width:40%;
    }
    
    .copy{
        clear: both;
    }

    .entryBody pre ol{
        margin-left: 5.5%;
    }
	
	.post .top_img {
		width: 30%;
		border-top-right-radius: 0px;
		border-bottom-left-radius: 8px;
		float:left;
	}

	.blog{
		height: 140px;
	}
	
	.post h2{
		float: none;
		clear: none;
	}
	
	.blog-title-icon {
		width: 5%;
		margin-left:3%;
		padding-top: 2%;
	}



    
}

@media screen and (max-width: 768px){
    
    body{
        font-size: 14px;
        line-height: 2;
    }

    .container {
        width: 380px;
    }
    
    .entryBody h1{
        font-size: 20px;
    }
    
    /*header*/
    .logo{
        width:30%;
    }
    
    .topicPath,.copy{
        font-size: 0.7em;
    }
    
    .main-header p{
        font-size: 0.5em;
    }
    
    
    /*footer*/
    .sideculmun{
        width:95%;
        margin: 0 1%;
    }
    
    .arrow{
        width:50px;
    }

    #profile .pf_img{
        width: 30%;
    }


    /*entry*/
    .entryBody h1{
    width: 120%;
    margin-left: -10%;
    }

    .data{
        font-size: 12px;
    }

    .entryBody pre ol{
        margin-left: 9.5%;
    }
	
	.post .top_img {
		width: 35%;
		border-top-right-radius: 0px;
		border-bottom-left-radius: 0px;
	}
	
	.post h2{
		font-size:1.2em;
		padding:3%;
		margin-bottom: 0;
	}
	
	.post p{
		font-size: 0.9em;
		clear: both;
		float: left;
		padding-top: 2%;
	}
	
	.blog-title-icon {
		width: 8%;
		margin-left:3%;
		padding-top: 2%;
	}
	
	.blog{
		height: 170px;
	}
	
	.container {
		padding-right: 0;
		padding-left: 0;
		margin-right: 0;
		margin-left: 0;
	}

    .list-group-item {
        width: 100%;
    }
    
}

/*================
monthEntry
================*/

.monthEntry{
    margin-top: 8%;
}

.monthEntryList{
    padding: 1.5% 0;
}




