<div class="entry-container">
	<table class="contactForm confirm">
        <tr>
			<th>お名前</th>
		</tr>
		<tr>
			<td>{name}</td>
		</tr>
		<tr>
			<th>メールアドレス</th>
		</tr>
		<tr>
			<td>{email}</td>
		</tr>
		<!-- BEGIN affiliation:veil -->
		<tr>
			<th>所属</th>
		</tr>
		<tr>
			<td>{affiliation}</td>
		</tr>
		<!-- END affiliation:veil -->
		<tr>
			<th>お問い合せ内容</th>
		</tr>
		<tr>
			<td>{inquiry}[escape|nl2br]</td>
		</tr>
	</table>
</div>
