
<div class="entry-container formInput">
<table class="contactForm">
    <tr>
        <th><label for="name">お名前</label><span class="labelRequired">必須</span></th>
   </tr>
    <tr>
        <td>
			<input id="name" type="text" name="name" class="acms-form-width-full" value="{name}" placeholder="漢字 or カタカナ" />
			<input type="hidden" name="field[]" value="name" />
			<input type="hidden" name="name:v#required" />
			<input type="hidden" name="name:c" value="KV" />
			<!-- BEGIN name:validator -->
			<p class="errorText"><span class="acms-icon acms-icon-attention"></span>お名前を入力してください。</p>
			<!-- END name:validator -->
		</td>
	</tr>
    <tr>
		<th><label for="email">メールアドレス</label><span class="labelRequired">必須</span></th>
	</tr>
    <tr>
		<td>
			<input id="email" name="email" type="email" value="{email}" class="acms-form-width-full" placeholder="info@kigiroku.com"/>
			<input type="hidden" name="field[]" value="email" />
			<input type="hidden" name="email:v#required" />
			<input type="hidden" name="email:c" value="a" />
			<input type="hidden" name="email:v#email" />
			<!-- BEGIN email:validator -->
			<p class="errorText"><span class="acms-icon acms-icon-attention"></span>正しいメールアドレスを入力してください。</p>
			<!-- END email:validator -->
		</td>
	</tr>
	<tr>
		<th><label for="affiliation">所属</label><span class="not-labelRequired">任意</span></th>
	</tr>
    <tr>
		<td>
			<input id="affiliation" name="affiliation" type="text" value="{affiliation}" class="acms-form-width-full" placeholder="学校名・会社名"/>
			<input type="hidden" name="field[]" value="affiliation" />
			<input type="hidden" name="affiliation:c" value="a" />
		</td>
	</tr>
	<tr>
		<th><label for="inquiry">内容</label><span class="labelRequired">必須</span></th>
	</tr>
    <tr>
		<td>
			<textarea id="inquiry" name="inquiry" rows="8" class="acms-form-width-full" placeholder="ご用件・感想などをご記入ください。">{inquiry}</textarea>
			<input type="hidden" name="field[]" value="inquiry" />
			<input type="hidden" name="inquiry:v#required" />
			<input type="hidden" name="inquiry:c" value="KV" />
			<!-- BEGIN inquiry:validator -->
			<p class="errorText"><span class="acms-icon acms-icon-attention"></span>内容をご記入ください。</p>
			<!-- END inquiry:validator -->
		</td>
	</tr>
</table>
</div>
