<!-- BEGIN_MODULE Form -->
						
<!-- BEGIN step -->
<!-- フォームステップ：初期 -->
<div class="col-md-6 col-sm-6">
	<p class="contact-comment">
	KIGIROKUを閲覧いただきありがとうございます<br/>
	サイトに関する感想・ご指摘など<br />
	こちらのフォームからご連絡ください！</p>
	<p>※必須の項目は入力が必須となります。</p>
</div>
<div class="acms-entry contactBox col-md-6 col-sm-6 l-cf">
	<section class="entryColumn">
		<div class="acms-grid-r">
			<form action="" method="post" class="acms-form" enctype="multipart/form-data">
				<!--#include file="/contact/form/input.html"-->
				<!-- BEGIN_MODULE Category_Field --><p>{contactSupplementary}[nl2br]<!-- BEGIN_MODULE Touch_SessionWithCompilation --><span class="editLink">[<a href="%{SCRIPT_ROOT}bid/%{BID}/cid/%{CID}/admin/category_edit/#acms_custom">テキストを編集</a>]</span><!-- END_MODULE Touch_SessionWithCompilation --></p><!-- END_MODULE Category_Field -->
				<div class="formBtnBox clearfix">
					<input type="hidden" name="step" value="confirm" />
					<input type="hidden" name="error" value="reapply" />

					<input type="hidden" name="id" value="contactForm" />
					<input type="submit" name="ACMS_POST_Form_Confirm" value="内容の確認へ" id="btnConfirm" class="btnAttentionBlockLarge" />
					<hr class="clearHidden" />
				</div>
			</form>
		</div>
	</section>
</div>
<!-- END step -->

<!-- BEGIN step#reapply -->
<!-- フォームステップ：修正・エラー -->
<div class="col-md-6 col-sm-6">
	<p class="contact-comment">
	エラー箇所を確認の上修正をお願いします。</p>
</div>
<div class="acms-entry contactBox col-md-6 col-sm-6">
	<section class="entryColumn">
		<div class="acms-grid-r">
			<form action="" method="post" class="acms-form" enctype="multipart/form-data">
				<!--#include file="/contact/form/input.html"-->
				<div class="formBtnBox clearfix">
					<input type="hidden" name="step" value="confirm" />
					<input type="hidden" name="error" value="reapply" />

					<input type="hidden" name="id" value="contactForm" />
					<input type="submit" name="ACMS_POST_Form_Confirm" value="内容の確認へ" id="btnConfirm" class="btnAttentionBlockLarge" />
					<hr class="clearHidden" />
				</div>
			</form>
		</div>
	</section>
</div>
<!-- END step#reapply -->
			

<!-- BEGIN step#confirm -->
<!-- フォームステップ：確認画面 -->
<div class="col-md-6 col-sm-6">
	<p class="contact-comment">
	内容にお間違いがないかご確認ください。</p>
</div>
<div class="acms-entry contactBox col-md-6 col-sm-6">
	<section class="entryColumn">
		<div class="acms-grid-r">
			<!-- フォームステップ -->
			<!--#include file="/contact/form/step.html" -->
			<!--#include file="/contact/form/confirm.html"-->
			<div class="formBtnBox clearfix">
				<form action="" method="post" class="formBtn formBtnReturn">
					<input type="hidden" name="step" value="reapply" />
					<input type="hidden" name="takeover" value="{takeover}" />
					<input type="submit" name="ACMS_POST_Form_Chain" value="戻る" id="btnToInput" class="btnLarge" />
				</form>
				
				<form action="thanks.html" method="post" class="formBtn formBtnSend" enctype="multipart/form-data">
					<input type="hidden" name="To[]" value="{email}" />
					<input type="hidden" name="AdminReply-To[]" value="<{email}>" />
					<input type="hidden" name="AdminFrom[]" value="<{email}>" />
					<input type="hidden" name="step" value="result" />
					<input type="hidden" name="takeover" value="{takeover}" />
					<input type="hidden" name="id" value="contactForm" />
					<input type="submit" name="ACMS_POST_Form_Submit" value="送る" id="btnSubmit" class="btnAttentionBlockLarge" />
				</form>
			</div>
		</div>
	</section>
</div>
<!-- END step#confirm -->

<!-- BEGIN step#result -->
<!-- フォームステップ：完了画面 -->
<div class="col-md-6 col-sm-6">
	<p class="contact-comment">
	ありがとうございました。こちらの内容で送信しました。</p>
</div>
<div class="acms-entry contactBox col-md-6 col-sm-6">
	<section class="entryColumn">
		<div class="acms-grid-r">
			<!--#include file="/contact/form/confirm.html"-->
		</div>
	</section>
</div>
<!-- END step#result -->

<!-- BEGIN step#forbidden -->
<div class="acms-entry contactBox col-md-6 col-sm-6">
	<section class="entryColumn">
		<h2>不正なアクセスです。</h2>
		<p class="message">お手数ですが、はじめからやり直して下さい。</p>
	</section>
</div>
<!-- END step#forbidden -->

<!-- BEGIN step#repeated -->
<div class="acms-entry contactBox col-md-6 col-sm-6">
	<section class="entryColumn">
		<h2>連続投稿は禁止されています。</h2>
		<p class="message">お手数ですが、はじめからやり直して下さい。</p>
	</section>
</div>
<!-- END step#repeated -->

<!-- BEGIN error -->
	<!-- フォームID : {formID} / エラー項目 : {errorKey} -->
<!-- END error -->

<!-- END_MODULE Form -->
