/* ------------------------------
　　エントリー
------------------------------ */
.p-entry {
  margin: 0 0 $entry-margin-bottom 0;
  @include clearfix();
}

/*  カスタムフィールドのスタイル
------------------------------ */


/*  エントリーのスタイル
------------------------------ */
.p-entry-column {
  color: #333;

  a {
    &:link {
      color: $primary-color;
      text-decoration: underline;
    }
    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
    &:visited {
      color: #7f5ad7;
      text-decoration: none;
    }
  }
  .link-btn{
    a{
      color: #fff;
      text-decoration: none;
      padding: 5px 24px;
      display: inline-block;
      transition: all .2s;
      background-color: $primary-color;
      border-radius: 4px;

      &:hover{
        background-color: #184566;
        text-decoration: none;
      }
    }
  }
  .under-line {
    font-style: normal;
    position: relative;
    background: -webkit-linear-gradient(top, transparent 45%, #FCFC7B 0);
    background: linear-gradient(transparent 45%, #FCFC7B 0);
  }
  strong{
    font-weight: bold;
  }
  code{
    background-color: #eee;
    border-radius: 4px;
    padding: 2px 0.5rem;
    margin: 0 0.5rem;
  }
  /* 見出し */
  h2,h3,h4,h5{
    text-align: left;
    margin: 20px 0;
    font-family: $font-heading;
  }
  h2{
    text-align: center;
    font-weight: normal;
    font-size: 28px;
    margin: 40px 0 30px 0;

    &:first-letter{
    color: $primary-color;
    font-size: 32px;
    }
  }
  h3{
    font-size: 20px;
    background: $primary-color;
    padding: 15px 0 15px 20px;
    margin: 40px 0;
    position: relative;
    color: #fff;
    font-weight: normal;
  }

  h3:after {
    top: 100%;
    left: 8%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-top-color: $primary-color;
    border-width: 15px;
    margin-left: -15px;
  }
  h4 {
    font-size: 20px;
    border-bottom: 2px solid $primary-color;
    border-left: 7px solid $primary-color;
    margin: 5px 0 25px;
    padding: 2px 22px 8px;
  }
  h5 {
    @include primary_alpha(0.2);
    font-weight: normal;
    border-radius: 8px;
    font-size: 18px;
    padding: 8px 0;
    margin: 20px 0;
  }
  /* 本文 */
  p {
    margin-top: 0;
    margin-bottom: $entry-element-margin-bottom-lg;
    @include font-size(16);
    line-height: 1.9;
  }
  /* エントリー内ボタン */
  p {
    &.entry-btn {
      margin-bottom: $entry-element-margin-bottom-sm;
      a {
        display: table;
        margin: 20px auto;
        padding: 12px 40px;
        color: #FFF;
        @include font-size(18);
        border-radius: 5px;
        background: #333;
        transition: all .3s;
        &:active,
        &:focus,
        &:hover {
          text-decoration: none;
          background: #111;
        }
      }
    }
  }
  /* テーブル */
  table {
    width: 100%;
    margin: 0 0 $entry-element-margin-bottom-lg 0;
  }
  tr{
    border-bottom: 1px solid #95989A;
  }
  tr:last-child{
    border: 0;
  }
  th,
  td {
    display: block;
    padding: 5px 10px;
    color: #333;
    @include font-size(16);
    line-height: 1.5;
    text-align: left;
    vertical-align: top;
  }
  .acms-table-responsive {
    margin-bottom: 30px;

    th,
    td {
      display: table-cell;
      white-space: nowrap;
    }
    table {
      margin: 0;
    }
  }
  th {
    background: #EBEBEB;
  }
  /* リスト */
  ul {
    margin: 0 0 $entry-element-margin-bottom-md 0;
    padding: 0 $grid-space 0 ($grid-space + 15px);
    list-style-type:none;

    li {
      display: block;
      margin: 0 0 10px;
      padding: 0 0 0 22px;
      line-height: 1.5;
      background-image: url('#{$root-theme-img}icon_list.png');
      background-repeat: no-repeat;
      background-position: 0px 4px;
    }
  }
  /* 番号付きリスト */
  ol {
    counter-reset: ol-counter;
    list-style: none;
    margin: 0 0 $entry-element-margin-bottom-md 0;
    padding: 0 $grid-space 0 ($grid-space + 8px);
    li {
      position: relative;
      margin: 0 0 10px;
      padding: 0 0 0 30px;
      @include font-size(16);
      line-height: 1.5;
      &:before {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        margin: 2px 7px 0 0;
        padding: 3px 6px;
        background: $primary-color;
        border-radius: 6px;
        color: #fff;
        font-size: 14px;
        line-height: 1;
        counter-increment: ol-counter;
        content: counter(ol-counter);
      }
    }
  }
  /* 引用 */
  blockquote {
    width: 100%;
    margin: 20px 0;
    padding: 40px 26px;
    line-height: 1.8;
    box-sizing: border-box;
    background-color: #EBEBEB;
    background-image: url('#{$root-theme-img}dot.png');
    background-position: 0 -40px;
    background-repeat: no-repeat;
  }
  /* ソースコード */
  pre {
    width: 100%;
    margin: 0 0 $entry-element-margin-bottom-lg 0;
    box-shadow: none !important;
    position: relative;
    padding: 16px 8px;
    white-space: pre-wrap;


    ol {
      margin: 0;
      padding: 0;
      li{
        line-height: 20px;
        &:before{
          content: "";
          background: none;
        }
      }
    }
    &:before{
      padding: 5px 20px;
      border-radius: 10px 10px 0 0/10px 10px 0 0;
      background-color: #ddd;
      text-align: center;
      -webkit-border-radius: 10px 10px 0 0 / 10px 10px 0 0;
      -moz-border-radius: 10px 10px 0 0 / 10px 10px 0 0;
      border-radius: 10px 10px 0 0 / 10px 10px 0 0;
      font-size: 14px;
      position: absolute;
      top: -30px;
      left: 0;
    }
    &.html{
      margin-top: 54px;
      &:before{
        content: "</> HTML";
      }
    }
    &.css{
      margin-top: 54px;
      &:before{
        content: "</> CSS";
      }
    }
    &.js{
      margin-top: 54px;
      &:before{
        content: "</> Javascript / jQuery";
      }
    }
    &.php{
      margin-top: 54px;
      &:before{
        content: "</> PHP";
      }
    }
  }
  /* 区切り線 */
  hr {
    border: 0;
    border-bottom: 1px solid $base-color;
  }
  /* ユニット */
  .caption {
    margin: 0 0 20px 0;
    @include font-size(13);
    text-align: center;
    color: #95989A;
  }
}

@media screen and (min-width: $breakpoint-md-min) {
  .p-entry-column {
    th,
    td {
      display: table-cell;
      padding: 15px 20px;
      text-align: left;
      @include font-size(16);
      border-top: 1px solid #4d4a40;
    }
  }
}

@media screen and (max-width: $breakpoint-md-max) {
  .p-entry-column{
    pre {
      width: 95%;
    }
  }
}


/*  ユニットグループ
------------------------------ */
.acms-col-center {
  float: none;
  margin: 0 auto;
}

/*  エントリーフッター
------------------------------ */
.p-entry-footer {
  margin: 0 0 20px 0;
  padding: 10px;
  background: #f5f5f5;
}

/* タグ */
.p-entry-tag {
  margin: 0 0 5px 0;
}

.p-entry-tag-icon {
  float: left;
  color: #999;
}

.p-entry-tag-item {
  float: left;
  margin: 0 0 0 10px;
}

@media screen and (min-width: $breakpoint-md-min) {
  /* タグ */
  .p-entry-tag {
    margin: 0;
  }
}

/* sns */
.sns
{
  display: table;
  overflow: hidden;
  width: 100%;
  margin: 0 0 5% 0 !important;
  padding: 0;
  table-layout: fixed;
}
.sns li
{
  display: table-cell;
  list-style-type: none;
  vertical-align: middle;
}
.sns li:last-child
{
  margin-right: 0;
}
.sns li a
{
  text-decoration: none;

  color: #fff;
}
.sns li i
{
  padding-right: 5px;
}
.sns-link
{
  line-height: 42px;
  position: relative;
  display: block;
  overflow: hidden;
  height: 42px;
  text-align: center;
  text-decoration: none;
  outline: none;
}
.sns-link::after
{
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  content: '';
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  border-radius: 50%;
  background-color: rgba(255,255,255,.3);
}
.sns-link:hover
{
  text-decoration: none;
}
.sns-twitter
{
  background: #55acee;
}
.sns-facebook
{
  background: #3a5795;
}
.sns-bookmark
{
  background: #00a5de;
}
.sns-pocket
{
  background: #ed4055;
}
