/* ------------------------------
　　関連エントリー
------------------------------ */

.p-relational__heading{
  font-size: 20px;
  background: #EBEBEB;
  padding: 12px 0;
  text-align: center;
  margin: 60px 0 24px 0;
}

.p-relational{
  display: flex;
  flex-wrap: wrap;
}

.p-relational__item{
  width: 25%;
  padding: 0 13px 20px 0;
  box-sizing: border-box;

  &:nth-child(4n){
    padding-right: 0;
  }
  &:hover{
    opacity: 0.6;
  }
}

.p-relational__img{
  width: 100%;
  height: auto;
}

.p-relational__title{
  a{
    color: #444;

    &:hover{
      text-decoration: none;
    }
  }
}
