/* ------------------------------
 アラート
------------------------------- */
.acms-alert {
	margin-bottom: 20px;
	padding: $acms-alert-padding;
	border: 1px solid $acms-alert-black-border;
	background: $acms-alert-black-bg;
	border-radius: $acms-alert-border-radius;
	color: $acms-alert-black-text-color;
	font-weight: bold;
	@include animation(anime1 2s ease 1 alternate);

	.acms-icon {
		@include font-size(18);
	}

	.js-acms-alert-close {
		color: $acms-alert-success-close-color;
	}
}

// アニメーション
@-moz-keyframes anime1 {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-webkit-keyframes anime1 {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes anime1 {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

// info
.acms-alert-info {
	border-color: $acms-alert-info-border;
	background: $acms-alert-info-bg;
	color: $acms-alert-info-text-color;

	//閉じるボタン　文字カラー
	.js-acms-alert-close {
		color: $acms-alert-info-close-color;
	}
}

// danger
.acms-alert-danger {
	border-color: $acms-alert-danger-border;
	background: $acms-alert-danger-bg;
	color: $acms-alert-danger-text-color;

	//閉じるボタン　文字カラー
	.js-acms-alert-close {
		color: $acms-alert-danger-close-color;
	}
}

// warning
.acms-alert-warning {
	border-color: $acms-alert-warning-border;
	background: $acms-alert-warning-bg;
	color: $acms-alert-warning-text-color;

	//閉じるボタン　文字カラー
	.js-acms-alert-close {
		color: $acms-alert-warning-close-color;
	}
}

// success
.acms-alert-success {
	border-color: $acms-alert-success-border;
	background: $acms-alert-success-bg;
	color: $acms-alert-success-text-color;

	//閉じるボタン　文字カラー
	.js-acms-alert-close {
		color: $acms-alert-success-close-color;
	}
}

// 閉じるボタン
.js-acms-alert-close {
	float: right;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
	outline: 0;
	@include font-size(18);
	padding: 0;
	margin-top: -3px;
}
