/* ------------------------------
 オフキャンバス
------------------------------- */
.js-acms-offcanvas-active {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100001;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
}

.js-acms-offcanvas-open {
	display: block;
}

.js-acms-offcanvas-body {
	width: 100%;
	left: 0;
	transition: left 0.3s ease-in-out;
}

.js-acms-offcanvas-body-moving {
	position: fixed;
}

.js-acms-offcanvas-body-right {
	overflow-y: hidden;
	left: -70%;
	position: fixed;
}

.js-acms-offcanvas-body-left {
	overflow-y: hidden;
	left: 70%;
	position: fixed;
}

.js-acms-offcanvas-body-moving {
	left: 0;
	position: fixed;
}

.js-acms-offcanvas-active {
	& .js-acms-offcanvas-sidebar {
		display: block;
		width: 70%;
		z-index: 10002;
		position: fixed;
		top: 0;
		bottom: 0;
		max-width: 100%;
		background-color: #fff;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		box-sizing: border-box;
	}

	& .js-acms-offcanvas-sidebar-right {
		right: 0;
		left: auto;
		margin-right: -70%;
		transition: margin-right 0.3s ease-in-out;
	}

	& .js-acms-offcanvas-sidebar-left {
		left: 0;
		right: auto;
		margin-left: -70%;
		transition: margin-left 0.3s ease-in-out;
	}

	& .js-acms-offcanvas-sidebar-right.active {
		margin-right: 0px;
		transition: margin-right 0.3s ease-in-out;
	}

	& .js-acms-offcanvas-sidebar-left.active {
		margin-left: 0px;
		transition: margin-left 0.3s ease-in-out;
	}
}

.js-acms-header-fixed {
	transition: margin-left 0.3s ease-in-out;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.js-acms-offcanvas-body-right,
.js-acms-offcanvas-body-left {
	overflow: hidden;
}

.js-acms-offcanvas-body-right .js-acms-header-fixed {
	margin-left: -70%;
}

.js-acms-offcanvas-body-left .js-acms-header-fixed {
	margin-left: 70%;
}
