/* ------------------------------
 ツールチップ
------------------------------- */
.acms-tooltip {
	position: absolute;
	display: inline-block;
	padding: 6px 10px;
	max-width: 300px;
	background: #333333;
	color: #FFF;
	border-radius: 4px;
	opacity: 0.9;
	@include font-size(11);
	z-index: 1000000;
}
// 上にポップアップ
.acms-tooltip:after {
	content: ' ';
	height: 0;
	position: absolute;
	width: 0;
	border: 5px solid transparent;
	border-top-color: #333;
	top: 100%;
	left: 50%;
	margin-left: -5px;
}
// 下にポップアップ
.acms-tooltip.bottom:after {
	border-top-color: transparent;
	border-bottom-color: #333;
	top: 0;
	margin-top: -10px;
}
// 右にポップアップ
.acms-tooltip.right:after {
	border-top-color: transparent;
	border-right-color: #333;
	top: 50%;
	right: 100%;
	left: auto;
	margin-top: -5px;
	margin-left: 0;
}
// 左にポップアップ
.acms-tooltip.left:after {
	border-top-color: transparent;
	border-left-color: #333;
	top: 50%;
	left: 100%;
	right: auto;
	margin-top: -5px;
	margin-left: 0;
}
.acms-table-admin-edit .acms-icon-tooltip{
	margin-left: 10px;
	cursor: pointer;
}

// スマートフォンの時
@media (max-width : $breakpoint-md-max) {
	.acms-tooltip{
		left: 0 !important; //デスクトップのときにJSで左寄りを調節しているのを強制的に左側に寄せる
		max-width: 150px;
	}
}

// JSを使わないツールチップ
.acms-tooltip-simple {
	position: relative;
	.acms-tooltip-simple-content {
		display: none;
		position: absolute;
			bottom: 100%;
			right: -210%;
	}
	&:hover,
	&:focus,
	&:active {
		.acms-tooltip-simple-content {
			display: block;
		}
	}
}
@media (max-width : $breakpoint-md-max) {
	.acms-tooltip-simple-content {
		left: auto!important;
		.acms-tooltip-simple-arrow-right-md & {
			right: 0;
		}
		.acms-tooltip-simple-arrow-right-md &:after {
			left: auto;
			right: 0;
			margin-left: 0;
			margin-right: 10px;
		}
	}
}
