$icomoon-font-path: "fonts" !default;

$icon-add-below: "\e900";
$icon-add-duplicate: "\e901";
$icon-alias: "\e902";
$icon-app: "\e903";
$icon-attention: "\e904";
$icon-backup: "\e905";
$icon-blog-children: "\e906";
$icon-blog: "\e907";
$icon-briefcase: "\e908";
$icon-cart: "\e909";
$icon-category: "\e90a";
$icon-change-blog: "\e90b";
$icon-checklist: "\e90c";
$icon-clip: "\e90d";
$icon-close: "\e90e";
$icon-comment: "\e90f";
$icon-config: "\e910";
$icon-control-edit: "\e911";
$icon-control-move: "\e912";
$icon-control-remove: "\e913";
$icon-dashboard: "\e914";
$icon-delete: "\e915";
$icon-down: "\e916";
$icon-entry: "\e917";
$icon-exit: "\e918";
$icon-flag: "\e919";
$icon-form: "\e91a";
$icon-graph: "\e91b";
$icon-import: "\e91c";
$icon-left2: "\e91d";
$icon-lock: "\e91e";
$icon-logo: "\e91f";
$icon-mail: "\e920";
$icon-media: "\e921";
$icon-mobile: "\e922";
$icon-module: "\e923";
$icon-money: "\e924";
$icon-open: "\e925";
$icon-pin: "\e926";
$icon-publish: "\e927";
$icon-right2: "\e928";
$icon-rule: "\e929";
$icon-schedule: "\e92a";
$icon-shortcut: "\e92b";
$icon-sort: "\e92c";
$icon-sort2: "\e92d";
$icon-tag: "\e92e";
$icon-time: "\e92f";
$icon-tooltip: "\e930";
$icon-trash: "\e931";
$icon-unit-eximage: "\e932";
$icon-unit-file: "\e933";
$icon-unit-image_h2: "\e934";
$icon-unit-image: "\e935";
$icon-unit-map: "\e936";
$icon-unit-text: "\e937";
$icon-unit-youtube: "\e938";
$icon-up: "\e939";
$icon-user-group: "\e93a";
$icon-user: "\e93b";
$icon-workflow: "\e93c";
$icon-google: "\e93d";
$icon-google-square: "\e93e";
$icon-config_access: "\e93f";
$icon-config_alias_list: "\e940";
$icon-config_api_bing_image-search: "\e941";
$icon-config_api_bing_web-search: "\e942";
$icon-config_api_instagram_users_media_liked: "\e943";
$icon-config_api_instagram_users_media_recent: "\e944";
$icon-config_api_twitter_list_members: "\e945";
$icon-config_api_twitter_list_statuses: "\e946";
$icon-config_api_twitter_search: "\e947";
$icon-config_api_twitter_statuses_home-timeline: "\e948";
$icon-config_api_twitter_statuses_user-timeline: "\e949";
$icon-config_authorize: "\e94a";
$icon-config_banner: "\e94b";
$icon-config_blog_child-list: "\e94c";
$icon-config_cache: "\e94d";
$icon-config_calendar_month: "\e94e";
$icon-config_category_entry-list: "\e94f";
$icon-config_category_entry-summary: "\e950";
$icon-config_category_list: "\e951";
$icon-config_column_list: "\e952";
$icon-config_common: "\e953";
$icon-config_default: "\e954";
$icon-config_edit: "\e955";
$icon-config_entry_archive-list: "\e956";
$icon-config_entry_body: "\e957";
$icon-config_entry_calendar: "\e958";
$icon-config_entry_continue: "\e959";
$icon-config_entry_headline: "\e95a";
$icon-config_entry_list: "\e95b";
$icon-config_entry_photo: "\e95c";
$icon-config_entry_summary: "\e95d";
$icon-config_entry_tag-relational: "\e95e";
$icon-config_export: "\e95f";
$icon-config_feed_ex-list: "\e960";
$icon-config_feed_rss2: "\e961";
$icon-config_field_value-list: "\e962";
$icon-config_function: "\e963";
$icon-config_import: "\e964";
$icon-config_links: "\e965";
$icon-config_mail: "\e966";
$icon-config_navigation: "\e967";
$icon-config_output: "\e968";
$icon-config_plugin_schedule: "\e969";
$icon-config_property: "\e96a";
$icon-config_reset: "\e96b";
$icon-config_shop_cart_list: "\e96c";
$icon-config_sitemap: "\e96d";
$icon-config_tag_cloud: "\e96e";
$icon-config_tag_filter: "\e96f";
$icon-config_theme: "\e970";
$icon-config_topicpath: "\e971";
$icon-config_unit: "\e972";
$icon-config_user_profile: "\e973";
$icon-config_user_search: "\e974";
$icon-arrow-down: "\e975";
$icon-arrow-left: "\e976";
$icon-arrow-right: "\e977";
$icon-arrow-small-down: "\e978";
$icon-arrow-small-left: "\e979";
$icon-arrow-small-right: "\e97a";
$icon-arrow-small-up: "\e97b";
$icon-arrow-up: "\e97c";
$icon-bike: "\e97d";
$icon-book: "\e97e";
$icon-book2: "\e97f";
$icon-bus: "\e980";
$icon-business: "\e981";
$icon-car: "\e982";
$icon-children: "\e983";
$icon-company: "\e984";
$icon-cup: "\e985";
$icon-custom-field: "\e986";
$icon-domain: "\e987";
$icon-facebook-square: "\e988";
$icon-facebook: "\e989";
$icon-gallery: "\e98a";
$icon-gift: "\e98b";
$icon-gplus-square: "\e98c";
$icon-gplus: "\e98d";
$icon-home: "\e98e";
$icon-install: "\e98f";
$icon-ios-app: "\e990";
$icon-lisence-code: "\e991";
$icon-lisence: "\e992";
$icon-logout: "\e993";
$icon-lunch: "\e994";
$icon-man: "\e995";
$icon-manual: "\e996";
$icon-map-pin: "\e997";
$icon-map: "\e998";
$icon-news: "\e999";
$icon-person: "\e99a";
$icon-plane: "\e99b";
$icon-role: "\e99c";
$icon-scissors: "\e99d";
$icon-search: "\e99e";
$icon-senior: "\e99f";
$icon-server: "\e9a0";
$icon-ship: "\e9a1";
$icon-shop: "\e9a2";
$icon-support: "\e9a3";
$icon-target-blank: "\e9a4";
$icon-tel: "\e9a5";
$icon-train: "\e9a6";
$icon-truck: "\e9a7";
$icon-twitter-square: "\e9a8";
$icon-twitter: "\e9a9";
$icon-unlimited: "\e9aa";
$icon-user-add: "\e9ab";
$icon-version: "\e9ac";
$icon-woman: "\e9ad";
$icon-youtube: "\e9ae";
$icon-text-center: "\e9af";
$icon-text-left: "\e9b0";
$icon-merge: "\e9b1";
$icon-split: "\e9b2";
$icon-text-right: "\e9b3";
$icon-source: "\e9b4";
$icon-undo: "\e9b5";

