<header class="acms-admin-grid-r">
	<div class="acms-admin-col-md-6">
		<h1 class="acms-admin-admin-title"><i class="acms-admin-icon acms-admin-icon-import"></i><!--T-->Movable Typeインポート<!--/T--></h1>
	</div>
	<div class="acms-admin-col-md-6">
		<!--#include file="/admin/topicpath.html"-->
	</div>
</header>

<!-- BEGIN_MODULE Touch_SessionWithAdministration -->
<!-- BEGIN_MODULE Admin_Import_Message -->
<!-- BEGIN message:veil -->
<p class="acms-admin-alert acms-admin-alert-info"><button class="js-acms-alert-close">×</button>
	<!-- BEGIN_IF [{importMessage}/eq/0] -->
	<!--T-->インポートに成功しました<!--/T-->
	<!-- ELSE_IF [{importMessage}/eq/1/_or_/{importMessage}/eq/2] -->
	<!--T-->ファイルサイズが大きすぎます<!--/T-->
	<!-- ELSE_IF [{importMessage}/eq/4] -->
	<!--T-->ファイルが選択されていません<!--/T-->
	<!-- ELSE -->
	<!--T-->エラーが発生しました [code={importMessage}]<!--/T-->
	<!-- END_IF -->
</p><!-- END message:veil --><!-- BEGIN import:data -->
<p class="acms-admin-alert acms-admin-alert-info"><button class="js-acms-alert-close">×</button><!--T--><!--$1-->{blog}<!--/$1--> ブログ <!--$2-->{category}<!--/$2--> に <!--$3-->{entry_count}<!--/$3-->件、インポートしました。<!--/T--></p><!-- END import:data -->
<!-- END_MODULE Admin_Import_Message -->

<p class="acms-admin-margin-sp"><!--T-->Movable Typeのエクスポートデータ<strong>(txt形式)</strong>を、現在のブログにインポートします。<!--/T--></p>

<ul>
	<li><!--T-->インポートされるデータは現在ログインしているユーザーでインポートされます<!--/T--></li>
	<li><!--T-->カテゴリーコードは、<strong>category-[番号]</strong>という形でインポートされます。カテゴリー名はMovable Typeのものが反映されます。<!--/T--></li>
</ul>

<form action="" method="post" enctype="multipart/form-data" class="acms-admin-form">
	<input class="acms-admin-btn-admin acms-admin-btn-admin-primary acms-admin-btn-admin-save acms-admin-margin-sp" type="submit" name="ACMS_POST_Import_MovableType" value="<!--T-->インポートを実行する<!--/T-->"/ onclick="return confirm('<!--T-->インポートを実行します。よろしいですか？<!--/T-->');">

	<h2 class="acms-admin-admin-title2"><!--T-->Movable Typeからの移行<!--/T--></h2>
	<table class="adminTable acms-admin-table-admin-edit">
		<tr>
			<th><!--T-->インポート先ブログ<!--/T--></th>
			<td>%{BLOG_NAME}（<!--T-->現在のブログ<!--/T-->）</td>
		</tr>
		<tr>
			<th><!--T-->インポート先カテゴリー<!--/T--></th>
			<td>
				<select name="category_id">
					<option value="-1"><!--T-->MTのカテゴリーを使用<!--/T--></option>
					<option value="0"><!--T-->なし<!--/T--></option><!-- BEGIN_MODULE Admin_Category_Select --><!-- BEGIN loop -->
					<option value="{value}"{selected}>{indent}[raw]{label} ( {amount} )</option><!-- END loop --><!-- END_MODULE Admin_Category_Select -->
				</select>
			</td>
		</tr>
		<tr>
			<th><!--T-->MTエクスポートデータ（txt形式）<!--/T--></th>
			<td><input type="file" name="mt_import_file" ></td>
		</tr>
		<tr>
			<th><!--T-->投稿データのインポート形式<!--/T--></th>
			<td>
				<select name="text_type">
					<option value="p"><!--T-->pタグで囲む<!--/T--></option>
					<option value="wysiwyg"><!--T-->ウィジウィグ<!--/T--></option>
					<option value="markdown"><!--T-->マークダウン<!--/T--></option>
					<option value="none"><!--T-->自由入力<!--/T--></option>
				</select>
			</td>
		</tr>
	</table>
</form>
<!-- END_MODULE Touch_SessionWithAdministration -->
