<table class="adminTable acms-admin-table-admin-edit">
	<tr>
		<th><!--T-->表示件数<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->一度に表示される件数です。<!--/T-->"></i>
</th>
		<td>
			<input type="text" name="instagram_users_media_recet_limit" value="{instagram_users_media_recet_limit}" size="4" class="acms-admin-form-width-mini" />
			<input type="hidden" name="config[]" value="instagram_users_media_recet_limit" />
			<input type="hidden" name="instagram_users_media_recet_limit:convert" value="a" />
			<input type="hidden" name="instagram_users_media_recet_limit:validator#digits" id="validator-instagram_users_media_recet_limit-digits" />
			<div role="alert" aria-live="assertive">
				<div data-validator-label="validator-instagram_users_media_recet_limit-digits" class="validator-result-{instagram_users_media_recet_limit:validator#digits}">
					<p class="error-text"><span class="acms-admin-icon acms-admin-icon-attention" aria-hidden="true"></span><!--T-->数字を入力して下さい。<!--/T--></p>
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<th><!--T-->APIリクエスト キャッシュ有効時間<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!--T-->APIリクエストの結果を、ここで設定した秒数の間だけキャッシュ利用します。ページのキャッシュとは異なることに注意してください。<!--/T-->"></i>
</th>
		<td>
			<input type="text" name="instagram_users_media_recet_cache_expre" value="{instagram_users_media_recet_cache_expre}" size="8" class="acms-admin-form-width-mini" /> 秒
			<input type="hidden" name="config[]" value="instagram_users_media_recet_cache_expre" />
			<input type="hidden" name="instagram_users_media_recet_cache_expre:validator#digits" id="validator-instagram_users_media_recet_cache_expre-digits" />
			<div role="alert" aria-live="assertive">
				<div data-validator-label="validator-instagram_users_media_recet_cache_expre-digits" class="validator-result-{instagram_users_media_recet_cache_expre:validator#digits}">
					<p class="error-text"><span class="acms-admin-icon acms-admin-icon-attention" aria-hidden="true"></span><!--T-->数字を入力して下さい。<!--/T--></p>
				</div>
			</div>
		</td>
	</tr>
</table><!-- BEGIN_MODULE Admin_Rule_Name -->
<input type="hidden" name="rid" value="{rid}" /><!-- END_MODULE Admin_Rule_Name --><!-- BEGIN_MODULE Admin_Module_Name -->
<input type="hidden" name="mid" value="{mid}" /><!-- END_MODULE Admin_Module_Name -->