
<div id="filter" class="l-cf">
    <a href="javascript:void(0);" class="allitem"><i class="fa fa-circle" aria-hidden="true"></i>すべて</a> 
    <a href="javascript:void(0);" class="web"><i class="fa fa-circle" aria-hidden="true"></i>Web</a>
    <a href="javascript:void(0);" class="graphic"><i class="fa fa-circle" aria-hidden="true"></i>グラフィック</a> 
    <a href="javascript:void(0);" class="photo"><i class="fa fa-circle" aria-hidden="true"></i>写真</a>
    <a href="javascript:void(0);" class="other"><i class="fa fa-circle" aria-hidden="true"></i>その他</a>
</div>

<select id="filter" class="l-cf">
    <option value="allitem"><a href="javascript:void(0);" class="allitem"><i class="fa fa-circle" aria-hidden="true"></i>すべて</a> </option>
    <option value="web"><a href="javascript:void(0);" class="web"><i class="fa fa-circle" aria-hidden="true"></i>Web</a></option>
    <option value="graphic"><a href="javascript:void(0);" class="graphic"><i class="fa fa-circle" aria-hidden="true"></i>グラフィック</a> </option>
    <option value="photo"><a href="javascript:void(0);" class="photo"><i class="fa fa-circle" aria-hidden="true"></i>写真</a></option>
    <option value="other"><a href="javascript:void(0);" class="other"><i class="fa fa-circle" aria-hidden="true"></i>その他</a></option>
</select>

<div id="filterlist" class="l-cf">
    <ul>
    <!-- BEGIN_MODULE Entry_Summary -->
        <!-- BEGIN unit:loop -->
        <!-- BEGIN entry:loop -->
            <li class="{categoryCode} auto col-md-4 col-sm-6 card horizontal" itemscope itemtype="http://schema.org/Article">
                <a href="{url}">
                    <div class="worksListImg">
                        <img src="%{ARCHIVES_DIR}{workImage@path}[resizeImg(250)]" />
                    </div>
                    <h2 class="worksTitle" itemprop="headline">{title}</h2>
                </a>
            </li>
        <!-- END entry:loop -->
        <!-- END unit:loop -->
        </li>
    <!-- END_MODULE Entry_Summary -->
    </ul>
</div>


