<aside class="side_menu col-md-2">
<div class="side_inner">




    <!-- BEGIN_MODULE Blog_Field -->
    <div id="profile" class="clearfix">
        <div class="profile_inner clearfix">
            <p>
                <img class="pf_img" src="%{ARCHIVES_DIR}{profileimage@path}"><span>{name}</span><br>{introduction}</p>

            <address class="pf_social clearfix">
                <ul>
                    <li class="pf_link"><a href="https://www.facebook.com/{FaceBook}"><span class="genericon genericon-facebook"></span>{FaceBook}</a></li>
                    <li class="pf_link"><a href="https://twitter.com/{Twitter}"><span class="genericon genericon-twitter"></span>{Twitter}</a></li>
                    <li class="pf_link"><span class="genericon genericon-mail"></span>{Mail}</li>
                </ul>
            </address>

        </div>
    </div>

    <!-- END_MODULE Blog_Field -->


<!-- BEGIN_MODULE Entry_List -->
<div>
<!--#include file="/admin/module/setting.html"-->
<h3>Entry List</h3>
<ul class="list-group">
<!-- BEGIN entry:loop -->
<li class="list-group-item"><a href="{url}">{date#m}/{date#d} - {title}</a></li>
<!-- END entry:loop -->
</ul>
</div>
<!-- END_MODULE Entry_List -->



<!-- BEGIN_MODULE Category_List -->
<div>
<h3><i class="fa fa-folder"></i>CATEGORY</h3>
<!--#include file="/admin/module/setting.html"-->
<!-- BEGIN category:loop --><!-- BEGIN ul#front -->
<ul class="list-group"><!-- END ul#front --><!-- BEGIN li#front -->
<li class="list-group-item"><!-- END li#front --><!-- BEGIN category:veil -->
<a href="{url}">{name}</a><!-- END category:veil --><!-- BEGIN amount:veil --><span class="badge"> {amount}</span><!-- END amount:veil --><!-- BEGIN li#rear -->
</li><!-- END li#rear --><!-- BEGIN ul#rear -->
</ul><!-- END ul#rear --><!-- END category:loop -->
</div>
<!-- END_MODULE Category_List -->

<!-- BEGIN_MODULE Entry_ArchiveList -->
<div>
<h3><i class="fa fa-archive"></i>ARCHIVE</h3>
<ul name="archive" class="list-group">
<!--#include file="/admin/module/setting.html"-->
<!-- BEGIN archive:loop -->
<li class="list-group-item"><a href="{url}">{date#Y}/ {date#n}</a> <span class="badge">{amount}</span></li>
<!-- END archive:loop -->
</ul>
</div>
<!-- END_MODULE Entry_ArchiveList -->


<!-- BEGIN_MODULE Tag_Cloud -->
<h3><i class="fa fa-tag"></i>TAG</h3>
<!-- BEGIN tag:loop -->
<a href="{url}" title="{amount}件">{name}</a>
<!-- END tag:loop -->
<!-- END_MODULE Tag_Cloud -->

</div>
</aside>
</div>
</div>
