<!-- BEGIN_MODULE Touch_Unlogin -->
<h3 class="relationTitle">人気記事一覧</h3>
      <ul class="tabpanel l-cf" role="tablist">
      <li role="tab" class="select l-col-6">
        週間
      </li>
      <li role="tab" class="l-col-6">
        日間
      </li>
    </ul>

    <div role="tabpanel">
      <!-- BEGIN_MODULE Api_GoogleAnalytics_Ranking id="rankingWeek"-->
        <ul class="ranking">
        <!-- BEGIN ranking:loop -->
          <li>
          <a href="{path}"><span class="views">{views} views</span><br /> {title}</a>
          </li>
        <!-- END ranking:loop -->
        </ul>        
      <!-- END_MODULE Api_GoogleAnalytics_Ranking -->
    </div>
    <div class="display-none" role="tabpanel">
      <!-- BEGIN_MODULE Api_GoogleAnalytics_Ranking id="rankingDay"-->
        <ul class="ranking">
        <!-- BEGIN ranking:loop -->
          <li>
          <a href="{path}"><span class="views">{views} views</span><br /> {title}</a>
          </li>
        <!-- END ranking:loop -->
        </ul>        
      <!-- END_MODULE Api_GoogleAnalytics_Ranking -->
    </div>
<!-- END_MODULE Touch_Unlogin -->

<!-- BEGIN_MODULE Touch_Login -->
※現在過去の数値が出ているため確認中（正常になったら表示する）
<!-- BEGIN_MODULE Api_GoogleAnalytics_Ranking id="rankingAll"-->
    <ul class="ranking">
    <!-- BEGIN ranking:loop -->
      <li>
        <a href="{path}"><span class="views">{views} views</span><p>{title}</p></a>
      </li>
    <!-- END ranking:loop -->
    </ul>        
<!-- END_MODULE Api_GoogleAnalytics_Ranking -->

<!-- END_MODULE Touch_Login -->

