<header id="header" class="main-header l-cf">
	<div class="container">
	<div class="left">
    	<a href="/"><h1><img src="/images/title.png" class="logo" width="250"></h1></a>
	</div>
	<div class="left">
    <p>マークアップエンジニアを目指す<br />名古屋の専門学生のブログ</p>
	</div>
	<!-- BEGIN_MODULE Blog_Field -->
	<ul class="sns-list">
		<li class="fb"><a href="https://www.facebook.com/{FaceBook}"><i class="fa fa-facebook"></i></a></li>
		<li class="tw"><a href="https://twitter.com/{Twitter}"><i class="fa fa-twitter"></i></a></li>
	</ul>
	<!-- END_MODULE Blog_Field -->
	</div>
</header>