<form action="" method="post" >
    <input type="text" name="keyword" id="keywords" value="%{KEYWORD}" class="header_search-focus header_form"/>
    <span class="acms-form-side-btn class="header_search-focus"">
        <button type="submit" name="ACMS_POST_2GET" class="btn btn-default head-submit-btn">
            <span class="acms-icon-search"></span>
            <span class="acms-hide-visually"><i class="fa fa-search"></i></span>
        </button>
    </span>
    <input type="hidden" name="bid" value="%{BID}" class="header_search-btn"/>
</form>