<!-- BEGIN_MODULE Blog_Field id="blog_field" -->
<footer role="contentinfo" class="l_cb cyan p_footer">
	<div class="footer_widget l_cf">
		<div class="l_container">
		<div class="col-md-4">
			<h2>About</h2>
			<!-- プロフィール -->
			<!--#include file="/include/parts/profile.html"-->
		</div>
		<div class="col-md-4">
			<h2>最近の投稿</h2>

			<!-- BEGIN_MODULE Entry_List -->
			<!--#include file="/admin/module/setting.html"-->
				<ul class="acms-list-group">
					<!-- BEGIN entry:loop -->
					<li><a href="{url}" class="acms-list-group-item">{title}</a></li>
					<!-- END entry:loop -->
				</ul>
			<!-- END_MODULE Entry_List -->

		</div>
		<div class="col-md-4">
			<h2>Tag</h2>

			<!-- BEGIN_MODULE Tag_Cloud -->
			<!--#include file="/admin/module/setting.html"-->
			<ul class="tag">
				<!-- BEGIN tag:loop -->
				<li><span class="acms-label acms-label-success tagSize{level}"><a href="{url}" title="{amount}件" class="tag-item">{name}</a></span></li>
				<!-- END tag:loop -->
			</ul>
			<!-- END_MODULE Tag_Cloud -->

		</div>
		</div>
	</div>
	<div class="footer_bottom">
		<p class="l_container l_cb">
			<a href="/portfolio">ポートフォリオ</a>/<a href="/blog">ブログ</a>/<a href="/contact">ご連絡</a>
			<span class="copyright">&copy; {copy}</span>
		</p>
	</div>
</footer>
<!-- END_MODULE Blog_Field -->