<h3 class="c_title_aside"><i class="fa fa-rss" aria-hidden="true"></i>人気記事</h3>
<ul class="ranking">
<!-- BEGIN_MODULE Entry_Summary id="ranking1" -->
	<!-- BEGIN unit:loop -->
	<!-- BEGIN entry:loop -->
	<li class="l_cf">
		<a href="{url}">
			<div class="col-md-3" style="padding:0;">
				<img src="%{ARCHIVES_DIR}{mainImage@path}" width="100%" alt="{title}"/>
			</div>
			<div class="col-md-9">
				<p>{title}</p>
			</div>
			<i class="fa fa-chevron-right" aria-hidden="true"></i>
		</a>
	</li>
	<!-- END entry:loop -->
	<!-- END unit:loop -->
<!-- END_MODULE Entry_Summary -->
<!-- BEGIN_MODULE Entry_Summary id="ranking2" -->
	<!-- BEGIN unit:loop -->
	<!-- BEGIN entry:loop -->
	<li class="l_cf">
		<a href="{url}">
			<div class="col-md-3" style="padding:0;">
				<img src="%{ARCHIVES_DIR}{mainImage@path}" width="100%" alt="{title}"/>
			</div>
			<div class="col-md-9">
				<p>{title}</p>
			</div>
			<i class="fa fa-chevron-right" aria-hidden="true"></i>
		</a>
	</li>
	<!-- END entry:loop -->
	<!-- END unit:loop -->
<!-- END_MODULE Entry_Summary -->
<!-- BEGIN_MODULE Entry_Summary id="ranking3" -->
	<!-- BEGIN unit:loop -->
	<!-- BEGIN entry:loop -->
	<li class="l_cf">
		<a href="{url}">
			<div class="col-md-3" style="padding:0;">
				<img src="%{ARCHIVES_DIR}{mainImage@path}" width="100%" alt="{title}"/>
			</div>
			<div class="col-md-9">
				<p>{title}</p>
			</div>
			<i class="fa fa-chevron-right" aria-hidden="true"></i>
		</a>
	</li>
	<!-- END entry:loop -->
	<!-- END unit:loop -->
<!-- END_MODULE Entry_Summary -->
<!-- BEGIN_MODULE Entry_Summary id="ranking4" -->
	<!-- BEGIN unit:loop -->
	<!-- BEGIN entry:loop -->
	<li class="l_cf">
		<a href="{url}">
			<div class="col-md-3" style="padding:0;">
				<img src="%{ARCHIVES_DIR}{mainImage@path}" width="100%" alt="{title}"/>
			</div>
			<div class="col-md-9">
				<p>{title}</p>
			</div>
			<i class="fa fa-chevron-right" aria-hidden="true"></i>
		</a>
	</li>
	<!-- END entry:loop -->
	<!-- END unit:loop -->
<!-- END_MODULE Entry_Summary -->
<!-- BEGIN_MODULE Entry_Summary id="ranking5" -->
	<!-- BEGIN unit:loop -->
	<!-- BEGIN entry:loop -->
	<li class="l_cf">
		<a href="{url}">
			<div class="col-md-3" style="padding:0;">
				<img src="%{ARCHIVES_DIR}{mainImage@path}" width="100%" alt="{title}"/>
			</div>
			<div class="col-md-9">
				<p>{title}</p>
			</div>
			<i class="fa fa-chevron-right" aria-hidden="true"></i>
		</a>
	</li>
	<!-- END entry:loop -->
	<!-- END unit:loop -->
<!-- END_MODULE Entry_Summary -->
</ul>

