<header role="banner" class="p_header cyan">
	<!-- BEGIN_IF [%{VIEW}/eq/top] --><h1 class="logo"><!-- ELSE --><p class="logo"><!-- END_IF --><a href="http://kigiroku.com/"><img src="/images/logo.svg" alt="きぎろく" itemprop="image"></a><!-- BEGIN_IF [%{VIEW}/eq/top] --></h1><!-- ELSE --></p><!-- END_IF -->
		<div class="sidebar-offcanvas c_nav" id="sidebar">
        </div>
        <div class="acms-hide-pc c_btn_offcanvas" style="display: none;">
			<a href="#offcanvas" data-target="#offcanvas" class="js-offcanvas-btn js-offcanvas-btn-r" tabindex="-1">
				<img src="/images/menu.png" width="35">
			</a>
		</div>
</header>