<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">
<meta name="generator" content="Brackets">
<!-- BEGIN_MODULE Touch_Entry -->
<link rel="canonical" href="%{PERMALINK}" />
<!-- END_MODULE Touch_Entry -->
<title><!--#include file="/include/title.txt"--></title>
<meta property="og:url" content="%{PERMALINK}" />
<meta property="og:site_name" content="%{ROOT_BLOG_NAME}" />
<meta property="og:title" content="木々録" />
<meta property="fb:admins" content="100004119878041" />
<meta property="fb:app_id" content="1713201132290530">
<!--#include file="/include/ogp-%{VIEW}.html"--> 
<link rel="shortcut icon" href="/images/favicon.ico" >
<link rel="stylesheet" href="/css/font-awesome.min.css">
<link href="/css/acms-admin.css" rel="stylesheet" type="text/css" media="all" />
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
<link rel="stylesheet" href="/css/common.css">
<!-- <link rel="stylesheet" href="/css/blog.css"> -->
<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="%{BASE_URL}rss2.xml">
<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<!-- BEGIN_MODULE Js -->
<script src="/acms.js{arguments}" charset="UTF-8" id="acms-js"></script><!-- END_MODULE Js -->
