<div id="offcanvas" class="js-offcanvas offcanvas-bar acms-hide-pc">
    <div class="acms-hide-pc">
        <!-- BEGIN_MODULE Navigation id="top_all_nav"-->
            <!--#include file="/admin/module/setting.html"-->
                <!-- BEGIN navigation:loop -->
                    <!-- BEGIN ul#front --><ul class="list-group"><!-- END ul#front -->
                        <!-- BEGIN li#front --><li {attr} class="c_{level}" ><!-- END li#front -->
                            <!-- BEGIN link#front --><a href="{url}" class="list-group-item" target="{target}"><!-- END link#front -->
                            <!-- BEGIN label:veil -->{label}[raw]<!-- END label:veil -->
                            <!-- BEGIN link#rear --></a><!-- END link#rear -->
                        <!-- BEGIN li#rear --></li><!-- END li#rear -->
                    <!-- BEGIN ul#rear --></ul><!-- END ul#rear -->
            <!-- END navigation:loop -->
        <!-- END_MODULE Navigation -->
    </div>
</div>