<!-- BEGIN_MODULE Touch_Entry -->

    <meta property="og:type" content="article" />
    <meta property="og:title" content="%{ENTRY_TITLE}｜%{BLOG_NAME}" />
    <!-- BEGIN_MODULE Entry_Summary id="ogp-image"-->
        <!-- BEGIN unit:loop -->
            <!-- BEGIN entry:loop -->
                <meta property="og:description" content="{summary}[trim(200, '...')]" />
                <meta name="description" content="{summary}[trim(200, '...')]" />
                <meta name="twitter:card" content="summary">
                <meta name="twitter:site" content="@_h_miki10">
                <meta name="twitter:description" content="{summary}[trim(200, '...')]">
                <!-- BEGIN ogpImage:veil -->
                     <!-- BEGIN_IF [{mainImage@path}/nem] -->
                              <meta property="og:image" content="%{HTTP_ARCHIVES_DIR}{mainImage@path}[resizeImg(300,200)]" width="300" height="200" alt=""/>
                              <!-- ELSE_IF [{mainImage@path}/em]-->
                              <meta property="og:image" content="%{HOME_URL}{path}[resizeImg(300,200)]" width="300" height="200" alt=""/>
                        <!-- END_IF -->
                <!-- END ogpImage:veil -->
            <!-- END entry:loop -->
        <!-- END unit:loop -->
    <!-- END_MODULE Entry_Summary -->
<!-- END_MODULE Touch_Entry -->
