<form action="" method="post" id="search">
	<div class="input-field">
    	<input type="text" name="keyword" id="keywords" value="%{KEYWORD}" placeholder="ブログ内検索" class="header_search-focus header_form"/>
   	</div>
    <button type="submit" name="ACMS_POST_2GET" class="cyan btn btn-default head-submit-btn">
        <span class="acms-icon-search"></span>
        <span class="acms-hide-visually"><i class="fa fa-search"></i></span>
    </button>
    <input type="hidden" name="bid" value="%{BID}" class="header_search-btn"/>
</form>