
    <div class="l-container col-md-12 l-cf">
<!-- BEGIN_MODULE Topicpath -->
    <ul class="topicPath l-cf" itemscope itemtype="http://schema.org/BreadcrumbList">
        <!-- BEGIN blog:loop -->
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        	<a href="{url}" itemscope itemtype="http://schema.org/Thing" itemprop="item" >
        		<span itemprop="name">{name}</span>
        	</a>
        	<meta itemprop="position" content="1" />
        </li>
        <!-- END blog:loop -->
        <!-- BEGIN category:loop -->
	    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
	    	<a href="{url}" itemscope itemtype="http://schema.org/Thing" itemprop="item" >
	        	<span itemprop="name">{name}</span>
	        </a>
	        <meta itemprop="position" content="2" />
        </li>
        <!-- END category:loop -->
        <!-- BEGIN entry -->
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        	<a href="{url}" itemscope itemtype="http://schema.org/Thing" itemprop="item" >
        		<span itemprop="name">{title}</span>
        	</a>
        	<meta itemprop="position" content="3" />
        </li>
        <!-- END entry -->
    </ul>
<!-- END_MODULE Topicpath -->
    </div>

