<!-- BEGIN_MODULE Calendar_Month -->
<section class="Calendar">
	<!--#include file="/admin/module/setting.html"-->
	<p class="month"><a href="/monthEntry/">{month}</a></p>
	<table summary="calender" class="entryCalendar">
		<tr>
			<th>月</th>
			<th>火</th>
			<th>水</th>
			<th>木</th>
			<th>金</th>
			<th class="sat">土</th>
			<th class="sun">日</th>
		</tr>
		<!-- BEGIN week:loop -->
		<tr>
			<!-- BEGIN day:loop -->
			<!-- BEGIN spacer -->
			<td> </td>
			<!-- END spacer -->
			<!-- BEGIN none -->
			<td>{day}</td>
			<!-- END none -->
			<!-- BEGIN link -->
			<td><a href="{url}">{day}</a></td>
			<!-- END link -->
			<!-- END day:loop -->
		</tr>
		<!-- END week:loop -->
	</table>
	<p class="link"><a href="/calender/calendar.html"><i class="fa fa-chevron-right" aria-hidden="true"></i>過去の更新を探す</a></p>
</section>
<!-- END_MODULE Calendar_Month -->