<header class="acms-admin-grid-r">
	<div class="acms-admin-col-md-6">
		<h1 class="acms-admin-admin-title"><i class="acms-admin-icon acms-admin-icon-config"></i><!--T-->カスタムフィールドメーカー<!--/T--></h1>
	</div>
	<div class="acms-admin-col-md-6">
		<!--#include file="/admin/topicpath.html"-->
	</div>
</header>
<div class="acms-admin-tabs">
		<!--#include file="/admin/customfield/customField.html" -->
</div>
<link rel="stylesheet" type="text/css" href="/admin/customfield/css/template.css">
<script type="text/javascript">
ACMS.Ready(function(){
	new ACMS.SyncLoader()
		.next("%{SYSTEM_THEMES_DIR}admin/customfield/js/template.js")
		.next("%{SYSTEM_THEMES_DIR}admin/customfield/js/customFieldMaker.js")
		.load();
});
</script>
