
<h2 class="ranking_best"></h2>
<section class="ranking l-cf" itemscope itemtype="http://schema.org/Blog">
  <!-- BEGIN_MODULE Entry_Summary id="ranking_best" -->
  <!--#include file="/admin/module/setting.html"-->

  <div class="scroll">
    <!-- BEGIN unit:loop -->
    <!-- BEGIN entry:loop -->
    <article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
      <div class="post">
        <a href="{url}">
        <!-- BEGIN_IF [{mainImage@path}/nem] -->
                  <!-- BEGIN image:veil -->
                <div itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                    <img class="top_img" src="%{ARCHIVES_DIR}{mainImage@path}[resizeImgFit(250,150)]" width="250" height="150" alt="" itemprop="thumbnailUrl"/>
                    <meta itemprop="url" content="%{HTTP_ARCHIVES_DIR}{mainImage@path}[resizeImgFill(250,150)]">
                      <meta itemprop="width" content="250">
                      <meta itemprop="height" content="150">
                </div>
                  <!-- END image:veil -->
                  <!-- ELSE_IF [{mainImage@path}/em]-->
                <div itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                    <img class="top_img" src="%{ROOT_DIR}{path}[resizeImgFit(250,150)]" width="250" height="150" alt="" itemprop="thumbnailUrl"/>
                    <meta itemprop="url" content="%{ROOT_DIR}{path}[resizeImgFill(250,150)]">
                    <meta itemprop="width" content="250">
                    <meta itemprop="height" content="150">
                </div>
            <!-- END_IF -->
            <p class="read">READ</p>
            <!-- BEGIN category:veil -->
              <p class="category">{categoryName}</p> 
            <!-- END category:veil -->
            <div class="l-inner">
              <h2 itemprop="headline">{title}</h2>
                <p itemprop="author" style="display:none;">林田実樹</p>
                <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                    <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                    <meta itemprop="url" content="http://kigiroku.com/themes/blog_ver4/images/logo.jpg">
                    <meta itemprop="width" content="500">
                    <meta itemprop="height" content="243">
                    </div>
                    <meta itemprop="name" content="木々録">
                </div>
              <time itemprop="datePublished" datetime="{date#Y}-{date#m}-{date#d}">
              <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
              {date#Y}.{date#m}.{date#d} ({date#D})
              </time>
            </div>
        </a>
        <img src="" width="55" class="rankingImg">
      </div>
    </article>
    <!-- END entry:loop -->
    <!-- END unit:loop -->
  </div>
  <!-- END_MODULE Entry_Summary -->
</section>


     
 