<h2 class="headline-agenda"><i class="fa fa-chevron-down" aria-hidden="true"></i>目次<span>クリックで閉じる/開く</span></h2>
<div id="agenda">
<ul class="agenda">
<!-- BEGIN agenda1:veil -->
	<li><span>1</span><a href="#1">{agenda1}</a></li>
<!-- END agenda1:veil -->
<!-- BEGIN agenda2:veil -->
	<li><span>2</span><a href="#2">{agenda2}</a></li>
<!-- END agenda2:veil -->
<!-- BEGIN agenda3:veil -->
	<li><span>3</span><a href="#3">{agenda3}</a></li>
<!-- END agenda3:veil -->
<!-- BEGIN agenda4:veil -->
	<li><span>4</span><a href="#4">{agenda4}</a></li>
<!-- END agenda4:veil -->
<!-- BEGIN agenda5:veil -->
	<li><span>5</span><a href="#5">{agenda5}</a></li>
<!-- END agenda5:veil -->
<!-- BEGIN agenda6:veil -->
	<li><span>6</span><a href="#6">{agenda6}</a></li>
<!-- END agenda6:veil -->
<!-- BEGIN agenda7:veil -->
	<li><span>7</span><a href="#7">{agenda7}</a></li>
<!-- END agenda7:veil -->
</ul>
</div>
