<!-- BEGIN unit#quote_amazon -->
<!-- 引用 -->
<div class="p_amazon js-biggerlink column-quote-{align}"{display_size}[raw]><!-- BEGIN html:veil -->
	{quote_html}[raw]<!-- END html:veil --><!-- BEGIN_IF [{quote_title}/nem/] -->
	<!-- BEGIN image:veil -->
		<div>
			<img src="{quote_image}" width="154" alt="">
		</div><!-- END image:veil -->
		<div>
			<p class="c_title">{quote_title}</p><!-- BEGIN description:veil -->
			<!-- BEGIN site_name:veil -->
			<p class="c_price">{quote_price}</p><!-- END site_name:veil -->
			<p class="c_description">{quote_description}[trim(180, '...')]</p><!-- END description:veil -->
		</div>
		<a href="{quote_url}" class="c_btn">商品を見る</a>
	<!-- END_IF -->
</div>
<!-- END unit#quote_amazon -->

