/* ==============================
   Foundation : normalize-css
   ============================== */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video
{
    font-size: 100%;

    margin: 0;
    padding: 0;

    vertical-align: baseline;

    border: 0;
    outline: 0;
    background: transparent;
}

body
{
    line-height: 1.5;
}

article,
aside,
details,
figcaption,
figure,
.p_footer,
header,
hgroup,
menu,
nav,
section
{
    display: block;
}

nav ul
{
    list-style: none;
}

blockquote,
q
{
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after
{
    content: '';
    content: none;
}

a
{
    font-size: 100%;

    margin: 0;
    padding: 0;

    vertical-align: baseline;

    background: transparent;
}

ins
{
    margin-left: 5%;

    text-decoration: none;

    color: #000;
}

mark
{
    font-weight: bold;
    font-style: italic;

    color: #000;
    background-color: #ff9;
}

del
{
    text-decoration: line-through;
}

abbr[title],
dfn[title]
{
    cursor: help;

    border-bottom: 1px dotted;
}

table
{
    border-spacing: 0;
    border-collapse: collapse;
}

hr
{
    display: block;

    height: 1px;
    margin: 1em 0;
    padding: 0;

    border: 0;
    border-top: 1px solid #ccc;
}

input,
select
{
    vertical-align: middle;
}

/* ==============================
   Foundation : base
   ============================== */

.column-quote-auto
{
    margin-bottom: 20px;
}

i
{
    padding-right: 6px;
}

html
{
    font-size: 16px;
}

body
{
    /*font-family: '游ゴシック', 'YuGothic', 'Hiragino Kaku Gothic ProN', 'Meiryo', sans-serif;*/
    /*font-family: 'I-OTF-UDゴ表示Pro L';*/
    font-family: 'FOT-ハミング Std L', 'HummingStd-L', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Meiryo', 'メイリオ', serif;
    line-height: 1.7;

    color: #444;
}

time
{
    font-family: 'Osaka－等幅', 'Osaka-Mono';
}

ul
{
    padding: 0;

    list-style-type: none;
}

h1
{

    width: auto;
    padding: 0;

    text-align: center;
}

a
{
    color: #444;
    text-decoration: none;
}

a:hover
{
    text-decoration: none;
    color: #444;
}

textarea
{
    background-color: #fff;
}

/* ==============================
   Layout
   ============================== */

.l_cf:after
{
    font-size: 0;

    display: block;
    visibility: hidden;
    clear: both;

    height: 0;

    content: '.';
}

.l_cb
{
    clear: both;
}

.l_container
{
    width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 1200px)
{
    .l_container
    {
        width: 95%;
    }
}

@media only screen and (max-width: 767px)
{
    .l_container
    {
        width: 95%;
    }
}

.l_inner
{
    padding: 15px;
}

/* ==============================
   module
   ============================== */

/* header
   ------------------------------- */

.p_header
{
    z-index: 99999;

    width: 100%;
    height: 180px;
    padding: 65px 30px 14px 30px;

    background-image: url('../images/bg.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

.p_header .logo{
    display: flex;          /* 2 */
    justify-content: center;/* 3 */
    align-items: center;
}

.p_header .logo img
{
    width: 111px;
}

/* nav
   ------------------------------- */

.c_nav ul
{
    float: right;
}

.c_nav ul li
{
    display: inline-block;

    margin: 0;
    padding: 10px 30px 0 0;

    text-align: center;
}

.c_nav ul li:last-child
{
    padding-right: 0;
}

.c_nav ul li a
{
    display: block;

    color: #fff;
}

/* .p_footer
   ------------------------------- */

.p_footer
{
    font-size: .8em;

    margin-top: 70px;
/*    padding: 30px;*/

    text-align: center;

    color: #fff;
    /*background-color: #00bcd4;*/
}

.p_footer .footer_widget{
    background-color: #B2EBF2;
    color: #444;
    padding: 30px 0;
}

.p_footer .footer_widget h2{
    font-size: 16px;
    border-bottom: 1px solid #8ebcc1;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.p_footer .footer_bottom {
    background-color: #00bcd4;
    padding-bottom: 10px;
}

.p_footer .footer_bottom .copyright {
    float: right;
}

.p_footer ul li
{
    /*font-size: 30px;*/
    margin-left: 30px;
    border-radius: 50%;
    text-align: left;
    color: #444;
    padding-bottom: 15px;
}

.p_footer .profile-aside ul li,.p_footer .tag li{
    display: inline-block;
}

.p_footer .tag li{
    margin-left: 0;
    padding-bottom: 5px;
}

.p_footer .tag li a{
    display: inline-block;
    max-width: 100px;
    height: 28px;
    line-height: 28px;
    padding: 0 1em;
    border: 1px solid #aaa;
    border-radius: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 13px;
    text-decoration: none;
    -webkit-transition: .2s;
    transition: .2s;
}

.p_footer .tag li a:hover {
    background-color: #fff;
}

.p_footer ul li i
{
    padding: 10px 0 0 0;
    color: #00bcd4;
}

.p_footer p
{
    padding-top: 10px;

    text-align: left;
}

.p_footer .name{
    text-align: center;
    font-size: 16px;
}

.p_footer .tag span{
    padding-bottom: 10px;
}

@media screen and (max-width: 1040px)
{
    main
    {
        width: 100%;
    }

    aside
    {
        position: absolute;
        z-index: 9999;
        top: 0;

        display: none;

        width: 105%;
        margin-left: -5%;
        padding-bottom: 10%;

        background-color: rgba(255,255,255,.9);
    }

    .responsive
    {
        width: 70%;
        margin: 0 auto;
    }
}

img.top_img
{
    -webkit-box-shadow: 0 0 7px 1px #ddd;
       -moz-box-shadow: 0 0 7px 1px #ddd;
            box-shadow: 0 0 7px 1px #ddd;
}

@media screen and (max-width: 550px)
{
    article.col-md-6.col-sm-6
    {
        float: none;

        width: 85%;
        margin: 0 auto;
    }

    article.col-md-6.col-sm-6 .p_list_entry img
    {
        width: 100%;
        height: 200px;
    }
}

@media screen and (max-width: 450px)
{
    article.col-md-6.col-sm-6
    {
        width: 100%;
    }
}

/* offcanvas
   ------------------------------- */

.c_btn_offcanvas
{
    position: absolute;
    top: 10px;
    right: 15px;
}

@media screen and (min-width: 767px)
{
    .acms-hide-pc
    {
        display: none;
    }
}

/* トップブログ一覧
   ------------------------------- */

article .p_list_entry
{
    margin: 20px auto 50px auto;
}

article .p_list_entry h2
{
    font-size: 1.3em;
    line-height: 1.5;

    padding: 0 0 15px 0;
    font-family: 'FOT-ハミング Std B','FOT-ハミング Std L', 'HummingStd-L', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Meiryo', 'メイリオ', serif;
}

article .p_list_entry p
{
    margin: 5px 0 10px 0;
}

article .p_list_entry time
{
    position: absolute;
    right: 15px;
    bottom: 10px;

    display: block;

    text-align: right;

    color: #a4a4a4;
}

article .text-hidden
{
    overflow: hidden;

    height: 140px;
}

article .p_list_entry .c_category
{

    padding: 2.5px 15px;

    /*background-color: #c7c7c7;*/
}

/* カテゴリーリスト : aside
   ------------------------------- */

.p_list_category,
.p_list_category li
{
    margin: 0;
    padding: 0;
}

.p_list_category
{
    margin-bottom: 50px;
}

.p_list_category li
{
    display: block;

    margin: 5px 0 5px 0;
    padding: 10px 0 10px 15px;

    list-style: none;
    border-bottom: 1px solid #ccc;
}

.p_list_category li:last-child
{
    border: 0;
}

.p_list_category i
{
    float: right;
}

@keyframes fuwafuwa
{
    0%
    {
        transform: translateX(-15px);
    }
    100%
    {
        transform: translateX(  0px);
    }
}

.p_list_category li:hover i
{
    animation: fuwafuwa .5s ease-in-out infinite alternate;
}

/* カレンダー
   ------------------------------- */

.Calendar table th,
.Calendar table td
{
    font-size: 1.1em;

    width: 37px;
    height: 37px;

    text-align: center;
}

.Calendar p.month
{
    margin-bottom: 25px;

    text-align: center;
}

.Calendar p.link
{
    margin-top: 5px;

    text-align: right;
}

.Calendar table td
{
    font-size: 1.1em;

    text-align: center;
}

.Calendar table td
{
    border: 3px solid #fff;
    background-color: #eee;
}

.Calendar table td a
{
    display: block;

    height: 37px;

    background-color: #80deea;
}

/* フォームエラー
   ------------------------------- */

main.error section
{
    padding: 5%;
}

main.error h2.error
{
    font-size: 1.5em;
    font-weight: bold;

    padding-bottom: 5%;
}

/* ランキング
   ------------------------------- */

.ranking li
{
    position: relative;

    padding: 4% 0;

    border-bottom: 1px solid #ddd;
}

.ranking li i
{
    position: absolute;
    top: 40%;
    right: -5%;
}

.ranking li:hover
{
    opacity: .7;
}

/* パンくずリスト
   ------------------------------- */

.topicPath {
    margin: 20px 0;
}

.topicPath li
{
    display: inline;

    list-style-type: none;

    color: #a4a4a4;
    font-size: 0.9em;
}
.topicPath li a
{
    color: #a4a4a4;
}
.topicPath li:after
{
    content: ' > ';
}
.topicPath li:last-child:after
{
    content: '';
}

/* エントリーボディ : entry body
   ------------------------------- */

.entryBody
{
    line-height: 1.7;

    margin-bottom: 5%;

    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    -webkit-box-shadow: 0 0 16px -6px #c7c7c7;
       -moz-box-shadow: 0 0 16px -6px #c7c7c7;
            box-shadow: 0 0 16px -6px #c7c7c7;
}

.entryinner
{
    padding: 1.5% 3%;
    padding-top: 0;
}

.entryBody p
{
    line-height: 2.0;
}

.entryBody p.sauce{
    background-color: #ddd;
    padding-bottom: 5px;
    margin-bottom: -5px;
    width: 175px;
    text-align: center;
    -webkit-border-radius: 10px 10px 0 0 / 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0 / 10px 10px 0 0;
    border-radius: 10px 10px 0 0 / 10px 10px 0 0;
}

.entryBody a
{
    text-decoration: underline;

    color: #65a0b7;
}

.entryBody input {
    border: solid 1px #888;
}

.entryBody strong
{
    font-weight: bold;
}

.entryBody .color-yellow
{
    background: linear-gradient(transparent 50%, #ffff66 0%);
    line-height: 1.3em;
    font-family: 'FOT-ハミング Std M', 'HummingStd-L', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Meiryo', 'メイリオ', serif;
    margin: 0 5px;
}

.entryBody .color-tag
{
    padding: .5%;

    background-color: #eee;
}

.entryBody .color-red
{
    padding: .5%;

    background-color: #f00;
}

.entryBody .color-blue
{
    padding: .5%;

    background-color: #00f;
}

.search_index_title
{
    padding: 40px 0 10px 30px;
    float: none;
    text-align: left;
}

.tag_filter p {
    padding-left: 30px;
}

.tag_filter a {
    margin: 0 10px;
}

.entryBody h1
{
    font-family: 'UD丸ゴ_ラージ Pr6 DB';
    font-size: 1.7em;
    font-weight: bold;
    line-height: 1.5;

    position: relative;

    width: 100%;
    padding: 5% 0 1% 0;

    text-align: left;
}

.relationTitle
{
    font-size: 1.1em;

    position: relative;

    margin-bottom: 3%;
    padding: 1em;

    border-radius: 6px;
    background-color: #a2d6f2;
    box-shadow: 2px 2px 4px #a2d6f2 inset;
}

.relationTitle::after
{
    position: absolute;
    top: 100%;
    left: 30px;

    width: 0;
    height: 0;

    content: '';

    border: 10px solid transparent;
    border-top: 15px solid #a2d6f2;
}

.entryBody h3.relationTitle
{
    font-weight: normal;

    border-left: 0;
}

.entryBody h2,
h3,
h4,
h5
{
    font-weight: bold;
    margin: 30px 0 30px 5px;
}

.entryBody h2
{
    font-size: 1.4em;

    position: relative;

    padding: 1em 0;
    padding-left: 15px;
}
.entryBody h2::before,
.entryBody h2::after
{
    position: absolute;
    left: 0;

    box-sizing: border-box;
    width: 100%;
    height: 6px;

    content: '';
}
.entryBody h2::before
{
    font-weight: bold;

    top: 0;

    border-top: 2px solid #00bcd4;
    border-bottom: 1px solid #00bcd4;
}

.entryBody h2::after
{
    bottom: 0;

    border-top: 2px dotted #00bcd4;
}

h2.headline-agenda
{
    margin: 0 0 20px 0;
    padding: 15px 0 20px 30px;
    padding: 10px;

    cursor: pointer;

    color: #666;
    border: 1px solid #9fd6d2;
    border-left: 10px solid #9fd6d2;
}

h2.headline-agenda i
{
    margin-right: 10px;

    color: #9fd6d2;
}

h2.headline-agenda::before,
h2.headline-agenda::after
{
    border: 0;
}

h2.headline-agenda span
{
    font-size: .6em;

    float: right;

    padding-right: 30px;
}

.agenda
{
    margin-left: 0 !important;
    padding: 20px 10px 20px 30px !important;

    list-style-type: none !important;

    color: #666;
    background-color: #fafafa;
}

ul.agenda li
{
    margin-bottom: 5px;
}

ul.agenda li span
{
    font-size: .7em;

    margin-right: 10px;
    padding: 5px;

    color: #fff;
    border-radius: 5px;
    background-color: #00bcd4;
}

.entryBody h3
{
    font-size: 1.3em;

    padding: 0.5em 0 .5em .5em;

    border-radius: 6px;
    background-color: #f0f0f0;
}

.entryBody h4
{
    font-size: 1.2em;

    padding: .5em 0 .5em .9em;

    border: 1px dashed #ccc;
}

.entryBody img
{
    margin: 2% 0;
}

.entryBody blockquote
{
    margin-bottom: 2%;
    padding: 10px 20px;
    padding: 3% 5%;

    color: #212121;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: url(../images/blockquote2.gif) no-repeat 2% 6%;
    background-color: #fff;
}

.entryBody p
{
    padding-bottom: 2%;
}

.entryBody blockquote a
{
    margin-bottom: 0;

    text-align: right;

    color: #2d88b3;
}
.entryBody ul
{
    list-style-type: circle;
}

.entryBody ul,
ol
{
    margin: 0 0 2.5% 0;
    margin-left: 5%;
}

.entryBody table
{
    width: 100%;

    border-collapse: collapse;
}
.entryBody table th
{
    width: 25%;
    padding: 6px;

    text-align: left;
    vertical-align: top;

    color: #333;
    border: 1px solid #b9b9b9;
    background-color: #f0f0f0;
}
.entryBody table td
{
    padding: 6px;

    border: 1px solid #b9b9b9;
    background-color: #fff;
}

.entryBody pre ol
{
    margin: 0 0 0 3.5%;
}

.entryBody pre
{
    font-size: .9em;

    margin: 0 0 2% 0;
    padding: 1em;

    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space:   -o-pre-wrap;
    white-space:      pre-wrap;
    word-wrap: break-word;
}

.entryBody hr
{
    height: 1px;

    border: 0;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.75), rgba(0,0,0,0));
}

.p_list_relation
{
    padding-bottom: 2%;

    background-color: #eee;
}

.p_list_relation ul a
{

    color: #444;
}

.p_list_relation ul li:hover a
{

    color: #444;
}

@media screen and (max-width: 1049px) {

    .col-md-12,.col-md-5 {
        padding: 0;
    }

    .top_img {
        margin: 0 auto;
        display: block;
    }

}

/* SNSボタン
   ------------------------------- */
/* sns */
.sns
{
    display: table;
    overflow: hidden;

    width: 100%;
    margin: 0 0 5% 0 !important;
    padding: 0;

    table-layout: fixed;
}

.sns li
{
    display: table-cell;

    list-style-type: none;

    vertical-align: middle;
}

.sns li:last-child
{
    margin-right: 0;
}

.sns li a
{
    text-decoration: none;

    color: #fff;
}

.sns li i
{
    padding-right: 5px;
}

.sns-link
{
    line-height: 42px;

    position: relative;

    display: block;
    overflow: hidden;

    height: 42px;

    text-align: center;
    text-decoration: none;

    outline: none;
}

.sns-link::after
{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;

    display: block;

    width: 0;
    height: 0;

    content: '';
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

    opacity: 0;
    border-radius: 50%;
    background-color: rgba(255,255,255,.3);
}

.sns-link:hover
{
    text-decoration: none;
}

.sns-twitter
{
    background: #55acee;
}

.sns-facebook
{
    background: #3a5795;
}

.sns-bookmark
{
    background: #00a5de;
}

.sns-pocket
{
    background: #ed4055;
}

.blogicon-twitter,
.blogicon-facebook,
.blogicon-bookmark,
.blogicon-chevron-down
{
    margin-right: 5px;
}

/* contentnav
   ------------------------------- */

.contentsNav
{
    line-height: 1.1;

    margin: 30px 0 20px;

    text-align: center;
    color: #444;
    box-shadow: none;
}

.contentsNav p.cnt
{
    font-size: 12px;

    margin-bottom: .5em;
    color: #444;
}

.contentsNav p.cnt .num
{
    font-family: 'Helvetica', 'Arial', 'Verdana', sans-serif;
    font-size: 18px;

    position: relative;
    top: 1px;

}

.contentsNav p.pager
{
    letter-spacing: -.4em;
}

.contentsNav p.pager a,
.contentsNav p.pager span.omission
{
    font-family: 'Helvetica', 'Arial', 'Verdana', sans-serif;
    font-size: 16px;
    line-height: 1.6em;

    display: -moz-inline-box;
    display: inline-block;
    overflow: hidden;
    zoom: 1;

    width: 1.7em;
    height: 1.6em;
    margin-right: 3px;

    vertical-align: middle;
    letter-spacing: normal;

    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
}

.contentsNav p.pager a:first-child,.contentsNav p.pager a:last-child{
    width: auto;
    padding: 0 5px;
}

.contentsNav p.pager a,
.contentsNav p.pager a:visited
{
    text-decoration: none;

    border: 1px solid #B2EBF2;
    background-color: #fff;
    color: #444;
}

.contentsNav p.pager a:hover,
.contentsNav p.pager a:focus
{
    border-color: #666;
    background-color: #def;
}

.contentsNav p.pager .cur,
.contentsNav p.pager .cur:visited
{
    font-weight: bold;

    border-color: #B2EBF2;
    background-color: #B2EBF2;
}

.contentsNav p.pager .sep
{
    display: none;
}

.display-none
{
    display: none;
}

/* 検索フォーム
   ------------------------------- */

input#keywords
{
    float: left;

    width: 70%;
    padding: 5px;
}

form#search
{
    margin: 30px 0;
}

form#search .btn
{
    background-color: transparent;
}

form#search .btn,
.btn-large,
.btn-flat
{
    padding: 0 1rem;
    border: 0;
    font-size: 1.5em;
}
}

/* aside
   ------------------------------- */

aside .profile-aside img
{
    border-radius: 20px;
}

aside .profile-aside ul
{
    margin-top: 6%;
}

aside .profile-aside ul li
{
    display: inline-block;

    margin: 0 5%;
}

aside .profile-aside p.name
{
    font-size: 1.2em;

    padding: 8px;
}

aside .profile-aside i
{
    width: 50px;
    height: 50px;
    padding: 14%;

    -webkit-transition: .3s;
       -moz-transition: .3s;
        -ms-transition: .3s;
         -o-transition: .3s;
            transition: .3s;
    text-align: center;

    color: #fff;
    border-radius: 50%;
}

aside .profile-aside i.fa-twitter
{
    border: 2px solid #55acee;
    background-color: #55acee;
}

aside .profile-aside i.fa-twitter:hover
{
    color: #55acee;
    background-color: #fff;
}

aside .profile-aside i.fa-facebook
{
    border: 2px solid #315096;
    background-color: #315096;
}

aside .profile-aside i.fa-facebook:hover
{
    color: #315096;
    background-color: #fff;
}

aside h3.c_title_aside
{
    font-size: 1.1em;

    margin-bottom: 0;
    margin-left: 0;
    padding: 2% 0 2% 3%;

    border: 0;
    font-family: 'FOT-ハミング Std E', 'HummingStd-L', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Meiryo', 'メイリオ', serif;
    margin: 30px 0 20px 5px;

}

/* 月のエントリー : month entry
   ------------------------------- */

.monthEntry
{
    margin-top: 8%;
}

.monthEntryList
{
    padding: 1.5% 0;
}

p.caption
{
    font-size: .9em;

    margin-top: -2%;
    margin-left: 5%;

    color: darkgray;
}

@media screen and (max-width: 1040px)
{
    img.menu
    {
        display: inherit;
    }

    section.ranking
    {
        overflow-x: scroll;
    }

    section.ranking article .p_list_entry
    {
        margin-right: 50px;
    }

    main
    {
        width: 100%;
    }

    aside
    {
        position: absolute;
        z-index: 9999;
        top: 0;

        display: none;

        width: 105%;
        margin-left: -5%;
        padding-bottom: 10%;

        background-color: rgba(255,255,255,.9);
    }

    .Calendar table
    {
        width: 100%;

        background-color: #fff;
    }
}

@media screen and (min-width: 1050px)
{

    img.top_img
    {
        width: 100%;
    }

}

@media screen and (max-width: 767px)
{

    article.col-md-6.col-sm-6
    {
        float: left;

        width: 50%;
    }

    article.col-md-6.col-sm-6 .p_list_entry
    {
        width: 100%;
    }

    article.col-md-6.col-sm-6 .p_list_entry img
    {
        height: auto;
    }
    .sns-txt
    {
        display: none;
    }

    .blogicon-twitter,
    .blogicon-facebook,
    .blogicon-bookmark,
    .blogicon-chevron-down
    {
        margin-right: 0;
    }
}

@media screen and (max-width: 550px)
{
    article.col-md-6.col-sm-6
    {
        float: none;

        width: 85%;
        margin: 0 auto;
    }

    article.col-md-6.col-sm-6 .p_list_entry img
    {
        width: 100%;
        height: 200px;
    }
}

@media screen and (max-width: 450px)
{
    article.col-md-6.col-sm-6
    {
        width: 100%;
    }
}

/* amazon
   ------------------------------- */

.p_amazon{
    padding: 20px 0 20px 20px;
    border-left: 10px #146eb4 solid;
    background-color: #eee;
}

.p_amazon .c_btn
{
    display: inline-block;

    padding: 10px 20px;

    -webkit-transition: none;
            transition: none;
    text-align: center;
    text-decoration: none;

    color: #fff;
    border-radius: 4px;
    background-color: #146eb4;
    box-shadow: 0 3px 0 #0c426c;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

.p_amazon .c_btn,
.p_amazon .c_btn::before,
.p_amazon .c_btn::after
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    -webkit-transition: all .3s;
            transition: all .3s;
}
.p_amazon .c_btn:hover
{
    color: #fff;
    background-color: #428bc3;
}

.p_amazon .c_title
{
    font-size: 1.2em;

    padding-top: 10px;
}

/* ソースコード
   ------------------------------- */

pre
{
    margin-left: 20px;
    padding: 1em;

    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space:   -o-pre-wrap;   /* Opera 7 */
    white-space:      pre-wrap;      /* CSS3 */
    word-wrap: break-word;      /* IE 5.5+ */

    background-color: #acd6ff;
}

ol.linenums li
{
    line-height: 1.3 !important;

    padding: .6% .8%;

    border-bottom: #ddd solid 1px;
}

ol.linenums li:last-child
{
    border: 0;
}
