/* ------------------------------
 アラート
------------------------------- */
.acms-alert {
	margin-bottom: 20px;
	padding: $acms-alert-padding;
	border: $acms-alert-black-border;
	background: $acms-alert-black-bg;
	border-radius: $acms-alert-border-radius;
	color: $acms-alert-black-text-color;
	@include animation(anime1 2s ease 1 alternate);
}

// アニメーション
@-moz-keyframes anime1 {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-webkit-keyframes anime1 {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes anime1 {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

// info
.acms-alert-info {
	border: $acms-alert-info-border;
	background: $acms-alert-info-bg;
	color: $acms-alert-info-text-color;

	//閉じるボタン　文字カラー
	.js-acms-alert-close {
		color: $acms-alert-info-close-color;
	}
}

// danger
.acms-alert-danger {
	border: $acms-alert-danger-border;
	background: $acms-alert-danger-bg;
	color: $acms-alert-danger-text-color;

	//閉じるボタン　文字カラー
	.js-acms-alert-close {
		color: $acms-alert-danger-close-color;
	}
}

// 閉じるボタン
.js-acms-alert-close {
	float: right;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
	outline: 0;
	@include font-size(14);
	padding: 0;
	margin-top: -3px;
}
