/* ------------------------------
 コード pre code
------------------------------- */
.acms-pre,
.acms-style pre {
	padding: 10px;
	background-color: #fafafa;
	border: solid 1px #dfdfdf;
	border-radius: 5px;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.acms-pre code,
.acms-style code,
.acms-code {
	padding: 5px;
	background-color: #fafafa;
	border: solid 1px #dfdfdf;
	border-radius: 5px;
	color: #f92d74;
}

.acms-pre,
.acms-pre code,
.acms-pre kbd,
.acms-pre samp,
.acms-style pre,
.acms-style code,
.acms-style kbd,
.acms-style samp,
.acms-code {
	font-family: Consolas,monospace,serif;
}
