/* ------------------------------
 ナビゲーション
------------------------------- */
.acms-navbar {
	clear: both;
	width: 100%;
	margin: 0 0 20px 0;
	background-color: #333333;
	border-top: solid 1px #333333;
	border-bottom: solid 1px #333333;
	list-style: none outside none;
	z-index: 20;

	// リスト全体
	ul {
		list-style: none;
		margin: 0 auto;
		padding: 0;
		display: block;
		list-style: none;
	}

	// リンク
	a:link,
	a:visited,
	a:hover,
	a:active,
	#viewing {
		display: block;
		_display: inline-block;
		padding: 0 30px;
		color: #FFFFFF;
		font-size: 14px;
		text-decoration: none;
		letter-spacing: 0 !important;
		line-height: 4.5;
	}
	a:hover,
	#viewing {
		background: #808080;
		text-decoration: none;
	}
	.stay a,
	a:active {
		background: #666666;
	}
	#viewing {
		background: #EEEEEE;
	}
	/* リストの1段目 */
	li {
		position: relative;
			top: 0;
		white-space: nowrap;
		font-weight: bold;
		border-left: solid 1px #CCC;
		 &:last-child{
			border-right: solid 1px #CCC;
		}
	}
	/* 2段目以降 */
	ul ul {
		display: none;
		position: absolute;
			top: 60px;
			left: 0;
		width: auto;
		padding: 0;
		z-index: 10;
		li {
			position: relative;
			clear: left;
			width: 100%;
			height: 40px;
			border-left: none;
			border-right: none;
			font-size: 13px;
		}
		a{
			*width: 240px;
			height: 40px !important;
			padding: 0 20px;
			border-top: solid 1px #333333;
			border-bottom: solid 1px #999999;
			background: #333333;
			font-size: 13px;
			*overflow: visible;
			line-height: 3.0 !important;
			 &:hover {
				background-color: #808080;
			}
		}
	}
	ul li.stay ul a{
		box-shadow: 0 0 0 rgba(0,0,0,0.5);
		background-color: #333333;
		 &:hover{
			background-color: #808080;
		}
	}
	/* 3段目以降 */
	ul ul ul {
		position: absolute;
			top: 0;
			left: 100%;
		width: 100%;
		a {
			background: #222222;
			border-top: solid 1px #333333;
			border-bottom: solid 1px #999999;
		}
	}
}
// 3段目を表示
.acms-navbar ul li:hover > ul {
	display: block;
}
*+html .acms-navbar ul li ul a { /*IE用*/
	width: 200px; /*（94-10-10-1-1）パディングとボーダーの分を引いた値*/
	white-space: normal; /*幅に応じて改行*/
}

@media (min-width : $breakpoint-md-min) {
	.acms-navbar {
		height: 60px;
		ul {
			list-style: none;
			margin: 0 auto;
			padding: 0;
			display: block;
			width: 940px;
		}
		li {
			float: left;
		}
		a:link,
		a:visited,
		a:hover,
		a:active,
		#viewing {
			height: 60px;
		}
		/* 2段目以降 */
		ul ul {
			position: absolute;
				top: 60px;
				left: 0;
			li {
				position: relative;
				width: 100%;
				height: 40px;
			}
			a{
				*width: 240px;
				height: 40px !important;
				padding: 0 20px;
			}
		}
	}
}

// ---------------
// navbar 管理画面
// ---------------
.acms-navbar-admin{
	_display: inline-table;
	height: 30px;
	padding: 0 20px;
	zoom: 1;
	@include clearfix();
}

/* ナビゲーションリンク */
.acms-navbar-admin-nav{
	float: left;
	margin: 0;
	padding-left: 0;
	> li{
		float: left;
		margin-left: 20px;
		list-style: none;
		a{
			display: inline-block;
			padding-top: 6px;
			padding-bottom: 6px;
			line-height: 1.2;
		}
		// ナビゲーションリンク ボタンは回避
		.acms-btn{
			padding: 8px 10px;
		}
	}
}

/* 右寄せ */
.acms-navbar-admin-right{
	float: right;
}
