/* ------------------------------
 ページャー
------------------------------- */
.acms-pager {
	display: inline-block;
	list-style: none;
	margin-left: 10px;
	margin-right: 10px;
	padding: 0;
	@include font-size(13);
	color: #333;
	@include clearfix();

	// ページ
	li {
		float: left;
		margin-left: 4px;
		text-align: center;
		// 最初の1件
		 &:first-child {
			margin-left: 0;
		}
		// リンク
		> a:link {
			text-decoration: none;
		}
		// ページの見栄え
		span > a,
		 &.cur span,
		> a {
			@include btn();
			@include btn-color();
			padding: 14px;
			color: #333;

		}
		// hover
		a:hover {
			@include btn-color($start-color:#FCFCFC, $end-color:#E1E1E1, $color: #333);
			border: solid 1px #868688;
			text-decoration: none;
		}
		 &.cur span {
			border: 1px solid #AAA;
			background: #CCCCCC;
			text-decoration: none;
		}
		// active
		> a:active {
			border: 1px solid #AAA;
			@include btn-color-active();
			text-decoration: none;
		}
	}
}

// デスクトップ対応
@media (min-width : $breakpoint-md-min) {
	.acms-pager {
		margin-left: 0;
		margin-right: 0;
		// ページ
		li {
			span > a,
			 &.cur span,
			> a {
				@include desktop-btn();
			}
		}
	}
}
