<div class="content">
	<div class="acms-admin-desktop-preview acms-admin-preview-col acms-admin-preview-split-left">
		<div class="acms-admin-desktop-preview-inner">
			<iframe src="%{url}<!-- BEGIN_IF [%{url}/re/\?] -->&amp;<!-- ELSE -->?<!-- END_IF -->layout=edit&amp;preview=enable" width="100%" height="100%" frameborder="0" style="z-index:999;"></iframe>
		</div>
	</div>
	<div class="acms-admin-mobile-preview acms-admin-preview-col">
		<div class="acms-admin-mobile-preview-inner">
			<div class="acms-admin-float-right" style="margin:10px 10px 0 0;">
				<button class="js-preview_close acms-admin-modal-hide" type="button"><i class="acms-admin-modal-hide acms-admin-icon-delete"></i><span class="acms-admin-hide-visually">閉じる</span></button>
			</div>
			<div class="acms-admin-mobile-phone-frame">
				<div class="acms-admin-preview-iframe-wrapper">
					<iframe src="%{url}?layout=edit&amp;preview=enable&amp;ua=sp" width="100%" height="100%" frameborder="0" style="z-index:999;"></iframe>
				</div>
			</div>
		</div>
	</div>
</div>
