<!-- <script src="/js/development.js" charset="UTF-8"></script> -->
<!-- 変数の読み込み -->
<!--##include file="/admin/vars_field.html" -->
<table class="acms-admin-table-admin-edit">
  <tr>
    <th>メイン画像</th>
    <td class="js-img_resize_cf">
      <!-- BEGIN_IF [{mainImage@path}/em] -->
      <img src="" style="display:none;" class="js-img_resize_preview"/>
      <!-- END_IF -->
      <!-- BEGIN mainImage@path:veil -->
      <img src="%{ARCHIVES_DIR}{mainImage@path}" class="js-img_resize_preview"/>
      <input type="hidden" name="mainImage@old" value="{mainImage@path}" /><br />
      <label class="acms-admin-form-checkbox">
        <input type="checkbox" name="mainImage@edit" value="delete" />
        <i class="acms-admin-ico-checkbox"></i> 削除
      </label>
      <!-- END mainImage@path:veil -->
      <input type="file" name="mainImage" size="20" class="js-img_resize_input" /><br />
      <input type="hidden" name="field[]" value="mainImage" />
      <input type="hidden" name="mainImage:extension" value="image" />
      <input type="hidden" name="mainImage@size" value="640" />
      <input type="hidden" name="mainImage@filename" value="" />
    </td>
  </tr>
  <tr>
    <td>
      <input type="hidden" name="entry-status" value="">
    </td>
  </tr>
</table>
<table class="acms-admin-table-admin-edit">
  <tr>
    <th>目次前のテキスト</th>
    <td>
      <textarea name="before_agenda" class="acms-admin-form-width-full">{before_agenda}</textarea>
      <input type="hidden" name="field[]" value="before_agenda" />
    </td>
  </tr>
</table>
<!-- SEOの設定 -->
<!--#include file="/admin/entry/field_seo.html" -->
<!-- OGPの設定 -->
<!--#include file="/admin/entry/field_ogp.html" -->

<!-- URLコンテキスト別 -->
<!--#include file="/admin/entry/bcd_%{BCD}.html" -->
<!--#include file="/admin/entry/rccd_%{RCCD}.html" -->
<!--#include file="/admin/entry/ccd_%{CCD}.html" -->
