<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="%{BASE_URL}rss2.xml">
<!-- BEGIN_MODULE Touch_Entry -->
<link rel="amphtml" href="%{CANONICAL_URL}tpl/amp.html" />
<!-- END_MODULE Touch_Entry -->
<link rel="stylesheet" href="/css/acms-admin.min.css">
<link rel="stylesheet" href="/dest/acms.min.css">
<link href="https://fonts.googleapis.com/css?family=Antic+Slab" rel="stylesheet">
<link rel="stylesheet" href="/dest/bundle.min.css">
<!-- #include file="/include/head/structured-data.html" -->
<!-- BEGIN_MODULE Js -->
<script src="/acms.js{arguments}" charset="UTF-8" id="acms-js"></script><!-- END_MODULE Js -->
