<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- BEGIN_MODULE Touch_Entry -->
<link rel="canonical" href="%{PERMALINK}"><!-- END_MODULE Touch_Entry -->
<title><!-- GET_Rendered id="title" --></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--#include file="/include/head/robots.html"-->
<meta property="og:url" content="%{PERMALINK}">
<meta property="og:site_name" content="kigiroku">
<meta property="og:title" content="<!-- GET_Rendered id="title" -->"><!-- BEGIN_MODULE Blog_Field id="global" --><!-- BEGIN fb_admins:veil -->
<meta property="fb:admins" content="{fb_admins}"><!-- END fb_admins:veil --><!-- END_MODULE Blog_Field --><!-- BEGIN_MODULE Touch_Top --><!-- BEGIN_IF [%{BID}/eq/1] -->
<meta property="og:type" content="website"><!-- ELSE -->
<meta property="og:type" content="article"><!-- END_IF -->
<meta property="og:description" content="<!-- GET_Rendered id="ogp_blog_meta_description" -->">
<meta property="og:image" content="<!-- GET_Rendered id="ogp_blog_image" -->">
<meta name="description" content="<!-- GET_Rendered id="ogp_blog_meta_description" -->">
<meta name="keywords" content="<!-- GET_Rendered id="ogp_blog_meta_keywords" -->"><!-- END_MODULE Touch_Top --><!-- BEGIN_MODULE Touch_Index -->
<meta property="og:type" content="article"><!-- BEGIN_MODULE Touch_Category -->
<meta property="og:image" content="<!-- GET_Rendered id="ogp_category_image" -->">
<meta property="og:description" content="<!-- GET_Rendered id="ogp_category_meta_description" -->">
<meta name="description" content="<!-- GET_Rendered id="ogp_category_meta_description" -->">
<meta name="keywords" content="<!-- GET_Rendered id="ogp_category_meta_keywords" -->"><!-- END_MODULE Touch_Category --><!-- BEGIN_MODULE Touch_NotCategory -->
<meta property="og:image" content="<!-- GET_Rendered id="ogp_blog_image" -->">
<meta property="og:description" content="<!-- GET_Rendered id="ogp_blog_meta_description" -->">
<meta name="description" content="<!-- GET_Rendered id="ogp_blog_meta_description" -->">
<meta name="keywords" content="<!-- GET_Rendered id="ogp_blog_meta_keywords" -->"><!-- END_MODULE Touch_NotCategory --><!-- END_MODULE Touch_Index -->

<!-- BEGIN_MODULE Touch_Entry -->
<meta property="og:type" content="article">
<meta property="og:image" content="<!-- GET_Rendered id="ogp_image" -->">
<meta property="og:description" content="<!-- GET_Rendered id="ogp_entry_meta_description" -->">
<meta name="description" content="<!-- GET_Rendered id="ogp_entry_meta_description" -->">

<!-- BEGIN_MODULE Entry_Field --><!-- BEGIN_IF [{entry_meta_keywords}/nem] -->
<meta name="keywords" content="<!-- GET_Rendered id="ogp_entry_meta_keywords" -->"><!-- END_IF --><!-- END_MODULE Entry_Field --><!-- END_MODULE Touch_Entry -->
