// Button
//
// ボタンテスト
//
// Markup:
// <button class="btn btn-primary">ボタン</button>
//
// Styleguide 1.0.0

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  &:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
  }
}
