.acms-container {
	box-sizing: border-box;
	max-width: 840px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 10px;
	padding-left: 10px;
}
.acms-label {
	padding: 3px 7px;
	border-radius: 3px;
	background-color: #999;
	color: #FFF;
	font-size: 10px;
	vertical-align: middle;
}
.acms-label a {
	color: #FFF !important;
}
a .acms-label:hover {
	background: #6E6E6E;
	color: #FFF;
	text-decoration: none;
	cursor: pointer;
}
a .acms-label:visited,
.acms-label:active,
.acms-label:focus {
	color: #FFF;
}
.clearHidden {
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	margin: 0;
	border: none;
}

.column-image-left,
.column-media-left {
	display: inline;
	float: left;
	margin-bottom: 10px;
}
.column-image-right,
.column-media-right {
	display: inline;
	float: right;
	margin-bottom: 10px;
}
.column-image-center,
.column-media-center {
	float: none;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	text-align: center;
}
.column-file-auto {
	margin-left: 10px;
}
.column-file-auto + .caption {
	margin-left: 10px;
}
.column-file-left {
	display: inline;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}
.column-file-left + .caption {
	text-align: left;
}
.column-file-right {
	display: inline;
	float: right;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}
.column-file-right + .caption {
	text-align: right;
}
.column-file-center {
	float: none;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	text-align: center;
}
.column-file-center + .caption {
	text-align: center;
}
.column-map-auto {
	margin-bottom: 10px;
}
.column-map-left {
	float: left;
	margin-bottom: 10px;
}
.column-map-right {
	float: right;
	margin-bottom: 10px;
}
.column-map-center {
	display: block;
	float: none;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.column-yolp-auto {
	margin-bottom: 10px;
}
.column-yolp-left {
	float: left;
	margin-bottom: 10px;
}
.column-yolp-right {
	float: right;
	margin-bottom: 10px;
}
.column-yolp-center {
	display: block;
	float: none;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.column-youtube-left,
.column-video-left {
	display: inline;
	float: left;
}
.column-youtube-right,
.column-video-right {
	display: inline;
	float: right;
}
.column-youtube-center,
.column-video-center {
	float: none;
	margin-right: auto;
	margin-left: auto;
}
.column-eximage-left {
	display: inline;
	float: left;
}
.column-eximage-right {
	display: inline;
	float: right;
}
.column-eximage-center {
	float: none;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
.column-quote-left {
	float: left;
}
.column-quote-right {
	float: right;
}
.column-quote-center {
	float: none;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
[class*="column-quote-"] {
	margin-right: 10px;
	margin-left: 10px;
}
[class*="column-quote-"] blockquote {
	padding: 20px 10px 20px 20px;
}
[class*="column-quote-"] .quoteImageContainer {
	position: relative;
	float: left;
	max-width: 154px;
	margin-right: 25px;
}
[class*="column-quote-"] .quoteImage {
	display: block;
	max-width: 100%;
	height: auto;
}
[class*="column-quote-"] .quoteTitle {
	margin: 0 0 5px 0;
	padding: 0;
	font-size: 18px;
	line-height: 1.4;
}
[class*="column-quote-"] .quoteTitleLink {
	color: #006CD8;
}
[class*="column-quote-"] .quoteSiteName {
	margin: 0 0 10px 0;
	padding: 0;
	color: #666;
	font-size: 11px;
}
[class*="column-quote-"] .quoteDescription {
	margin: 0;
	padding: 0;
	color: #333;
	font-size: 12px;
	line-height: 1.6;
}
[class*="column-image-"],
[class*="column-media-"] {
	max-width: 100%;
}
[class*="column-media-"] a {
	display: block;
	text-align: center;
}
[class*="column-image-"] img,
[class*="column-media-"] img,
[class*="column-eximage-"] img {
	max-width: 100%;
	width: auto\9;
	height: auto;
}
.column-image-left,
.column-media-left,
.column-eximage-left {
	float: left;
}
@media (max-width: 479px) {
	[class*="column-map-"],
	[class*="column-yolp-"] {
		max-width: 100%;
		width: auto !important;
	}
	[class*="column-map-"] > div,
	[class*="column-yolp-"] > div {
		max-width: 100%;
	}
	[class*="column-yolp-"] > div {
		width: 100% !important;
	}
	[class*="column-eximage-"] {
		width: auto !important;
	}
	[class*="column-youtube-"],
	[class*="column-video-"] {
		display: block;
		max-width: 100%;
		width: 100% !important;
	}
}
.column-youtube,
.column-iframe {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	padding-top: 30px;
	padding-bottom: 56.25%;
}
.column-youtube iframe,
.column-youtube object,
.column-youtube embed,
.column-iframe iframe,
.column-iframe object,
.column-iframe embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
[class*="column-map-"] > img {
	max-width: 100%;
}
[class*="column-map-"] img,
[class*="column-yolp-"] img {
	width: auto;
	height: auto;
}
[class*="column-yolp-"] {
	width: auto !important;
}
.acms-block {
	display: block !important;
}
.acms-inline {
	display: inline !important;
}
.acms-inline-block {
	display: inline-block !important;
}
.acms-table-cell {
	display: table-cell !important;
}
.acms-hide {
	display: none !important;
}
@media (max-width: 767px) {
	.acms-show-sp {
		display: block !important;
	}
	.acms-show-inline-sp {
		display: inline !important;
	}
	.acms-hide-sp {
		display: none !important;
	}
}
@media (min-width: 768px) {
	.acms-show-tablet {
		display: block !important;
	}
	.acms-hide-tablet {
		display: none !important;
	}
}
@media (min-width: 1024px) {
	.acms-show-pc {
		display: block !important;
	}
	.acms-hide-pc {
		display: none !important;
	}
}

@media (max-width: 479px) {
	.acms-block-xs {
		display: block !important;
	}
	.acms-inline-xs {
		display: inline !important;
	}
	.acms-inline-block-xs {
		display: inline-block !important;
	}
	.acms-table-cell-xs {
		display: table-cell !important;
	}
	.acms-hide-xs {
		display: none !important;
	}
}
@media (min-width: 480px) and (max-width: 767px) {
	.acms-block-sm {
		display: block !important;
	}
	.acms-inline-sm {
		display: inline !important;
	}
	.acms-inline-block-sm {
		display: inline-block !important;
	}
	.acms-table-cell-sm {
		display: table-cell !important;
	}
	.acms-hide-sm {
		display: none !important;
	}
}
@media (min-width: 768px) and (max-width: 1023px) {
	.acms-block-md {
		display: block !important;
	}
	.acms-inline-md {
		display: inline !important;
	}
	.acms-inline-block-md {
		display: inline-block !important;
	}
	.acms-table-cell-md {
		display: table-cell !important;
	}
	.acms-hide-md {
		display: none !important;
	}
}
@media (min-width: 1024px) and (max-width: 1439px) {
	.acms-block-lg {
		display: block !important;
	}
	.acms-inline-lg {
		display: inline !important;
	}
	.acms-inline-block-lg {
		display: inline-block !important;
	}
	.acms-table-cell-lg {
		display: table-cell !important;
	}
	.acms-hide-lg {
		display: none !important;
	}
}
@media (min-width: 1440px) {
	.acms-block-xl {
		display: block !important;
	}
	.acms-inline-xl {
		display: inline !important;
	}
	.acms-inline-block-xl {
		display: inline-block !important;
	}
	.acms-table-cell-xl {
		display: table-cell !important;
	}
	.acms-hide-xl {
		display: none !important;
	}
}
@font-face {
	font-family: "FontAwesome";
	font-weight: normal;
	font-style: normal;

	src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
	src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
}
.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: auto;
}
.fa-2x {
	font-size: 2em;
}
.fa-3x {
	font-size: 3em;
}
.fa-4x {
	font-size: 4em;
}
.fa-5x {
	font-size: 5em;
}
.fa-glass:before {
	content: "";
}
.fa-music:before {
	content: "";
}
.fa-search:before {
	content: "";
}
.fa-envelope-o:before {
	content: "";
}
.fa-heart:before {
	content: "";
}
.fa-star:before {
	content: "";
}
.fa-star-o:before {
	content: "";
}
.fa-user:before {
	content: "";
}
.fa-film:before {
	content: "";
}
.fa-th-large:before {
	content: "";
}
.fa-th:before {
	content: "";
}
.fa-th-list:before {
	content: "";
}

.fa-check:before {
	content: "";
}
.fa-remove:before,
.fa-close:before,
.fa-times:before {
	content: "";
}
.fa-search-plus:before {
	content: "";
}
.fa-search-minus:before {
	content: "";
}
.fa-power-off:before {
	content: "";
}
.fa-signal:before {
	content: "";
}
.fa-gear:before,
.fa-cog:before {
	content: "";
}
.fa-trash-o:before {
	content: "";
}
.fa-home:before {
	content: "";
}
.fa-file-o:before {
	content: "";
}
.fa-clock-o:before {
	content: "";
}
.fa-road:before {
	content: "";
}
.fa-download:before {
	content: "";
}
.fa-arrow-circle-o-down:before {
	content: "";
}
.fa-arrow-circle-o-up:before {
	content: "";
}
.fa-inbox:before {
	content: "";
}
.fa-play-circle-o:before {
	content: "";
}
.fa-rotate-right:before,
.fa-repeat:before {
	content: "";
}
.fa-refresh:before {
	content: "";
}
.fa-list-alt:before {
	content: "";
}
.fa-lock:before {
	content: "";
}
.fa-flag:before {
	content: "";
}
.fa-headphones:before {
	content: "";
}
.fa-volume-off:before {
	content: "";
}
.fa-volume-down:before {
	content: "";
}
.fa-volume-up:before {
	content: "";
}
.fa-qrcode:before {
	content: "";
}
.fa-barcode:before {
	content: "";
}
.fa-tag:before {
	content: "";
}
.fa-tags:before {
	content: "";
}
.fa-book:before {
	content: "";
}
.fa-bookmark:before {
	content: "";
}
.fa-print:before {
	content: "";
}
.fa-camera:before {
	content: "";
}
.fa-font:before {
	content: "";
}
.fa-bold:before {
	content: "";
}
.fa-italic:before {
	content: "";
}
.fa-text-height:before {
	content: "";
}
.fa-text-width:before {
	content: "";
}
.fa-align-left:before {
	content: "";
}
.fa-align-center:before {
	content: "";
}
.fa-align-right:before {
	content: "";
}
.fa-align-justify:before {
	content: "";
}
.fa-list:before {
	content: "";
}
.fa-dedent:before,
.fa-outdent:before {
	content: "";
}
.fa-indent:before {
	content: "";
}
.fa-video-camera:before {
	content: "";
}
.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
	content: "";
}
.fa-pencil:before {
	content: "";
}
.fa-map-marker:before {
	content: "";
}
.fa-adjust:before {
	content: "";
}
.fa-tint:before {
	content: "";
}
.fa-edit:before,
.fa-pencil-square-o:before {
	content: "";
}
.fa-share-square-o:before {
	content: "";
}
.fa-check-square-o:before {
	content: "";
}
.fa-arrows:before {
	content: "";
}
.fa-step-backward:before {
	content: "";
}
.fa-fast-backward:before {
	content: "";
}
.fa-backward:before {
	content: "";
}
.fa-play:before {
	content: "";
}
.fa-pause:before {
	content: "";
}
.fa-stop:before {
	content: "";
}
.fa-forward:before {
	content: "";
}
.fa-fast-forward:before {
	content: "";
}
.fa-step-forward:before {
	content: "";
}
.fa-eject:before {
	content: "";
}
.fa-chevron-left:before {
	content: "";
}
.fa-chevron-right:before {
	content: "";
}
.fa-plus-circle:before {
	content: "";
}
.fa-minus-circle:before {
	content: "";
}
.fa-times-circle:before {
	content: "";
}
.fa-check-circle:before {
	content: "";
}
.fa-question-circle:before {
	content: "";
}
.fa-info-circle:before {
	content: "";
}
.fa-crosshairs:before {
	content: "";
}
.fa-times-circle-o:before {
	content: "";
}
.fa-check-circle-o:before {
	content: "";
}
.fa-ban:before {
	content: "";
}
.fa-arrow-left:before {
	content: "";
}
.fa-arrow-right:before {
	content: "";
}
.fa-arrow-up:before {
	content: "";
}
.fa-arrow-down:before {
	content: "";
}
.fa-mail-forward:before,
.fa-share:before {
	content: "";
}
.fa-expand:before {
	content: "";
}
.fa-compress:before {
	content: "";
}
.fa-plus:before {
	content: "";
}
.fa-minus:before {
	content: "";
}
.fa-asterisk:before {
	content: "";
}
.fa-exclamation-circle:before {
	content: "";
}

.fa-gift:before {
	content: "";
}

.fa-leaf:before {
	content: "";
}

.fa-fire:before {
	content: "";
}

.fa-eye:before {
	content: "";
}

.fa-eye-slash:before {
	content: "";
}

.fa-warning:before,
.fa-exclamation-triangle:before {
	content: "";
}

.fa-plane:before {
	content: "";
}

.fa-calendar:before {
	content: "";
}

.fa-random:before {
	content: "";
}

.fa-comment:before {
	content: "";
}

.fa-magnet:before {
	content: "";
}

.fa-chevron-up:before {
	content: "";
}

.fa-chevron-down:before {
	content: "";
}

.fa-retweet:before {
	content: "";
}

.fa-shopping-cart:before {
	content: "";
}

.fa-folder:before {
	content: "";
}

.fa-folder-open:before {
	content: "";
}

.fa-arrows-v:before {
	content: "";
}

.fa-arrows-h:before {
	content: "";
}

.fa-bar-chart-o:before,
.fa-bar-chart:before {
	content: "";
}

.fa-twitter-square:before {
	content: "";
}

.fa-facebook-square:before {
	content: "";
}

.fa-camera-retro:before {
	content: "";
}

.fa-key:before {
	content: "";
}

.fa-gears:before,
.fa-cogs:before {
	content: "";
}

.fa-comments:before {
	content: "";
}

.fa-thumbs-o-up:before {
	content: "";
}

.fa-thumbs-o-down:before {
	content: "";
}

.fa-star-half:before {
	content: "";
}

.fa-heart-o:before {
	content: "";
}

.fa-sign-out:before {
	content: "";
}

.fa-linkedin-square:before {
	content: "";
}

.fa-thumb-tack:before {
	content: "";
}

.fa-external-link:before {
	content: "";
}

.fa-sign-in:before {
	content: "";
}

.fa-trophy:before {
	content: "";
}

.fa-github-square:before {
	content: "";
}

.fa-upload:before {
	content: "";
}

.fa-lemon-o:before {
	content: "";
}

.fa-phone:before {
	content: "";
}

.fa-square-o:before {
	content: "";
}

.fa-bookmark-o:before {
	content: "";
}

.fa-phone-square:before {
	content: "";
}

.fa-twitter:before {
	content: "";
}

.fa-facebook-f:before,
.fa-facebook:before {
	content: "";
}

.fa-github:before {
	content: "";
}

.fa-unlock:before {
	content: "";
}

.fa-credit-card:before {
	content: "";
}

.fa-feed:before,
.fa-rss:before {
	content: "";
}

.fa-hdd-o:before {
	content: "";
}

.fa-bullhorn:before {
	content: "";
}

.fa-bell:before {
	content: "";
}

.fa-certificate:before {
	content: "";
}

.fa-hand-o-right:before {
	content: "";
}

.fa-hand-o-left:before {
	content: "";
}

.fa-hand-o-up:before {
	content: "";
}

.fa-hand-o-down:before {
	content: "";
}

.fa-arrow-circle-left:before {
	content: "";
}

.fa-arrow-circle-right:before {
	content: "";
}

.fa-arrow-circle-up:before {
	content: "";
}

.fa-arrow-circle-down:before {
	content: "";
}

.fa-globe:before {
	content: "";
}

.fa-wrench:before {
	content: "";
}

.fa-tasks:before {
	content: "";
}

.fa-filter:before {
	content: "";
}

.fa-briefcase:before {
	content: "";
}

.fa-arrows-alt:before {
	content: "";
}

.fa-group:before,
.fa-users:before {
	content: "";
}

.fa-chain:before,
.fa-link:before {
	content: "";
}

.fa-cloud:before {
	content: "";
}

.fa-flask:before {
	content: "";
}

.fa-cut:before,
.fa-scissors:before {
	content: "";
}

.fa-copy:before,
.fa-files-o:before {
	content: "";
}

.fa-paperclip:before {
	content: "";
}

.fa-save:before,
.fa-floppy-o:before {
	content: "";
}

.fa-square:before {
	content: "";
}

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
	content: "";
}

.fa-list-ul:before {
	content: "";
}

.fa-list-ol:before {
	content: "";
}

.fa-strikethrough:before {
	content: "";
}

.fa-underline:before {
	content: "";
}

.fa-table:before {
	content: "";
}

.fa-magic:before {
	content: "";
}

.fa-truck:before {
	content: "";
}

.fa-pinterest:before {
	content: "";
}

.fa-pinterest-square:before {
	content: "";
}

.fa-google-plus-square:before {
	content: "";
}

.fa-google-plus:before {
	content: "";
}

.fa-money:before {
	content: "";
}

.fa-caret-down:before {
	content: "";
}

.fa-caret-up:before {
	content: "";
}

.fa-caret-left:before {
	content: "";
}

.fa-caret-right:before {
	content: "";
}

.fa-columns:before {
	content: "";
}

.fa-unsorted:before,
.fa-sort:before {
	content: "";
}

.fa-sort-down:before,
.fa-sort-desc:before {
	content: "";
}

.fa-sort-up:before,
.fa-sort-asc:before {
	content: "";
}

.fa-envelope:before {
	content: "";
}

.fa-linkedin:before {
	content: "";
}

.fa-rotate-left:before,
.fa-undo:before {
	content: "";
}

.fa-legal:before,
.fa-gavel:before {
	content: "";
}

.fa-dashboard:before,
.fa-tachometer:before {
	content: "";
}

.fa-comment-o:before {
	content: "";
}

.fa-comments-o:before {
	content: "";
}

.fa-flash:before,
.fa-bolt:before {
	content: "";
}

.fa-sitemap:before {
	content: "";
}

.fa-umbrella:before {
	content: "";
}

.fa-paste:before,
.fa-clipboard:before {
	content: "";
}

.fa-lightbulb-o:before {
	content: "";
}

.fa-exchange:before {
	content: "";
}

.fa-cloud-download:before {
	content: "";
}

.fa-cloud-upload:before {
	content: "";
}

.fa-user-md:before {
	content: "";
}

.fa-stethoscope:before {
	content: "";
}

.fa-suitcase:before {
	content: "";
}

.fa-bell-o:before {
	content: "";
}

.fa-coffee:before {
	content: "";
}

.fa-cutlery:before {
	content: "";
}

.fa-file-text-o:before {
	content: "";
}

.fa-building-o:before {
	content: "";
}

.fa-hospital-o:before {
	content: "";
}

.fa-ambulance:before {
	content: "";
}

.fa-medkit:before {
	content: "";
}

.fa-fighter-jet:before {
	content: "";
}

.fa-beer:before {
	content: "";
}

.fa-h-square:before {
	content: "";
}

.fa-plus-square:before {
	content: "";
}

.fa-angle-double-left:before {
	content: "";
}

.fa-angle-double-right:before {
	content: "";
}

.fa-angle-double-up:before {
	content: "";
}

.fa-angle-double-down:before {
	content: "";
}

.fa-angle-left:before {
	content: "";
}

.fa-angle-right:before {
	content: "";
}

.fa-angle-up:before {
	content: "";
}

.fa-angle-down:before {
	content: "";
}

.fa-desktop:before {
	content: "";
}

.fa-laptop:before {
	content: "";
}

.fa-tablet:before {
	content: "";
}

.fa-mobile-phone:before,
.fa-mobile:before {
	content: "";
}

.fa-circle-o:before {
	content: "";
}

.fa-quote-left:before {
	content: "";
}

.fa-quote-right:before {
	content: "";
}

.fa-spinner:before {
	content: "";
}

.fa-circle:before {
	content: "";
}

.fa-mail-reply:before,
.fa-reply:before {
	content: "";
}

.fa-github-alt:before {
	content: "";
}

.fa-folder-o:before {
	content: "";
}

.fa-folder-open-o:before {
	content: "";
}

.fa-smile-o:before {
	content: "";
}

.fa-frown-o:before {
	content: "";
}

.fa-meh-o:before {
	content: "";
}

.fa-gamepad:before {
	content: "";
}

.fa-keyboard-o:before {
	content: "";
}

.fa-flag-o:before {
	content: "";
}

.fa-flag-checkered:before {
	content: "";
}

.fa-terminal:before {
	content: "";
}

.fa-code:before {
	content: "";
}

.fa-mail-reply-all:before,
.fa-reply-all:before {
	content: "";
}

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
	content: "";
}

.fa-location-arrow:before {
	content: "";
}

.fa-crop:before {
	content: "";
}

.fa-code-fork:before {
	content: "";
}

.fa-unlink:before,
.fa-chain-broken:before {
	content: "";
}

.fa-question:before {
	content: "";
}

.fa-info:before {
	content: "";
}

.fa-exclamation:before {
	content: "";
}

.fa-superscript:before {
	content: "";
}

.fa-subscript:before {
	content: "";
}

.fa-eraser:before {
	content: "";
}

.fa-puzzle-piece:before {
	content: "";
}

.fa-microphone:before {
	content: "";
}

.fa-microphone-slash:before {
	content: "";
}

.fa-shield:before {
	content: "";
}

.fa-calendar-o:before {
	content: "";
}

.fa-fire-extinguisher:before {
	content: "";
}

.fa-rocket:before {
	content: "";
}

.fa-maxcdn:before {
	content: "";
}

.fa-chevron-circle-left:before {
	content: "";
}

.fa-chevron-circle-right:before {
	content: "";
}

.fa-chevron-circle-up:before {
	content: "";
}

.fa-chevron-circle-down:before {
	content: "";
}

.fa-html5:before {
	content: "";
}

.fa-css3:before {
	content: "";
}

.fa-anchor:before {
	content: "";
}

.fa-unlock-alt:before {
	content: "";
}

.fa-bullseye:before {
	content: "";
}

.fa-ellipsis-h:before {
	content: "";
}

.fa-ellipsis-v:before {
	content: "";
}

.fa-rss-square:before {
	content: "";
}

.fa-play-circle:before {
	content: "";
}

.fa-ticket:before {
	content: "";
}

.fa-minus-square:before {
	content: "";
}

.fa-minus-square-o:before {
	content: "";
}

.fa-level-up:before {
	content: "";
}

.fa-level-down:before {
	content: "";
}

.fa-check-square:before {
	content: "";
}

.fa-pencil-square:before {
	content: "";
}

.fa-external-link-square:before {
	content: "";
}

.fa-share-square:before {
	content: "";
}

.fa-compass:before {
	content: "";
}

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
	content: "";
}

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
	content: "";
}

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
	content: "";
}

.fa-euro:before,
.fa-eur:before {
	content: "";
}

.fa-gbp:before {
	content: "";
}

.fa-dollar:before,
.fa-usd:before {
	content: "";
}

.fa-rupee:before,
.fa-inr:before {
	content: "";
}

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
	content: "";
}

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
	content: "";
}

.fa-won:before,
.fa-krw:before {
	content: "";
}

.fa-bitcoin:before,
.fa-btc:before {
	content: "";
}

.fa-file:before {
	content: "";
}

.fa-file-text:before {
	content: "";
}

.fa-sort-alpha-asc:before {
	content: "";
}

.fa-sort-alpha-desc:before {
	content: "";
}

.fa-sort-amount-asc:before {
	content: "";
}

.fa-sort-amount-desc:before {
	content: "";
}

.fa-sort-numeric-asc:before {
	content: "";
}

.fa-sort-numeric-desc:before {
	content: "";
}

.fa-thumbs-up:before {
	content: "";
}

.fa-thumbs-down:before {
	content: "";
}

.fa-youtube-square:before {
	content: "";
}

.fa-youtube:before {
	content: "";
}

.fa-xing:before {
	content: "";
}

.fa-xing-square:before {
	content: "";
}

.fa-youtube-play:before {
	content: "";
}

.fa-dropbox:before {
	content: "";
}

.fa-stack-overflow:before {
	content: "";
}

.fa-instagram:before {
	content: "";
}

.fa-flickr:before {
	content: "";
}

.fa-adn:before {
	content: "";
}

.fa-bitbucket:before {
	content: "";
}

.fa-bitbucket-square:before {
	content: "";
}

.fa-tumblr:before {
	content: "";
}

.fa-tumblr-square:before {
	content: "";
}

.fa-long-arrow-down:before {
	content: "";
}

.fa-long-arrow-up:before {
	content: "";
}

.fa-long-arrow-left:before {
	content: "";
}

.fa-long-arrow-right:before {
	content: "";
}

.fa-apple:before {
	content: "";
}

.fa-windows:before {
	content: "";
}

.fa-android:before {
	content: "";
}

.fa-linux:before {
	content: "";
}

.fa-dribbble:before {
	content: "";
}

.fa-skype:before {
	content: "";
}

.fa-foursquare:before {
	content: "";
}

.fa-trello:before {
	content: "";
}

.fa-female:before {
	content: "";
}

.fa-male:before {
	content: "";
}

.fa-gittip:before,
.fa-gratipay:before {
	content: "";
}

.fa-sun-o:before {
	content: "";
}

.fa-moon-o:before {
	content: "";
}

.fa-archive:before {
	content: "";
}

.fa-bug:before {
	content: "";
}

.fa-vk:before {
	content: "";
}

.fa-weibo:before {
	content: "";
}

.fa-renren:before {
	content: "";
}

.fa-pagelines:before {
	content: "";
}

.fa-stack-exchange:before {
	content: "";
}

.fa-arrow-circle-o-right:before {
	content: "";
}

.fa-arrow-circle-o-left:before {
	content: "";
}

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
	content: "";
}

.fa-dot-circle-o:before {
	content: "";
}

.fa-wheelchair:before {
	content: "";
}

.fa-vimeo-square:before {
	content: "";
}

.fa-turkish-lira:before,
.fa-try:before {
	content: "";
}

.fa-plus-square-o:before {
	content: "";
}

.fa-space-shuttle:before {
	content: "";
}

.fa-slack:before {
	content: "";
}

.fa-envelope-square:before {
	content: "";
}

.fa-wordpress:before {
	content: "";
}

.fa-openid:before {
	content: "";
}

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
	content: "";
}

.fa-mortar-board:before,
.fa-graduation-cap:before {
	content: "";
}

.fa-yahoo:before {
	content: "";
}

.fa-google:before {
	content: "";
}

.fa-reddit:before {
	content: "";
}

.fa-reddit-square:before {
	content: "";
}

.fa-stumbleupon-circle:before {
	content: "";
}

.fa-stumbleupon:before {
	content: "";
}

.fa-delicious:before {
	content: "";
}

.fa-digg:before {
	content: "";
}

.fa-pied-piper-pp:before {
	content: "";
}

.fa-pied-piper-alt:before {
	content: "";
}

.fa-drupal:before {
	content: "";
}

.fa-joomla:before {
	content: "";
}

.fa-language:before {
	content: "";
}

.fa-fax:before {
	content: "";
}

.fa-building:before {
	content: "";
}

.fa-child:before {
	content: "";
}

.fa-paw:before {
	content: "";
}

.fa-spoon:before {
	content: "";
}

.fa-cube:before {
	content: "";
}

.fa-cubes:before {
	content: "";
}

.fa-behance:before {
	content: "";
}

.fa-behance-square:before {
	content: "";
}

.fa-steam:before {
	content: "";
}

.fa-steam-square:before {
	content: "";
}

.fa-recycle:before {
	content: "";
}

.fa-automobile:before,
.fa-car:before {
	content: "";
}

.fa-cab:before,
.fa-taxi:before {
	content: "";
}

.fa-tree:before {
	content: "";
}

.fa-spotify:before {
	content: "";
}

.fa-deviantart:before {
	content: "";
}

.fa-soundcloud:before {
	content: "";
}

.fa-database:before {
	content: "";
}

.fa-file-pdf-o:before {
	content: "";
}

.fa-file-word-o:before {
	content: "";
}

.fa-file-excel-o:before {
	content: "";
}

.fa-file-powerpoint-o:before {
	content: "";
}

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
	content: "";
}

.fa-file-zip-o:before,
.fa-file-archive-o:before {
	content: "";
}

.fa-file-sound-o:before,
.fa-file-audio-o:before {
	content: "";
}

.fa-file-movie-o:before,
.fa-file-video-o:before {
	content: "";
}

.fa-file-code-o:before {
	content: "";
}

.fa-vine:before {
	content: "";
}

.fa-codepen:before {
	content: "";
}

.fa-jsfiddle:before {
	content: "";
}

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
	content: "";
}

.fa-circle-o-notch:before {
	content: "";
}

.fa-ra:before,
.fa-resistance:before,
.fa-rebel:before {
	content: "";
}

.fa-ge:before,
.fa-empire:before {
	content: "";
}

.fa-git-square:before {
	content: "";
}

.fa-git:before {
	content: "";
}

.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
	content: "";
}

.fa-tencent-weibo:before {
	content: "";
}

.fa-qq:before {
	content: "";
}

.fa-wechat:before,
.fa-weixin:before {
	content: "";
}

.fa-send:before,
.fa-paper-plane:before {
	content: "";
}

.fa-send-o:before,
.fa-paper-plane-o:before {
	content: "";
}

.fa-history:before {
	content: "";
}

.fa-circle-thin:before {
	content: "";
}

.fa-header:before {
	content: "";
}

.fa-paragraph:before {
	content: "";
}

.fa-sliders:before {
	content: "";
}

.fa-share-alt:before {
	content: "";
}

.fa-share-alt-square:before {
	content: "";
}

.fa-bomb:before {
	content: "";
}

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
	content: "";
}

.fa-tty:before {
	content: "";
}

.fa-binoculars:before {
	content: "";
}

.fa-plug:before {
	content: "";
}

.fa-slideshare:before {
	content: "";
}

.fa-twitch:before {
	content: "";
}

.fa-yelp:before {
	content: "";
}

.fa-newspaper-o:before {
	content: "";
}

.fa-wifi:before {
	content: "";
}

.fa-calculator:before {
	content: "";
}

.fa-paypal:before {
	content: "";
}

.fa-google-wallet:before {
	content: "";
}

.fa-cc-visa:before {
	content: "";
}

.fa-cc-mastercard:before {
	content: "";
}

.fa-cc-discover:before {
	content: "";
}

.fa-cc-amex:before {
	content: "";
}

.fa-cc-paypal:before {
	content: "";
}

.fa-cc-stripe:before {
	content: "";
}

.fa-bell-slash:before {
	content: "";
}

.fa-bell-slash-o:before {
	content: "";
}

.fa-trash:before {
	content: "";
}

.fa-copyright:before {
	content: "";
}

.fa-at:before {
	content: "";
}

.fa-eyedropper:before {
	content: "";
}

.fa-paint-brush:before {
	content: "";
}

.fa-birthday-cake:before {
	content: "";
}

.fa-area-chart:before {
	content: "";
}

.fa-pie-chart:before {
	content: "";
}

.fa-line-chart:before {
	content: "";
}

.fa-lastfm:before {
	content: "";
}

.fa-lastfm-square:before {
	content: "";
}

.fa-toggle-off:before {
	content: "";
}

.fa-toggle-on:before {
	content: "";
}

.fa-bicycle:before {
	content: "";
}

.fa-bus:before {
	content: "";
}

.fa-ioxhost:before {
	content: "";
}

.fa-angellist:before {
	content: "";
}

.fa-cc:before {
	content: "";
}

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
	content: "";
}

.fa-meanpath:before {
	content: "";
}

.fa-buysellads:before {
	content: "";
}

.fa-connectdevelop:before {
	content: "";
}

.fa-dashcube:before {
	content: "";
}

.fa-forumbee:before {
	content: "";
}

.fa-leanpub:before {
	content: "";
}

.fa-sellsy:before {
	content: "";
}

.fa-shirtsinbulk:before {
	content: "";
}

.fa-simplybuilt:before {
	content: "";
}

.fa-skyatlas:before {
	content: "";
}

.fa-cart-plus:before {
	content: "";
}

.fa-cart-arrow-down:before {
	content: "";
}

.fa-diamond:before {
	content: "";
}

.fa-ship:before {
	content: "";
}

.fa-user-secret:before {
	content: "";
}

.fa-motorcycle:before {
	content: "";
}

.fa-street-view:before {
	content: "";
}

.fa-heartbeat:before {
	content: "";
}

.fa-venus:before {
	content: "";
}

.fa-mars:before {
	content: "";
}

.fa-mercury:before {
	content: "";
}

.fa-intersex:before,
.fa-transgender:before {
	content: "";
}

.fa-transgender-alt:before {
	content: "";
}

.fa-venus-double:before {
	content: "";
}

.fa-mars-double:before {
	content: "";
}

.fa-venus-mars:before {
	content: "";
}

.fa-mars-stroke:before {
	content: "";
}

.fa-mars-stroke-v:before {
	content: "";
}

.fa-mars-stroke-h:before {
	content: "";
}

.fa-neuter:before {
	content: "";
}

.fa-genderless:before {
	content: "";
}

.fa-facebook-official:before {
	content: "";
}

.fa-pinterest-p:before {
	content: "";
}

.fa-whatsapp:before {
	content: "";
}

.fa-server:before {
	content: "";
}

.fa-user-plus:before {
	content: "";
}

.fa-user-times:before {
	content: "";
}

.fa-hotel:before,
.fa-bed:before {
	content: "";
}

.fa-viacoin:before {
	content: "";
}

.fa-train:before {
	content: "";
}

.fa-subway:before {
	content: "";
}

.fa-medium:before {
	content: "";
}

.fa-yc:before,
.fa-y-combinator:before {
	content: "";
}

.fa-optin-monster:before {
	content: "";
}

.fa-opencart:before {
	content: "";
}

.fa-expeditedssl:before {
	content: "";
}

.fa-battery-4:before,
.fa-battery:before,
.fa-battery-full:before {
	content: "";
}

.fa-battery-3:before,
.fa-battery-three-quarters:before {
	content: "";
}

.fa-battery-2:before,
.fa-battery-half:before {
	content: "";
}

.fa-battery-1:before,
.fa-battery-quarter:before {
	content: "";
}

.fa-battery-0:before,
.fa-battery-empty:before {
	content: "";
}

.fa-mouse-pointer:before {
	content: "";
}

.fa-i-cursor:before {
	content: "";
}

.fa-object-group:before {
	content: "";
}

.fa-object-ungroup:before {
	content: "";
}

.fa-sticky-note:before {
	content: "";
}

.fa-sticky-note-o:before {
	content: "";
}

.fa-cc-jcb:before {
	content: "";
}

.fa-cc-diners-club:before {
	content: "";
}

.fa-clone:before {
	content: "";
}

.fa-balance-scale:before {
	content: "";
}

.fa-hourglass-o:before {
	content: "";
}

.fa-hourglass-1:before,
.fa-hourglass-start:before {
	content: "";
}

.fa-hourglass-2:before,
.fa-hourglass-half:before {
	content: "";
}

.fa-hourglass-3:before,
.fa-hourglass-end:before {
	content: "";
}

.fa-hourglass:before {
	content: "";
}

.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
	content: "";
}

.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
	content: "";
}

.fa-hand-scissors-o:before {
	content: "";
}

.fa-hand-lizard-o:before {
	content: "";
}

.fa-hand-spock-o:before {
	content: "";
}

.fa-hand-pointer-o:before {
	content: "";
}

.fa-hand-peace-o:before {
	content: "";
}

.fa-trademark:before {
	content: "";
}

.fa-registered:before {
	content: "";
}

.fa-creative-commons:before {
	content: "";
}

.fa-gg:before {
	content: "";
}

.fa-gg-circle:before {
	content: "";
}

.fa-tripadvisor:before {
	content: "";
}

.fa-odnoklassniki:before {
	content: "";
}

.fa-odnoklassniki-square:before {
	content: "";
}

.fa-get-pocket:before {
	content: "";
}

.fa-wikipedia-w:before {
	content: "";
}

.fa-safari:before {
	content: "";
}

.fa-chrome:before {
	content: "";
}

.fa-firefox:before {
	content: "";
}

.fa-opera:before {
	content: "";
}

.fa-internet-explorer:before {
	content: "";
}

.fa-tv:before,
.fa-television:before {
	content: "";
}

.fa-contao:before {
	content: "";
}

.fa-500px:before {
	content: "";
}

.fa-amazon:before {
	content: "";
}

.fa-calendar-plus-o:before {
	content: "";
}

.fa-calendar-minus-o:before {
	content: "";
}

.fa-calendar-times-o:before {
	content: "";
}

.fa-calendar-check-o:before {
	content: "";
}

.fa-industry:before {
	content: "";
}

.fa-map-pin:before {
	content: "";
}

.fa-map-signs:before {
	content: "";
}

.fa-map-o:before {
	content: "";
}

.fa-map:before {
	content: "";
}

.fa-commenting:before {
	content: "";
}

.fa-commenting-o:before {
	content: "";
}

.fa-houzz:before {
	content: "";
}

.fa-vimeo:before {
	content: "";
}

.fa-black-tie:before {
	content: "";
}

.fa-fonticons:before {
	content: "";
}

.fa-reddit-alien:before {
	content: "";
}

.fa-edge:before {
	content: "";
}

.fa-credit-card-alt:before {
	content: "";
}

.fa-codiepie:before {
	content: "";
}

.fa-modx:before {
	content: "";
}

.fa-fort-awesome:before {
	content: "";
}

.fa-usb:before {
	content: "";
}

.fa-product-hunt:before {
	content: "";
}

.fa-mixcloud:before {
	content: "";
}

.fa-scribd:before {
	content: "";
}

.fa-pause-circle:before {
	content: "";
}

.fa-pause-circle-o:before {
	content: "";
}

.fa-stop-circle:before {
	content: "";
}

.fa-stop-circle-o:before {
	content: "";
}

.fa-shopping-bag:before {
	content: "";
}

.fa-shopping-basket:before {
	content: "";
}

.fa-hashtag:before {
	content: "";
}

.fa-bluetooth:before {
	content: "";
}

.fa-bluetooth-b:before {
	content: "";
}

.fa-percent:before {
	content: "";
}

.fa-gitlab:before {
	content: "";
}

.fa-wpbeginner:before {
	content: "";
}

.fa-wpforms:before {
	content: "";
}

.fa-envira:before {
	content: "";
}

.fa-universal-access:before {
	content: "";
}

.fa-wheelchair-alt:before {
	content: "";
}

.fa-question-circle-o:before {
	content: "";
}

.fa-blind:before {
	content: "";
}

.fa-audio-description:before {
	content: "";
}

.fa-volume-control-phone:before {
	content: "";
}

.fa-braille:before {
	content: "";
}

.fa-assistive-listening-systems:before {
	content: "";
}

.fa-asl-interpreting:before,
.fa-american-sign-language-interpreting:before {
	content: "";
}

.fa-deafness:before,
.fa-hard-of-hearing:before,
.fa-deaf:before {
	content: "";
}

.fa-glide:before {
	content: "";
}

.fa-glide-g:before {
	content: "";
}

.fa-signing:before,
.fa-sign-language:before {
	content: "";
}

.fa-low-vision:before {
	content: "";
}

.fa-viadeo:before {
	content: "";
}

.fa-viadeo-square:before {
	content: "";
}

.fa-snapchat:before {
	content: "";
}

.fa-snapchat-ghost:before {
	content: "";
}

.fa-snapchat-square:before {
	content: "";
}

.fa-pied-piper:before {
	content: "";
}

.fa-first-order:before {
	content: "";
}

.fa-yoast:before {
	content: "";
}

.fa-themeisle:before {
	content: "";
}

.fa-google-plus-circle:before,
.fa-google-plus-official:before {
	content: "";
}

.fa-fa:before,
.fa-font-awesome:before {
	content: "";
}

.fa-handshake-o:before {
	content: "";
}

.fa-envelope-open:before {
	content: "";
}

.fa-envelope-open-o:before {
	content: "";
}

.fa-linode:before {
	content: "";
}

.fa-address-book:before {
	content: "";
}

.fa-address-book-o:before {
	content: "";
}

.fa-vcard:before,
.fa-address-card:before {
	content: "";
}

.fa-vcard-o:before,
.fa-address-card-o:before {
	content: "";
}

.fa-user-circle:before {
	content: "";
}

.fa-user-circle-o:before {
	content: "";
}

.fa-user-o:before {
	content: "";
}

.fa-id-badge:before {
	content: "";
}

.fa-drivers-license:before,
.fa-id-card:before {
	content: "";
}

.fa-drivers-license-o:before,
.fa-id-card-o:before {
	content: "";
}

.fa-quora:before {
	content: "";
}

.fa-free-code-camp:before {
	content: "";
}

.fa-telegram:before {
	content: "";
}

.fa-thermometer-4:before,
.fa-thermometer:before,
.fa-thermometer-full:before {
	content: "";
}

.fa-thermometer-3:before,
.fa-thermometer-three-quarters:before {
	content: "";
}

.fa-thermometer-2:before,
.fa-thermometer-half:before {
	content: "";
}

.fa-thermometer-1:before,
.fa-thermometer-quarter:before {
	content: "";
}

.fa-thermometer-0:before,
.fa-thermometer-empty:before {
	content: "";
}

.fa-shower:before {
	content: "";
}

.fa-bathtub:before,
.fa-s15:before,
.fa-bath:before {
	content: "";
}

.fa-podcast:before {
	content: "";
}

.fa-window-maximize:before {
	content: "";
}

.fa-window-minimize:before {
	content: "";
}

.fa-window-restore:before {
	content: "";
}

.fa-times-rectangle:before,
.fa-window-close:before {
	content: "";
}

.fa-times-rectangle-o:before,
.fa-window-close-o:before {
	content: "";
}

.fa-bandcamp:before {
	content: "";
}

.fa-grav:before {
	content: "";
}

.fa-etsy:before {
	content: "";
}

.fa-imdb:before {
	content: "";
}

.fa-ravelry:before {
	content: "";
}

.fa-eercast:before {
	content: "";
}

.fa-microchip:before {
	content: "";
}
.fa-snowflake-o:before {
	content: "";
}
.fa-superpowers:before {
	content: "";
}
.fa-wpexplorer:before {
	content: "";
}
.fa-meetup:before {
	content: "";
}
html {
	height: 100%;
}
body {
	margin: 0;
	color: #444;
	font-family: "-apple-system", "blinkMacSystemFont", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
	font-size: 16px;
}

a {
	border: none;
	color: #006DD9;
	text-decoration: none;
}

a:visited {
	color: #006DD9;
	text-decoration: none;
}

a:active {
	color: #006DD9;
	text-decoration: none;
}

a:hover {
	color: #006DD9;
	text-decoration: underline;
}
.acms-container {
	max-width: 840px;
}
.acms-container .acms-container {
	padding: 0;
}
.l-header {
	width: 100%;
	height: 100%;
	margin-bottom: 40px;
	padding: 50px 0 35px;
	background-image: url("/themes/blog_ver5/images/bg_main.jpg");
	-o-background-size: cover;
	   background-size: cover;
	color: #FFF;
	text-align: center;
}
.l-header h1 {
	margin: 0;
}
.l-header .c-logo p {
	margin: 0;
}
.l-header .p-header-fixed .c-logo {
	float: left;
	margin-top: 8px;
	text-align: left;
}
.header-fixed {
	position: fixed;
	z-index: 99999;
	top: -80px;
	width: 100%;
	height: 60px;
	background-color: #FFF;
	-webkit-box-shadow: 0 0 12px 2px #C2C2C2;
	   -moz-box-shadow: 0 0 12px 2px #C2C2C2;
	        box-shadow: 0 0 12px 2px #C2C2C2;
	transition: top ease-out .3s;
}
header.l-header.--index {
	margin-bottom: 0;
	padding: 50px 0 0;
	background-image: none;
}
header.l-header.--index .header-fixed {
	top: 0;
}
.header-fixed.-sp {
	height: 60px;
	background-color: #FFF;
	box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}
.is-fixed {
	top: 0;
}
.c-global-nav {
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	padding: 0;

	align-items: center;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.c-global-nav .c-global-nav__item {
	z-index: 9999;
}
.c-global-nav .c-global-nav__item:nth-child(2) {
	margin: 0 30px;
}
.c-global-nav .c-global-nav__item a {
	color: #FFF;
}
.c-global-nav .c-global-nav__item.stay {
	background-color: #376F98;
}
.c-global-nav.-entry {
	float: right;
}
.c-global-nav.-entry .c-global-nav__item a,
.c-global-nav.-entry .c-global-nav__item span,
.c-global-nav.-entry .c-global-nav__item i {
	color: #444;
}
.c-global-nav.-entry .c-global-nav__item:hover {
	color: #376F98;
}
.c-global-nav.-entry .c-global-nav__item:hover a,
.c-global-nav.-entry .c-global-nav__item:hover i,
.c-global-nav.-entry .c-global-nav__item:hover span {
	color: #376F98;
	text-decoration: none;
}
.c-global-nav.-offcanvas {
	display: block;
}
.c-global-nav.-offcanvas .c-global-nav__item {
	padding: 15px;
	border-bottom: 1px solid #DDD;
}
.c-global-nav.-offcanvas .c-global-nav__item:nth-child(2) {
	margin: 0;
}
.c-global-nav.-offcanvas .c-global-nav__item a,
.c-global-nav.-offcanvas .c-global-nav__item span,
.c-global-nav.-offcanvas .c-global-nav__item i {
	color: #444;
}
@media screen and (max-width: 767px) {
	.l-header .c-logo img {
		width: 120px;
	}
	.l-header .p-header-fixed .c-logo {
		margin-top: 14px;
	}
}
.p-header-fixed__btn {
	position: absolute;
	top: 10px;
	right: 0;
	width: 60px;
	height: 20px;
	color: #376F98;
	text-align: center;
}
.p-header-fixed__btn-icon {
	font-size: 28px;
}
.p-header-fixed__btn-text {
	display: block;
	font-size: 9px;
}
.l-footer .c-footer-top {
	padding: 50px 0;
	background-color: rgba(55, 111, 152, .2);
}
.l-footer .c-footer-top__title {
	margin: 0;
	margin-bottom: 30px;
	padding-bottom: 24px;
	border-bottom: 1px solid #6D7276;
	text-align: center;
}
.c-btn {
	display: block;
	overflow: hidden;
	padding: 10px 30px;
	border: 1px solid #333;
	background: #FFF;
	color: #333;
	font-size: 16px;
	text-align: center;
	line-height: 1.2;
	transition: background-color .3s;
}
.c-btn:hover,
.c-btn:visited,
.c-btn:active,
.c-btn:focus {
	color: #333;
	text-decoration: none;
}
.c-btn:hover {
	background: #EEE;
}
.c-serial-nav {
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	margin: -25px 0 30px 0;
	padding: 0 16px;
}
.c-serial-nav a {
	display: block;
	overflow: hidden;
	position: relative;
	padding: 10px 15px;
	border: 1px solid #376F98;
	border-radius: 3px;
	border-radius: 3px;
	color: #376F98;
	font-size: 14px;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.c-serial-nav a:hover,
.c-serial-nav a:focus,
.c-serial-nav a:active {
	border: 1px solid #376F98;
	background: #376F98;
	color: #FFF;
	text-decoration: none;
}
.c-serial-nav-list {
	width: 68px;
	margin: 0;
	padding: 0 20px;
	text-align: center;
}
.c-serial-nav-list a:hover,
.c-serial-nav-list a:focus,
.c-serial-nav-list a:active {
	border: 1px solid #376F98;
	background: #376F98;
	color: #FFF;
	text-decoration: none;
}
.c-serial-nav-item {
	display: block;
	float: none;
	margin: 0 0 10px 0;
}
.c-serial-nav-index {
	text-align: center;
}
.c-serial-nav-index a {
	display: inline-block;
}
.c-serial-nav-prev {
	text-align: left;
}
.c-serial-nav-prev a {
	padding-left: 9px;
	font-family: "FontAwesome";
}
.c-serial-nav-prev a:before {
	padding-right: 15px;
	content: "";
}
.c-serial-nav-next {
	text-align: right;
}
.c-serial-nav-next a {
	padding-right: 9px;
	font-family: "FontAwesome";
}
.c-serial-nav-next a:after {
	padding-left: 15px;
	content: "";
}
.c-serial-nav-arrow {
	position: absolute;
	color: #376F98;
	font-size: 18px;
	transition: all .2s;
}
.c-serial-nav-prev .c-serial-nav-arrow {
	top: 50%;
	left: 15px;
	margin: -9px 0 0 0;
}
.c-serial-nav-next .c-serial-nav-arrow {
	top: 50%;
	right: 15px;
	margin: -9px 0 0 0;
}
@media screen and (min-width: 768px) {
	.c-serial-nav {
		margin: 0 -15px 60px -15px;
	}
	.c-serial-nav-prev a:hover .c-serial-nav-arrow {
		left: 10px;
	}
	.c-serial-nav-next a:hover .c-serial-nav-arrow {
		right: 10px;
	}
	.c-serial-nav-item {
		box-sizing: border-box;
		padding: 0 15px;
		vertical-align: top;
	}
	.c-serial-nav-prev,
	.c-serial-nav-next {
		-ms-flex: 1;
		    flex: 1;
	}
}
@media screen and (max-width: 767px) {
	.c-serial-nav {
		display: inherit;
		margin: 30px 0 30px;
		padding: 0;
	}
	.c-serial-nav-prev {
		margin-bottom: 10px;
		text-align: left;
	}
}
.c-pagetitle {
	position: relative;
	margin: 0 0 30px 0;
	padding: 70px 0;
	background: url("/themes/blog_ver5/images/bg_main.jpg");
	background-size: cover;
	color: #FFF;
	text-align: center;
}
.c-pagetitle__affiliation {
	padding-left: 10px;
	font-size: 14px;
	font-weight: normal;
}
.c-pagetitle-inner {
	padding: 35px 0;
}
.c-pagetitle__heading {
	margin: 0;
	padding-bottom: 20px;
	font-family: "-apple-system", "blinkMacSystemFont", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
	font-size: 24px;
	line-height: 1.3;
}
@media screen and (min-width: 768px) {
	.c-pagetitle-heading {
		font-size: 28px;
		text-align: left;
	}
}
.c-tag-cancel {
	margin-left: 10px;
	color: #FFF;
	font-size: 16px;
}
.c-tag-add a {
	margin: 0 10px;
	color: #FFF;
}
.c-sns-list {
	margin-top: 25px;
	text-align: center;
}
.c-sns-list__item {
	display: inline-block;
}
.c-sns-list__item.-facebook {
	line-height: .7;
}
.c-entryfooter-sns {
	display: table;
	overflow: hidden;
	table-layout: fixed;
	width: 100%;
	margin: 0 0 5% 0 !important;
	padding: 0;
	font-size: 14px;
}
.c-entryfooter-sns__item {
	display: table-cell;
	list-style-type: none;
	vertical-align: middle;
	transition: all .2s;
}
.c-entryfooter-sns__item:last-child {
	margin-right: 0;
}
.c-entryfooter-sns__item a {
	color: #FFF;
	text-decoration: none;
}
.c-entryfooter-sns__link {
	display: block;
	overflow: hidden;
	position: relative;
	height: 42px;
	outline: none;
	font-family: "FontAwesome";
	text-decoration: none;
	text-align: center;
	line-height: 42px;
}
.c-entryfooter-sns__link:before {
	margin-right: 10px;
	color: #FFF;
}
.c-entryfooter-sns__link:after {
	display: block;
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	width: 0;
	height: 0;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, .3);
	opacity: 0;
	content: "";
	-ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
}
.c-entryfooter-sns__link:hover {
	text-decoration: none;
}
.c-entryfooter-sns__twitter {
	border: 1px solid #55ACEE;
	background: #55ACEE;
}
.c-entryfooter-sns__twitter:before {
	content: "";
}
.c-entryfooter-sns__twitter:hover {
	background: transparent;
	color: #55ACEE;
}
.c-entryfooter-sns__twitter:hover:before {
	color: #55ACEE;
}
.c-entryfooter-sns__facebook {
	border: 1px solid #3B5999;
	background: #3B5999;
}
.c-entryfooter-sns__facebook:before {
	content: "";
}
.c-entryfooter-sns__facebook:hover {
	background: transparent;
	color: #3B5999;
}
.c-entryfooter-sns__facebook:hover:before {
	color: #3B5999;
}
.c-entryfooter-sns__bookmark {
	border: 1px solid #008FDE;
	background: #008FDE;
}
.c-entryfooter-sns__bookmark:before {
	font-family: Verdana;
	font-weight: bold;
	content: "B!";
}
.c-entryfooter-sns__bookmark:hover {
	background: transparent;
	color: #008FDE;
}
.c-entryfooter-sns__bookmark:hover:before {
	color: #008FDE;
}
.c-entryfooter-sns__feed {
	border: 1px solid #2BB24C;
	background: #2BB24C;
}
.c-entryfooter-sns__feed:before {
	content: "";
}
.c-entryfooter-sns__feed:hover {
	background: transparent;
	color: #2BB24C;
}
.c-entryfooter-sns__feed:hover:before {
	color: #2BB24C;
}
.c-entryfooter-sns__pocket {
	border: 1px solid #EF4056;
	background: #EF4056;
}
.c-entryfooter-sns__pocket:before {
	content: "";
}
.c-entryfooter-sns__pocket:hover {
	background: transparent;
	color: #EF4056;
}
.c-entryfooter-sns__pocket:hover:before {
	color: #EF4056;
}
@media screen and (max-width: 767px) {
	.c-entryfooter-sns__link:before {
		margin-right: 0;
	}
}
.c-topicpath {
	overflow: auto;
	height: 30px;
	margin-bottom: 10px;
	background: #FFF;
}
@media screen and (min-width: 768px) {
	.c-topicpath {
		margin-bottom: 30px;
	}
}
.c-topicpath-list {
	list-style: none;
	margin: 0 auto;
	font-size: 13px;
	line-height: 1;
	white-space: nowrap;
}
.c-topicpath-item {
	display: inline-block;
	padding: 8px 10px 8px 23px;
	background: url("/themes/blog_ver5/images/common/arrow_topicpath.png") no-repeat top left;
}
.c-topicpath-item:first-child {
	padding: 8px 10px 8px 0;
	background: 0;
}
.c-topicpath-item:first-child:before {
	display: inline-block;
	color: #376F98;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	font-size: 13px;
	content: "";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: auto;
}
.c-topicpath-link {
	color: #333;
}
.c-topicpath-link:visited,
.c-topicpath-link:focus,
.c-topicpath-link:active {
	color: #333;
}
.c-heading-large {
	margin: 0 0 25px 0;
	color: #333;
	font-size: 26px;
}
.c-heading-medium {
	margin: 0 0 20px 0;
	color: #333;
	font-size: 20px;
}
.c-heading-large-decoration {
	margin: 0 0 25px 0;
	padding: 5px 10px;
	border: none;
	border-left: 8px solid #376F98;
	background: linear-gradient(to left, #333 0%, #333 16.66667%, transparent 16.66667%, transparent 100%);
	background-repeat: repeat-x;
	background-position: 1px bottom;
	background-size: 6px 1px;
	color: #333;
	font-size: 22px;
}
.c-heading-medium-decoration {
	position: relative;
	margin: 0 0 20px 0;
	background: linear-gradient(transparent 70%, #376F98 0);
	color: #333;
	font-size: 20px;
	font-size: 20px;
}
.p-contact-box p.message {
	margin: 0 30px 35px 30px;
	font-weight: bold;
}
.p-contact-box p.contact-no {
	margin: 0;
	color: #333;
	font-size: 30px;
	font-weight: bold;
}
.p-contact-box p.contact-no a {
	color: inherit;
}
.p-contact-box .p-contact-form {
	width: 100%;
	margin: 0 0 20px 0;
	border: 6px solid #376F98;
}
.p-contact-box tr {
	border-bottom: 1px solid #376F98;
}
.p-contact-box th,
.p-contact-box td {
	display: block;
}
.p-contact-box th {
	padding: 14px 14px 5px 14px;
	text-align: left;
}
.p-contact-box td {
	padding: 5px 14px 15px 14px;
}
@media screen and (min-width: 768px) {
	.p-contact-box th,
	.p-contact-box td {
		display: table-cell;
		padding: 30px 15px;
	}
	.p-contact-box th {
		box-sizing: border-box;
		position: relative;
		width: 260px;
		padding: 30px 15px 20px 60px;
		vertical-align: top;
	}
}
@media screen and (min-width: 768px) and (min-width: 768px) {
	.p-contact-box th .c-label-required {
		position: absolute;
		left: 13px;
	}
}
@media screen and (min-width: 768px) {
  .p-contact-box td {
    padding: 30px 25px 30px 15px;
  }
}
.p-contact-bottom {
	margin: 0 0 30px 0;
}
.p-entry {
	margin: 0 0 25px 0;
}
.p-entry:before,
.p-entry:after {
	display: table;
	content: " ";
}
.p-entry:after {
	clear: both;
}
.p-entry-column {
	color: #333;
}
.p-entry-column a:link {
	color: #376F98;
	text-decoration: underline;
}
.p-entry-column a:hover,
.p-entry-column a:focus,
.p-entry-column a:active {
	text-decoration: underline;
}
.p-entry-column a:visited {
	color: #7F5AD7;
	text-decoration: none;
}
.p-entry-column em {
	position: relative;
	background: linear-gradient(transparent 45%, #FCFC7B 0);
	font-style: normal;
}
.p-entry-column h2,
.p-entry-column h3,
.p-entry-column h4,
.p-entry-column h5 {
	margin: 20px 0;
	text-align: center;
}
.p-entry-column h2 {
	position: relative;
	padding: 1em 0;
	padding-left: 15px;
	font-size: 24px;
}
.p-entry-column h2::before,
.p-entry-column h2::after {
	box-sizing: border-box;
	position: absolute;
	left: 0;
	width: 100%;
	height: 6px;
	content: "";
}
.p-entry-column h2::before {
	top: 0;
	border-top: 2px solid #376F98;
	border-bottom: 1px solid #376F98;
	font-weight: bold;
}
.p-entry-column h2::after {
	bottom: 0;
	border-top: 1px solid #376F98;
}
.p-entry-column h3 {
	padding-bottom: 20px;
	border-bottom: 2px solid #376F98;
	font-size: 22px;
}
.p-entry-column h4 {
	width: 670px;
	margin: 5px auto 10px auto;
	padding-bottom: 14px;
	border-bottom: 2px solid #376F98;
	border-left: 7px solid #376F98;
	font-size: 20px;
}
.p-entry-column h5 {
	width: 536px;
	margin: 20px auto;
	padding: 8px 0;
	border-radius: 8px;
	background-color: rgba(55, 111, 152, .2);
	font-size: 18px;
	font-weight: normal;
}
.p-entry-column p {
	margin-top: 0;
	margin-bottom: 30px;
	font-size: 16px;
	line-height: 1.9;
}
.p-entry-column p.entry-btn {
	margin-bottom: 10px;
}
.p-entry-column p.entry-btn a {
	display: table;
	margin: 20px auto;
	padding: 12px 40px;
	border-radius: 5px;
	background: #333;
	color: #FFF;
	font-size: 18px;
	transition: all .3s;
}
.p-entry-column p.entry-btn a:active,
.p-entry-column p.entry-btn a:focus,
.p-entry-column p.entry-btn a:hover {
	background: #111;
	text-decoration: none;
}
.p-entry-column table {
	width: 100%;
	margin: 0 0 30px 0;
}
.p-entry-column tr {
	border-bottom: 1px solid #95989A;
}
.p-entry-column tr:last-child {
	border: 0;
}
.p-entry-column th,
.p-entry-column td {
	display: block;
	padding: 5px 10px;
	color: #333;
	font-size: 16px;
	text-align: left;
	vertical-align: top;
	line-height: 1.5;
}
.p-entry-column .acms-table-responsive {
	margin-bottom: 30px;
}
.p-entry-column .acms-table-responsive th,
.p-entry-column .acms-table-responsive td {
	display: table-cell;
	white-space: nowrap;
}
.p-entry-column .acms-table-responsive table {
	margin: 0;
}
.p-entry-column th {
	background: #EBEBEB;
}
.p-entry-column ul {
	list-style-type: none;
	margin: 0 0 25px 0;
	padding: 0 30px 0 45px;
}
.p-entry-column ul li {
	display: block;
	margin: 0 0 5px 0;
	padding: 0 0 0 22px;
	background-image: url("/themes/blog_ver5/images/icon_list.png");
	background-repeat: no-repeat;
	background-position: 0 4px;
	line-height: 1.5;
}
.p-entry-column ol {
	list-style: none;
	margin: 0 0 25px 0;
	padding: 0 30px 0 38px;
	counter-reset: ol-counter;
}
.p-entry-column ol li {
	position: relative;
	margin: 0 0 5px 0;
	padding: 0 0 0 30px;
	font-size: 16px;
	line-height: 1.5;
}
.p-entry-column ol li:before {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	margin: 2px 7px 0 0;
	padding: 3px 6px;
	border-radius: 6px;
	background: #376F98;
	color: #FFF;
	font-size: 14px;
	line-height: 1;
	content: counter(ol-counter);
	counter-increment: ol-counter;
}
.p-entry-column blockquote {
	box-sizing: border-box;
	width: 100%;
	margin: 20px 0;
	padding: 40px 26px;
	background-color: #EBEBEB;
	background-image: url("/themes/blog_ver5/images/dot.png");
	background-repeat: no-repeat;
	background-position: 0 -40px;
	line-height: 1.8;
}
.p-entry-column pre {
	position: relative;
	width: 100%;
	margin: 0 0 30px 0;
	padding: 16px 8px;
	box-shadow: none !important;
}
.p-entry-column pre ol {
	margin: 0;
	padding: 0;
}
.p-entry-column pre ol li {
	line-height: 20px;
}
.p-entry-column pre ol li:before {
	background: none;
	content: "";
}
.p-entry-column pre:before {
	position: absolute;
	top: -30px;
	left: 0;
	padding: 5px 20px;
	border-radius: 10px 10px 0 0/10px 10px 0 0;
	border-radius: 10px 10px 0 0 / 10px 10px 0 0;
	background-color: #DDD;
	font-size: 14px;
	text-align: center;
}
.p-entry-column pre.html {
	margin-top: 54px;
}
.p-entry-column pre.html:before {
	content: "</> HTML";
}
.p-entry-column pre.css {
	margin-top: 54px;
}
.p-entry-column pre.css:before {
	content: "</> CSS";
}
.p-entry-column pre.js {
	margin-top: 54px;
}
.p-entry-column pre.js:before {
	content: "</> Javascript / jQuery";
}
.p-entry-column pre.php {
	margin-top: 54px;
}
.p-entry-column pre.php:before {
	content: "</> PHP";
}
.p-entry-column hr {
	border: 0;
	border-bottom: 1px solid #FFED1F;
}
.p-entry-column .caption {
	margin: 0 0 20px 0;
	color: #95989A;
	font-size: 13px;
	text-align: center;
}
@media screen and (min-width: 768px) {
	.p-entry-column th,
	.p-entry-column td {
		display: table-cell;
		padding: 15px 20px;
		border-top: 1px solid #4D4A40;
		font-size: 16px;
		text-align: left;
	}
}
@media screen and (max-width: 767px) {
	.p-entry-column h4,
	.p-entry-column h5,
	.p-entry-column pre {
		width: 95%;
	}
}
.acms-col-center {
	float: none;
	margin: 0 auto;
}
.p-entry-footer {
	margin: 0 0 20px 0;
	padding: 10px;
	background: #F5F5F5;
}
.p-entry-tag {
	margin: 0 0 5px 0;
}
.p-entry-tag-icon {
	float: left;
	color: #999;
}
.p-entry-tag-item {
	float: left;
	margin: 0 0 0 10px;
}
@media screen and (min-width: 768px) {
	.p-entry-tag {
		margin: 0;
	}
}
.p-relational__heading {
	margin: 60px 0 24px 0;
	padding: 12px 0;
	background: #EBEBEB;
	font-size: 20px;
	text-align: center;
}
.p-relational {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.p-relational__item {
	box-sizing: border-box;
	width: 25%;
	padding: 0 13px 20px 0;
}
.p-relational__item:nth-child(4n) {
	padding-right: 0;
}
.p-relational__item:hover {
	opacity: .6;
}
.p-relational__img {
	width: 100%;
	height: auto;
}
.p-relational__title a {
	color: #444;
}
.p-relational__title a:hover {
	text-decoration: none;
}
