<table class="acms-admin-table-admin-edit">
	<tr>
		<th>目次1</th>
		<td>
			<input type="text" name="agenda1{id}" value="{agenda1}" class="acms-admin-form-width-full"/>
			<input type="hidden" name="unit{id}[]" value="agenda1{id}" />
		</td>
	</tr>
	<tr>
		<th>目次2</th>
		<td>
			<input type="text" name="agenda2{id}" value="{agenda2}" class="acms-admin-form-width-full"/>
			<input type="hidden" name="unit{id}[]" value="agenda2{id}" />
		</td>
	</tr>
	<tr>
		<th>目次3</th>
		<td>
			<input type="text" name="agenda3{id}" value="{agenda3}" class="acms-admin-form-width-full"/>
			<input type="hidden" name="unit{id}[]" value="agenda3{id}" />
		</td>
	</tr>
	<tr>
		<th>目次4</th>
		<td>
			<input type="text" name="agenda4{id}" value="{agenda4}" class="acms-admin-form-width-full"/>
			<input type="hidden" name="unit{id}[]" value="agenda4{id}" />
		</td>
	</tr>
	<tr>
		<th>目次5</th>
		<td>
			<input type="text" name="agenda5{id}" value="{agenda5}" class="acms-admin-form-width-full"/>
			<input type="hidden" name="unit{id}[]" value="agenda5{id}" />
		</td>
	</tr>
	<tr>
		<th>目次6</th>
		<td>
			<input type="text" name="agenda6{id}" value="{agenda6}" class="acms-admin-form-width-full"/>
			<input type="hidden" name="unit{id}[]" value="agenda6{id}" />
		</td>
	</tr>
	<tr>
		<th>目次7</th>
		<td>
			<input type="text" name="agenda7{id}" value="{agenda7}" class="acms-admin-form-width-full"/>
			<input type="hidden" name="unit{id}[]" value="agenda7{id}" />
		</td>
	</tr>
</table>
