<!-- BEGIN_MODULE Admin_Module_Edit -->
<div id="js-module_management" class="acms-admin-modal out">
	<div class="acms-admin-modal-dialog large">
		<div class="acms-admin-modal-content">
			<div class="acms-admin-modal-header">
				<button type="button" class="acms-admin-modal-hide"><i class="acms-admin-modal-hide acms-admin-icon-delete"></i><span class="acms-admin-hide-visually">閉じる</span></button>
				<!-- BEGIN_IF [{name}/nem/] -->
				<h3 class="acms-admin-modal-heading">{name} <small>({identifier})</small> {label}</h3><!-- ELSE -->
				<h3 class="acms-admin-modal-heading">新規モジュールID</h3><!-- END_IF -->
			</div>
			<div class="acms-admin-modal-body">
				<!-- BEGIN error#auth -->
				<p class="acms-admin-alert acms-admin-alert-danger"><button class="js-acms-alert-close">×</button>編集権限がありません。</p><!-- END error#auth -->

				<!-- BEGIN_IF [<!-- BEGIN error#auth -->1<!-- END error#auth -->/neq/1] -->
				<div class="acms-admin-padding-small">

					<!-- BEGIN msg#insert -->
					<p class="acms-admin-alert acms-admin-alert-info"><button class="js-acms-alert-close">×</button>モジュールIDを作成しました</p><!-- END msg#insert --><!-- BEGIN msg#update -->
					<p class="acms-admin-alert acms-admin-alert-info"><button class="js-acms-alert-close">×</button>モジュールIDを保存しました</p><!-- END msg#update --><!-- BEGIN msg#delete -->
					<p class="acms-admin-alert acms-admin-alert-danger"><button class="js-acms-alert-close">×</button>モジュールIDを削除しました</p><!-- END msg#delete --><!-- BEGIN msg#duplicate -->
					<p class="acms-admin-alert acms-admin-alert-info"><button class="js-acms-alert-close">×</button>モジュールIDを複製しました</p><!-- END msg#duplicate --><!-- BEGIN msg#error -->
					<p class="acms-admin-alert acms-admin-alert-danger"><button class="js-acms-alert-close">×</button>入力内容に誤りがあります。</p><!-- END msg#error -->

					<!-- BEGIN submit#insert -->
					<a href="#" class="js-module_form_trigger acms-admin-btn-admin acms-admin-btn-admin-primary acms-admin-btn-admin-save acms-admin-float-right">作成</a>

					<form id="js-module_form" class="acms-admin-form" action="/tpl/ajax/module/edit.html?edit=insert" method="post" enctype="multipart/form-data" target="js-ajaxPostData">
					<!-- END submit#insert --><!-- BEGIN submit#update -->
					<a href="#" class="js-module_form_trigger acms-admin-btn-admin acms-admin-btn-admin-primary acms-admin-btn-admin-save acms-admin-float-right">保存</a>

					<form id="js-module_form"  class="acms-admin-form" action="/tpl/ajax/module/edit.html?mid=%{mid}" method="post" enctype="multipart/form-data" target="js-ajaxPostData">
					<!-- END submit#update -->
						<div class="acms-admin-tabs">

							<input type="hidden" name="step" value="" />
							<!-- BEGIN submit2#insert -->
							<input type="hidden" name="ACMS_POST_Module_Insert" value="post" />
							<!-- END submit2#insert -->

							<!-- BEGIN submit2#update -->
							<input type="hidden" name="ACMS_POST_Module_Update" value="post" />
							<input type="hidden" name="takeover" value="{takeover}" />
							<!-- END submit2#update -->

							<input type="hidden" class="getMid" value="%{mid}" />

							<ul class="js-acms_admin_tabs"><!-- BEGIN_IF [{editStatus}/eq/update] -->
								<li><a href="#acms_box2">表示設定</a></li><!-- END_IF -->
								<li><a href="#acms_box1">条件設定</a></li>
								<li><a href="#acms_box3">カスタム情報</a></li>
							</ul>

							<div id="acms_box1" class="acms-admin-tabs-panel anchorFix">
								<div class="acms-admin-padding-small">
								<!--#include file="/include/module/edit.html"-->
								</div>
							</div>

							<div id="acms_box3" class="acms-admin-tabs-panel anchorFix">
								<div class="acms-admin-padding-small">
								<!--#include file="/admin/module/field.html"-->
								</div>
							</div>

							<!-- BEGIN_IF [{editStatus}/eq/update] -->

							<!-- END_MODULE Admin_Module_Edit -->
							<div id="acms_box2" class="acms-admin-tabs-panel anchorFix">
								<div class="acms-admin-padding-small">
								<!-- BEGIN_IF [%{ADMIN_PATH_MID}/eq/config/banner] -->
									<!-- BEGIN_MODULE Admin_Config_Banner -->
									<!--#include file="/admin/%{ADMIN_PATH_MID}_body.html"-->
									<!-- END_MODULE Admin_Config_Banner -->
								<!-- ELSE -->
									<!-- BEGIN_MODULE Admin_Config -->
									<!--#include file="/admin/%{ADMIN_PATH_MID}_body.html"-->
									<!-- END_MODULE Admin_Config -->
								<!-- END_IF -->
								</div>
							</div><!-- END_IF -->
						</div>
					</form>
					<iframe name="js-ajaxPostData" width="0" height="0" frameborder="0"></iframe>
					<!-- END_IF -->
				</div>
			</div>
		</div>
	</div>
</div>
