@charset "UTF-8";
/* CSS Document */

body{
	color: #333;
	font-size: 16px;
	font-family: 'Kozuka Gothic Pr6N M';
}

a{
	text-decoration: none;
	color: #333;
}

/*==================
layout
===================*/

.l-cf:before,
.l-cf:after {
    content: " ";
    display: table;
}
 
.l-cf:after {
    clear: both;
}

.l-container{
	width: 280px; 
	margin: 0 auto;
}

/*===================
header
=====================*/

header h1{
	background-color: cornflowerblue;
	color: #fff;
	font-size: 25px;
	margin: 0;
    padding: 9px 0 0px 0;
	text-align:center;
}

header h1 .logo{
}

/*==================
contents
=====================*/

/*==
toppage
====================*/

.btnList{
	position: absolute;
	top: 20%;
	width: 280px;
}

.topBtn{
	width: 46%;
	float: left;
	padding: 20% 2%;
	border-radius: 20px;
}

.topBtn a{
	color: #fff;
}

/*=================
userComment
====================*/

.user-icon{
	margin: 0 auto;
	display: block;
	padding: 10% 0 3% 0;
}

.user-comment{
	color: #333;
	position: relative;
	display: inline-block;
	padding: 0 15px;
	width: auto;
	line-height: 32px;
	text-align: center;
	background: #F6F6F6;
	border: 2px solid #333;
	z-index: 0;
	border-radius: 20px;
	width: 87%;
}

.user-comment:before {
	content: "";
	position: absolute;
	top: -9px; left: 50%;
	margin-left: -9px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent #F6F6F6 transparent;
	z-index: 0;
}

.user-comment:after {
	content: "";
	position: absolute;
	top: -12px; left: 50%;
	margin-left: -10px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 11px 11px 11px;
	border-color: transparent transparent #19283C transparent;
	z-index: -1;
}

.user-comment dt.name{
	border-bottom: dotted #333 2px;
	padding: 2% 0;
}

.user-comment dd{
	margin-left: 0;
	padding: 2% 0;
}

/*=================
user-registaration
====================*/

.user-registaration{
	
}

.user-registaration{
	color: #333;
	position: relative;
	display: inline-block;
	padding: 0 15px;
	width: auto;
	line-height: 32px;
	text-align: center;
	background: #F6F6F6;
	border: 2px solid #333;
	z-index: 0;
	border-radius: 20px;
	width: 87%;
	margin: 5% 0;
}

.user-registaration:before {
	content: "";
	position: absolute;
	top: -9px; left: 50%;
	margin-left: -9px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent #F6F6F6 transparent;
	z-index: 0;
}

.user-registaration:after {
	content: "";
	position: absolute;
	top: -12px; left: 50%;
	margin-left: -10px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 11px 11px 11px;
	border-color: transparent transparent #19283C transparent;
	z-index: -1;
}

.user-registaration input[type="text"],.user-registaration p{
	width: 100%;
	background-color: transparent;
	border: 0;
	border-bottom: dotted #333 2px;
	margin: 2% 0;
}

.user-registaration textarea{
	width: 100%;
	background-color: transparent;
	border: 0;
}

input[type="button"]{
	background: cornflowerblue; 
    box-shadow: 0px 5px 0px 0px #2051a9;
    color: #fff; 
    border-radius: 20px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; border: 0;
    padding: 2% 15%;
    outline: none;
    margin: 5% auto;
    display: block;
}

input[type="button"]:hover,input[type="button"]:hover{
    box-shadow: 0px 2px 0px 0px #2051a9;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
}

.search{
	position: absolute;
	top: 5px;
    right: 10px;
    width: 45px;
}

.add{
	position: absolute;
	top: 6px;
    right: 12px;
    width: 34px;
}

.reset{
	position: absolute;
	top: 10px;
    right: 12px;
    width: 28px;
}

/*完了*/

.registration-h2 {
    text-align: center;
    border-bottom: dotted 2px #000;
    margin: 10% 0;
    font-size: 1.1em;
}

/*error*/

.yes,.no{
	box-shadow: 0px 5px 0px 0px #2051a9;
	border-radius: 20px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; 
    padding: 2% 15%;
    outline: none;
    margin: 5% auto;
    display: block;
    width: 13%;
    text-align: center;
}

.yes{
	background: #fff; 
    color: #333;
    border: 1.5px #2051a9 solid;
    float: right;
}

.no{
	background: cornflowerblue; 
    color: #fff;
    border: 1.5px cornflowerblue solid; 
    float: left;
}

/*===================
footer
=====================*/

footer{
	text-align: center;
	border-top: cornflowerblue 1px solid;
	margin-top: 50px;
	padding: 5px 0 3px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #fff;
}

footer p{
	display: inline-block;
}

footer small{
	display: inherit;
}

/*=====================
map
======================*/

html, body{
	height: 94.5%; margin: 0; padding: 0; 
}

#map{
	height: 94.5%;
}