
body {
	color: #444;
	font-size: 16px;
}

ul,
ol {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #444;
}

.container {
	width: 1040px;
	margin: 0 auto;
}


.cb {
	clear: both;
}

.cf {
	zoom: 1;
}
.cf:after {
	content: "";
	display: block;
	clear: both;
}



main,
aside {
	margin: 50px 0;
}

.btn {
	box-sizing: border-box;
	font-size: 18px;
	padding: 12px 0;
	text-align: center;
	display: block;
	border-radius: 8px;
	background-color: #A2C68B;
	border: 3px solid #A2C68B;
	margin-right: 12%;
	width: 200px;
}

header nav {
	background-color: #A2C68B;
	font-size: 18px;
	text-align: center;
}

header nav ul {
	list-style: none;
}
header nav ul a {
	color: #FFF;
	border-right: 2px solid rgba(255, 255, 255, .6);
	display: block;
	padding: 4px 0;
	margin: 12px 0;
}

header nav ul li {
	width: 25%;
	box-sizing: border-box;
	float: left;
}
header nav ul li:last-child {
	border: 0;
}
header nav ul li:hover,
header nav ul li.active {
	background-color: #7EA068;
}

main.top {
	padding-top: 110px;
}
main.top img {
	display: block;
	margin: 0 auto;
}
main.top a.in,
main.top a.up {
	float: left;
	width: 44%;
	font-size: 22px;
}
main.top a:last-child {
	margin-right: 0;
}
main.top a.up {
	background-color: transparent;
}
main.top .top-btn,
main.top .login-form {
	width: 50%;
	margin: 0 auto;
	padding-top: 60px;
}

main.top.login img {
	width: 30%;
}

main.top.login a.in {
	float: none;
	font-size: 18px;
	margin: 0 auto;
}

main.top.login label {
	width: 50%;
	float: left;
	text-align: center;
}
main.top.login label input {
	margin: 10px 0 30px 0;
	padding: 10px;
}

main.top.signup img {
	width: 30%;
}

main div.registration {
	width: 40%;
	margin: 120px auto;
	text-align: center;
	background-image: url("../images/saving_pig.png");
	background-repeat: no-repeat;
	background-position: top center;
	padding: 120px 50px 150px 30px;
}
main div.registration p {
	padding-bottom: 20px;
}
main div.registration p.saving-money {
	font-size: 46px;
}
main div.registration .btn {
	margin: 0 auto;
}
main div.registration.edit {
	margin-bottom: 50px;
}

main div.registration-edit {
	width: 50%;
	margin: 120px auto;
}
main div.registration-edit input {
	margin-top: 15px;
	padding: 5px 10px;
	text-align: center;
}
main div.registration-edit p {
	width: 40%;
	margin: 40px auto;
}
main div.registration-edit p span {
	margin-left: 50px;
}
main div.registration-edit .btn {
	font-size: 16px;
	margin-top: 70px;
	margin: 0 auto;
}

main div.saving-edit-item {
	border-top: 5px solid #A2C68B;
	border-bottom: 5px solid #A2C68B;
	padding: 10px 0;
	margin-bottom: 20px;
}
main div.saving-edit-item li {
	width: 32%;
	box-sizing: border-box;
	display: inline-block;
	border-right: 2px solid #A2C68B;
}
main div.saving-edit-item li:last-child {
	border: 0;
}
main div.saving-edit-item li img {
	height: 40px;
	display: block;
	margin: 0 auto;
}

main img.ui-datepicker-trigger {
	width: 28px;
	margin: 0 0 -5px 10px;
}

button.fc-button {
	width: 30px;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	text-shadow: none;
	box-shadow: none;
}
button.fc-button img {
	width: 25px;
}

.fc-scroller {
	height: auto !important;
	overflow-x: inherit !important;
	overflow-y: inherit !important;
}

.fc td span.fc-day-number {
	display: inline-block;
	width: 100%;
	text-align: center;
	top: 50%;
	margin-top: 20px;
}

.fc-unthemed .fc-today {
	background: #A2C68B;
	border-radius: 50%;
}

footer {
	background-color: #A2C68B;
	text-align: center;
	font-size: 16px;
}

/* オフキャンバス内のスタイル */
/*.list-group {
	margin-bottom: 0;
}

.list-group li {
	border-bottom: 1px solid #CCC;
	padding: 5px 0 15px 30px;
}

.list-group li:last-child {
	padding-top: 15px;
	border-bottom: none;
}

.list-group li a {
	color: #444;
	text-decoration: none;
}

.list-group-item:first-child {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.navbar-toggle {
	border-color: #333;
	position: relative;
	float: right;
	padding: 9px 10px;
	margin-top: 8px;
	margin-right: 15px;
	margin-bottom: 8px;
	border: 1px solid transparent;
	border-radius: 4px;
	display: none;
}*/

@media (min-width: 768px) {
	.navbar-toggle {
		display: none;
	}
}