.btn {
	background-color: #83e29b;
	border: 3px solid #83e29b;
}

button#hiraku-offcanvas-btn-1 {
    background-color: #83e29b;
}

header nav {
	background-color: #83e29b;
}

header nav ul li:hover,
header nav ul li.active {
	background-color: #83e29b;
}

main div.saving-edit-item {
	border-top: 5px solid #83e29b;
	border-bottom: 5px solid #83e29b;
}
main div.saving-edit-item li {
	border-right: 2px solid #83e29b;
}

.fc-unthemed .fc-today {
	background: #83e29b;
}

footer {
	background-color: #83e29b;
}
