<!-- BEGIN_MODULE Category_List -->
    <h3 class="c_title_aside l_cb">
        <i class="fa fa-folder-o" aria-hidden="true"></i>カテゴリー
    </h3>
    <!--#include file="/admin/module/setting.html"-->
    <!-- BEGIN category:loop --><!-- BEGIN ul#front -->
    <ul class="p_list_category list"><!-- END ul#front --><!-- BEGIN li#front -->
        <li class="list-group-item-ca"><!-- END li#front --><!-- BEGIN category:veil -->
            <a href="{url}">{name}</a><!-- END category:veil --><!-- BEGIN li#rear --><i class="fa fa-chevron-right" aria-hidden="true"></i>
        </li><!-- END li#rear --><!-- BEGIN ul#rear -->
    </ul><!-- END ul#rear --><!-- END category:loop -->
<!-- END_MODULE Category_List -->