<!-- BEGIN pager:veil -->
<nav class="contentsNav l-cb" role="navigation">
  <p class="cnt"><span class="num">{itemsFrom}</span> ～ <span class="num">{itemsTo}</span> 件目 / 全 <span class="num">{itemsAmount}</span> 件</p>
 
  <p class="pager">
<!-- BEGIN backLink -->
    <a href="{url}" class="back"><span class="ico">&laquo;</span></a>
<!-- END backLink -->
 
<!-- BEGIN page:loop -->
<!-- BEGIN link#front --><a href="{url}" {pageCurAttr}[raw]><!-- END link#front -->{page}<!-- BEGIN link#rear --></a><!-- END link#rear -->
<!-- BEGIN glue --><span class="sep">&nbsp;</span><!-- END glue -->
<!-- END page:loop -->
<!-- BEGIN lastPage:veil -->
<span class="omission">...</span><span class="sep">&nbsp;</span><a href="{lastPageUrl}">{lastPage}</a>
<!-- END lastPage:veil -->
 
<!-- BEGIN forwardLink -->
    <a href="{url}" class="forward"><span class="ico">&raquo;</span></a>
<!-- END forwardLink -->
  </p>
<!-- /.contentsNav --></nav>
 
<!-- END pager:veil -->