<!-- BEGIN_MODULE Blog_Field -->
<div class="profile-aside">
    <img src="%{ARCHIVES_DIR}{profileimage@path}" />
    <p class="name" id="name">
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
      <span itemprop="name">{b_name}</span>
      </span>
    </p>
    <p>{introduction}</p>
    <ul>
        <li><a href="http://twitter.com/{twitter}">
            <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
        </a></li>
        <li><a href="https://www.facebook.com/{facebook}">
            <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
        </a></li>
    </ul>
</div>
<!-- END_MODULE Blog_Field -->