<footer class="l-footer">
  <div class="c-footer-top clearfix">
    <div class="acms-container">
        <p class="c-footer-top__title">PV Ranking</p>
        <ol class="c-ranking">
          <!-- BEGIN_MODULE Entry_Summary id="ranking1" -->
          <!-- BEGIN unit:loop -->
          <!-- BEGIN entry:loop -->
          <li class="l_cf c-ranking__item">
            <a href="{url}">
              <p class="c-ranking__title">{title}</p>
              <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
          </li>
          <!-- END entry:loop -->
          <!-- END unit:loop -->
          <!-- END_MODULE Entry_Summary -->
          <!-- BEGIN_MODULE Entry_Summary id="ranking2" -->
          <!-- BEGIN unit:loop -->
          <!-- BEGIN entry:loop -->
          <li class="l_cf c-ranking__item">
            <a href="{url}">
              <p class="c-ranking__title">{title}</p>
              <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
          </li>
          <!-- END entry:loop -->
          <!-- END unit:loop -->
          <!-- END_MODULE Entry_Summary -->
          <!-- BEGIN_MODULE Entry_Summary id="ranking3" -->
          <!-- BEGIN unit:loop -->
          <!-- BEGIN entry:loop -->
          <li class="l_cf c-ranking__item">
            <a href="{url}">
              <p class="c-ranking__title">{title}</p>
              <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
          </li>
          <!-- END entry:loop -->
          <!-- END unit:loop -->
          <!-- END_MODULE Entry_Summary -->
          <!-- BEGIN_MODULE Entry_Summary id="ranking4" -->
          <!-- BEGIN unit:loop -->
          <!-- BEGIN entry:loop -->
          <li class="l_cf c-ranking__item">
            <a href="{url}">
              <p class="c-ranking__title">{title}</p>
              <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
          </li>
          <!-- END entry:loop -->
          <!-- END unit:loop -->
          <!-- END_MODULE Entry_Summary -->
          <!-- BEGIN_MODULE Entry_Summary id="ranking5" -->
          <!-- BEGIN unit:loop -->
          <!-- BEGIN entry:loop -->
          <li class="l_cf c-ranking__item">
            <a href="{url}">
              <p class="c-ranking__title">{title}</p>
              <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
          </li>
          <!-- END entry:loop -->
          <!-- END unit:loop -->
          <!-- END_MODULE Entry_Summary -->
        </ol>
      </div>
  </div>
  <div class="c-footer-bottom">
    <small>© 2015-2017 kigiroku.</small>
  </div>
</footer>
