<footer class="l-footer">
  <div class="c-footer-top clearfix">
    <div class="acms-container">
      <div class="acms-col-md-6">
        <div class="c-footer-about clearfix">
          <p class="c-footer-top__title">About</p>
          <!-- BEGIN_MODULE Blog_Field id="blog_field" -->
          <div class="c-footer-about_img">
            <img src="%{ARCHIVES_DIR}{my_profileimage@path}" width="100%" alt="{my_name}">
          </div>
          <div class="c-footer-about_sns acms-col-md-3">
            <ul class="c-footer-sns">
              <li class="c-footer-sns__item -twitter"><a href="https://twitter.com/{Twitter}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li class="c-footer-sns__item -facebook"><a href="https://www.facebook.com/{FaceBook}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li class="c-footer-sns__item -feed"><a href="https://feedly.com/i/subscription/feed/http://kigiroku.com/rss2.xml"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
              <li class="c-footer-sns__item -instagram"><a href="https://www.instagram.com/{Instagram}/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
          </div>
          <div class="c-footer-about_data acms-col-md-9">
            <p class="c-footer-about_name">{my_name}</p>
            <p class="c-footer-about_description">{my_introduction}</p>
          </div>
          <!-- END_MODULE Blog_Field -->
        </div>
      </div>

      <div class="acms-col-md-6">
        <p class="c-footer-top__title">PV Ranking</p>
        <ol class="c-ranking">
          <!-- BEGIN_MODULE Entry_Summary id="ranking1" -->
          <!-- BEGIN unit:loop -->
          <!-- BEGIN entry:loop -->
          <li class="l_cf c-ranking__item">
            <a href="{url}">
              <div class="c-ranking__img" style="padding:0;">
                <img src="%{ARCHIVES_DIR}{mainImage@path}" alt="{title}"/>
              </div>
              <p class="c-ranking__title">{title}</p>
              <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
          </li>
          <!-- END entry:loop -->
          <!-- END unit:loop -->
          <!-- END_MODULE Entry_Summary -->
          <!-- BEGIN_MODULE Entry_Summary id="ranking2" -->
          <!-- BEGIN unit:loop -->
          <!-- BEGIN entry:loop -->
          <li class="l_cf c-ranking__item">
            <a href="{url}">
              <div class="c-ranking__img" style="padding:0;">
                <img src="%{ARCHIVES_DIR}{mainImage@path}" alt="{title}"/>
              </div>
              <p class="c-ranking__title">{title}</p>
              <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
          </li>
          <!-- END entry:loop -->
          <!-- END unit:loop -->
          <!-- END_MODULE Entry_Summary -->
          <!-- BEGIN_MODULE Entry_Summary id="ranking3" -->
          <!-- BEGIN unit:loop -->
          <!-- BEGIN entry:loop -->
          <li class="l_cf c-ranking__item">
            <a href="{url}">
              <div class="c-ranking__img" style="padding:0;">
                <img src="%{ARCHIVES_DIR}{mainImage@path}" alt="{title}"/>
              </div>
              <p class="c-ranking__title">{title}</p>
              <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
          </li>
          <!-- END entry:loop -->
          <!-- END unit:loop -->
          <!-- END_MODULE Entry_Summary -->
          <!-- BEGIN_MODULE Entry_Summary id="ranking4" -->
          <!-- BEGIN unit:loop -->
          <!-- BEGIN entry:loop -->
          <li class="l_cf c-ranking__item">
            <a href="{url}">
              <div class="c-ranking__img" style="padding:0;">
                <img src="%{ARCHIVES_DIR}{mainImage@path}" alt="{title}"/>
              </div>
              <p class="c-ranking__title">{title}</p>
              <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
          </li>
          <!-- END entry:loop -->
          <!-- END unit:loop -->
          <!-- END_MODULE Entry_Summary -->
          <!-- BEGIN_MODULE Entry_Summary id="ranking5" -->
          <!-- BEGIN unit:loop -->
          <!-- BEGIN entry:loop -->
          <li class="l_cf c-ranking__item">
            <a href="{url}">
              <div class="c-ranking__img" style="padding:0;">
                <img src="%{ARCHIVES_DIR}{mainImage@path}" alt="{title}"/>
              </div>
              <p class="c-ranking__title">{title}</p>
              <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
          </li>
          <!-- END entry:loop -->
          <!-- END unit:loop -->
          <!-- END_MODULE Entry_Summary -->
        </ol>
      </div>
    </div>
  </div>
  <div class="c-footer-bottom">
    <small>© 2015-2017 kigiroku.</small>
  </div>
</footer>
