/*===============normalize-css===================*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    list-style-type:none;
}

body {
    line-height:1;
}

::selection {
    background: #effac1; /* Safari */
}


article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
	text-decoration: none;
	color: #000;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*=====================
END normalize-css
======================*/

body{
    font-family: 'Times New Roman', '游明朝', 'YuMincho', 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'メイリオ', 'Meiryo', 'serif';
    line-height: 1.5;
    color: #444;
}

h1,h2,h3,h4,h5{
    font-family: 'Times New Roman', '游明朝', 'YuMincho', 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'HG明朝E', 'メイリオ', 'Meiryo', 'serif';
}


/*====================
layout
====================*/

h3{
    padding: .25em 0 .25em .45em;
    border-left: 6px solid #ccc;
    font-size: 1.3em;
    margin: 1.5% 0;
}

.l-container{
    width: 80%;
    margin: 0 auto;
}

l-cf:after{
    content: ""; 
    display: block; 
    height: 0; 
    font-size:0;
    clear: both; 
    visibility:hidden;
}

.l-cb{
    clear: both;
}

.l-tc{
    text-align: center;
}

.subColumn{
	width: 20%;
	margin-top: 15%;
	position: fixed;
}

.mainColumn{
	width: 80%;
	float: right;
    margin-top: 10%;
    padding-bottom: 10%;
}

/*===================
module
================*/

.logo{
    position: fixed;
}

.logo img{
	width: 35%;
	margin: 5%;
}

/*===
sub
===============*/

.nav{
	width: 290px;
	margin-bottom: 15%;
	font-size: 1.3em;
    position: relative;
}

.nav .navImg{
    width: 290px;
    overflow: hidden;
    border-bottom-right-radius: 20px;
}

.nav img{
	margin-left: -390px;
}

.nav p{
	padding-left: 15%;
}

.nav .navAbout{
    font-size: 0.7em;
    position: absolute;
    top: -70%;
    right: -40%;
    transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -webkit-transform: rotate(8deg);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 0;
    margin-top: 2%;
    padding: 11% 15% 12% 5%;
    background-image: url(../images/hukidasi.png);
    background-size: 80%;
    background-repeat: no-repeat;
}

.nav:hover .navAbout{
    opacity: 1;
}

/*===
main
===============*/

.title{
    background-image:url('../images/title.png'),url('../images/title.gif');
    background-repeat: no-repeat;
    background-size: 100%;
    width:500px;
    height: 500px;
    display: block;
    margin: 0 auto;
    margin-top: 10%;
}

.worksNav li{
    display: inline-block;
    padding: 3% 5%;
}



/* #filter
--------------------------- */
#filter {
    margin: 0 auto;
    padding: 15px 0;
    width: 1000px;
    text-align: center;
}

#filter a { 
    padding: 1% 5%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#filter a:link { 
    text-decoration:none; color: #000;
}

#filter a:visited {
    text-decoration:none; color: #000;
}

#filter a:active {
    text-decoration:none; color: #000;
    
}

#filter a:hover {
    text-decoration:none; color: #000;
    background-color: rgba(194,239,172,0.3);
    border-radius: 30px;
}
 
#filter .active {
    font-weight: bold;
    background-image: url(../images/leaf.png);
    background-size: 40px;
    background-repeat: no-repeat;
}

#filter .active:hover {
    background-color: #fff;
}

#filter a.active:link { text-decoration:none; color: #000;}
#filter a.active:visited { text-decoration:none; color: #000;}
#filter a.active:active { text-decoration:none; color: #000;}
#filter a.active:hover { text-decoration:none; color: #000;}
 
/* #filterlist
--------------------------- */
#filterlist {
    margin: 0 auto;
    width: 100%;
    text-align: left;
}
 
#filterlist ul {
    margin: 0 auto;
    padding: 0;
    width: 95%;
    text-align: left;
    margin-left: 50px;
}
 
#filterlist ul li {
    margin: 3.5% 1px 0% 3.5%;
    width: 200px;
    text-align: left;
    float: left;
    display: inline;
}

.worksListImg{
    height: 150px;
    overflow: hidden;
}

.filterImg{
    background-image: url(../images/works_bg_left.png),url(../images/works_bg_right.png);
    background-repeat: no-repeat;
    background-position: left top, right bottom;
    padding: 50px;
    width: 250px;
    height: 140px;
    position: relative;
}

.worksTitle{
    opacity: 0!important;
    position: absolute;
    top: 50%;
    left: 10%;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
    font-size: 1.1em;
}

.filterImg:hover .worksTitle{
    opacity: 1!important;
}

 
/* =======================================
    ClearFixElements
======================================= */
#filterlist ul:after {
    content: ".";
    height: 0;
    clear: both;
    display: block;
    visibility: hidden;
}
 
#filterlist ul {
    display: inline-block;
    overflow: hidden;
}

/*===========
profile
================*/

#profile h2{
    background-image: url(../images/profile_bg.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: bottom left;
    padding: 3% 0 1.5% 0;
    margin-bottom: 1.5%;
    font-size: 1.2em;
}

.profileName,.profileImg{
    width: 70%;
    float: left;
    margin: 5% 0;
}

.profileName{
    margin-bottom: 8%;
}

.profileName p:nth-child(3){
    margin-top: 3%;
}

.profileImg{
    width: 30%;
    float: right;
    margin-bottom: 0;
}

.profileImg img{
    width: 70%;
}

.profileSocial a{
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.fb a:hover{
    color: #305097;
    font-size: 1.1em;
}

.tw a:hover{
    color: #00aced;
    font-size: 1.1em;
}

.pin a:hover{
    color: #ce0f19;
    font-size: 1.1em;
}

.con a:hover{
    color: #6cc655;
    font-size: 1.1em;
}

.profileSocial li i{
    padding-right: 3%;
}

.profileSocial,.profileToudan{
    width: 50%;
    float: left;
}

.profileSocial,.profileToudan h2{
    background-size: 120%;
}

.profileToudan ul li{
    list-style: circle;
    margin-left: 5%;
}

/*================
entry
================*/

.flow{
	background-image: url('../images/flow_bg.png');
	background-size: 100%;
	margin: 5% 0;
}

.entryTitle{
    font-size: 1.4em;
    padding-bottom: 5%;
    background-image: url(../images/entryTitle_bg.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 50%;
}

.aboutList img{
	width: 3%;
	margin: 0 10%;
}

.worksImg{
    width: 500px;
    height: 250px;
    overflow: hidden;
    float: left;
    margin: 5%;
    text-align: center;
    overflow-y: auto;
}

.worksAbout{
    width: 35%;
    float: left;
    margin-top: 5%;
}

.aboutList span{
	width: 80px;
    float: left;
}

.aboutList{
	padding: 2% 0;
}

.worksLink {
	background-color: #c2efac;
	border: 2px solid #c2efac;
	color: #339900;
	line-height: 30px;
    text-align: center;
    margin: 10% 0;
    -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
    border-radius: 10px;
}
.worksLink:hover {
	background-color: #fff;
	border-color: #c2efac;
	color: #a1ed7b;
}

.entryUnit p{
    margin: 3% 0;
}

.entryUnit img{
    padding: 5%;
    padding-right: 10%;
}

.pager li{
    width: 40%;
    display: inline-block;
    height: 50px;
}

.pager li:nth-of-type(1){
    float:left;
}

.pager li:nth-of-type(2){
    float:right;
    text-align: right;
}

.pager{
    padding-top: 5%;
}

/*==form====*/

input[name="email"],input[name="name"],textarea[name="inquiry"]{
    border: 0;
    padding: 10px;
    font-size: 1em;
    color: #444;
    border: solid 1px #ccc;
    margin: 0 0 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
    box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
}

input:focus,textarea:focus {
    outline: solid 2px #E4F984;
    background-color: rgba(228,249,132,0.2);
}

input[name="email"],input[name="name"]{
    width: 300px;
}

textarea[name="inquiry"]{
    width: 180%;
}

.contactBox{
    margin-left: 150px;
}

.contactForm th{
    background-image: url(../images/profile_bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom left;
    padding: 3% 0 1.5% 5%;
    border-bottom: 15px transparent solid;
    width: 40%;
    text-align: left;
}

.formInput th{
    width: 80%;
}

.labelRequired{
    font-size: 0.8em;
    color: #FF0000;
    margin: 0 5%;
}

.mainColumn input[type="submit"]{
    width: 20%;
    padding: 1%;
    border-radius: 10px;
    border: 0;
    background-color: #E4F984;
    font-size: 0.9em;
    margin: 1% 2%;
    float: left;
}

#btnToInput{
    background-color: rgba(228,249,132,0.6);
}

.errorText{
    color: #FF0000;
}

.formTitle{
    margin: 2% 0;
}

td {
    margin-top: 0;
    padding-bottom: 10%;
}

.formInput td {
    padding-bottom: 3%;
}

/*.acms-entry{
    margin-left: 20%;
}*/


/*=====================
footer
==================*/

#footer{
/*    position: fixed;*/
/*    bottom: 0;
    right: 0;*/
    float: right;
    width: 15%;
}

/*==================
修正
=================*/

.topSub{
    margin-top: 8%;
}

.topMain{
    margin-top: 0;
}


/*==============
レスポンシブ
=================*/

@media screen and (max-width: 991px){
    
    #filterlist ul{
        margin-left: 0;
    }
    
    .logo{
        position: static;
    }
    
    h1.logo {
        width: 25%;
        margin: 0 auto;
    }
    
    .logo img {
        width: 100%;
    }
    
    .subColumn {
        width: 100%;
        margin-top: 0;
        padding-top: 2.5%;
        text-align: center;
        position: static;
    }
    
    .mainColumn {
        width: 100%;
        float: none;
        margin: 5% auto;
    }
    
    .nav {
        width: 150px;
        text-align: center;
        margin-bottom: 0;
        display: inline-block;
    }
    
    .navImg,.navAbout{
        display: none;
    }
    
    /*==work==*/
    .filterImg {
        background-size: 78%,36%;
    }
    
    #filterlist ul li {
        margin: 2% 30px 0% 3.5%;
    }

    #filterlist {
        overflow-x: auto;
    }
    
    #filter {
        width: 100%;
    }

    #filterlist ul{
        width: 1170px;
    }

    .worksAbout {
        width: 80%;
        float: inherit;
    }

    .worksLink {
        margin: 0 auto;
        width: 50%;
        margin-top: 5%;
        margin-bottom: 10%;
    }

    .worksImg{
        width: 100%;
        margin-left: 0;
    }

    .aboutList img {
        width: 2%;
        margin: 0 5%;
    }
    
    textarea[name="inquiry"]{
        width: 130%;
    }

    .contactBox {
         margin-left: 0; 
    }
    
}

@media screen and (max-width: 767px){
    
    h1.logo {
        width: 45%;
    }
    
    .l-container{
        width: 90%;
    }

    body{
        font-size: 14px;
    }

    .title {
        width: 75%;
        height: 470px;
    }
    
    .subColumn {
        width: 100%;
        padding-top: 0; 
        margin-bottom: 8%;
    }
    
    .mainColumn {
        width: 100%;
    }
    
    .nav {
        font-size: 1.2em;
        width: 40%;
        margin: 2% 0;
    }
    
    #filterlist ul{
        width: 1100px;
    }
    
    #profile h2{
        font-size: 1.2em;
    }
    
    .profileName{
        width: 100%;
    }
    
    .profileImg{
        display: none;
    }
    
    /*==works==*/

    .filterImg {
        background-size: 58%,36%;
    }

    #filter {
        font-size: 1em;
    }
    
    #filter .active {
        background-size: 20px;
    }
    
    #filter a {
        padding: 1% 3%;
    }
    
    #filterlist {
        width: 100%;
    }
    
    
    #filterlist ul li {
        margin: 2% 20px 0% 3.5%;
    }

    .filterImg{
        padding: 35px;
    }
    
    /*==entry==*/
    
    .entryTitle {
        background-size: 90%;
        padding-bottom: 7%;
    }
    
    .worksAbout {
        width: 100%;
        float: none;
    }
    
    .worksImg img {
        width: 100%;
    }
    
    .aboutList span {
        width: 100px;
    }
    
    .aboutList img {
        width: 3%;
    }
    
    .worksLink {
        border-radius: 10px;
        line-height: 20px;
    }

    .worksImg{
        margin: 5% 0;
    }
    
    #footer{
        text-align: right;
        padding-top: 10%;
        width: 100%;
    }
    
    input[name="email"],input[name="name"]{
        width: 220px;
    }
    
    textarea[name="inquiry"]{
        width: 110%;
    }
    
    .mainColumn input[type="submit"]{
        width: 40%;
    }

    .contactBox {
        margin: 0 30px; 
    }

    .worksImg {
        overflow-y: hidden;
    }
    
    
}

.entryUnit li{
    list-style-type: circle;
    margin-left: 5%;
}

#adminBox {
    width: 50%;
    float: right;
}


