<div id="offcanvas" class="js-offcanvas">
  <div class="acms-hide-lg acms-hide-xl">
    <p class="c-offcanvas__close-btn-wrap"><a class="js-offcanvas-close c-offcanvas__close-btn" href="#top">close</a></p>
    <!-- グローバルナビ -->
    <!-- BEGIN_MODULE Navigation id="main_global_nav" -->
    <div>
      <!--#include file="/admin/module/setting.html"-->
      <!-- BEGIN navigation:loop -->
      <!-- BEGIN ul#front --><ul class="c-global-nav -offcanvas clearfix"><!-- END ul#front -->
      <!-- BEGIN li#front --><li class="c_{level} c-global-nav__item" data-match="{attr}"><!-- END li#front -->
        <!-- BEGIN link#front --><a href="{url}" target="{target}"><!-- END link#front -->
          <!-- BEGIN label:veil -->{label}[raw]<!-- END label:veil -->
          <!-- BEGIN link#rear --></a><!-- END link#rear -->
        <!-- BEGIN li#rear --></li><!-- END li#rear -->
      <!-- BEGIN ul#rear --></ul><!-- END ul#rear -->
      <!-- END navigation:loop -->
    </div>
    <!-- END_MODULE Navigation -->
  </div>
</div>
