<!-- BEGIN_MODULE Blog_Field id="blog_field" -->
<footer role="contentinfo" class="l-cb cyan">
	<div class="l-container">
		<ul>
			<li><a target="_blank" href="https://twitter.com/{Twitter}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
			<li><a target="_blank" href="https://www.facebook.com/{Facebook}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
		</ul>
		<p class="l-cb">
			<a href="/portfolio">ポートフォリオ</a>/<a href="/blog">ブログ</a>/<a href="/contact">ご連絡</a>
			<span class="copy">&copy; {copy}</span>
		</p>
	</div>
</footer>
<!-- END_MODULE Blog_Field -->