あああ
<header role="banner" class="cyan">
    	<h1><a href="http://kigiroku.com/"><img src="/images/logo.svg" alt="きぎろくのロゴ" itemprop="image"></a></h1>
		<div class="sidebar-offcanvas nav" id="sidebar">
		<!-- BEGIN_MODULE Navigation id="top_all_nav"-->
				<!-- BEGIN navigation:loop -->
		            <!-- BEGIN ul#front --><ul class="js-offcanvas"><!-- END ul#front -->
		                <!-- BEGIN li#front --><li {attr} class="c_{level}" ><!-- END li#front -->
							<!-- BEGIN link#front --><a href="{url}" class="" target="{target}"><!-- END link#front -->
							<!-- BEGIN label:veil -->{label}[raw]<!-- END label:veil -->
							<!-- BEGIN link#rear --></a><!-- END link#rear -->
						<!-- BEGIN li#rear --></li><!-- END li#rear -->
		            <!-- BEGIN ul#rear --></ul><!-- END ul#rear -->
            <!-- END navigation:loop -->
		<!-- END_MODULE Navigation -->
        </div>
        <div class="acms-hide-pc offcanvasBtn">
			<a href="#offcanvas" data-target="#offcanvas" class="js-offcanvas-btn js-offcanvas-btn-r" tabindex="-1">
				<img src="/images/menu.png" width="35">
			</a>
		</div>
</header>
<div class="border"></div>