<!-- BEGIN_MODULE Entry_Body -->
<header class="acms-admin-grid">
	<div class="acms-admin-col-md-6">
		<h1 class="acms-admin-admin-title"><i class="acms-admin-icon acms-admin-icon-entry"></i><!--T-->エントリー編集<!--/T--></h1>
	</div>
	<div class="acms-admin-col-md-6">
		<!--#include file="/admin/topicpath.html"-->
	</div>
</header>

<!-- BEGIN_IF [<!-- BEGIN_MODULE Admin_Messages -->{message}<!-- END_MODULE Admin_Messages -->/eq/save/_or_/%{new}/eq/true] -->
<p class="acms-admin-alert acms-admin-alert-info">
	<button class="js-acms-alert-close">×</button>
	<!--T-->保存しました。<!--/T-->
</p>
<!-- END_IF -->

<!-- BEGIN_IF [{notice_mess}/nem/] -->
<p class="acms-admin-alert acms-admin-alert-info"><button class="js-acms-alert-close">×</button><!--T-->エントリーを更新しました。<!--/T--></p><!-- END_IF -->

<!-- BEGIN entry:loop -->
<div class="acms-admin-box-medium">
<!--#include file="/admin/entry/revision-info.html"-->
</div>
<article class="entry">
	<section>
		<!-- BEGIN adminEntryEdit -->
		<!--#include file="/admin/form2/edit.html"-->
		<!--#include file="/admin/form2/add.html"-->
		<!--#include file="/admin/entry/edit.html"-->
		<!--#include file="/admin/entry/add.html"-->
		<!-- END adminEntryEdit -->
		
		<!--#include file="/admin/entry/action.html"-->
	</section>
</article>

<!-- END entry:loop -->
<!-- 1記事▲▲ -->
<!-- END_MODULE Entry_Body -->