<!-- BEGIN_MODULE Admin_Entry_Index -->
<header class="acms-admin-grid">
	<div class="acms-admin-col-md-6">
		<h1 class="acms-admin-admin-title"><i class="acms-admin-icon acms-admin-icon-entry"></i><!--T-->エントリー管理<!--/T--></h1>
	</div>
	<div class="acms-admin-col-md-6">
		<!--#include file="/admin/topicpath.html"-->
	</div>
</header>

<!-- BEGIN refresh -->
<p class="acms-admin-alert acms-admin-alert-info"><button class="js-acms-alert-close">×</button><!--T-->エントリー一覧を更新しました。<!--/T--></p><!-- END refresh --><!-- BEGIN index#notFound -->
<p class="acms-admin-alert acms-admin-alert-danger"><button class="js-acms-alert-close">×</button><!--T-->エントリーがありません。<!--/T--></p><!-- END index#notFound --><!-- BEGIN errorMessage -->
<p class="acms-admin-alert acms-admin-alert-danger"><button class="js-acms-alert-close">×</button><!--T-->子ブログのカテゴリーをグローバル（共有）カテゴリーではないものに変更することはできません。<!--/T--></p><!-- END errorMessage -->

<div class="acms-admin-filter">
	<form action="" method="post" class="acms-admin-form">
		<div class="acms-admin-form-group">
			<!--T-->絞り込み<!--/T-->:

			<select name="status">
				<option value=""><!--T-->全てのステータス<!--/T--></option>
				<option value="open"{status:selected#open}><!--T-->公開<!--/T--></option>
				<option value="close"{status:selected#close}><!--T-->非公開<!--/T--></option>
				<option value="draft"{status:selected#draft}><!--T-->下書き<!--/T--></option>
			</select>
			<input type="hidden" name="query[]" value="status" />

			<select name="session">
				<option value=""><!--T-->全ての期間<!--/T--></option>
				<option value="public"{session:selected#public}><!--T-->公開中<!--/T--></option>
				<option value="expiration"{session:selected#expiration}><!--T-->公開終了<!--/T--></option>
				<option value="future"{session:selected#future}><!--T-->未来公開<!--/T--></option>
			</select>
			<input type="hidden" name="query[]" value="session" />

			<!-- BEGIN userSelect#filter -->
			<select name="uid">
				<option value=""><!--T-->全てのユーザー<!--/T--></option><!-- BEGIN_MODULE Admin_User_Select --><!-- BEGIN loop -->
				<option value="{value}"{selected}>{label}</option><!-- END loop --><!-- END_MODULE Admin_User_Select -->
			</select>
			<!-- END userSelect#filter -->

			<select name="cid" id="js-entry_index_category_filter">
				<option value=""><!--T-->全てのカテゴリー<!--/T--></option>
				<option value="0"{non_category#selected}><!--T-->カテゴリーなし<!--/T--></option><!-- BEGIN_MODULE Admin_Category_SelectGlobal --><!-- BEGIN loop -->
				<option value="{value}"{selected}>{indent}[raw]{label} ( {amount} )</option><!-- END loop --><!-- END_MODULE Admin_Category_SelectGlobal -->
			</select>
			<input type="hidden" name="_cid" value="" id="js-entry_index_category_filter_dup"/>
			<input type="hidden" name="query[]" value="_cid" />

			<!-- BEGIN_MODULE Admin_Blog_Select -->
			<select name="_bid">
				<option value=""><!--T-->現在のブログ<!--/T--></option><!-- BEGIN loop -->
				<option value="{value}"{selected}>{indent}[raw]{label}</option><!-- END loop -->
			</select>
			<input type="hidden" name="query[]" value="_bid" />
			<!-- END_MODULE Admin_Blog_Select -->
			<!-- BEGIN axis -->
			<input type="hidden" name="axis" value="self" />
			<div class="acms-admin-form-checkbox">
				<input type="checkbox" name="axis" value="descendant-or-self"{axis:checked#descendant-or-self} id="input-checkbox-axis-descendant-or-self" />
				<label for="input-checkbox-axis-descendant-or-self">
					<i class="acms-admin-ico-checkbox"></i><!--T-->下階層のブログも表示<!--/T-->
				</label>
				<input type="hidden" value="axis" name="query[]">
			</div>
			<!-- END axis -->
		</div>

		<div class="acms-admin-form-group">
			<label for="filter-keyword" class="acms-admin-show-sp"><!--T-->キーワード<!--/T-->:</label>
			<input type="text" name="keyword" value="%{KEYWORD}" class="acms-admin-form-width-medium" id="filter-keyword" placeholder="<!--T-->タイトル・本文・カスタムフィールドから検索（複数指定可）<!--/T-->"/>
		</div>
		&nbsp;
		<label for="filter-order" class="acms-admin-show-sp"><!--T-->ソート<!--/T-->:</label>
		<select class="input-sm" name="order" id="filter-order">
			<option value="datetime-asc"{order:selected#datetime-asc}><!--T-->日付<!--/T--> (<!--T-->昇順<!--/T-->)</option>
			<option value="datetime-desc"{order:selected#datetime-desc}><!--T-->日付<!--/T--> (<!--T-->降順<!--/T-->)</option>
			<option value="code-asc"{order:selected#code-asc}><!--T-->ファイル名<!--/T-->（<!--T-->昇順<!--/T-->）</option>
			<option value="code-desc"{order:selected#code-desc}><!--T-->ファイル名<!--/T-->（<!--T-->降順<!--/T-->）</option>
			<option value="id-asc"{order:selected#id-asc}>ID（<!--T-->昇順<!--/T-->）</option>
			<option value="id-desc"{order:selected#id-desc}>ID（<!--T-->降順<!--/T-->）</option>
			<option value="sort-asc"{order:selected#sort-asc}><!--T-->表示順<!--/T-->（<!--T-->昇順<!--/T-->）</option>
			<option value="sort-desc"{order:selected#sort-desc}><!--T-->表示順<!--/T-->（<!--T-->降順<!--/T-->）</option>
		</select>
		&nbsp;
		<label for="filter-limit" class="acms-admin-show-sp"><!--T-->表示数<!--/T-->:</label>
		<select name="limit" id="filter-limit"><!-- BEGIN limit:loop -->
			<option value="{limit}"{selected}>{limit}</option><!-- END limit:loop -->
		</select>

		<input type="hidden" name="query[]" value="axis" />
		<input type="hidden" name="bid" value="%{BID}" />
		<input type="submit" name="ACMS_POST_2GET" value="<!--T-->表示<!--/T-->" class="acms-admin-btn-admin acms-admin-btn-admin-info acms-admin-width-sp" />
		<input type="hidden" name="admin" value="entry_index" />

	</form>
</div><!-- /.acms-filter -->
<!-- BEGIN sort#header -->
<div class="acms-admin-alert acms-admin-alert-info"><!--T-->ドラックでエントリーの表示順を変更できます<!--/T--></div>
<!-- END sort#header --><!-- BEGIN sort#headerUser -->
<div class="acms-admin-alert acms-admin-alert-info"><!--T-->ドラックでユーザー絞り込み時の表示順を変更できます<!--/T--></div><!-- END sort#headerUser --><!-- BEGIN sort#headerCategory -->
<div class="acms-admin-alert acms-admin-alert-info"><!--T-->ドラックでカテゴリー絞り込み時の表示順を変更できます<!--/T--></div><!-- END sort#headerCategory -->

<!-- BEGIN_MODULE Touch_NotApprovalORsessionWithApprovalAdministrator -->
<form action="" method="post" class="acms-admin-form acms-admin-float-right acms-admin-float-none-sp js-acms_fix_target acms-admin-position-right">
	<!--T-->カテゴリー<!--/T-->
	<!-- BEGIN_MODULE Admin_Category_SelectGlobal -->
	<select name="cid" class="acms-admin-select">
		<option value=""><!--T-->なし<!--/T--></option><!-- BEGIN loop -->
		<option value="{value}"{selected}>{indent}[raw]{label} ( {amount} )</option><!-- END loop -->
	</select>
	<!-- END_MODULE Admin_Category_SelectGlobal -->
	<input type="submit" name="ACMS_POST_2GET" value="<!--T-->作成<!--/T-->" class="acms-admin-btn-admin" />
	<input type="hidden" name="admin" value="entry_editor" />
	<input type="hidden" name="bid" value="%{BID}" />
</form>
<!-- END_MODULE Touch_NotApprovalORsessionWithApprovalAdministrator -->

<!-- BEGIN_MODULE Touch_ApprovalORsessionWithApprovalAdministrator -->
<form action="" method="post" class="acms-admin-form js-acms_fix_target">
	<!--T-->カテゴリー<!--/T-->
	<!-- BEGIN_MODULE Admin_Category_SelectGlobal -->
	<select name="cid" class="acms-admin-select">
		<option value=""><!--T-->なし<!--/T--></option><!-- BEGIN loop -->
		<option value="{value}"{selected}>{indent}[raw]{label} ( {amount} )</option><!-- END loop -->
	</select>
	<!-- END_MODULE Admin_Category_SelectGlobal -->
	<input type="submit" name="ACMS_POST_2GET" value="<!--T-->作成<!--/T-->" class="acms-admin-btn-admin" />
	<input type="hidden" name="admin" value="entry_editor" />
	<input type="hidden" name="bid" value="%{BID}" />
</form>
<!-- END_MODULE Touch_ApprovalORsessionWithApprovalAdministrator -->

<form method="post" action="" id="entry-list-form" class="acms-admin-form">
	<!-- BEGIN_MODULE Touch_NotApprovalORsessionWithApprovalAdministrator -->
	<div class="js-acms-tab-select clearfix js-acms_fix_marker js-acms_fix_target">
		<select name="action-entry" class="js-acms-tab-select-value acms-admin-float-left">
			<option value="action-order"{action-entry:selected#action-order}><!--T-->表示順<!--/T--></option>
			<option value="action-status"{action-entry:selected#action-status}><!--T-->ステータス<!--/T--></option>
			<!-- BEGIN_MODULE Touch_SessionWithCompilation -->
			<option value="action-user"{action-entry:selected#action-user}><!--T-->ユーザー<!--/T--></option>
			<!-- END_MODULE Touch_SessionWithCompilation -->
			<option value="action-category"{action-entry:selected#action-category}><!--T-->カテゴリー<!--/T--></option>
			<!-- BEGIN_MODULE Touch_SessionWithCompilation -->
			<option value="action-blog"{action-entry:selected#action-blog}><!--T-->ブログ<!--/T--></option>
			<option value="action-duplicate"{action-entry:selected#action-duplicate}><!--T-->複製<!--/T--></option>
			<!-- END_MODULE Touch_SessionWithCompilation --><!-- BEGIN adminDeleteAction -->
			<option value="action-delete"{action-entry:selected#action-delete}><!--T-->削除<!--/T--></option><!-- END adminDeleteAction -->
		</select>

		<!-- BEGIN sort:action#entry -->
		<div id="action-order" class="js-acms-tab-select-panel js-acms-tab-select-active acms-admin-float-left">
			<input type="submit" name="ACMS_POST_Entry_Index_Sort_Entry" value="<!--T-->変更<!--/T-->" class="acms-admin-btn-admin acms-admin-btn-admin-primary" />
		</div><!-- END sort:action#entry --><!-- BEGIN sort:action#category -->
		<div id="action-order" class="js-acms-tab-select-panel js-acms-tab-select-active acms-admin-float-left">
			<input type="submit" name="ACMS_POST_Entry_Index_Sort_Category" value="<!--T-->変更<!--/T-->" class="acms-admin-btn-admin acms-admin-btn-admin-primary" />
		</div><!-- END sort:action#category --><!-- BEGIN sort:action#user -->
		<div id="action-order" class="js-acms-tab-select-panel js-acms-tab-select-active acms-admin-float-left">
			<input type="submit" name="ACMS_POST_Entry_Index_Sort_User" value="<!--T-->変更<!--/T-->" class="acms-admin-btn-admin acms-admin-btn-admin-primary" />
		</div><!-- END sort:action#user -->

		<div id="action-status" class="js-acms-tab-select-panel acms-admin-float-left">
			<select name="status">
				<option value="open"><!--T-->公開<!--/T--></option>
				<option value="close"><!--T-->非公開<!--/T--></option>
				<option value="draft"><!--T-->下書き<!--/T--></option>
			</select>
			<input type="submit" name="ACMS_POST_Entry_Index_Status" value="<!--T-->変更<!--/T-->" class="acms-admin-btn-admin acms-admin-btn-admin-primary" />
		</div>
		<!-- BEGIN userSelect#batch --><!-- BEGIN_MODULE Admin_User_Select -->
		<div id="action-user" class="js-acms-tab-select-panel acms-admin-float-left">
			<select name="uid"><!-- BEGIN loop -->
				<option value="{value}"{selected}>{label}</option><!-- END loop -->
			</select>
			<input type="submit" name="ACMS_POST_Entry_Index_User" value="<!--T-->変更<!--/T-->" class="acms-admin-btn-admin acms-admin-btn-admin-primary" />
		</div>
		<!-- END_MODULE Admin_User_Select --><!-- END userSelect#batch -->

		<!-- BEGIN_MODULE Admin_Category_SelectGlobal -->
		<div id="action-category" class="js-acms-tab-select-panel acms-admin-float-left">
			<select name="cid" class="categoryWidth">
				<option value=""><!--T-->なし<!--/T--></option><!-- BEGIN loop -->
				<option value="{value}"{selected}>{indent}[raw]{label} ( {amount} )<!-- BEGIN status:touch#close -->【<!--T-->非公開<!--/T-->】<!-- END status:touch#close --></option><!-- END loop -->
			</select>
			<input type="submit" name="ACMS_POST_Entry_Index_Category" value="<!--T-->変更<!--/T-->" class="acms-admin-btn-admin acms-admin-btn-admin-primary" />
		</div>
		<!-- END_MODULE Admin_Category_SelectGlobal -->

		<!-- BEGIN_MODULE Touch_SessionWithAdministration -->
		<!-- BEGIN_MODULE Admin_Blog_SelectGlobal -->
		<div id="action-blog" class="js-acms-tab-select-panel acms-admin-float-left">
			<select name="bid"><!-- BEGIN loop -->
				<option value="{value}"{selected}>{indent}[raw]{label}</option><!-- END loop -->
			</select>
			<input type="submit" name="ACMS_POST_Entry_Index_Blog" value="<!--T-->変更<!--/T-->" class="acms-admin-btn-admin acms-admin-btn-admin-primary" /><br /><span class="acms-admin-tab-text">( <!--T-->※変更されたエントリーはログイン中のユーザーの所有になり、カテゴリーの設定は解除されます。ただし、グローバルカテゴリーとして設定されている場合はカテゴリーが保持されます<!--/T--> )</span>
		</div>
		<!-- END_MODULE Admin_Blog_SelectGlobal -->
		<!-- END_MODULE Touch_SessionWithAdministration -->

		<!-- BEGIN_MODULE Touch_SessionWithCompilation -->
		<div id="action-duplicate" class="js-acms-tab-select-panel acms-admin-float-left">
			<input type="submit" name="ACMS_POST_Entry_Index_Duplicate" value="<!--T-->複製<!--/T-->" class="acms-admin-btn-admin acms-admin-btn-admin-primary" /><br />
			<span class="acms-admin-tab-text">( <!--T-->※この操作は、件数が多いと処理に時間がかかることがあります<!--/T--> )</span>
		</div>
		<!-- END_MODULE Touch_SessionWithCompilation -->
		<!-- BEGIN adminDeleteAction2 -->
		<div id="action-delete" class="js-acms-tab-select-panel acms-admin-float-left">
			<input type="submit" name="ACMS_POST_Entry_Index_Trash" value="<!--T-->削除<!--/T-->" onclick="return confirm('<!--T-->ゴミ箱に移します。\nよろしいですか？<!--/T-->')" class="acms-admin-btn-admin acms-admin-btn-admin-danger" />
		</div><!-- END adminDeleteAction2 -->
	</div>
	<!-- END_MODULE Touch_NotApprovalORsessionWithApprovalAdministrator -->

	<table class="adminTable acms-admin-table-admin acms-admin-table-heading js-admin_table-sortable acms-admin-table-hover" data-sort-enable="{sortable}" data-sort-submit="{postSortType}" data-sort-target="#entry-list-form" data-sort-order="%{ORDER}">
		<!-- <thead class="acms-admin-table-admin-title js-acms_fix_target"> -->
		<thead>
			<tr>
				<th class="item-handle acms-admin-hide-sp"></th>
				<th class="acms-admin-table-center acms-admin-th-checkbox acms-admin-show-sp">
				<div class="acms-admin-form-checkbox">
					<input type="checkbox" id="checkAll" />
					<label for="checkAll"><i class="acms-admin-ico-checkbox"></i><span class="acms-admin-hide-visually"><!-- T -->すべてのエントリーを選択する<!--T--></span></label>
				</div></th>
				<th class="acms-admin-hide-sp"><!--T-->表示順<!--/T--></th>
				<th class="acms-admin-hide-sp">eid</th>
				<th class="acms-admin-show-sp"><!--T-->ステータス<!--/T--> / <!--T-->タイトル<!--/T--> / <!--T-->コード<!--/T--> / <!--T-->日時<!--/T--> / <!--T-->ブログ<!--/T--> / <!--T-->カテゴリー<!--/T--></th>
				<th class="acms-admin-hide-sp" colspan="2"><!--T-->ユーザー<!--/T--></th>
			</tr>
		</thead>
		<tbody>
			<!-- BEGIN entry:loop -->
			<tr data-sort-level="parallel" data-sort-name="sort-{sort#eid}">
				<td class="item-handle acms-admin-td-sort" style="cursor: move;"><i class="acms-admin-icon-sort"></i></td>
				<td class="acms-admin-table-center acms-admin-td-checkbox">
					<div class="acms-admin-form-checkbox">
						<input type="checkbox" id="input-checkbox-eid{sort#eid}" name="checks[]" value="{bid}:{eid}" />
						<label for="input-checkbox-eid{sort#eid}"><i class="acms-admin-ico-checkbox"></i><span class="acms-admin-hide-visually"><!-- T -->エントリータイトル「<!-- /T -->{title}<!-- T -->」を選択する<!-- /T --></span></label>
					</div>
				</td>
				<td class="acms-admin-td-number">
					<!-- BEGIN sort:veil -->
					<input type="text" class="sort-number" name="sort-{sort#eid}" value="{sort}" size="4"{disabled}/><!-- END sort:veil -->
				</td>
				<td class="acms-admin-td-id">
					<span class="acms-admin-label label-default">{eid}</span>
				</td>
				<td class="acms-admin-td-status">
					<a href="{entryUrl}" class="acms-admin-td-title">
					<!-- <div class="acms-admin-admin-labelbox"> -->
						<small>
							<!-- BEGIN status#close -->
							<span class="acms-admin-label acms-admin-label-danger admin-status-label"><!--T-->非公開<!--/T--></span><!-- END status#close --><!-- BEGIN status#open --><span class="acms-admin-label acms-admin-label-info admin-status-label"><!--T-->公開<!--/T--></span><!-- END status#open --><!-- BEGIN status#draft --><span class="acms-admin-label acms-admin-label-warning admin-status-label"><!--T-->下書き<!--/T--></span><!-- END status#draft -->

						</small>
					<!-- </div> -->

					<p class="acms-admin-entryTitle">{title}</p></a> {code}
					<br>
					<ul class="acms-admin-list-inline">
						<li>{datetime}[date('Y/n/d H:i')]</li>
						<li><a href="{blogUrl}"><i class="acms-admin-icon acms-admin-icon-blog"></i>{blogName}</a></li>
						<!-- BEGIN category:veil -->
						<li><a href="{categoryUrl}"><i class="acms-admin-icon acms-admin-icon-category"></i>{categoryName}</a></li>
						<!-- END category:veil -->
					</ul>
				</td>
				<td class="acms-admin-td-user">
					<a href="{userUrl}"><img src="%{ARCHIVES_DIR}{userIcon}" width="24" height="24" alt="%{SESSION_USER_NAME}" class="acms-admin-admin-icon">{userName}</a>
				</td>

				<!--#include file="/admin/entry/field-list.html"-->
				<td class="acms-admin-td-edit">
					<div class="acms-admin-btn-group acms-admin-btn-group-entry admin-entry-dropdown-toggle">
						<div class="js-acms-dropdown-toggle">
							<button type="button" class="acms-admin-btn-admin" onclick="location.href='{editUrl}'"><!--T-->編集<!--/T--></button><button type="button" class="acms-admin-btn-admin js-acms-dropdown-btn" >
								<span class="acms-admin-arrow-bottom"></span>
							</button>
							<ul class="js-acms-dropdown-menu" role="menu"><!-- BEGIN_MODULE Touch_Approval --><!-- BEGIN_MODULE Touch_sessionWithApprovalAdministrator -->
								<li><a href="/bid/%{BID}/eid/{eid}/admin/entry_approval-history/"><!--T-->承認履歴<!--/T--></a></li>
								<li class="acms-admin-divider"></li><!-- END_MODULE Touch_sessionWithApprovalAdministrator --><!-- END_MODULE Touch_Approval --><!-- BEGIN_MODULE Touch_SessionWithContribution -->
								<li><a href="#" class="js-acms_entry_index_duplicate"><!--T-->複製<!--/T--></a></li>
								<li class="acms-admin-divider"></li><!-- END_MODULE Touch_SessionWithContribution -->
								<!-- BEGIN adminDeleteActionLoop -->
								<li><a href="#" class="js-acms_entry_index_delete"><!--T-->削除<!--/T--></a></li><!-- END adminDeleteActionLoop -->
							</ul>
						</div>
					</div>
				</td>
			</tr>
			<!-- END entry:loop -->
		</tbody>
	</table>
	<!-- BEGIN index -->
	<div class="acms-admin-grid">
		<div class="acms-admin-col-md-6 acms-admin-col-sm-12">
			<!-- BEGIN pager:veil -->
			<div class="acms-admin-pager-container">
				<ul class="acms-admin-pager"><!-- BEGIN backLink -->
					<li class="prev"><a href="{url}">&laquo;&nbsp;<!--T-->前へ<!--/T--></a></li><!-- END backLink --><!-- BEGIN page:loop -->
					<li{pageCurAttr}[raw]><span><!-- BEGIN link#front --><a href="{url}"><!-- END link#front -->{page}<!-- BEGIN link#rear --></a><!-- END link#rear --></span></li><!-- END page:loop --><!-- BEGIN lastPage:veil -->
					<li class="last"><a href="{lastPageUrl}">...{lastPage}</a></li><!-- END lastPage:veil --><!-- BEGIN forwardLink -->
					<li class="next"><a href="{url}"><!--T-->次へ<!--/T-->&nbsp;&raquo;</a></li><!-- END forwardLink -->
				</ul>
			</div>
			<!-- END pager:veil -->
		</div>
		<div class="acms-admin-col-md-6 acms-admin-col-sm-12">
			<div class="acms-admin-itemsAmount-container">
				<p>{itemsFrom}<!--T-->件<!--/T--> - {itemsTo}<!--T-->件<!--/T--> / <!--T-->全<!--/T-->{itemsAmount}<!--T-->件<!--/T--></p>
			</div>
		</div>
	</div><!-- /.acms-grid -->
	<!-- END index -->
</form>
<div class="js-acms_fix_target acms_fix_bg"><div class="acms_fix_bg_index"></div></div>
<!-- END_MODULE Admin_Entry_Index -->
