<!-- BEGIN_MODULE Touch_Version -->
	<div class="js-revision_action">
		<div class="comPostInner">
			<div class="comPostFull">
				<input type="text" name="revision_memo" value="" size="20" placeholder="<!--T-->バージョン名<!--/T-->">
				<input type="hidden" name="entry[]" value="revision_memo" />
			</div>
		</div>
		<div class="comPostInner">
			<div class="comPostFull">
				<select name="revision_type">
					<option value=""><!--T-->そのまま<!--/T--></option>
					<option value="revision"><!--T-->バージョンを残して<!--/T--></option>
					<option value="draft_revision"><!--T-->未来バージョンとして<!--/T--></option>
				</select>
				<input type="hidden" name="entry[]" value="revision_type" />
			</div>
		</div>
	</div>
</div>
<div class="comPostInner">
<!-- END_MODULE Touch_Version -->
