/* ------------------------------
　　フッター
------------------------------ */
.l-footer{
  .c-footer-top{
    background-color: rgba(55, 111, 152, 0.2);
    padding: 50px 0;
  }
  .c-footer-top__title{
    text-align: center;
    margin: 0;
    padding-bottom: 15px;
    margin-bottom: 30px;
    border-bottom: 1px solid #6D7276;
    font-family: $font-en;
    font-size: 20px;
  }
  .c-footer-about{
    position: relative;
  }
  .c-footer-about_img{
    height: 190px;
    overflow: hidden;
  }
  .c-footer-about_data{
    margin-top: -15px;
    background-color: rgba(255,255,255,0.7);
    padding: 5px 10px;
    position: absolute;
    bottom: 16px;
    right: 0;
    width: 274px;
  }
  .c-footer-about_name{
    text-align: center;
    font-size: 17px;
  }
  .c-footer-about_description{
    font-size: 14px;
    color: #95989A;
  }

  .c-footer-bottom{
    clear: both;
    background-color: $primary-color;
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 4px 0;
  }

  /* フッターのSNS */
  .c-footer-sns{
    list-style: none;
  }

  .c-footer-sns__item{
    a{
      color: #444;
      font-size: 26px;
    }
    &:before {
      position: absolute;
      font-size: 12px;
    }
    &:hover{
      i{
        -moz-transform: rotate(-20deg);
        -webkit-transform: rotate(-20deg);
        -o-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
        transform: rotate(-20deg);
      }
    }
    &.-twitter:hover{
      i{
        color: $twitter-color;
      }
      &:before{
        content: 'Twitter';
        left: -3px;
        color: $twitter-color;
      }
    }
    &.-facebook:hover{
      i{
        color: $facebook-color;
      }
      &:before{
        content: 'Facebook';
        left: -16px;
        color: $facebook-color;
      }
    }
    &.-feed:hover{
      i{
        color: $feed-color;
      }
      &:before{
        content: 'Feed';
        left: 0;
        color: $feed-color;
      }
    }
    &.-instagram:hover{
      i{
        color: $instagram-color;
      }
      &:before{
        content: 'Instagram';
        left: -17px;
        color: $instagram-color;
      }
    }
  }
  @media screen and (max-width: $breakpoint-md-max) {
    .c-footer-sns {
      padding-left: 0;
    }
  }
}
