/* ------------------------------
　　ヘッダー
------------------------------ */
.js-offcanvas{
  display: none;
}

.l-header{
  background-image: url("#{$root-theme-img}bg_main.jpg");
  width: 100%;
  height: 100%;
  padding: 50px 0 35px;
  margin-bottom: 40px;
  text-align: center;
  color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

  h1{
    margin: 0;
    position: relative;
    z-index: 1;
  }
  .c-logo{
    position: relative;
    z-index: 1;

    p{
      margin: 0;
    }
  }
  .p-header-fixed{
    .c-logo{
      text-align: left;
      margin-top: 8px;
      float: left;
    }
  }
  .c-header-filter{
    background: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

.header-fixed {
  width: 100%;
  position: fixed;
  top: -80px;
  background-color: #fff;
  transition: top ease-out .3s;
  height: 56px;
  z-index: 99999;
  box-shadow:0px 0px 12px 2px #c2c2c2;
  -moz-box-shadow:0px 0px 12px 2px #c2c2c2;
  -webkit-box-shadow:0px 0px 12px 2px #c2c2c2;
}

header.l-header.--index {
  background-image: none;
  margin-bottom: 0;
  padding: 50px 0 0;

  .header-fixed {
    top: 0;
  }
}

.header-fixed.-sp{
  background-color: #fff;
  height: 60px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.is-fixed{
  top: 0;
}

.c-global-nav{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;

  .c-global-nav__item{
    z-index: 9999;
    padding: 16px 10px;

    &:nth-child(2){
      margin: 0 30px;
    }
    a{
      color: #fff;
    }
    &.stay{
      background-color: $primary-color;
      color: #fff;

      a,span,i{
        color: #fff;
      }
    }
  }

  &.-entry{
    float: right;

    .c-global-nav__item{
      a,span,i{
        color: #444;
      }
      &:hover{
        color: $primary-color;
        a,i,span{
          color: $primary-color;
          text-decoration: none;
        }
      }
      &.stay{
        background-color: $primary-color;
        color: #fff;

        a,span,i{
          color: #fff;
        }
      }

    }
  }
  &.-offcanvas{
    display: block;

    .c-global-nav__item{
      padding: 15px;
      border-bottom: 1px solid #ddd;

      &:nth-child(2){
        margin: 0;
      }
      a,span,i{
        color: #444;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-md-max) {
  .l-header {
    .c-logo img {
      width: 120px;
    }
    .p-header-fixed{
      .c-logo{
        margin-top: 14px;
      }
    }
  }
}

.p-header-fixed__btn {
  width: 60px;
  height: 20px;
  text-align: center;
  position: absolute;
  top: 10px;
  right: 0;
  color: $primary-color;
}

.p-header-fixed__btn-icon{
  font-size: 28px !important;
}

.p-header-fixed__btn-text{
  font-size: 9px;
  display: block;
}

.c-offcanvas__close-btn{
  @include transparent-link-btn;
  font-family: 'FontAwesome';
  position: relative;

  &:before{
    content: $fa-var-close;
    position: absolute;
    top: 13px;
    left: 30px;
  }
}
