<link href="./css/docs.css" rel="stylesheet" media="screen">

<div class="acms-admin-col-12">
	<nav id="navSub">
		<!-- スタイルガイド内 ローカルナビゲーション -->
		<!-- #include file="/admin/styleguide/include/localNav.html" -->
	</nav>
</div>

<div class="styleguideMain">
	<h1>a-blog cms styleguide</h1>
	<p class="gulp-version">Ver.1.3.0</p>
	<p class="gulp-update">更新日時: 2016.12.27</p>
	<p class="acms-admin-text-danger"><i class="acms-admin-icon acms-admin-icon-attention"></i>a-blog cms Ver.2.5より、管理画面のクラス名の接頭辞が<code class="acms-admin-code">acms-admin-</code>に変更になりました。</p>

	<!--#include file="/admin/styleguide/include/at-first.html"-->

	<!-- ユーティリティ -->
	<!--#include file="/admin/styleguide/include/parts/utility.html"-->

	<!-- 表示非表示 -->
	<!--#include file="/admin/styleguide/include/parts/display.html"-->

	<!-- グリッドシステム -->
	<!--#include file="/admin/styleguide/include/parts/grid.html"-->

	<!-- テキスト -->
	<!--#include file="/admin/styleguide/include/parts/typo.html"-->

	<!-- コード -->
	<!--#include file="/admin/styleguide/include/parts/code.html"-->

	<!-- テーブル -->
	<!--#include file="/admin/styleguide/include/parts/table.html"-->

	<!-- テーブル（管理用） -->
	<!--#include file="/admin/styleguide/include/parts/adminTable.html"-->

	<!-- フォーム -->
	<!--#include file="/admin/styleguide/include/parts/form.html"-->

	<!-- ボタン -->
	<!--#include file="/admin/styleguide/include/parts/button.html"-->

	<!-- リストグループ -->
	<!--#include file="/admin/styleguide/include/parts/list-group.html"-->

	<!-- サマリー -->
	<!--#include file="/admin/styleguide/include/parts/summary.html"-->

	<!-- サムネイル -->
	<!--#include file="/admin/styleguide/include/parts/thumbnails.html"-->

	<!-- 絞り込みフィルター -->
	<!--#include file="/admin/styleguide/include/parts/filter.html"-->

	<!-- トピックパス -->
	<!--#include file="/admin/styleguide/include/parts/topicpath.html"-->

	<!-- タイトル -->
	<!--#include file="/admin/styleguide/include/parts/title.html"-->

	<!-- ページャー -->
	<!--#include file="/admin/styleguide/include/parts/pager.html"-->

	<!-- アラート -->
	<!--#include file="/admin/styleguide/include/parts/alert.html"-->

	<!-- ラベル -->
	<!--#include file="/admin/styleguide/include/parts/label.html"-->

	<!-- バッジ -->
	<!--#include file="/admin/styleguide/include/parts/badge.html"-->

	<!-- パネル -->
	<!--#include file="/admin/styleguide/include/parts/panel.html"-->

	<!-- ドロップダウンメニュー -->
	<!--#include file="/admin/styleguide/include/parts/dropdown.html"-->

	<!-- ツールチップ -->
	<!--#include file="/admin/styleguide/include/parts/tooltip.html"-->

	<!-- タブ -->
	<!--#include file="/admin/styleguide/include/parts/tab.html"-->

	<!-- プログレスバー -->
	<!--#include file="/admin/styleguide/include/parts/progressbar.html"-->

	<!-- アニメーション -->
	<!--#include file="/admin/styleguide/include/parts/animation.html"-->

	<!-- シンボルフォント -->
	<!--#include file="/admin/styleguide/include/parts/fonts.html"-->

</div>
