<header class="acms-admin-grid-r">
	<div class="acms-admin-col-md-6">
		<div class="acms-admin-admin-title acms-admin-module-title-wrapper">
			<i class="acms-admin-icon acms-admin-icon-config_entry_body"></i>
			<div class="acms-admin-module-title">
				<!-- BEGIN_MODULE Admin_Rule_Name -->
				<strong><!--T-->ルール<!--/T--> : {name}</strong><!-- END_MODULE Admin_Rule_Name --><!-- BEGIN_MODULE Admin_Module_Name -->
				<strong><!--T-->モジュールID<!--/T--> : {label} ( {identifier} )</strong><!-- END_MODULE Admin_Module_Name -->
				<h1><span class="js-dialog-title"><!--T-->JSON テンプレート<!--/T--></span><span class="acms-admin-module-en">Json_2Tpl</span></h1>
			</div>
		</div>
	</div>
	<div class="acms-admin-col-md-6">
		<!--#include file="/admin/topicpath.html"-->
	</div>
</header>

<!-- BEGIN_MODULE Admin_Config -->
<!-- BEGIN_IF [{notice_mess}/nem/] -->
<p class="acms-admin-alert acms-admin-alert-info"><button class="js-acms-alert-close">×</button><!--T-->設定を保存しました<!--/T--></p>
<!-- END_IF -->

<form action="" method="post" class="acms-admin-form js-dialog-body">
	<div class="acms-admin-form-group acms-admin-margin-sp">
		<a href="{indexUrl}" class="acms-admin-btn-admin"><!--T-->一覧<!--/T--></a>

		<input type="submit" name="ACMS_POST_Config" value="<!--T-->保存<!--/T-->" class="acms-admin-btn-admin acms-admin-btn-admin-primary acms-admin-btn-admin-save" />
		<!--#include file="/admin/config/action.html" -->

		<!-- BEGIN_MODULE Touch_SessionWithAdministration --><a href="{shortcutUrl}" class="acms-admin-btn-admin acms-admin-float-right acms-admin-float-none-sp"><i class="acms-admin-icon acms-admin-icon-shortcut"></i><!--T-->ショートカットに追加<!--/T--></a><!-- END_MODULE Touch_SessionWithAdministration -->
	</div>
	<!--#include file="/admin/%{ADMIN_PATH}_body.html"-->
</form>
<!-- END_MODULE Admin_Config -->
