<table>
	<tr>
		<th>お名前</th>
		<td>
			<input type="text" name="formName"/>
		</td>
	</tr>
	<tr>
		<th>メールアドレス</th>
		<td>
			<input type="text" name="formMail"/>
		</td>
	</tr>
	<tr>
		<th>お便り内容</th>
		<td>
			<textarea name="formText"></textarea>
		</td>
	</tr>
    <tr>
        <td>
		  <input type="button" value="送る" />
        </td>
	</tr>
</table>