
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Webを学んでいる名古屋の専門学生のポートフォリオです">
    <meta name="keywords" content="学生ポートフォリオ,ポートフォリオ,Web,専門学生,portfolio">
    <meta property="og:url" content="%{PERMALINK}" />
    <meta property="og:site_name" content="%{ROOT_BLOG_NAME}" />
    <meta property="og:title" content="木々録" />
    <meta name="og:description" content="Webを学んでいる名古屋の専門学生のポートフォリオです">
    <meta property="fb:admins" content="100004119878041" />
    <meta property="fb:app_id" content="1713201132290530" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@_h_miki10">
    <meta name="twitter:description" content="Webを学んでいる名古屋の専門学生のポートフォリオです">
    <!-- BEGIN_MODULE Touch_Entry -->
    <link rel="canonical" href="%{PERMALINK}" />
    <!-- END_MODULE Touch_Entry -->
    <title><!--#include file="/include/title.txt"--></title>

    <meta property="og:image" content="http://kigiroku.com/themes/portfolio/images/OGP.png" />    
    
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="/images/favicon.ico" >
    <link href="/css/acms-admin.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/style.css">
    
    <script type="text/javascript" src="/js/jquery-2.2.2.min.js"></script>
    <script src="/js/script.js"></script>
        <script src="/js/jquery.fadethis.min.js"></script>
    <!-- BEGIN_MODULE Js --><script type="text/javascript"
                                    src="/acms.js{arguments}" charset="UTF-8" id="acms-js"></script>
    <!--　END_MODULE Js -->
</head>