<nav>
	<div class="nav 0" style="<!-- BEGIN_MODULE Touch_Top -->
margin-top:100px;<!-- END_MODULE Touch_Top -->">
		<a href="/profile/index.html">
			<p>キギロクとは</p>
            <div class="navImg">
			 <img class="ex" src="/images/nav_bg.png" width="780" height="10"/>
            </div>
            <p class="navAbout">キギロクと中の人<br>についてわかります</p>
		</a>
	</div>
	<div class="nav 1">
		<a href="/works/index.html">
			<p>作品</p>
            <div class="navImg">
			 <img class="ex" src="/images/nav_bg.png" width="780" height="10"/>
            </div>
            <p class="navAbout">Webやグラフィク、<br>写真などの作品</p>
		</a>
	</div>
	<div class="nav 2">
		<a href="%{HOME_URL}blog" target="_blank">
			<p>備忘録</p>
            <div class="navImg">
			 <img class="ex" src="/images/nav_bg.png" width="780" height="10"/>
            </div>
            <p class="navAbout">ブログへ飛びます<br>随時更新中</p>
		</a>
	</div>
    <div class="nav 3">
		<a href="/contact/index.html">
			<p>お便り</p>
            <div class="navImg">
			 <img class="ex" src="/images/nav_bg.png" width="780" height="10"/>
            </div>
		</a>
	</div>
</nav>