<section id="profile">
   <div class="l-container">
       <h2>キギロクとは</h2>
       <p>このサイトはマークアップエンジニアを目指す専門学生のポートフォリオサイトです。<br>
           授業などで日頃制作したものを中心に紹介しております。<br>
           日々見やすいサイトを目指し改善していますので、ぜひご指摘ください。
       </p>
        <!-- BEGIN_MODULE Blog_Field -->
       
       <div class="profileName">
            <h2>名前</h2>
            <p>{b_name}</p>
            <p><i class="fa fa-comment-o"></i><br>{introduction}</p>
       </div>
       
       <div class="profileImg">
           <img src="/images/motimono.png"/>
       </div>
       
       <div class="profileSocial">
            <h2>ご連絡</h2>
            <ul>
				<li class="fb"><a href="https://www.facebook.com/{FaceBook}"><i class="fa fa-facebook"></i>{FaceBook}</a></li>
				<li class="tw"><a href="https://twitter.com/{Twitter}"><i class="fa fa-twitter"></i>{Twitter}</a></li>
				<li class="pin"><a href="https://jp.pinterest.com/{Pinterest}"><i class="fa fa-pinterest-p"></i>{Pinterest}</a></li>
                <li class="con"><a href="/contact/"><i class="fa fa-envelope-o"></i>お便りフォーム</a></li>
			</ul>
        </div>
       
       <div class="profileToudan">
           <h2>登壇</h2>
           <ul>
               <li>WCAN 2015 winter (ライトニングトーク)</li>
           </ul>
       </div>
       
       
        <!-- END_MODULE Blog_Field -->
    </div>
</section>
