
<div id="filter">
    <a href="javascript:void(0);" class="allitem">すべて</a> 
    <a href="javascript:void(0);" class="web">Web</a>
    <a href="javascript:void(0);" class="graphic">グラフィック</a> 
    <a href="javascript:void(0);" class="photo">写真</a>
    <a href="javascript:void(0);" class="other">その他</a>
</div>

<div id="filterlist">
    <ul>
    <!-- BEGIN_MODULE Entry_Summary -->
        <!-- BEGIN unit:loop -->
        <!-- BEGIN entry:loop -->
            <li class="{categoryCode}">
                <a href="{url}">
                    <div class="filterImg">
                        <div class="worksListImg">
                            <img src="%{ARCHIVES_DIR}{workImage@path}[resizeImg(250)]" />
                        </div>
                        <p class="worksTitle">{title}</p>
                    </div>
                </a>
            </li>
        <!-- END entry:loop -->
        <!-- END unit:loop -->
        </li>
    <!-- END_MODULE Entry_Summary -->
    </ul>
</div>


