<section id="adminTable" class="sectionBox">

<h1 class="sectionTitle" id="admin">管理画面用テーブル</h1>

<h2 class="sectionTitle2" id="admintable">一覧テーブル</h2>

<table class="%{STYLEGUIDE_PAGE}-table-admin" style="margin-top:20px">
	<tbody>
	<tr>
		<th>Table Heading</th>
		<th>Table Heading</th>
		<th>Table Heading</th>
		<th>Table Heading</th>
		<th>Table Heading</th>
		<th>Table Heading</th>
		<th>Table Heading</th>
	</tr>
	<tr>
		<th>Table Heading</th>
		<td>Table Data</td>
		<td>Table Data</td>
		<td>Table Data</td>
		<td>Table Data</td>
		<td>Table Data</td>
		<td>Table Data</td>
	</tr>
	<tr>
		<th>Table Heading</th>
		<td>Table Data</td>
		<td>Table Data</td>
		<td>Table Data</td>
		<td>Table Data</td>
		<td>Table Data</td>
		<td>Table Data</td>
	</tr>
	</tbody>
</table>
<pre class="code HTML">
&lt;table class="%{STYLEGUIDE_PAGE}-table-admin"&gt;
...
&lt;/table&gt;
</pre>

<h3>theadあり .%{STYLEGUIDE_PAGE}-table-heading</h3>
<table class="%{STYLEGUIDE_PAGE}-table-admin %{STYLEGUIDE_PAGE}-table-heading" style="margin-top:20px">
	<thead>
	<tr>
		<th>Table Heading</th>
		<th>Table Heading</th>
		<th>Table Heading</th>
		<th>Table Heading</th>
		<th>Table Heading</th>
		<th>Table Heading</th>
		<th>Table Heading</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<th>Table Heading</th>
		<td>Table Data</td>
		<td>Table Data</td>
		<td>Table Data</td>
		<td>Table Data</td>
		<td>Table Data</td>
		<td>Table Data</td>
	</tr>
	<tr>
		<th>Table Heading</th>
		<td>Table Data</td>
		<td>Table Data</td>
		<td>Table Data</td>
		<td>Table Data</td>
		<td>Table Data</td>
		<td>Table Data</td>
	</tr>
	</tbody>
</table>

<pre class="code HTML">
&lt;table class="%{STYLEGUIDE_PAGE}-table-admin %{STYLEGUIDE_PAGE}-table-heading"&gt;
&lt;thead&gt;
...
&lt;/thead&gt;
&lt;/table&gt;
</pre>

<h2 class="sectionTitle2">管理画面用 カラー</h2>
<table class="%{STYLEGUIDE_PAGE}-table-admin %{STYLEGUIDE_PAGE}-table-hover" style="margin-top:20px">
	<tbody>
	<tr class="%{STYLEGUIDE_PAGE}-table-info">
		<th>.%{STYLEGUIDE_PAGE}-table-info</th>
		<th>.%{STYLEGUIDE_PAGE}-table-info</th>
		<th>.%{STYLEGUIDE_PAGE}-table-info</th>
		<th>.%{STYLEGUIDE_PAGE}-table-info</th>
		<th>.%{STYLEGUIDE_PAGE}-table-info</th>
		<th>.%{STYLEGUIDE_PAGE}-table-info</th>
		<th>.%{STYLEGUIDE_PAGE}-table-info</th>
	</tr>
	<tr class="%{STYLEGUIDE_PAGE}-table-success">
		<th>.%{STYLEGUIDE_PAGE}-table-success</th>
		<td>.%{STYLEGUIDE_PAGE}-table-success</td>
		<td>.%{STYLEGUIDE_PAGE}-table-success</td>
		<td>.%{STYLEGUIDE_PAGE}-table-success</td>
		<td>.%{STYLEGUIDE_PAGE}-table-success</td>
		<td>.%{STYLEGUIDE_PAGE}-table-success</td>
		<td>.%{STYLEGUIDE_PAGE}-table-success</td>
	</tr>
	<tr class="%{STYLEGUIDE_PAGE}-table-warning">
		<th>.%{STYLEGUIDE_PAGE}-table-warning</th>
		<td>.%{STYLEGUIDE_PAGE}-table-warning</td>
		<td>.%{STYLEGUIDE_PAGE}-table-warning</td>
		<td>.%{STYLEGUIDE_PAGE}-table-warning</td>
		<td>.%{STYLEGUIDE_PAGE}-table-warning</td>
		<td>.%{STYLEGUIDE_PAGE}-table-warning</td>
		<td>.%{STYLEGUIDE_PAGE}-table-warning</td>
	</tr>
	<tr class="%{STYLEGUIDE_PAGE}-table-danger">
		<th>.%{STYLEGUIDE_PAGE}-table-danger</th>
		<td>.%{STYLEGUIDE_PAGE}-table-danger</td>
		<td>.%{STYLEGUIDE_PAGE}-table-danger</td>
		<td>.%{STYLEGUIDE_PAGE}-table-danger</td>
		<td>.%{STYLEGUIDE_PAGE}-table-danger</td>
		<td>.%{STYLEGUIDE_PAGE}-table-danger</td>
		<td>.%{STYLEGUIDE_PAGE}-table-danger</td>
	</tr>
</tbody>
</table>

<pre class="code HTML">
&lt;tr class=&quot;%{STYLEGUIDE_PAGE}-table-info&quot;&gt;
&lt;!-- info 青色 --&gt;
&lt;/tr&gt;
&lt;tr class=&quot;%{STYLEGUIDE_PAGE}-table-success&quot;&gt;
&lt;!-- success 緑 --&gt;
&lt;/tr&gt;
&lt;tr class=&quot;%{STYLEGUIDE_PAGE}-table-warning&quot;&gt;
&lt;!-- warning 黄色 --&gt;
&lt;/tr&gt;
&lt;tr class=&quot;%{STYLEGUIDE_PAGE}-table-danger&quot;&gt;
&lt;!-- danger 赤色 --&gt;
&lt;/tr&gt;
</pre>

<h2 class="sectionTitle2">管理画面用ストライプテーブル</h2>
<table class="%{STYLEGUIDE_PAGE}-table-admin %{STYLEGUIDE_PAGE}-table-admin-striped" style="margin-top:20px">
	<tbody>
	<tr>
		<th>Table Heading</th>
		<th>Table Heading</th>
		<th>Table Heading</th>
		<th>Table Heading</th>
		<th>Table Heading</th>
		<th>Table Heading</th>
		<th>Table Heading</th>
	</tr>
	<tr>
		<th>Table Heading</th>
		<td>Table Data</td>
		<td>Table Data</td>
		<td>Table Data</td>
		<td>Table Data</td>
		<td>Table Data</td>
		<td>Table Data</td>
	</tr>
	<tr>
		<th>Table Heading</th>
		<td>Table Data</td>
		<td>Table Data</td>
		<td>Table Data</td>
		<td>Table Data</td>
		<td>Table Data</td>
		<td>Table Data</td>
	</tr>
	<tr>
		<th>Table Heading</th>
		<td>Table Data</td>
		<td>Table Data</td>
		<td>Table Data</td>
		<td>Table Data</td>
		<td>Table Data</td>
		<td>Table Data</td>
	</tr>
	</tbody>
</table>
<pre class="code HTML">
&lt;table class="%{STYLEGUIDE_PAGE}-table-admin %{STYLEGUIDE_PAGE}-table-admin-striped"&gt;
...
&lt;/table&gt;
</pre>

<h2 class="sectionTitle2">組み合わせ</h2>
<table data-sort-order="" data-sort-target="#entry-list-form" data-sort-submit="" data-sort-enable="off" class="adminTable %{STYLEGUIDE_PAGE}-table-admin %{STYLEGUIDE_PAGE}-table-heading js-admin_table-sortable %{STYLEGUIDE_PAGE}-table-hover">
<thead>
	<tr>
		<th class="item-handle %{STYLEGUIDE_PAGE}-hide-sp" style="display: none;"></th>
		<th class="%{STYLEGUIDE_PAGE}-table-center %{STYLEGUIDE_PAGE}-th-checkbox %{STYLEGUIDE_PAGE}-show-sp">
			<div class="%{STYLEGUIDE_PAGE}-form-checkbox">
				<input type="checkbox" id="checkAll">
				<label for="checkAll"><i class="%{STYLEGUIDE_PAGE}-ico-checkbox"></i><span class="%{STYLEGUIDE_PAGE}-hide-visually">すべてのエントリーを選択する</span></label>
			</div>
		</th>
		<th class="%{STYLEGUIDE_PAGE}-hide-sp">表示順</th>
		<th class="%{STYLEGUIDE_PAGE}-hide-sp">eid</th>
		<th class="%{STYLEGUIDE_PAGE}-show-sp">ステータス / タイトル / コード / 日時 / ブログ / カテゴリー</th>
		<th colspan="2" class="%{STYLEGUIDE_PAGE}-hide-sp">ユーザー</th>
	</tr>
</thead>
<tbody>

	<tr data-sort-name="sort-25" data-sort-level="parallel">
		<td style="cursor: move; display: none;" class="item-handle %{STYLEGUIDE_PAGE}-td-sort"><i class="%{STYLEGUIDE_PAGE}-icon-sort"></i></td>
		<td class="%{STYLEGUIDE_PAGE}-table-center %{STYLEGUIDE_PAGE}-td-checkbox">
			<div class="%{STYLEGUIDE_PAGE}-form-checkbox">
				<input type="checkbox" id="input-checkbox-eid25" name="checks[]" value="1:25">
				<label for="input-checkbox-eid25"><i class="%{STYLEGUIDE_PAGE}-ico-checkbox"></i><span class="%{STYLEGUIDE_PAGE}-hide-visually">エントリータイトル「段組みテスト」を選択する</span></label>
			</div>
		</td>
		<td class="%{STYLEGUIDE_PAGE}-td-number">

			<input type="text" size="4" value="25" name="sort-25" class="sort-number">
		</td>
		<td class="%{STYLEGUIDE_PAGE}-td-id">
			<span class="%{STYLEGUIDE_PAGE}-label label-default">25</span>
		</td>
		<td class="%{STYLEGUIDE_PAGE}-td-status">
			<a class="%{STYLEGUIDE_PAGE}-td-title" href="#">
			<small><span class="%{STYLEGUIDE_PAGE}-label %{STYLEGUIDE_PAGE}-label-info admin-status-label">公開</span></small>

			<p class="%{STYLEGUIDE_PAGE}-entryTitle">段組みテスト</p></a> entry-25.html
			<br>
			<ul class="%{STYLEGUIDE_PAGE}-list-inline">
				<li>2013/12/16 19:25</li>
				<li><i class="%{STYLEGUIDE_PAGE}-icon %{STYLEGUIDE_PAGE}-icon-blog"></i>a-blog cms</li>

				<li><a href="#"><i class="%{STYLEGUIDE_PAGE}-icon %{STYLEGUIDE_PAGE}-icon-category"></i>お知らせ</a></li>

			</ul>
		</td>
		<td class="%{STYLEGUIDE_PAGE}-td-user">
			<a href="#"><img width="24" height="24" class="%{STYLEGUIDE_PAGE}-admin-icon" alt="管理人" src="/themes/system/images/usericon/user1.png">管理人</a>
		</td>


		<td class="%{STYLEGUIDE_PAGE}-td-edit">
			<div class="%{STYLEGUIDE_PAGE}-btn-group %{STYLEGUIDE_PAGE}-btn-group-entry admin-entry-dropdown-toggle">
				<div class="js-acms-dropdown-toggle">
					<button type="button" class="%{STYLEGUIDE_PAGE}-btn-admin" onclick="location.href='#'">編集</button><button type="button" class="%{STYLEGUIDE_PAGE}-btn-admin js-acms-dropdown-btn" >
						<span class="%{STYLEGUIDE_PAGE}-arrow-bottom"></span>
					</button>
					<ul class="js-acms-dropdown-menu" role="menu">
						<li><a href="#">承認履歴</a></li>
						<li class="%{STYLEGUIDE_PAGE}-divider"></li>
						<li><a href="#" class="js-acms_entry_index_duplicate">複製</a></li>
						<li class="%{STYLEGUIDE_PAGE}-divider"></li>

						<li><a href="#" class="js-acms_entry_index_delete">削除</a></li>
					</ul>
				</div>
			</div>
		</td>
	</tr>
</tbody>
</table>

<pre class="code HTML">
&lt;table class="adminTable %{STYLEGUIDE_PAGE}-table-admin %{STYLEGUIDE_PAGE}-table-admin-striped %{STYLEGUIDE_PAGE}-table-heading  js-admin_table-sortable %{STYLEGUIDE_PAGE}-table-hover"&gt;
...
&lt;/table&gt;
</pre>

<h2 class="sectionTitle2" id="table-edit">編集画面用テーブル</h2>
<table class="%{STYLEGUIDE_PAGE}-table-admin-edit" style="margin-top:20px">
	<tbody>
	<tr>
		<th>Table Heading</th>
		<th>Table Heading</th>
		<th>Table Heading</th>
		<th>Table Heading</th>
		<th>Table Heading</th>
		<th>Table Heading</th>
		<th>Table Heading</th>
	</tr>
	<tr>
		<th>Table Heading</th>
		<td>Table Data</td>
		<td>Table Data</td>
		<td>Table Data</td>
		<td>Table Data</td>
		<td>Table Data</td>
		<td>Table Data</td>
	</tr>
	<tr>
		<th>Table Heading</th>
		<td>Table Data</td>
		<td>Table Data</td>
		<td>Table Data</td>
		<td>Table Data</td>
		<td>Table Data</td>
		<td>Table Data</td>
	</tr>
	</tbody>
</table>
<pre class="code HTML">
&lt;table class="%{STYLEGUIDE_PAGE}-table-admin-edit"&gt;
...
&lt;/table&gt;
</pre>

<h2 class="sectionTitle2" id="table-edit">編集画面用テーブル（フォーム付き）</h2>
<h3 class="%{STYLEGUIDE_PAGE}-admin-title2">基本</h3>
	<table class="adminTable %{STYLEGUIDE_PAGE}-table-admin-edit %{STYLEGUIDE_PAGE}-form">
	<tbody>
	<tr>
		<th>キャッシュ</th>
		<td>
			<div class="%{STYLEGUIDE_PAGE}-form-checkbox">
				<input type="checkbox" name="cache" value="on" id="input-checkbox-cache">
				<label for="input-checkbox-cache"><i class="%{STYLEGUIDE_PAGE}-ico-checkbox"></i>有効</label>
			</div>
		</td>
	</tr>
	<tr>
		<th>キャッシュ有効時間</th>
		<td>
			<input type="text" size="8" value="86400" name="cache_expire" class="form-control"> 秒
			<input type="hidden" value="cache_expire" name="config[]">
			<input type="hidden" id="validator-cache_expire-digits" name="cache_expire:validator#digits">
			<label class="validator-result-" for="validator-cache_expire-digits">数字を入力して下さい。</label>
		</td>
	</tr>
	<tr>
	<th>アクセスログ</th>
	<td>
		<select name="log_access" type="text" class="form-control">
			<option value="off">取得しない</option>
			<option selected="selected" value="post">POSTのみ取得</option>
			<option value="on">全て取得</option>
		</select>
		<input type="hidden" value="log_access" name="config[]">

		保存期間
		<select name="log_access_save_period" type="text" class="form-control">
			<option value="7">7日間</option>
			<option selected="selected" value="30">30日間</option>
			<option value="90">90日間</option>
			<option value="365">1年間</option>
		</select>
		<input type="hidden" value="log_access_save_period" name="config[]">

	</td>
	</tr>
	</tbody>
</table>

<pre class="code HTML">
&lt;h3 class=&quot;%{STYLEGUIDE_PAGE}-title2&quot;&gt;基本&lt;/h3&gt;
&lt;table class=&quot;adminTable %{STYLEGUIDE_PAGE}-table-admin-edit %{STYLEGUIDE_PAGE}-form&quot;&gt;
&lt;tbody&gt;
&lt;tr&gt;
	&lt;th&gt;キャッシュ&lt;i data-acms-tooltip=&quot;キャッシュ機能の設定状態です。チェックが外された場合、キャッシュ機能は動作しません。&quot; class=&quot;%{STYLEGUIDE_PAGE}-icon-tooltip js-acms-tooltip&quot;&gt;&lt;/i&gt;&lt;/th&gt;
	&lt;td&gt;
	&lt;input type=&quot;hidden&quot; value=&quot;off&quot; name=&quot;cache&quot;&gt;
	&lt;label class=&quot;%{STYLEGUIDE_PAGE}-form-checkbox&quot;&gt;&lt;input type=&quot;checkbox&quot; checked=&quot;checked&quot; value=&quot;on&quot; name=&quot;cache&quot;&gt;&lt;i class=&quot;%{STYLEGUIDE_PAGE}-ico-checkbox&quot;&gt;&lt;/i&gt;有効&lt;/label&gt;
	&lt;input type=&quot;hidden&quot; value=&quot;cache&quot; name=&quot;config[]&quot;&gt;
	&lt;/td&gt;
&lt;/tr&gt;
&lt;/tbody&gt;
&lt;/table&gt;
</pre>

</section>
