<section id="alert" class="sectionBox">

	<h1 class="sectionTitle">アラート</h1>

	<p class="%{STYLEGUIDE_PAGE}-alert"><button class="js-acms-alert-close">×</button>デフォルト</p>
	<p class="%{STYLEGUIDE_PAGE}-alert %{STYLEGUIDE_PAGE}-alert-success"><button class="js-acms-alert-close">×</button>.%{STYLEGUIDE_PAGE}-alert-success</p>
	<p class="%{STYLEGUIDE_PAGE}-alert %{STYLEGUIDE_PAGE}-alert-info"><button class="js-acms-alert-close">×</button>.%{STYLEGUIDE_PAGE}-alert-info</p>
	<p class="%{STYLEGUIDE_PAGE}-alert %{STYLEGUIDE_PAGE}-alert-danger"><button class="js-acms-alert-close">×</button>.%{STYLEGUIDE_PAGE}-alert-danger</p>
	<p class="%{STYLEGUIDE_PAGE}-alert %{STYLEGUIDE_PAGE}-alert-warning"><button class="js-acms-alert-close">×</button>.%{STYLEGUIDE_PAGE}-alert-warning</p>

<pre class="code HTML">
&lt;p class=&quot;%{STYLEGUIDE_PAGE}-alert&quot;&gt;&lt;button class=&quot;js-acms-alert-close&quot;&gt;&times;&lt;/button&gt;デフォルト&lt;/p&gt;
&lt;p class=&quot;%{STYLEGUIDE_PAGE}-alert %{STYLEGUIDE_PAGE}-alert-success&quot;&gt;&lt;button class=&quot;js-acms-alert-close&quot;&gt;&times;&lt;/button&gt;.%{STYLEGUIDE_PAGE}-alert-success&lt;/p&gt;
&lt;p class=&quot;%{STYLEGUIDE_PAGE}-alert %{STYLEGUIDE_PAGE}-alert-info&quot;&gt;&lt;button class=&quot;js-acms-alert-close&quot;&gt;&times;&lt;/button&gt;.%{STYLEGUIDE_PAGE}-alert-info&lt;/p&gt;
&lt;p class=&quot;%{STYLEGUIDE_PAGE}-alert %{STYLEGUIDE_PAGE}-alert-danger&quot;&gt;&lt;button class=&quot;js-acms-alert-close&quot;&gt;&times;&lt;/button&gt;.%{STYLEGUIDE_PAGE}-alert-danger&lt;/p&gt;
&lt;p class=&quot;%{STYLEGUIDE_PAGE}-alert %{STYLEGUIDE_PAGE}-alert-warning&quot;&gt;&lt;button class=&quot;js-acms-alert-close&quot;&gt;&times;&lt;/button&gt;.%{STYLEGUIDE_PAGE}-alert-warning&lt;/p&gt;
</pre>

</section>
