/* ------------------------------
　　エントリーサマリー
------------------------------ */
.p-entry-summary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .c-entry-summary__label{
    margin: 0;
    padding: 3px 12px;
    background-color: #376f98;
    color: #fff;
    font-size: 14px;
    display: inline;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;
  }
  .c-entry-summary__item{
    position: relative;
    margin-bottom: 30px;
    width: 49%;
    border: 1px solid #ddd;
    height: 268px;

    &:hover{
      .c-entry-summary___img{
        -webkit-filter: blur(3px);
        filter: blur(3px);
      }
    }
  }
  .c-entry-summary___img{
    width: 100%;
    height: auto;
    -webkit-filter: blur(0px);
    filter: blur(0px);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .c-entry-summary__data{
    position: absolute;
    bottom: 6px;
    left: 0;
    width: 86%;
    background-color: rgba(255,255,255,0.8);
    padding: 24px 30px;
  }
  .c-entry-summary__data__p{
    margin: 0;
    font-size: 18px;
    a{
      color: #444;

      &:hover{
        text-decoration: none;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-md-max) {
  .p-entry-summary {
    .c-entry-summary__label{
      padding: 5px 10px;
      font-size: 12px;
    }
    .c-entry-summary__item{
      height: 150px;
      overflow: hidden;
      width: 100%;
    }
    .c-entry-summary__data{
      padding: 12px 20px;
      width: 90%;
    }
  }
}
