@import "tokens/variables";
// ------------------------------
//　ベース
// ------------------------------
// コンテイナー
$container                         : 840px;
$narrow-container                  : 960px;
$narrow-container-md               : 750px;

// グリッドの間隔
$grid-space                        : 30px;
$grid-space-mobile                 : 20px;

// ------------------------------
//　フォント
// ------------------------------
$font-hiragino                     : "ヒラギノ角ゴ pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
$font-yu-gothic                    : "游ゴシック", YuGothic, "ヒラギノ角ゴ pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
$font-meiryo                       : Meiryo,'メイリオ',"ヒラギノ角ゴ pro", "Hiragino Kaku Gothic Pro",'ＭＳ Ｐゴシック','MS PGothic',Verdana,sans-serif;
$font-base                         : "-apple-system", "blinkMacSystemFont", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
$font-heading                      : "FOT-スキップ Std M", "FOT-スーラ ProN M", "-apple-system", "blinkMacSystemFont", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
$font-en                           : 'Antic Slab', serif;

// ------------------------------
//　ファイルのパス
// ------------------------------
$acms-font                         : '/themes/system/fonts/'; // フォントのパスを上書き
$root-theme-img                    : '/themes/blog_ver5/images/'; // 画像のパスを上書き

// ------------------------------
//　カラー
// ------------------------------
// 背景色
$bg-color                          : map-get($color-bg, base);

// プライマリーカラー
$primary-color                     : map-get($color-primary, primary);
// セカンダリーカラー
$secondary-color                   : map-get($color-primary, secondary);;
// ベースカラー
$base-color                        : map-get($color-primary, defalut);;

// ボタン
$btn-color                         : #333;
$btn-active-color                  : #000;

// 各sns色
$facebook-color                   : map-get($color-sns, facebook-color);
$twitter-color                    : map-get($color-sns, twitter-color);
$hatebu-color                     : map-get($color-sns, hatebu-color);
$feed-color                       : map-get($color-sns, feed-color);
$pocket-color                     : map-get($color-sns, pocket-color);
$gplus-color                      : map-get($color-sns, gplus-color);
$youtube-color                    : map-get($color-sns, youtube-color);
$instagram-color                  : map-get($color-sns, instagram-color);

// ------------------------------
//　ヘッダー
// ------------------------------
$sp-header-height                  : 60px;
$global-nav-height                 : 50px;

// ------------------------------
//　エントリー
// ------------------------------
$entry-margin-bottom               : 25px;

$entry-element-margin-bottom-sm    : 10px !default;
$entry-element-margin-bottom-md    : 25px !default;
$entry-element-margin-bottom-lg    : 30px !default;

// ------------------------------
//　フォーム
// ------------------------------
$form-step-border-width            : 3px;
$form-step-border-color            : #FFF;
$form-step-height                  : 50px;
$form-step-arrow-width             : 15px;

$form-step-item-padding            : 5px;
$form-step-item-padding-desktop    : 20px;

$form-step-base-bg-color           : #F2F0F0;
$form-step-base-text-color         : #666;
$form-step-active-bg-color         : #666;
$form-step-active-text-color       : #FFF;
