<!-- BEGIN_MODULE Admin_Menu --><div id="systemMenuList">
<!-- BEGIN post:veil -->
<div class="subContents">
	<h2><!--T-->投稿管理<!--/T--></h2><!-- BEGIN entry:veil -->
	<h3 class="systemMenuFirst js-link_match_location"><!-- BEGIN entry#index --><a href="{url}"><!--T-->エントリー<!--/T--></a><!-- END entry#index --></h3><!-- END entry:veil --><!-- BEGIN category:veil -->
	<h3 class="js-link_match_location"><!-- BEGIN category#index --><a href="{url}"><!--T-->カテゴリー<!--/T--></a><!-- END category#index --></h3><!-- END category:veil --><!-- BEGIN tag -->
	<h3 class="js-link_match_location"><a href="{url}"><!--T-->タグ<!--/T--></a></h3><!-- END tag --><!-- BEGIN comment -->
	<!-- <h3 class="js-link_match_location"><a href="{url}">コメント</a></h3> --><!-- END comment --><!-- BEGIN trackback -->
	<!-- <h3 class="js-link_match_location"><a href="{url}">トラックバック</a></h3> --><!-- END trackback -->
</div><!-- END post:veil -->

<!-- BEGIN management:veil -->
<div class="subContents">
	<h2><!--T-->サイト管理<!--/T--></h2>	<!-- BEGIN blog:veil -->
	<h3 class="systemMenuFirst js-link_match_location"><!-- BEGIN blog#index --><a href="{url}"><!--T-->ブログ<!--/T--></a><!-- END blog#index --></h3><!-- END blog:veil --><!-- BEGIN user:veil -->
	<h3 class="js-link_match_location"><!-- BEGIN user#index --><a href="{url}"><!--T-->ユーザー<!--/T--></a><!-- END user#index --></h3><!-- END user:veil --><!-- BEGIN form#index -->
	<h3 class="js-link_match_location"><a href="{url}"><!--T-->フォーム<!--/T--></a></h3><!-- END form#index --><!-- BEGIN schedule#index -->
	<h3 class="js-link_match_location"><a href="{url}"><!--T-->スケジュール<!--/T--></a></h3><!-- END schedule#index --><!-- BEGIN shop#menu -->
	<h3 class="js-link_match_location"><a href="{url}"><!--T-->ショップ<!--/T--></a></h3><!-- END shop#menu -->
</div><!-- END management:veil -->

<!-- BEGIN customize:veil -->
<div class="subContents">
	<h2><!--T-->カスタマイズ管理<!--/T--></h2><!-- BEGIN config#index -->
	<h3 class="systemMenuFirst js-link_match_location"><a href="{url}"><!--T-->コンフィグ<!--/T--></a></h3><!-- END config#index --><!-- BEGIN rule:veil -->
	<h3 class="js-link_match_location"><!-- BEGIN rule#index --><a href="{url}"><!--T-->ルール<!--/T--></a><!-- END rule#index --></h3><!-- END rule:veil --><!-- BEGIN module:veil -->
	<h3 class="js-link_match_location"><!-- BEGIN module#index --><a href="{url}"><!--T-->モジュールID<!--/T--></a><!-- END module#index --></h3><!-- END module:veil --><!-- BEGIN checklist:veil -->
	<h3 class="js-link_match_location"><!-- BEGIN checklist --><a href="{url}"><!--T-->チェックリスト<!--/T--></a><!-- END checklist --></h3><!-- END checklist:veil -->
</div><!-- END customize:veil -->

<!-- BEGIN dashboard:veil -->
<div class="subContents">
	<h2><!--T-->その他の管理<!--/T--></h2><!-- BEGIN shortcut#index -->
	<h3 class="systemMenuFirst js-link_match_location"><a href="{url}"><!--T-->ショートカット<!--/T--></a></h3><!-- END shortcut#index --><!-- BEGIN alias#index -->
	<h3 class="js-link_match_location"><a href="{url}"><!--T-->エイリアス<!--/T--></a></h3><!-- END alias#index --><!-- BEGIN publish#index -->
	<h3 class="js-link_match_location"><a href="{url}"><!--T-->パブリッシュ<!--/T--></a></h3><!-- END publish#index --><!-- BEGIN backup#index -->
	<h3 class="js-link_match_location"><a href="{url}"><!--T-->バックアップ<!--/T--></a></h3><!-- END backup#index --><!-- BEGIN import#index -->
	<h3 class="js-link_match_location"><a href="{url}"><!--T-->インポート<!--/T--></a></h3><!-- END import#index --><!-- BEGIN app#index -->
	<h3 class="js-link_match_location"><a href="{url}"><!--T-->拡張アプリ<!--/T--></a></h3><!-- END app#index -->
</div><!-- END dashboard:veil -->

<!-- BEGIN  event:veil -->
<div class="subContents">
    <h2><!--T-->プラグイン<!--/T--></h2><!-- BEGIN event#index -->
	<h3 class="js-link_match_location"><a href="{url}"><!--T-->イベント<!--/T--></a></h3><!-- END event#index -->
</div>
<!-- END event:veil -->

<hr class="clearHidden" />
</div>
<!-- END_MODULE Admin_Menu -->
