<header class="acms-admin-grid-r">
	<div class="acms-admin-col-md-6">
		<h1 class="acms-admin-admin-title"><i class="acms-admin-icon acms-admin-icon-dashboard"></i><!--T-->ダッシュボード<!--/T--></h1>
	</div>
	<div class="acms-admin-col-md-6">
		<!--#include file="/admin/topicpath.html"-->
	</div>
</header>

<hr class="clearHidden">

<!-- BEGIN_MODULE Admin_Top -->
<div class="acms-admin-grid-r">
	<div class="acms-admin-col-md-6">
		<!--#include file="/admin/dashboard-left.html"-->

		<!-- BEGIN_MODULE Admin_Shortcut_List -->
		<h2 class="acms-admin-admin-title2"><!--T-->ショートカット<!--/T--></h2>
		<table class="acms-admin-admin-mini-table acms-admin-admin-icon-table">
			<thead></thead>
			<tbody>
			<!-- BEGIN shortcut:loop -->
			<tr>
				<td class="acms-admin-config-name">
					<a href="{url}"><i class="acms-admin-icon acms-admin-icon-{admin}"></i>{name}</a>
				</td>
			</tr>
			<!-- END shortcut:loop -->
			</tbody>
		</table>
		<!-- END_MODULE Admin_Shortcut_List -->

		<!-- BEGIN_MODULE Admin_Dashboard_LicenseStatus -->
		<h2 class="acms-admin-admin-title2"><!--T-->ライセンス・バージョン情報<!--/T--></h2>
		<table class="acms-admin-admin-mini-table">
			<thead>
				<tr>
					<th><!--T-->項目<!--/T--></th>
					<th><!--T-->状態<!--/T--></th>
				</tr>
			</thead>
			<tr>
				<td><!--T-->システムバージョン<!--/T--></td>
				<td>%{VERSION} / {edition}</td>
			</tr>
			<tr>
				<td><!--T-->ライセンス<!--/T--></td>
				<td><!-- BEGIN_IF [%{IS_DEVELOPMENT}/eq/on] -->
					<!--T-->開発ライセンス<!--/T--><!-- ELSE --><!--T-->正式ライセンス<!--/T--><!-- END_IF -->
				</td>
			</tr><!-- BEGIN max:veil -->
			<tr>
				<td><!--T-->ユーザーの上限<!--/T--></td>
				<td><!-- BEGIN amount:veil -->{amount} / {max}<!-- END amount:veil --><!-- BEGIN unlimited --><!--T-->無制限<!--/T--><!-- END unlimited --></td>
			</tr><!-- END max:veil --><!-- BEGIN domain -->
			<tr>
				<td><!--T-->サブドメイン拡張<!--/T--></td>
				<td><!--T-->利用可能<!--/T--></td>
			</tr><!-- END domain --><!-- BEGIN domain2 -->
			<tr>
				<td><!--T-->独自ドメイン拡張<!--/T--></td>
				<td><!--T-->利用可能<!--/T--></td>
			</tr><!-- END domain2 --><!-- BEGIN domain3 -->
			<tr>
				<td><!--T-->プラス独自ドメイン<!--/T--></td>
				<td><!--T-->利用可能<!--/T--> / {plus}<!--T-->個<!--/T--></td>
			</tr><!-- END domain3 --><!-- BEGIN shop -->
			<tr>
				<td><!--T-->ショップ プラグイン<!--/T--></td>
				<td><!--T-->利用可能<!--/T--></td>
			</tr><!-- END shop --><!-- BEGIN magazine -->
			<tr>
				<td><!--T-->メールマガジン プラグイン<!--/T--></td>
				<td><!--T-->利用可能<!--/T--></td>
			</tr><!-- END magazine -->
		</table>
		<!-- END_MODULE Admin_Dashboard_LicenseStatus -->

		<h2 class="acms-admin-admin-title2"><!--T-->a-blog cms公式サイト<!--/T--></h2>
		<table class="acms-admin-admin-mini-table">
			<thead>
				<tr>
					<th><a href="http://www.a-blogcms.jp/">a-blog cms</a></th>
				</tr>
			</thead>
		</table>
	</div>

	<div class="acms-admin-col-md-6">
		<!--#include file="/admin/dashboard-right.html"-->

		<!-- BEGIN_MODULE Admin_Dashboard_ClearCache -->
		<h2 class="acms-admin-admin-title2"><!--T-->キャッシュファイル管理<!--/T--></h2>
		<table class="acms-admin-admin-mini-table">
			<thead>
				<tr>
					<th><!--T-->項目<!--/T--></th>
					<th><!--T-->状態<!--/T--></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><!--T-->キャッシュ生成の状態<!--/T--></td>
					<td>
						<!-- BEGIN cache_enable -->
						<!--T-->有効<!--/T-->
						<!-- END cache_enable -->
						<!-- BEGIN cache_disable -->
						<!--T-->無効<!--/T-->
						<!-- END cache_disable -->
					</td>
				</tr>
				<tr>
					<td><!--T-->全体の件数<!--/T--></td>
					<td>{totalBins}</td>
				</tr>
				<tr>
					<td><!--T-->全体の総サイズ<!--/T--></td>
					<td>{totalBytes}<!--T-->バイト<!--/T--></td>
				</tr>
				<tr>
					<td><!--T-->最大同時キャッシュ生成数<!--/T--></td>
					<td>%{MAX_PUBLISHES}</td>
				</tr>
			</tbody>
		</table>
		<form action="" method="post">
		<div class="acms-admin-form-checkbox">
			<input type="checkbox"  id="input-checkbox-cashe-axis" name="axis" value="descendant-or-self" />
			<label for="input-checkbox-cashe-axis">
				<i class="acms-admin-ico-checkbox"></i><!--T-->子ブログのキャッシュも含める<!--/T-->
			</label>
		</div>
		<div class="acms-admin-form-checkbox">
			<input type="hidden" name="delete" value="false" />
			<input type="checkbox" id="input-checkbox-cashe-delete" name="delete" value="true" />
			<label for="input-checkbox-cashe-delete"><i class="acms-admin-ico-checkbox"></i><!--T-->完全消去<!--/T-->
			</label>
		</div>
		<p>
			<input type="submit" name="ACMS_POST_Cache" value="<!--T-->リフレッシュ<!--/T-->" class="acms-admin-btn-admin" />
			<input type="hidden" name="forcing" value="true" />

			<!-- BEGIN cache_enable -->
			<!-- BEGIN_MODULE Touch_RootBlog -->
			<input type="submit" name="ACMS_POST_Cache_Apply" value="<!-- T -->キャッシュ生成<!-- /T -->" class="acms-admin-btn-admin"/>
			<i class="acms-admin-icon-tooltip js-acms-tooltip" data-acms-tooltip="<!-- T -->config.server.phpのMAX_PUBLISHESの値が低いとキャッシュが一度に作られない場合があります。<!-- /T --><br>
			<!-- T -->その場合は、MAX_PUBLISHESを大きくするか、キャッシュの生成を何回か行ってください。<!-- /T -->"></i>
			<a href="%{SCRIPT_ROOT}bid/1/admin/config_cache-list/"><!-- T -->キャッシュ生成リスト<!-- /T --></a>
			<!-- END_MODULE Touch_RootBlog -->
			<!-- END cache_enable -->
		</p>
		</form>

		<!-- BEGIN cache_reserve:veil -->
		<h2 class="acms-admin-admin-title2"><!--T-->公開 / 掲載終了 予定の記事<!--/T--></h2>
		<div class="acms-admin-admin-table-scroll">
			<table class="acms-admin-admin-mini-table">
				<tbody><!-- BEGIN cache_reserve:loop -->
					<tr>
						<td><a href="{entryUrl}">{title}</a><br><!-- BEGIN type:touch#start -->
						<!--T-->公開予定<!--/T--><!-- END type:touch#start --><!-- BEGIN type:touch#end -->
						<!--T-->掲載終了<!--/T--><!-- END type:touch#end --> : {datetime}[datetime('Y/m/d H:i:s')]</td>
						<td><a href="{entryEdit}" class="acms-admin-btn-admin"><!--T-->編集<!--/T--></a></td>
					</tr><!-- END cache_reserve:loop -->
				</tbody>
			</table>
		</div>
		<!-- END cache_reserve:veil -->
		<!-- END_MODULE Admin_Dashboard_ClearCache -->

		<!-- BEGIN_MODULE Admin_Dashboard_DraftList -->
		<h2 class="acms-admin-admin-title2"><!--T-->下書きのエントリー<!--/T--></h2>
		<!-- BEGIN draft#notFound --><p><!--T-->下書き中のエントリーは見つかりませんでした<!--/T--></p><!-- END draft#notFound -->
		<div class="acms-admin-admin-table-scroll">
			<table class="acms-admin-admin-mini-table">
				<thead>
					<tr>
						<th><!--T-->タイトル<!--/T--></th>
						<th><!--T-->アクション<!--/T--></th>
					</tr>
				</thead>
				<tbody><!-- BEGIN entry:loop -->
					<tr>
						<td><a href="{entryUrl}">{title}</a><br> <!-- BEGIN category:veil -->( <a href="{categoryUrl}">{categoryName}</a> )<!-- END category:veil -->
						{userName} {datetime}[datetime(Y年m月d日 H:i:s)]</td>
						<td><a href="{editUrl}" class="acms-admin-btn-admin"><!--T-->編集<!--/T--></a></td>
					</tr><!-- END entry:loop -->
				</tbody>
			</table>
		</div>
		<!-- END_MODULE Admin_Dashboard_DraftList -->

		<!-- BEGIN_MODULE Admin_Dashboard_Log_Login -->
		<h2 class="acms-admin-admin-title2"><!--T-->ログイン履歴<!--/T--></h2>
		<div class="acms-admin-admin-table-scroll">
			<table class="acms-admin-admin-mini-table">
				<thead>
					<tr>
						<th><!--T-->最終ログイン日時<!--/T--></th>
						<th><!--T-->ユーザー/権限<!--/T--></th>
					</tr>
				</thead>
				<tbody><!-- BEGIN log:loop -->
					<tr>
						<td>{datetime}</td>
						<td>{name}/<!-- BEGIN auth:touch#administrator -->
							<!--T-->管理者<!--/T--><!-- END auth:touch#administrator --><!-- BEGIN auth:touch#editor -->
							<!--T-->編集者<!--/T--><!-- END auth:touch#editor --><!-- BEGIN auth:touch#contributor -->
							<!--T-->投稿者<!--/T--><!-- END auth:touch#contributor --><!-- BEGIN auth:touch#subscriber -->
							<!--T-->読者<!--/T--><!-- END auth:touch#subscriber -->
						</td>
					</tr><!-- END log:loop -->
				</tbody>
			</table>
		</div>
		<!-- END_MODULE Admin_Dashboard_Log_Login -->

		<!-- BEGIN_MODULE Admin_Dashboard_LoginTerminalRestriction -->
		<h2 class="acms-admin-admin-title2"><!--T-->ログイン許可/拒否 端末<!--/T--></h2>
		<div class="acms-admin-admin-table-scroll">
			<p><!--T-->端末制限されているユーザーに、この端末でのログインの許可・拒否を設定する<!--/T--></p>
			<table class="acms-admin-admin-mini-table">
				<thead>
					<tr>
						<th><!--T-->ステータス<!--/T--></th>
						<th><!--T-->設定<!--/T--></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><!-- BEGIN status#permission -->
							<!--T-->許可端末<!--/T--><!-- END status#permission --><!-- BEGIN status#denial -->
							<!--T-->拒否端末<!--/T--><!-- END status#denial -->
						</td>
						<td><!-- BEGIN status2#denial -->
							<form action="" method="post" class="acms-admin-inline-btn">
								<input type="hidden" name="status" value="permission" />
								<input type="submit" name="ACMS_POST_Login_TerminalRestriction" value="<!--T-->許可端末に設定<!--/T-->" class="acms-admin-btn-admin" />
							</form><!-- END status2#denial -->
							<!-- BEGIN status2#permission -->
							<form action="" method="post" class="acms-admin-inline-btn">
								<input type="hidden" name="status" value="denial" />
								<input type="submit" name="ACMS_POST_Login_TerminalRestriction" value="<!--T-->拒否端末に設定<!--/T-->" class="acms-admin-btn-admin acms-admin-btn-admin-danger" />
							</form><!-- END status2#permission -->
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- END_MODULE Admin_Dashboard_LoginTerminalRestriction -->

	</div>
</div>
<!-- END_MODULE Admin_Top -->
