<!-- BEGIN_IF [%{GOOGLE_API_KEY}/em/] -->
<p class="acms-admin-alert acms-admin-alert-danger">
	<button class="js-acms-alert-close">×</button>
	Google Maps をご利用するには、<a href="https://console.developers.google.com">Google API Key</a> が必要になります。<br>Api Keyを取得して「コンフィグ > プロパティ設定 > Google Maps API Key」に設定ください。
</p>
<!-- END_IF -->